[2021-02-02 22:05] saramsey commented on #1215
Closing this issue since at this point the main path forward is #636

[2021-02-02 22:05] #1215 closed

[2021-02-02 22:07] saramsey commented on #1202
OK, labeling this issue `expand` to see if this is something that can be done in the KG2c/expand layers?  What do you think, @amykglen ?

[2021-02-02 22:14] amykglen commented on #1213
do we for sure want NCBIGene:780896's name to be just "Acetabular dysplasia" in KG2, @saramsey, even though it's a gene? https://www.ncbi.nlm.nih.gov/gene/780896 (vs. "ACTD", or something like that?)

in KG2.5.1:
![Screen Shot 2021-02-02 at 1 54 00 PM](https://user-images.githubusercontent.com/49423686/106667715-21015a00-655e-11eb-876e-97fc18575a33.png)

we could add some sort of exception to the

[2021-02-02 22:16] saramsey commented on #1128
In the `MRCONSO` table in the `umls` MySQL database on `kg2lindsey.rtx.ai`, we have:

[code]

[2021-02-02 22:22] saramsey commented on #1128
The columns of the MRCONSO table are explained here:
https://www.ncbi.nlm.nih.gov/books/NBK9685/table/ch03.T.concept_names_and_sources_file_mr/

Looks like the CUI `C0178572` came from UMLS sources `CHV`, `CSP`, and `PSY`. What are those sources?
- `CHV` is the [Consumer Health Vocabulary](https://www.nlm.nih.gov/research/umls/sourcereleasedocs/current/CHV/index.html), which we do not currently in

[2021-02-02 22:23] saramsey commented on #1128
So, if the three UMLS sources that have terms that map to CUI `C0178572`, none of them are in KG2. That would seem to explain why `C0178572` is not in KG2. Of these, it seems the most reasonable might be to add the `PSY` to KG2.

[2021-02-02 22:28] saramsey commented on #1128
after adding `PSY` to `umls.conf` and rerunning `umls2rdf.py` on `kg2lindsey.rtx.ai`, the following TTL block shows up in the newly generated file `umls-psy.ttl`:
[code]
which would seem to define CUI `C0178572` as expected.

[2021-02-02 22:31] saramsey commented on #1128
OK, I think this should be fixed now. Testing needed.

[2021-02-02 22:35] saramsey commented on #981
looking good in KG2.5.1 as well:

![Uploading Screen Shot 2021-02-02 at 2.35.15 PM.png…]()

[2021-02-02 22:36] saramsey commented on #982
not sure if this is still an issue; closing pending some other motivating issue

[2021-02-02 22:36] #982 closed

[2021-02-02 22:38] amykglen commented on #1217
yeah, interesting idea... FYI, it looks like there are 7,744 nodes in KG2c that have both ("gene" or "protein") AND ("disease" or "phenotypic_feature") in their types. (this represents about 2% of all protein/gene nodes and 2% of all disease/phenotypic feature nodes in KG2c.)

[2021-02-02 22:44] edeutsch commented on #1213
yeah, if you can detect this "phenotype only" attribute and reassign these to type "phenotype" instead of type "gene", that would also solve our problem.

And that is probably closer to reality. I suspect @amykglen is right, just like HGNC, not all NCBIGene:nnnnnns are really genes. Some are phenotypic_features. Labeling them thus in the KG would solve my synonymization problem and would be overal

[2021-02-02 23:06] saramsey commented on #762
For MONDO, out of 2292 nodes that have a category (in KG2.5.1) of `named thing`, all but 10 of them are obsolete nodes. And those 10 nodes I have fixed with commit
10b666f .

[2021-02-02 23:11] saramsey commented on #762
OK, we still have some work to do on this issue. For example, try this query:
[code]
<img width="917" alt="Screen Shot 2021-02-02 at 3 11 27 PM" src="https://user-images.githubusercontent.com/5562107/106674903-ef41c080-6568-11eb-9126-eec8fd42b852.png">

[2021-02-02 23:15] saramsey commented on #636
In light of #1215, marking #636 as high priority.

[2021-02-02 23:19] saramsey commented on #1199
Unfortunately, it looks like DrugBank's contraindications database is pay-only:

https://www.drugbank.com/data/contraindications

we may have to look elsewhere

[2021-02-02 23:32] saramsey commented on #1199
Looks like we can get drug contraindications from Drug Central:
https://drugcentral.org/download

<img width="504" alt="Screen Shot 2021-02-02 at 3 32 10 PM" src="https://user-images.githubusercontent.com/5562107/106676477-d7b80700-656b-11eb-8333-1d9c08d07cf2.png">

[2021-02-02 23:35] saramsey opened #1219 "Why does node UMLS:C0032961 have biolink category label "named thing"?"
Try this Cypher on kg2endpoint-kg2-5-1.rtx.ai:7474:
[code]
<img width="926" alt="Screen Shot 2021-02-02 at 3 35 17 PM" src="https://user-images.githubusercontent.com/5562107/106676731-4ac17d80-656c-11eb-8a43-28e5424183a6.png">

This node has UMLS semantic type T040:
[code]
so one would naively imagine that this node would be given the category `physiological process`, per this line in `curies-to-c

[2021-02-03 00:07] saramsey commented on #995
Hi @kvarforl ah, I missed where you wrote an explanation:

n.provided_by | count(n)
-- | --
"GO:go-plus.owl" | 2227
"identifiers_org_registry:umls" | 8
"umls_source:MTH" | 6
"umls_source:HL7" | 5
"umls_source:HCPCS" | 3
"UMLS_STY:" | 2
"umls_source:SNOMEDCT" | 2
"OBO:ro.owl" | 2

[2021-02-03 00:14] saramsey commented on #995
I wonder if in `multi_ont_to_json_kg.py`, we can add code to set `deprecated=True` if the node's name starts with the substring "obsolete" (but not delete the node). How does that sound, @kvarforl ?

[2021-02-03 00:35] saramsey commented on #1213
I think so. The standard in KG2 for `NCBIGene` nodes is to have the name be the spelled-out-in-words name, not the gene symbol. The standard in KG2 has been to have the official HGNC gene symbol be the first element of the `synonym` field.

If you run this Cypher in KG2.5.1,
[code]
you will get
[code]

[2021-02-03 00:44] saramsey commented on #1213
Yes, @amykglen is correct, this is one of those "phenotype only" genes:

<img width="800" alt="Screen Shot 2021-02-02 at 4 44 00 PM" src="https://user-images.githubusercontent.com/5562107/106681724-e9061100-6575-11eb-8f9b-e2fd78195df5.png">

[2021-02-03 00:45] edeutsch commented on #1213
So can we make its type "phenotypic_feature"? and all of its kind?

[2021-02-03 00:48] saramsey commented on #1213
Well, NCBI includes it in the Gene annotations database because there is a locus on human 13q22 that is statistically associated with heritable acetabular dysplasia. So there is a gene in that genomic neighborhood, we just don't *know* precisely where it is nor do we know its proximal biochemical function (or even if it codes for a protein).  I'm not sure it is correct to call it a phenotypic feat

[2021-02-03 00:49] saramsey commented on #1213
But in code, we could change its name to "(Genetic association) Acetabular dysplasia"

[2021-02-03 00:53] edeutsch commented on #1213
Yes, I was going to suggest changing the name to "gene for acetabular dysplasia" or "genetic locus for acetabular dysplasia". This would be more accurate and then can stay as gene or genomic entity is perhaps better.

I would vote for: biolink:GenomicEntity "genetic locus for acetabular dysplasia"

This would solve the problem nicely I think. There are 100s or 1000s more like this, too. Can you fi

[2021-02-03 00:54] saramsey opened #1220 "Some NCBIGene records should have biolink category "GenomicEntity""
Example: `NCBIGene:780896`.

<img width="800" alt="Screen Shot 2021-02-02 at 4 44 00 PM" src="https://user-images.githubusercontent.com/5562107/106682298-08ea0480-6577-11eb-8ed2-af37e6bc4a3a.png">

Note that under the "General Gene Information" section, it has the property "phenotype only". I think in that case it makes sense to give it a biolink category `biolink:GenomicEntity` which is our close

[2021-02-03 00:55] saramsey commented on #1213
Let me check...

[2021-02-03 00:56] saramsey commented on #1220
In addition to correctly setting the biolink category, we should prepend "Genetic locus for " to the `name` and `full_name` fields for these types of NCBIGene records.

[2021-02-03 01:18] saramsey commented on #1213
Yes, testing a fix now

[2021-02-03 01:21] edeutsch commented on #1213
would be fun know the final count

[2021-02-03 01:25] saramsey commented on #1213
My current heuristic identifies 1,349 such records:
[code]

[2021-02-03 03:02] kvarforl commented on #1170
Putting a note here to remind my future self that the changes for this are in PR #1172,  which is blocked by an issue with owltools/ ontobio. Links to the ontobio issue are in the PR.

[2021-02-03 03:09] kvarforl commented on #1066
@saramsey what's the status of this issue? I see a t2.micro instance called `araxconfig.rtx.ai` in `us-east-2`. does this mean its done and able to be closed?

[2021-02-03 16:23] saramsey opened #1221 "remove commas from predicates-remap.yaml"
The KG2 build system currently converts Biolink relations from
[code]
to CURIES that are
[code]
But some Biolink relations contain commas, like this:
[code]
which the KG2 build system would convert to a CURIE by using space-case including the comma, like this:
[code]
But in [Reasoners Standard API issue 205](https://github.com/NCATSTranslator/ReasonerAPI/issues/205) we have received guidance that

[2021-02-03 16:27] saramsey commented on #1221
When we do this, I think it will break the script `validate_predicate_remap_yaml.py`, which uses `biolink-model.yaml` to validate the predicates against (because we cannot get the Biolink-to-upstream-source predicate mappings from `biolink-model.owl.ttl`.

[2021-02-03 16:58] kvarforl opened #1222 "kg2_tsv_to_medikanren_csv.py adds too many double quotes (") to the third column of rtx_kg2.edge.csv"
While working on the mediKanren export of KG2.5.1 (#1200),  the ":END" column of `rtx_kg2.edge.csv` generated from `kg2_tsv_to_medikanren_csv.py` seems to have quoting issues when there is a comma in the id.

Here is the most interesting example:
[code]
The formatting is fine in the second column, but wonky in the third even though the id is arguably the same.

Fixing this manually with sed for th

[2021-02-03 17:02] dkoslicki opened #1223 "Virtual edges should be add-able even if the KG doesn't find an edge connecting them"
For DTD, NGD, COHD, and the like, it is still helpful to have virtual edges added. I can see this being accomplished in two different ways:
1. Make sure all these are available as `expand` kp's (similar to how COHD is currently)
2. Allow virtual edges to be added even if `expand(kp=ARAX/KG2)` couldn't find an edge connecting them

Since 1. is already implemented for NGD and COHD, I think the only

[2021-02-03 17:05] dkoslicki commented on #1211
Yes, this is probably a KG2C issue

[2021-02-03 17:06] dkoslicki commented on #1202
Yeah, trying something like: use the direction given, if the expand doesn't work, try the inverse

[2021-02-03 17:08] saramsey commented on #1222
Thanks for bringing this issue to my attention, @kvarforl .  Might make sense to tag ericawood since I think they wrote this script, possibly with some input from finnagin (my memory is hazy).

[2021-02-03 17:21] finnagin opened #1224 "Add/update tests for each overlay virtual edge type to use new category names"

[2021-02-03 17:24] amykglen opened #1225 "Should we handle multiple predicates on qedges?"
This is one of the queries being played with in the fix it session at the relay this morning - apparently TRAPI allows a qedge to have multiple predicates, which is meant to be interpreted as an "OR" situation. We currently throw an error for this. Do we want to be able to handle it?
[code]

[2021-02-03 17:25] ericawood commented on #1222
Thank you for tagging me on this (I did write the script with input from Finn). I am looking into it now. Did you see this problem with earlier versions?

[2021-02-03 17:33] saramsey commented on #1213
Final count, after refining my heuristic, is 1,342 record that are getting changed from `biolink:Gene` to `biolink:GenomicEntity`.

[2021-02-03 17:43] kvarforl commented on #1222
Hmm good question. I attempted to export KG2.3.5, and ran into a similar error, but it wasn't exactly the same. The kg2.3.5 export was also attempted using our very out of date fork of the medikanren repo.
This was the error from the KG2.3.5 export
[code]
It's hard to determine if this was actually causing a failure though; we ended up just canceling the kg2.3.5 export.

Since then, with KG2.5.1,

[2021-02-03 17:45] dkoslicki opened #1226 "More KG2C mis-synonymization"
Name: HRAS (UniProtKB:P01112)
Id: UniProtKB:P01112
Category: biolink:Disease,biolink:PhenotypicFeature,biolink:Procedure,biolink:GenomicEntity,biolink:AnatomicalEntity,biolink:MolecularEntity,biolink:Gene,biolink:Phenomenon,biolink:NamedThing,biolink:Protein

[2021-02-03 18:00] dkoslicki opened #1227 "DSL works just fine, equivalent JSON errors out"
This DSL works:
[code]

copying the accompanying DSL:
[code]
gives the error:
ERROR: Help, two edges at A583. Don't know what to do: 2

[2021-02-03 18:03] saramsey opened #1228 "Update to UniChem release 335 and ETL mappings between RXNORM and {CHEBI,CHEMBL,DRUGBANK}"

[2021-02-03 18:19] kvarforl commented on #1222
Documenting Erica and I's slack conversation:
it looks like the bug also adds self edges to any edge with an id containing a comma, in addition to the quoting issue.
Erica is working on changing the medikanren file generation script to generate tsvs instead of csvs so we can just avoid the whole comma issue all together.

[2021-02-03 18:28] amykglen commented on #1211
this is a weird one - I think there's another instance of #1074 going on here.

for example, `synonymizer.get_canonical_curies("UMLS:C0966225")` results in:
[code]
but when you look up the equivalent curies for that preferred curie (`synonymizer.get_equivalent_nodes("UniProtKB:P01857")`),  UMLS:C0966225 doesn't appear in them:
[code]
this shouldn't be possible, in my understanding of the synonymiz

[2021-02-03 18:34] dkoslicki opened #1229 "Antifreeze proteins mis-synonymized"
Take a look at
Name: 3-O-(2-acetamido-2-deoxygalactopyranosyl)-acetyl-threonyl-alanyl-alanine methyl ester (MESH:C062622)
Id: MESH:C062622
Category: biolink:NamedThing,biolink:ChemicalSubstance,biolink:MolecularEntity

On KG2C (specifically the all_names)

[2021-02-03 18:38] amykglen commented on #1226
this one appears to be a fairly straightforward instance of concepts being conflated in the NodeSynonymizer (not sure which source is causing the conflation):
[code]

[2021-02-03 19:34] ericawood commented on #1114
My current thoughts:
A .shinc file would be easier in the short term but worse in the long term for the goal presented in this issue. Note that in the `${VENV_DIR}/bin/snakemake --snakefile ${CODE_DIR}/Snakefile` command, you have to pass in the variables stored in master_config.shinc as well (see lines 168-170 for example). So, if you want to use a variable within the snakemake workflow (such as

[2021-02-03 19:37] kvarforl commented on #1114
Here is a link to the documentation I found: https://snakemake.readthedocs.io/en/stable/snakefiles/configuration.html#standard-configuration

[2021-02-03 19:49] edeutsch commented on #1227
Yeah, this is something that I was struggling with yesterday and thought I fixed it but then it threw one test into an infinite loop so I backed out the fix, so yes, this is a bug that I need to resolve. Thanks, will work on it.

[2021-02-03 20:28] saramsey opened #1230 "in KG2, is it OK to move uniprot sequences to the node description field?"
Currently, `uniprotkb_dat_to_json.py` puts the protein's amino acid sequence into the `synonym` property, which in hindsight, is kind of odd. Note here:

<img width="1087" alt="Screen Shot 2021-02-03 at 12 26 43 PM" src="https://user-images.githubusercontent.com/5562107/106805187-3be5d400-661b-11eb-902a-a301f05a4e15.png">

does anyone object to the amino acid sequence information being appended in

[2021-02-03 20:31] saramsey commented on #1230
tagging @amykglen @kvarforl @finnagin @ericawood @edeutsch @chunyuma @dkoslicki

[2021-02-03 20:41] saramsey commented on #529
I note that currently, in the Biolink metamodel, the `node` property `name` is not required. See
https://github.com/biolink/biolink-model/blob/70a73ad20dee03e24b559e5eaef81c3eb0f4ee0b/biolink-model.yaml#L493

The `required: true` is commented out.

<img width="568" alt="Screen Shot 2021-02-03 at 12 40 57 PM" src="https://user-images.githubusercontent.com/5562107/106806689-1ce84180-661d-11eb-849a-f

[2021-02-03 20:45] chunyuma commented on #1230
Hi @saramsey, this is what I'm doing locally. But I think it might have a problem that some nodes might have a long description if we add uniprot sequences to the node description field because some proteins have quite long sequence.

[2021-02-03 20:45] saramsey commented on #1213
In the Biolink metamodel, there is on the `gene` class a dedicated slot for the gene symbol, namely, `symbol`. Arguably, that is where the HGNC Official Gene Symbol could be put (in addition to the in the `synonym` list as is our current practice).

<img width="618" alt="Screen Shot 2021-02-03 at 12 44 55 PM" src="https://user-images.githubusercontent.com/5562107/106807174-b57ec180-661d-11eb-9887-

[2021-02-03 20:48] saramsey commented on #1230
Hi @chunyuma thank you for responding. Can you elaborate on why (or under what circumstances) a long description field is problematic?  Is there a fixed-size-buffer overrun that occurs somewhere in the system?

[2021-02-03 20:48] saramsey commented on #1230
I am of course mindful of Java's inherent string limit of 2 GiB, but that would be a really long description field. Even Titin doesn't have that long of a sequence!

[2021-02-03 20:56] saramsey commented on #1225
This seems useful. Your example shown above is an excellent use-case.

[2021-02-03 20:56] chunyuma commented on #1230
Hi @saramsey, actually I didn't mean to object to it but just want to give a concern. This change wouldn't affect me but it might affect the visualization when we check the node description in the neo4j. For some proteins like `UniProtKB:Q12955`, it has a long sequence even though it might not be too long compared with some gene sequences.

Here is the protein sequence of this curie:
[code]

[2021-02-03 20:59] chunyuma commented on #1230
Protein sequence should be fine actually. I'm also pull some gene sequences from NCBI and Ensembl and their length is quite long.

[2021-02-03 21:06] saramsey commented on #1200
Great team effort. Marking this "verify in next kg2 build".

[2021-02-03 21:07] edeutsch commented on #1213
and a name change to "Genetic locus associated with <PREVIOUSNAME>"?

[2021-02-03 21:08] saramsey commented on #1200
So @kvarforl can I assume that if those updates are made to the master branch of the mediKanren repo, then the following line in our `setup.sh` file should (in the future) pick up the fixed mediKanren code?

[code]

[2021-02-03 21:10] saramsey commented on #1079
Can we close this issue out then?

[2021-02-03 21:11] saramsey commented on #1079
+1 for Erica's diligent commenting.

[2021-02-03 21:11] kvarforl commented on #1200
Yes! I think we should periodically sync the upstream repo of our fork, but I can do that manually (which i think will be better)

FYI, I'm still working on the export; I think we're going to end up making quite a few changes before all is said and done. I'll be sure to update the readme with what I've learned!

Big thanks to erica for speedily writing a script to convert our TSV's to medikanren f

[2021-02-03 21:12] saramsey commented on #1079
I assume this issue is being kept as "verify in the next KG2 build" because we need to verify that, in fact, the code as modified by be204d5 works as expected for making correct mediKanren CSV files?

[2021-02-03 21:13] edeutsch commented on #1230
I would vote "yes" for removing the sequence from the description. I don't think I am affected either way, so I don't feel strongly.

[2021-02-03 21:14] saramsey commented on #1078
I expect this may require some additions to `predicate-remap.yaml`, so please be on the lookout for new predicates appearing after the transition to ChEMBL 27.

[2021-02-03 21:14] saramsey commented on #1070
ok, closing

[2021-02-03 21:15] edeutsch commented on #1230
Sorry, I meant "yes" for removing from synonym!

[2021-02-03 21:16] MarkDWilliams opened #1231 "Add Support for Top Level ARS IDs to GUI"
Thanks very much for adding ARS ID support to the ARAX GUI.  I'd like to request that this functionality be extended to "top-level" IDs for queries.  In the ARS, when a query is received, it goes first to the ARS Default Agent, which then sends it out to the other registered services.  This message from the ARS Default Agent is technically similar to those provided by individual responses, but req

[2021-02-03 21:18] saramsey commented on #1056
Agree-- I prefer not to use neo4j/KGX to get our mediKanren export. @kvarforl can you please update the [RTX/code/kg2/mediKanren/README.md](https://github.com/RTXteam/RTX/blob/master/code/kg2/mediKanren/README.md) file to indicate the memory usage required to run this workflow?

[2021-02-03 21:18] amykglen commented on #1070
I think maybe we should leave this one open; I think an exception will need to be added for it to the NodeSynonymizer. otherwise interleukin-10 will continue to be synonymized with arthritis, which doesn't seem great. will adjust the issue tags though.

[2021-02-03 21:19] saramsey commented on #1070
Ah, sorry @amykglen.

[2021-02-03 21:29] kvarforl commented on #1222
okay, with the newly generated tsvs, I'm running into this error from `tsv-graph-to-db.rkt`:
[code]
I'm guessing this is coming from the nodeprops tsv, which has entries like this:

[code]
the double single quote (`''`) as a list separator seems odd to me. because we're using tsvs now, would it be okay to seperate with commas instead?
@ericawood @finnagin could you explain the reasoning behind thi

[2021-02-03 21:32] saramsey commented on #995
@kvarforl I took a shot at a definitive solution to this issue; see issue a0ca122. If we want, we can always add an option to filter_kg_and_remap_predicates.py that removes nodes with deprecated=True.

[2021-02-03 21:34] saramsey commented on #995
OK @edeutsch after thinking about it, I believe the best approach is as follows:

- in the KG2 ETL process, use heuristics to catch all cases of obsolete nodes and always set deprecated=True for such nodes
- a reasonable place to filter out the deprecated=True nodes may be in the KG2c build process, what do you think @amykglen ?

[2021-02-03 21:35] TomConlin commented on #1221
noting that underlying ontological term for

https://w3id.org/biolink/vocab/negatively_regulates_entity_to_entity

is: RO:0002449

which has label:

    `directly negatively regulates activity of`

[2021-02-03 21:37] saramsey commented on #695
Hi @zheng-liu could you please respond to Erica's question when you have time?  Thanks.

[2021-02-03 21:39] saramsey commented on #979
Hi @dkoslicki can we close out this issue?

[2021-02-03 21:45] edeutsch commented on #1221
@amykglen a quick patch until we transition to the next KG2.5.x would be to edit out commas in the predicates. Can you easily add a layer in Expand that does this? Or I suppose it could be downstream of Expand if you think that's a better place. Where should we patch this so we are fully TRAPI compliant?

[2021-02-03 22:17] saramsey commented on #1230
coded and ready for the next KG2 build

[2021-02-03 22:17] ericawood commented on #1222
That section of the code was designed to mirror the appearance of the csv files back when Finn was doing it from Neo4j, since it is a list. Do you know if you can specify the delimiter in tsv-graph-to-db.rkt?

[2021-02-03 22:25] dkoslicki commented on #979
Yes indeed!

[2021-02-03 22:25] #979 closed

[2021-02-03 22:32] kvarforl commented on #1222
hmmm, that's a good question!

I did some testing with some small tsv's that I generated in `~/kg2-code/mediKanren/small_tsvs` and concluded that the above string thing doesn't seem to be the issue.

[2021-02-03 22:35] saramsey commented on #1160
fixed in code; ready for testing in the next KG2 build

[2021-02-03 22:44] saramsey commented on #1213
Yes
[code]

[2021-02-03 22:46] finnagin commented on #1222
Looks like you might be able to specify the deliminator by changing [lines 42-44](https://github.com/RTXteam/mediKanren/blob/master/biolink/tsv-graph-to-db.rkt#L42-L44) in tsv-graph-to-db.rkt

There is also a csv-graph-to-db.rkt if you want to try importing a csv instead

[2021-02-03 22:49] saramsey commented on #1213
Repeating my Slack post here:

Hi all, I'm working issue 1213 ("mislabeled entity"), and I gotta be honest, despite my previous posts, I'm having second thoughts about having, for all NCBI genes, the "name" field be identical to the "full name" field. The serialized JSON example for KGX clearly shows the "name" field as the Gene Symbol. Would that be useful to you all, namely, to have the "name" f

[2021-02-03 22:52] edeutsch commented on #1213
I don't feel strongly, but I do think have the symbol be easily available is good. I'm uncertain what the best way to do that is. Putting symbol in name and full name in full_name sounds reasonable to me, but I am very uncertain what the downstream implications are. What do we do for UniProtKB entries? Seems like we should be consistent across all genes and proteins and genetic loci that are assoc

[2021-02-03 22:53] saramsey commented on #1213
For UniProtKB, as it turns out, the "name" field is the Official Gene Symbol, in most cases (human).

[2021-02-03 22:55] edeutsch commented on #1213
Well, if we're consistent that "name" is always the symbol and "full_name" is the spelled out name for all our genes and proteins, I think that's good.

but then what if there's no symbol? blank name?

[2021-02-03 22:55] saramsey commented on #1213
I think in NCBI, there is always a symbol.

[2021-02-03 22:56] saramsey commented on #1213
So our phenotype-only locus would look like this:
[code]

[2021-02-03 22:57] saramsey commented on #1213
And an actual gene would look like this:
[code]

[2021-02-03 22:57] saramsey commented on #1213
Is good?

[2021-02-03 23:05] edeutsch commented on #1213
I am concerned about downstream implications. But it seems fine to me. Didn't we used to have a dedicated "symbol" property? @amykglen can you think of negative implications?

[2021-02-03 23:16] saramsey commented on #1213
As far as biolink compliance, our graph should be consistent witih Deepak's example JSON:
[code]

[2021-02-03 23:16] edeutsch commented on #1225
On topic: yes.
Slightly off topic: For TRAPI 1.1 (it is nearly decided), predicate and some other fields will no longer be EITHER a string OR an array. But rather always an array. Often an array of one. But for TRAPI 1.0 it is truly either.

[2021-02-03 23:18] saramsey commented on #1213
You recall correctly-- KG1 had a dedicated "symbol" property, which we used (for proteins) to hold the official gene symbol.

 KG2 does not; I am proposing to follow Deepak's approach to use the "name" field as the official gene symbol, for "biolink:Gene" nodes.

[2021-02-03 23:21] edeutsch commented on #1213
okay, fine with me. Something downstream might break a bit, but then we will fix it.

[2021-02-03 23:32] saramsey commented on #1114
+1 to YAML

[2021-02-03 23:32] edeutsch commented on #995
okay, fine with me. I do not recall a specific problem caused by obsolete nodes.

[2021-02-03 23:53] saramsey commented on #1213
OK, I have updated the code so for Ensembl, NCBI, and HGNC genes, the "name" field is the official gene symbol, as @amykglen originally suggested.

[2021-02-03 23:56] saramsey commented on #1228
testing now on `kg2lindsey.rtx.ai`

[2021-02-04 00:04] ericawood commented on #1222
context...:
   /usr/share/racket/collects/syntax/readerr.rkt:6:2: raise-read-error9
   /usr/share/racket/collects/json/main.rkt:150:4: loop
   /home/ubuntu/RTX/code/kg2/mediKanren/mediKanren/biolink/tsv-graph-to-db.rkt:97:6: loop-props
   [repeats 3 more times]
   /home/ubuntu/RTX/code/kg2/mediKanren/mediKanren/biolink/tsv-graph-to-db.rkt:95:2: loop
   /home/ubuntu/RTX/code/kg2/mediKanren/mediKanr

[2021-02-04 00:07] edeutsch commented on #1229
This appears to come from SRI Node Normalizer. @dkoslicki , please see this issue:
https://github.com/TranslatorSRI/NodeNormalization/issues/50
and post what you know, since I know very little about this issue. I'm just the middleman.

[2021-02-04 00:10] saramsey commented on #1213
If we decide this leads to downstream breakage, it is easy for me to undo these three changes.

[2021-02-04 00:14] saramsey commented on #1222
Good sleuthing, @ericawood !

My suspicion immediately goes to the node "description" field.

We can try to ferret out all of the places in the code where newlines in the description field are arising in the code-base, but in the meantime, can we do some quoting or conversion of newlines to spaces, as a countermeasure?

[2021-02-04 00:16] saramsey commented on #1189
removing the "low priority" label because I think it is actually an important issue

[2021-02-04 00:17] ericawood commented on #1222
@saramsey Commit 06536b0 converts newlines to spaces in both node and edge fields (to cover all of our bases, though the problem was only observed in the node description field).

[2021-02-04 00:26] saramsey commented on #646
Your EC2 instance was archived to an Amazon Machine Image (AMI). Just let me know if you want to provision the instance again and it will be exactly as it was before (I hope).

[2021-02-04 00:31] saramsey commented on #587
keep open; this is a really good idea, but it is just tricky enough that I haven't found the time to do it yet.

[2021-02-04 00:42] ericawood commented on #460
At the top of the page you linked, it says "Enterprise Edition":

![image](https://user-images.githubusercontent.com/36611732/106827815-f71f6480-663d-11eb-8e2b-4e45cba88e91.png)

Based on my knowledge of Neo4j, this means that that user read-only access is only for paid customers of Neo4j.

[2021-02-04 01:24] amykglen commented on #1221
yeah, I was thinking the same thing - I can easily add that into `expand` (where I'm already doing the translation to biolink:___ format). will do that.

[2021-02-04 02:02] amykglen commented on #1221
alright, patch is in place `master` (it translates a predicate like `positively_regulates_entity_to_entity` in the QG into the comma-ful version for querying KG2/c, and then removes commas from the predicates of returned edges)

[2021-02-04 02:22] amykglen commented on #1202
yeah, seems to make sense to me to handle this in `expand`. could do the method David mentioned (try one and if it doesn't work try the other), or I suppose a slightly speedier option is to maintain some sort of record of which direction KG2 chooses to use for such edges; then expand could just look at that to know if it needs to invert a qedge. but then we'd have to maintain that record. :) not s

[2021-02-04 02:25] amykglen commented on #1202
although, maybe such a record could be produced in an automated fashion, like during the KG2c build process, for example.

[2021-02-04 02:27] kvarforl commented on #1222
Nice work!

Next up is this error.
[code]
From my discussion with Greg R, if a string in the third column looks like json, they attempt to convert it to json.

That makes me think that our publications info properties of edges isn't always converted properly, like in this example.
[code]
To fix this, I'm going to add a case to `kg2_tsv_to_medikanren_tsv.py` that uses `json.dumps()` for stringifyin

[2021-02-04 02:43] amykglen commented on #995
sure! if we don't want obsolete nodes, that's fine with me to remove them during the KG2c build process. so in that case, they'd still be a part of the NodeSynonymizer's knowledge base (since it's built off the regular KG2).... I suppose one little hitch is that we would need to make sure the synonymizer never chooses an obsolete curie as the `preferred_curie` for a synonym group (if that synonym

[2021-02-04 03:03] amykglen commented on #1029
yeah, good question - I'm feeling less sure about the usefulness of this myself: given that new KG2 builds sometimes can break the node synonymizer, and that not every KG2 build is brought to ARAX production anyway, I'm not sure how helpful it would be to have the synonymizer build process automatically kicked off. especially since having a synonymizer isn't really useful for anyone until there's

[2021-02-04 03:07] kvarforl commented on #1222
Since mediKanren interprets property values as json strings, it might make sense to just use json.dumps for all of our string converting (eg, when a prop value contains a tab or a double quote)

[code]

[2021-02-04 03:14] #1194 closed

[2021-02-04 03:15] #1119 closed

[2021-02-04 03:22] saramsey opened #1232 "need a way to access the KG2 build code used for a specific build of KG2"
It seems to me that it would be helpful to archive the KG2 build code as a part of the build process, like this:
[code]

[2021-02-04 03:23] saramsey commented on #1232
This way, we always have the ability to reconstruct exactly what code was used in a given build of KG2, even if the code was locally modified or whatever.

[2021-02-04 03:24] #1064 closed

[2021-02-04 03:29] saramsey commented on #1222
As far as I recall, the only property that is JSONified is `publications_info`.

[2021-02-04 03:31] saramsey commented on #1029
+1 for pairing with the KG2c build process. In practice we usually want to stop at the end of the KG2 build and do a bunch of inspection of build artifacts and reports, as well as testing in Neo4j, before we conclude whether or not the build was "successful".

[2021-02-04 03:36] amykglen commented on #1176
hey @meghasin - have you heard anything more about if the ICEES team figured out what the issue was? it looks like we're still seeing the same 422 errors for queries that previously worked.

[2021-02-04 03:36] amykglen commented on #1166
just checked and it looks like the same issue (#1176) is still happening with the ICEES API (though the pytest is happily passing for the moment since we opted for that) - will plan to adjust these tests again once #1196 is in place so that we're not totally blind to such issues. for now I'll just remove the 'high priority' and 'bug' tags.

[2021-02-04 03:43] amykglen commented on #815
closing since this isn't very important/is out of our hands (many external KPs won't accept category-less qnodes)

[2021-02-04 03:43] #815 closed

[2021-02-04 03:45] amykglen commented on #757
closing since this is subsumed by #1192

[2021-02-04 03:45] #757 closed

[2021-02-04 03:48] amykglen commented on #756
I think this isn't an issue anymore since `Attribute.value` is now allowed to contain a list (or actually any data type) in TRAPI 1.0? right, @edeutsch?

[2021-02-04 03:53] amykglen commented on #707
closing since we have our synonym handling strategy sorted out (interestingly, KG2c is kind of the "uber" node idea we came up with way back when..)

[2021-02-04 03:53] #707 closed

[2021-02-04 03:59] amykglen commented on #703
closing since this issue is old enough to have become irrelevant (see #1213)

[2021-02-04 03:59] #703 closed

[2021-02-04 04:01] edeutsch commented on #756
It is true. That feature is already being abused by other groups.

[2021-02-04 04:03] amykglen commented on #700
think we can close this issue? it's quite old and I don't think any action items remain here..

[2021-02-04 04:10] edeutsch commented on #700
Agreed, I will close.
There was some talk today at the hackathon about implementing a QueryGraph hint on QNode that was essentially "exact", "narrow", or "wide", where
exact means only that concept
narrow means that concept or any children
wide means ??... any parent? seemed to make sense at the time although I don't get it now.

[2021-02-04 04:10] #700 closed

[2021-02-04 04:14] #756 closed

[2021-02-04 04:16] edeutsch commented on #995
I don't currently have a way of checking the deprecated property during the NodeSynonymizer build process. The process works from file dumps not a live connection. One possibility is to include the word OBSOLETE in the name. That I can check. And is already done to some extent.

[2021-02-04 04:20] edeutsch commented on #1221
super, thank you!

[2021-02-04 04:24] kvarforl commented on #1079
Yes! I figured I would go through and close out all of the medikanren related issues once I manage to get the export of KG2.5.1 out. This way I can also keep track of what should be added to the KG2.5.1 entry of  kg2-versions.md :)

[2021-02-04 04:30] edeutsch commented on #1221
verified in production. closing

[2021-02-04 04:30] #1221 closed

[2021-02-04 04:33] saramsey commented on #1221
Hi Tom!

Interesting point.  Hmm, I'm not sure what the comma means, in terms of formal semantics. I guess perhaps it means that in the general case, a `regulates` association can be between two objects that are not entities, so the Biolink team's association `regulates, entity to entity` is specifically scoping the domain and range to be entities?  But that's just a guess. In any event, we can ma

[2021-02-04 05:10] kvarforl commented on #1056
done!

[2021-02-04 05:10] #1056 closed

[2021-02-04 06:06] amykglen opened #1233 "Move ARAX to KG2.5.2"
documentation about what things will need updating is at: https://github.com/RTXteam/RTX/wiki/Deployment-info#things-that-need-updating-when-rolling-out-a-new-kg2-version

rebuild/edit these files and put them in `/translator/data/orangeboard/databases/KG2.5.2` on arax.ncats.io:

- [x] `configv2.json`
- [x] NodeSynonymizer (`node_synonymizer.sqlite`)
- [x] NGD database (`curie_to_pmids.sqlite`)
-

[2021-02-04 07:17] edeutsch commented on #1226
Took a while to figure this one out, but here it is:
[code]

[2021-02-04 08:33] edeutsch commented on #1231
Hi Mark, sure, Luis cobbled a little something together, Try going to the "id" tab at the usual place:
https://arax.ncats.io/

and then paste in a collection GUID like you list above: 828551fb-c4dc-4851-8705-762520a5c428
and click LOAD.
You should see the list of resources and the GUIDs for each individual response. You can click on those and then
click on Results on the left if there are any. Som

[2021-02-04 16:04] meghasin commented on #1176
Hi, are you making an https to http request for that link? I don't have any furthers updates about whether the problem with the new tables is fixed or not, but I will talk to Kara again.

[2021-02-04 16:42] ericawood commented on #1219
This is certainly a problem! However, I think that line in `curies-to-categories.yaml` is also incorrect:
From curies-to-categories.yaml:
`UMLS_STY:T040: physiological process`

However, from UMLS's website:
![image](https://user-images.githubusercontent.com/36611732/106924764-44deb000-66c4-11eb-9cf7-15ffe449ac9f.png)

And from the Biolink YAML file:
![image](https://user-images.githubusercontent.

[2021-02-04 18:00] kvarforl commented on #1114
Erica and I discussed this on slack, and they pointed out that statements like these could be problematic using plain YAML.
[code]

I researched and came up with a solution, and I know @ericawood did too, so I figured I'd explain and post mine here and let them do the same so that it will be easy to compare and weigh the pros and cons of each!

---

My solution would involve exporting the current

[2021-02-04 18:17] ericawood commented on #1114
Great idea to write it up @kvarforl. I'll drop my solution below!
__________________________________________________
My solution would take the existing `master-config.shinc` and a new `.shinc` OR `.yaml` file in the following form (for YAML): (this is a sample, not the full file)

[code]

Then, my python script parses it all into a dictionary (by going through `master-config.shinc` first, then th

[2021-02-04 20:11] dkoslicki commented on #1225
I vote yes as well!

[2021-02-04 23:01] #1222 closed

[2021-02-04 23:01] #1200 closed

[2021-02-04 23:02] #1079 closed

[2021-02-04 23:09] kvarforl commented on #1232
I believe that github tags more or less do this! I forgot to push a tag for KG2.5.1 (since it was basically Kg2.5.0), but the previous releases should still be good examples.

If you navigate to the tags section, there are clickable `.zip` and `.tar.gz` icons that will download the contents of the whole repository from that point in time.

[2021-02-05 00:19] isbluis commented on #1231
Addressed in commit 9e65ee221d0b75623914b5b3feb1528722924dff

[2021-02-05 00:42] amykglen opened #1234 "A few nodes in KG2.5.1 NodeSynonymizer have a preferred type lacking "biolink" prefix"
In building the NodeSynonymizer from KG2.5.1, things generally seem to have gone well, although there are apparently 6 synonym groups with a preferred type of "protein" (instead of "biolink:Protein"). Any idea why this might be, @edeutsch? (It doesn't seem to be due to an issue in KG2.)
[code]
it looks like these happen to be the 6 proteins that exceptions have been added for: https://github.com/R

[2021-02-05 01:29] saramsey commented on #1228
OK, UniChem's RXNORM mappings (as of release 335) are not useful to us, as they do not have the integer RXNORM compound ID and they do not have the UniChem ID. See this excerpt from `UC_XREF.txt.gz`:
[code]

[2021-02-05 01:29] #1228 closed

[2021-02-05 04:34] #1203 closed

[2021-02-05 04:35] #973 closed

[2021-02-05 04:38] chunyuma commented on #1223
This problem was solved by using `expand(kp=DTD)` in issue #1203.

Here is an example:
[code]

[2021-02-05 04:38] #1223 closed

[2021-02-05 05:03] ericawood commented on #933
No, this is referring to (in the short term) ETLing an additional source so that edges between UniProt and GO would have PMIDs as evidence. In the long term, essentially, UAB wants us to take all of the PMIDs that are currently in the nodes publication list and turn them into edges. As is, UAB doesn't have any use for them because they aren't supporting any claims.

[2021-02-05 05:04] ericawood commented on #1219
This is a way more problematic issue than we originally thought (it is plaguing far more nodes than originally thought and likely the reason that #762 appears to be an issue).

For reference, `UMLS:C0032961` is in the following TTL files:
- `umls-go.ttl`
- `umls-lnc.ttl`
- `umls-mdr.ttl`
- `umls-medlineplus.ttl`
- `umls-msh.ttl`
- `umls-mth.ttl`
- `umls-nci.ttl`
- `umls-psy.ttl`
- `umls-snomedct_u

[2021-02-05 05:08] ericawood commented on #1219
Also, I know that the TUIs are being read properly because I ran `multi_ont_to_json_kg.py` on just `umls-msh.ttl` and node `UMLS:C0032961` had the correct category label.

[2021-02-05 05:52] ericawood commented on #1219
Here's the `UMLS:C0032961` example:
[code]

[2021-02-05 07:30] amykglen commented on #1233
ok, @chunyuma - a new KG2c built from KG2.5.1 is up at: http://kg2canonicalized2.rtx.ai:7474/browser/

note that these node properties have been renamed like so:
* `preferred_type` -> `category`
* `types` -> `all_categories`

[2021-02-05 14:58] chunyuma commented on #1233
Thanks @amykglen!

[2021-02-05 18:23] dkoslicki opened #1235 "Update BTE predicates & nodes"
It [appears](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/Expand/bte_querier.py#L271-L287) that expand with BTE has the allowable predicates and node types hard coded. According to the last table in [this document](https://github.com/colleenXu/RegistryMetadataDev/blob/master/x-translator/RegistryMetadataSummaries.ipynb), it looks like BTE accepts more input than it currently is c

[2021-02-05 18:26] dkoslicki commented on #1229
Thanks! I've updated that issue with what I know about it

[2021-02-05 18:29] dkoslicki commented on #1227
And just a note: Trung said it is a font issue, but I'm not 100% sure that's the issue (changing the font didn't fix the problem)

[2021-02-05 18:32] amykglen commented on #1235
definitely. and we also need to do this for other external KPs! @edeutsch - did TRAPI 1.0 ever end up including the kind of "meta" information endpoint that I remember being discussed on those calls a while back (i.e., that would also include preferred curie prefixes, etc.)? or is `/predicates` the best we have for now?

[2021-02-05 18:39] edeutsch commented on #1234
Thanks, I am uncertain what to do. Your diagnosis of the root cause is likely correct. I'm not set up to work with 2.5.1 yet. It is likely true that if I switch to branch `kg2.5integration` then I'll be in that world to do testing and bug fixing?

It would probably be good to completely cut all ties to KG1 at this point (when we start using 2.5.1) One nice thing about the KG1 NodeNamesDescriptions

[2021-02-05 19:01] amykglen commented on #1234
I think NodeNamesDescriptions_KG2.tsv doesn't yet include symbols (if they're not already the node's name). I think maybe this would be resolved with KG2.5.2+, where symbols will become `name`s?

while we should deprecate KG1 at some point, it doesn't seem to me like KG1 is the issue here: when I look up a curie that I know is in both KG1 and KG2, its `all_types` from the synonymizer all look good

[2021-02-05 19:03] edeutsch commented on #1235
/predicates as currently implemented is the v1.0 standard.
However, migrating this to /knowledge_map with more information is one of the top priorities for v1.1

[2021-02-05 19:07] edeutsch opened #1236 "How to decide which KP to expand?"
We mused about this before, but it seems like it is becoming more and more relevant.
A flaw in the current QueryGraphInterpreter setup is that it doesn't have intelligence to decide which KP to expand on. So it always says KG2.
But I'm thinking we should set the QueryGraphInterpreter YAML to NOT specify which KP, and then let Expand decide on a edge-by-edge basis which KPs it will hit. Based on an

[2021-02-05 19:09] ericawood commented on #1219
My above comments are not the correct diagnosis. The actual problem is that `depth_x` and `depth_y` are both None because `biolink_depth_getter` calls `get_biolink_categories_ontology_depths`, which has a return dictionary where all of the CamelCased categories are prefixed with `biolink:`. Hence, the issue is that `stored_value` and `value` (for `category_label`) do not have the `biolink:` prefix

[2021-02-05 19:28] dkoslicki opened #1237 "Press enter in addition to click for synonym tool"
Request from Gustavo (and me): pressing enter should execute the synonym tool, not requiring the user to click the button

[2021-02-05 19:32] dkoslicki opened #1238 "Blank lines inserted at end of DSL input in UI"
To replicate the problem:
On the DSL tab, click the example, post it, and then (deciding you want to tweak something), click the "select DSL Command" tab and add whatever you like. Note that 2 blank lines are inserted. Repeating this adds another blank line or two.

Somewhat related: Is it possible to do the following: when you click "add" on a DSL command, it is inserted at the cursor (or at the

[2021-02-05 19:41] amykglen commented on #1236
yeah, totally agree we need some sort of map that dictates what kind of qedge should be sent to which KP. and I like the idea of having `expand` be the one to decide which KP to use. it's not set up to do that already, though I don't think it would be too complicated.

maybe this map could be compiled in an automated fashion based on all our KPs' `/predicates` endpoints? or perhaps we'd want to do

[2021-02-05 19:52] dkoslicki commented on #1236
Yeah, hopefully the `/predicates` endpoint will help. One thing to note: there will be multiple KPs that can fulfill the same predicate. I would vote for hitting _all_ endpoints that can handle that predicate, and uniquifying results after that (based on curies or the like).

[2021-02-05 20:08] amykglen opened #1239 "Synonymizer conflating FMR1 with primary ovarian failure and more"
For UniProtKB:Q06787:

<img width="585" alt="Screen Shot 2021-02-05 at 12 03 27 PM" src="https://user-images.githubusercontent.com/49423686/107083267-3a96e180-67aa-11eb-914c-a2c59816d799.png">

[2021-02-05 20:51] edeutsch commented on #1234
okay, I will schedule some more time to update the NodeSynonymizer, but it seems non-critical for continued rollout of KG2.5.1?

[2021-02-05 20:55] edeutsch commented on #1227
My guess is the "font issue" is that sometimes JSON query_graphs pasted into Word or similar tools get their simple ASCII quotation marks converted into fancy forward-facing quotes and backwards facing fancy quotes, and then when that gets pasted into our tool, it causes JSON parsing problems.

But not the A583 problem. I know that problem, but my efforts to rectify it so far have been inadequate.

[2021-02-05 21:34] dkoslicki opened #1240 "Drug, but DTD model doesn’t think so"
For umls:C1171279 (Neulasta, a drug), the synonymizer says it’s a `molecular_entity,drug`, but the DTD model errors out saying it’s not a drug. Don’t know if this is a DTD problem or a node synonymizer problem, so tagging @chunyuma, @amykglen, and @edeutsch .

[2021-02-05 21:47] dkoslicki opened #1241 "Expand(kg=DTD) error"
The following DSL:
[code]
Give this error:
ERROR: An uncaught error occurred: object of type 'NoneType' has no len(): ['Traceback (most recent call last):\n', ' File "/mnt/data/orangeboard/production/RTX/code/UI/OpenAPI/python-flask-server/openapi_server/../../../../ARAX/ARAXQuery/ARAX_query.py", line 535, in executeProcessingPlan\n expander.apply(response,action[\'parameters\'])\n', ' File "/mnt/

[2021-02-05 21:49] chunyuma commented on #1240
The DTD model is built based on the canonical node type. Even though it might have other types belong to `drug`, the DTD model will not consider it as `drug`.

[2021-02-05 21:52] dkoslicki commented on #1240
Ah, I see. Let’s make a note in the future to have the DTD model work on any node that has a synonym that is drug. That way, actual drugs like Neulasta will have predictions for them. I’ll close this issue, but let’s make sure the next iteration of the model does this.

[2021-02-05 22:02] chunyuma commented on #1240
I'll reopen this question because I'm rebuilding the DTD model based on KG2.5.1C. Since it is quite time-consuming for rebuilding the DTD model and the DTD database, we have to make a final decision how to process this problem before I start to rebuild anything.

We have to have a thorough discussion If we need to include any nodes that has a synonym that is drug. How actual this will be? This is

[2021-02-05 22:04] chunyuma commented on #1240
I think I have ever asked this question to @edeutsch. @edeutsch said that we can't 100% sure the accuracy. It is not sure then I don't want to include them to introduce the potential biases to the model.

[2021-02-05 22:07] dkoslicki opened #1242 "Mysterious error with lists"
I was checking if lists still worked with:
[code]
But got the error:
An error was encountered while contacting the server (TypeError: e.match is not a function. (In 'e.match(/^\s+$/)', 'e.match' is undefined)).

I grepped the entire code base and could not find 'e.match(/^\s+$/)'. Since the error only happened when “transmitting the message back to client”, I am tagging Luis and Eric.

[2021-02-05 22:12] chunyuma commented on #1240
In the version of KG2.5.1c, by using DSL `match (n:`biolink:NamedThing`) where "biolink:Drug" in n.all_categories return count(distinct n.id)`, you will find that there are 14700 nodes that have this situation. Please note that in this case, we haven't considered `biolink:ChemicalSubstance` yet.

[2021-02-05 22:16] chunyuma commented on #1240
I think the main question is that if we consider any nodes having a synonym that is drug are `drug`, then why not NodeSynonymizer moves them to the group with preferred type that is `biolink:Drug`. Perhaps @edeutsch can help to answer this question.

[2021-02-05 22:32] amykglen commented on #1234
yep, I think it's non-critical. sounds good!

[2021-02-05 23:21] edeutsch commented on #1240
I don't really know the answer here. The relationships between different nodes and types and very complex. I know the NodeSynonymizer needs to be better. But I'm generally not familiar enough with the various imports into KG2 to know what is considered reliable and what is not. We could probably come up with heuristics that can help categorize thing better.

In this case, if a cluster has an RXNOR

[2021-02-06 00:00] chunyuma commented on #1240
OK, based on discussion with @dkoslicki, the current solution for this is that we keep using our previous rule to collect the training data and train the DTD model (only consider the `preferred_type` with `drug` or `chemicalsubstance` and `disease` or `phenotypic_feature` or `diseaseorphenotypic_feature`). But for the `expand(kp=DTD)` which is evaluation, I would let it not check the type of input

[2021-02-06 00:11] #1240 closed

[2021-02-06 06:41] #1241 closed

[2021-02-06 08:12] isbluis commented on #1242
Hi @dkoslicki .
I think this is an issue with the streaming of the response for the purposes of animating the progress bar, and not with the response contents or DSL processing itself.  If you look at the navigation bar on your browser, you should have a response id (r=NNNN) in the URL.  Just reload or recall this id and you will see the full response with results and graphs.
In the meantime, @ede

[2021-02-06 09:32] isbluis commented on #1242
Correction to my previous reply: the issue lies with parsing compound (is_set) nodes in the query_graph by the UI code.
I will fix this as part of updating bulid-a-graph to handle the TRAPI 1.0 format in the coming week.

(Clearing @edeutsch from the issue)

[2021-02-06 21:40] chunyuma opened #1243 "It seems like the labels of some nodes in KG2.5.1 are unreasonable"
Hi @saramsey and @kvarforl, I found that the labels of some nodes in KG2.5.1 are unreasonable. For example, `UMLS:C0030660` is categorized as `biolink:Disease` but it is a pathological process or function, which I think should be categorized as `biolink:BiologicalProcess`. `UMLS:C0014412` is categorized as `biolink:Disease` but its name is environmental exposure. I think it should not belong to di

[2021-02-06 22:56] saramsey commented on #1243
For this kind of issue report, it is always helpful to paste in the full Neo4j set of properties for the node:
[code]

[2021-02-06 22:57] saramsey commented on #1243
It is interesting that no UMLS semantic types are annotated in the `description` field.

[2021-02-06 22:59] saramsey commented on #1243
By inspecting the file [kg2-versions.md](https://github.com/RTXteam/RTX/blob/master/code/kg2/kg2-versions.md), I can see that KG2.5.1 was built on the EC2 instance `kg2lindsey.rtx.ai`; starting it now that I can inspect some relevant build artifacts in the `kg2-build` subdirectory on that instance....

[2021-02-06 23:03] saramsey commented on #1243
I see that, as far as the KG2.5.1 build is concerned, UMLS CUI `C0030660` originates from the NCI Thesaurus. There is a declaration in `umls-nci.ttl`:
[code]

[2021-02-06 23:07] saramsey commented on #1243
So, we can see that in the NCI, the CUI `C0030660` is given UMLS semantic type `T046`.

From the [master map of UMLS semantic types](https://metamap.nlm.nih.gov/Docs/SemanticTypes_2018AB.txt)
we see that UMLS semantic type code `T046` is labeled `pathologic function`:
[code]
In the [Biolink metamodel](https://github.com/biolink/biolink-model/blob/master/biolink-model.yaml) on line 6145, we see tha

[2021-02-06 23:18] saramsey commented on #1243
Now, I suppose that the Biolink people could have mapped UMLS semantic type code `UMLSSC:T046` to the biolink category `biolink:PathologicalProcess`. But let's look at what UMLS has to say on the matter. From the [UMLS Reference Manual](https://www.ncbi.nlm.nih.gov/books/NBK9679/), Figure 1,
<img width="968" alt="Screen Shot 2021-02-06 at 3 10 28 PM" src="https://user-images.githubusercontent.com/

[2021-02-06 23:26] saramsey commented on #1243
For UMLS CUI `UMLS:C0014412`, here is the relevant data from MeSH (`umls-msh.ttl`):
[code]

[2021-02-06 23:30] saramsey commented on #1243
So, UMLS CUI `C0014412` (environmental exposure) has UMLS semantic type `T037` (injury or poisoning). In the Biolink model, for whatever reason, that semantic type is also mapped to Biolink category `disease` (see excerpt from `biolink-model.yaml`, a few comments above; here is the [permalink](https://github.com/biolink/biolink-model/blob/097e7f6f0f62d66f22e8cff7c47692a98c837c7a/biolink-model.yaml

[2021-02-06 23:43] saramsey commented on #1243
OK, while we are waiting for official word back from the Biolink team, I have gone ahead and changed `curies-to-categories.yaml` so that both UMLS categories `T037` and `T046` are mapped to `biolink:PathologicalProcess`:
[code]
since that doesn't seem to break `validate_curies_to_categories_yaml.py` (that validation script uses `biolink-model.owl.ttl` which does't have external CURIE ID mappings t

[2021-02-06 23:43] saramsey commented on #1243
Thank you @chunyuma for bringing this issue to my attention.

[2021-02-06 23:44] saramsey commented on #1243
To clarify for @chunyuma :  you won't see the above changes actually show up in KG2 until the 2.5.2 build.

[2021-02-06 23:44] saramsey commented on #1243
Tagging @kvarforl so she is aware of the above and can include this fix in the next KG2 build.

[2021-02-06 23:46] saramsey commented on #1219
Thank you @ericawood. Very nice detective work!  This fix looks sensible. Let's try a test build with it.

[2021-02-06 23:48] saramsey commented on #1232
OK, thanks, can you please update the post-build instructions in README.md to add a checklist item to tag the code used for the build?  This should be a documented step in the README.md.

[2021-02-06 23:50] saramsey commented on #1232
And yes, on reflection, if we can do this with GitHub tagging, that is the more mainstream and modern way of doing this.

[2021-02-06 23:59] saramsey commented on #1232
You are right, except that

1. The code and config files used for the build may not be exactly what is in github (if it was modified locally). This can happen inadvertantly if a local modification is left in or whatever.
2. Automating the git tagging requires git commit access to the RTX repo from within the build instance, which requires the setup script to do ssh key exchange. It can be done (I

[2021-02-07 00:02] chunyuma commented on #1243
Thanks so much for your detailed explanation @saramsey. It seems like `biolink:PathologicalProcess` might be a better mapping than `biolink:Disease` for `UMLS:C0030660` and `UMLS:C0014412`. But let's see how the Biolink team reply.

I'm curious about these two nodes because I'm modifying KG2.5.1C locally for training an explainable Drug-treats-disease model. I just try to integrate mode biological

[2021-02-07 00:03] saramsey commented on #933
Sure, if this helps us to put PMIDs on our KG2 edges between Uniprot proteins and GO terms, that's a good thing. Factors for you to consider:

1. download size
2. anticipated complexity of writing the ETL script, based on the data format
3. evidence that this resource is being updated (I assume it is, but it is worth checking)

[2021-02-07 00:08] saramsey commented on #1243
Yes, I agree with you. In the next build, those two CUIs should be re-annotated as `biolink:PathologicalProcess`. I will mark this issue also as "verify in next build".

[2021-02-07 00:35] saramsey opened #1244 "Why does node `UMLS:C0030660` not have the semantic type?"
UMLS CUI nodes are supposed to have their semantic type annotated in the description field, but for some reason, `UMLS:C0030660` does not:
[code]

[2021-02-07 00:35] saramsey commented on #1244
For some reason, my suspicion immediately goes towards the dictionary merging code

[2021-02-07 23:44] saramsey opened #1245 "add edge `id` property to KG2"
So, embarrassingly, I have just noticed that Biolink requires an `id` property for an edge (or in Biolink-speak, an "association"). We will need to add an `id` property for edges in `kg2-simplified.json` and in `kg2-slim.json`.

What should go in it?

The [Biolink knowledge graph JSON schema](https://github.com/RTXteam/RTX/blob/master/code/kg2/biolink-kg-schema.md) that I extracted using [misc-too

[2021-02-07 23:52] saramsey commented on #1245
The particular CURIE prefix `urn:uuid:` may not be definable in `curies-to-urls-map.yaml`, since I don't know what base URL it would map to; for now, I guess we can treat `urn:uuid:` as an exception to our general rule of always defining a new CURIE prefix in `curies-to-urls-map.yaml` and in `kg2_util.py`.

[2021-02-08 18:32] saramsey commented on #1233
Tagging @kvarforl to also read this issue, as a part of cross-training on the ARAX system and its operations/deployment. In particular, it would be good for @kvarforl to get up-to-speed on how to build KG2c (and verify that the build was successful) and the NodeSynonymizer database.

[2021-02-08 21:29] isbluis commented on #1237
This is now in production ready for review.  Thanks!

[2021-02-08 21:32] isbluis commented on #1238
This is now in production ready for review. Thanks!

Re: adding a DSL at cursor position, it might be tough to get it right, since the cursor could be anywhere on the line, and the DSL might get inserted at the wrong place.  Javascript does not make it easy to know if cursor is at the beginning or end of a line, and then there's the question of whether you would add the new command before the curr

[2021-02-08 21:41] kvarforl commented on #1232
Makes sense to me! Just wanted to make sure we aren't duplicating effort, and your point about config files and lack of automatableness is very relevant. I think taring and saving to s3 is goo solution :)

[2021-02-08 22:04] MarkDWilliams commented on #1231
Looks to be working fine.  Thanks!

[2021-02-08 22:04] #1231 closed

[2021-02-08 22:38] dkoslicki commented on #1238
Great! And I figured it might be difficult (and not expected behavior from UX point of view)

[2021-02-08 22:44] saramsey opened #1246 "should we ETL DisGeNet into KG2?"
https://www.disgenet.org/downloads

[2021-02-08 22:44] kvarforl opened #1247 "ETL miRBase"

[2021-02-08 22:49] saramsey commented on #1125
What from KG1 is still missing in KG2?

- microRNAs (tagging @kvarforl)
- protein-protein interactions (could get these from STRING or Reactome, whichever has easy-to-obtain PMIDs on the edges)
- protein-to-pathway associations (could get these from Reactome maybe?)
- maybe DisGeNet?

[2021-02-08 23:02] kvarforl commented on #1114
from our discussion with steve and after revisiting, I think that going with erica's solution is more maintainable and easier to read! +1 to preprocessing the yaml :)

[2021-02-09 02:53] ericawood commented on #1245
In the user facing data (Neo4j and kgx), our data **does** have an edge id.

Neo4j example:
![image](https://user-images.githubusercontent.com/36611732/107308962-72b65280-6a3e-11eb-9d72-04b7cc10c2e1.png)

kgx/mediKanren example:
![image](https://user-images.githubusercontent.com/36611732/107309175-cb85eb00-6a3e-11eb-8f17-4301caa5defe.png)

Thus, this is not an issue and I am closing it.

[2021-02-09 03:08] ericawood commented on #1048
Based on the schema (https://stringdb-static.org/download/database.schema.v11.0.pdf), it appears that STRING has lots of edge publications and data scores, so this is likely worth ETLing. @saramsey Would you like me to reach out to UAB and ask which data they are most interested in? Also, there are species specific dumps, if we only care about human data, which make the downloads quite a bit small

[2021-02-09 03:55] ericawood commented on #1246
Here's what I have so far on the ETL Guidelines from README. I will update as I learn more.

1. TSV download is an option and should have what we'd want.
2. It appears there is a release about every year. There is a 2020 release, a 2018 release, a 2017 release, a 2016 release, etc. Only the SQLite databases are available for archived releases.
3. I'm not sure if it will provide new relationships,

[2021-02-09 04:13] saramsey commented on #1048
Yes, please do, and if you could report back in the issue here, that would be great. Thank you for investigating this.

[2021-02-09 04:14] saramsey commented on #1247
Thank you @kvarforl

[2021-02-09 08:07] edeutsch commented on #1238
I too think it would be great to insert the desired DSL command beginning at the cursor position. Just wherever the cursor is, insert the command and a carriage return.

If it's not where the user wanted? easy to ctrl+Z and move the cursor and re-click.

Seems like this would be the most flexible and efficient. Novices might botch it a couple times but would learn fast.

[2021-02-09 08:27] isbluis commented on #1238
Ok, I have implemented your suggestion, @edeutsch .  One caveat is that ctrl+Z does not seem to work, which may just end up confusing novices.

Have a look at https://arax.ncats.io/devLM/index.html  and let me know if it is worth checking in.

Thanks!

[2021-02-09 14:30] sstemann commented on #1167
waiting on https://github.com/TranslatorSRI/NodeNormalization/issues/38

[2021-02-09 16:16] edeutsch commented on #1238
looks great! I think that is much more effective.

Ship it!

[2021-02-09 18:22] MarkDWilliams opened #1248 "Problems With Multihop Queries"
I was trying to run this query
`
{
	"message": {
		"query_graph": {
			"nodes": {
				"n0": {
					"id": "MONDO:0010664",
					"category":"biolink:Disease"
				},
				"n1": {
					"category": "biolink:Gene"
				},
				"n2": {
					"category": "biolink:ChemicalSubstance"
                }
			},
			"edges": {
				"e01": {
					"subject": "n0",
                    "object": "n1"
				},
				"e02": {

[2021-02-09 19:59] edeutsch commented on #1248
Hi Mark, thanks for the report, this is a bug. It is a bug that I fixed during the relay, but then later discovered that it caused another even worse problem, so I backed it out. I will get it fixed. sorry for the trouble!

[2021-02-09 20:09] MarkDWilliams commented on #1248
No worries, thanks for looking into this

[2021-02-09 21:46] isbluis commented on #1238
Ok, done.  Close once tested?

[2021-02-10 08:03] edeutsch commented on #1238
@dkoslicki test and close?

[2021-02-10 18:40] MarkDWilliams opened #1249 "Potential Data Ingest Problem for Octreotide"
Hate to bother with more issues, but I'm only finding these because of how useful I've found ARAX/ARAX interface 😄
I tried running the following query for finding chemicals connected to SPMSY, which mostly works fine.  However, the top result is Octreotide, which doesn't seem to have any relation that I could find to SPMSY, and it's linked by the predicate `biolink:close_match` which is valid biol

[2021-02-10 19:54] isbluis commented on #1238
Ok, I lied.  I made changes so that the DSL command will be inserted at the beginning of the current line of the cursor (no longer inserting in the middle of a command).

Only caveat is that if you wanted the command *after* the current line, you might have to make that edit by hand.

Better?

[2021-02-10 19:57] dkoslicki commented on #1238
I think that works as well, both have a low learning curve. I’ll close since things look to be in good shape!

[2021-02-10 19:57] #1238 closed

[2021-02-10 19:59] dkoslicki commented on #1249
Thanks @MarkDWilliams , keep the issues coming! I’ve tagged our KG2 people to take a look at this. Most likely it’s a mis-synonymized node or the like.

[2021-02-10 20:01] dkoslicki commented on #1237
Looks great! Closing

[2021-02-10 20:01] #1237 closed

[2021-02-10 20:48] amykglen commented on #1249
it looks like the questionable edge may be between "NCBIGene:6611" and "UMLS:C0728977" in KG2.3.4:
[code]

<img width="286" alt="Screen Shot 2021-02-10 at 12 41 40 PM" src="https://user-images.githubusercontent.com/49423686/107569755-83c9a580-6b9d-11eb-9669-cde7b6339947.png">

although there also seems to be a synonymization issue for SPMSY (UniProtKB:P52788):

<img width="500" alt="Screen Shot 20

[2021-02-10 20:53] amykglen opened #1250 "Mis-synonymization of SPMSY (UniProtKB:P52788)"
Looks like spermine synthase is being merged with Smith-Magenis syndrome:

<img width="500" alt="Screen Shot 2021-02-10 at 12 43 45 PM" src="https://user-images.githubusercontent.com/49423686/107570469-6517de80-6b9e-11eb-8553-9bbd096a1f72.png">

[code]

[2021-02-10 21:00] zheng-liu commented on #695
@ericawood, yes, I noticed the gene-diseases stats provided by CTD database is about 27MM, however the number of entries from the file `CTD_genes_diseases.tsv` is 83MM for now (previously 77MM). They may have extra criteria to filter the gene-disease relation.

Due to the massive size of the gene-disease relation, I tried to filter and select based on the following principles:
- The curated ones m

[2021-02-10 21:47] kvarforl opened #1251 "Discussion of node naming: english vs symbol"
A place to discuss the naming debate from the AHM 2/10/2021; mostly about genes and proteins.
What is the ideal value for the name and full_name fields of these nodes?

Background discussion is here: https://github.com/RTXteam/RTX/issues/1213#issuecomment-772811231

[2021-02-10 22:06] chunyuma opened #1252 "A list of examples for improving NodeSynonymizer"
Hi @edeutsch, here are several examples for you to improve the NodeSynonymizer:

1. There are around 53,441 nodes in KG2.5.1C of which the category!=`biolink:Disease`/`biolink:PhenotypicFeature`/`biolink:DiseaseOrPhenotypicFeature` but the `all_categories` attribute has these categories. Some of them should not belong to one of `biolink:Disease`/`biolink:PhenotypicFeature`/`biolink:DiseaseOrPhenot

[2021-02-10 22:27] saramsey opened #1253 "concept `UMLS:C0021403` has the wrong name ("influenza") and type ("biolink:ChemicalSubstance")"
from KG2.5.1:
[code]
we get:
[code]

[2021-02-10 22:28] saramsey commented on #1253
helpfully reported by @edeutsch

[2021-02-10 22:34] saramsey commented on #1253
Semantic type codes, per the [2018 Semantic Type Mappings](https://metamap.nlm.nih.gov/Docs/SemanticTypes_2018AB.txt) document:
[code]

[2021-02-10 22:34] finnagin commented on #1253
@saramsey Looks like there  are  bunch of Influenza nodes labeled as chemical substance.

If you run the following query in kg 2.5.1:
```match (n:`biolink:ChemicalSubstance`) where n.name =~ "(?i)influenza.*" return n.name, n.id, n.description```

you will ger 695 different nodes

[2021-02-10 22:34] saramsey commented on #1253
Very helpful, thank you

[2021-02-10 22:34] finnagin commented on #1253
You're welcome!

[2021-02-10 22:39] amykglen commented on #1252
some more examples for @edeutsch  - here are the 16 nodes in KG2.5.1c that have both `biolink:Drug` and `biolink:Disease` in their `all_categories`:

n.id | n.name | n.all_names
-- | -- | --
"OMIM:MTHU003378" | "Polyuria" | ["Osmotic diuresis", "diuretic", "Polyuria", "Polyuric state", "polyuria", "Diuretics", "Diuresis", "Diuretic"]
"MONDO:0012860" | "thrombophilia due to protein C deficiency, au

[2021-02-10 22:45] dkoslicki opened #1254 "In OMIM, make sure phenotypic features are named correctly"
Eg. cypher in KG2-5-1:
[code]
has the type phenotypic feature, but is called `Central Nervous System`. Proposal is: if a non-leaf node from OMIM, then append `related phenotypic feature`. Eg. `Central Nervous System related phenotypic feature`.

[2021-02-10 22:54] saramsey opened #1255 "make a new KG2 node property "original_name""
this property should conatin None unless the original node's name has been renamed by the KG2 build system (e.g., in UniprotKB)

[2021-02-10 22:57] saramsey commented on #1255
requested by @edeutsch to aid in node synonymization

[2021-02-10 22:58] ericawood commented on #1175
@saramsey Do you have any thoughts on

`validate_kg2_util_curies_urls_categories.py` broke when I tried to run it, so I would like to fix this to test my fix for #1219.

[2021-02-10 23:02] amykglen opened #1256 "Clean up/update dumpdata.py (stop dumping KG1, etc.)"
we want to change dumpdata.py so that it only grabs info from KG2, and change the generated file so that it has four columns:

- curie
- name
- full_name
- type

and link the `dump_kg2_synonyms.py` and `dump_kg2_equivalencies.py` scripts so that they're both run with `dumpdata.py` as well. and do some renaming of files.

will do this in the `kg2.5integration` branch since that's where work on the

[2021-02-10 23:05] kvarforl commented on #1175
@ericawood I think that the string of comments above and my most recent commit in this issue took care of at least some of the `macromolecular complex` and 'gene product` occurrences; are there some that were missed ? (Is the validation script still erroring?)

[2021-02-10 23:14] edeutsch commented on #1255
I would say: technically not really for node synonymization, but rather to repair poor nomenclature in the source (OMIM) but yet maintain transparency in KG2 on what the original name from the source is.. to acknowledge that we didn't like their name and we changed it.

I'm thinking of unSecret agent consuming KG2 and discovering that we *changed* the name of some nodes from the original source. B

[2021-02-10 23:37] amykglen commented on #1236
@edeutsch - here's what I've got for external KP APIs:
[code]
the only other one we might want is COHD - I think the the COHD expand submodule doesn't hit up any API, but maybe using their /predicates endpoint would still be of use? I'm not familiar enough with `COHDQuerier` to know off the top of my head (i.e., can it answer queries for everything COHD itself can? do we invent our own edge types

[2021-02-11 00:20] dkoslicki opened #1257 "CI/CD"
To get the discussion going about CI/CD, I noticed that if we can get the ARAX system deployment automated in a shell script, we can get Travis CI to work: https://docs.travis-ci.com/user/job-lifecycle#complex-build-commands
We will want to be careful with timeouts though: if any particular job takes [longer than 50 minutes](https://docs.travis-ci.com/user/customizing-the-build/#build-timeouts), i

[2021-02-11 00:23] dkoslicki commented on #1257
And it might be straightforward to skip the build process and just point it to a docker image: https://stackoverflow.com/questions/38133107/travis-ci-docker-image-as-build-environment

[2021-02-11 04:17] saramsey commented on #1253
I am attempting to construct a minimum working example of this bug, but it is proving rather difficult to construct. Still working on it....

[2021-02-11 04:44] edeutsch commented on #1251
I had some concerns about making the "name" for a node the gene symbol. But I think after our discussion, my concerns have been reduced to "mild unease". I cannot articulate why this might be a problem. I just feel a little uneasy about it. I'm fine to proceed until we find a concrete reason why this is not good. Maybe there won't be one.

[2021-02-11 04:55] edeutsch commented on #1249
@MarkDWilliams thanks for reporting, please don't ever hesitate to "bother".

However, you should be aware that we have a systemic problem with certain concepts being merged with others that should not be. There is a plan for fixing this, but an exact timeline is not currently known. It affects a small percentage of nodes, but with so many nodes, it is a substantial number overall. Your exact issu

[2021-02-11 05:25] ericawood commented on #1175
The validation script errors at `macromolecular complex` because it’s still an issue in the constants section of kg2_util.py. What should I fix it to @kvarforl?

[2021-02-11 05:35] saramsey commented on #1257
Thank you @dkoslicki for being the spark!

50 minutes should be plenty of time to deploy ARAX and run our test suite... or at least a goal to shoot for, right?

[2021-02-11 05:39] saramsey commented on #1257
- @dkoslicki looks like you were right that one doesn't necessarily need to *explicitly* provision a server to do this.  I see that GitHub actually sells this as a hosted service:
https://github.com/marketplace/travis-ci

The cost is not that high, compared to our $3k/month AWS bills.

[2021-02-11 05:41] saramsey commented on #1253
Reading the clues, I am suspecting that this specific bug involves cross-talk of information from two ontologies (I suspect UMLS metathesaurus and UMLS MeSH) in `multi_ont_to_json_kg.py`.

[2021-02-11 05:56] saramsey opened #1258 "spacing bug in `umls-semantictypes.ttl` generated by umls2rdf.py"
See this excerpt from `umls-semantictypes.ttl`:
[code]

[2021-02-11 07:38] isbluis opened #1259 "Incorrect Labels for some UniProtKB proteins in KG2"
A few dozen protein entries from UniProtKB appear to have incorrect **labels**, seen as having the string "_Synonyms=xxxx_" appended to them, e.g.:
https://arax.ncats.io/devLM/index.html?term=UniProtKB:P55316

Full list:

Entry | Label | Type
-- | -- | --
UniProtKB:A5PKW4 | PSDSynonyms=EFA6, | protein
UniProtKB:O14493 | CLDN4Synonyms=CPER | protein
UniProtKB:O15047 | SETD1ASynonyms=KIAA0339 | prot

[2021-02-11 17:38] kvarforl commented on #1175
hmm @ericawood I'm not super sure why some of the biolink categories are defined as constants in kg2util; looking into it now!

[2021-02-11 19:59] ericawood commented on #1219
Here's the results from the test build:
![image](https://user-images.githubusercontent.com/36611732/107690836-7ffe5780-6c5f-11eb-8451-4bacb4409751.png)

![image](https://user-images.githubusercontent.com/36611732/107690901-986e7200-6c5f-11eb-9bb8-5a94c098f42c.png)

Here's the results from the PREVIOUS test build (pre-fix):
![image](https://user-images.githubusercontent.com/36611732/107691088-de2b3

[2021-02-11 20:08] ericawood commented on #1219
The lack of a larger overall drop is largely due to `go-plus.owl` (an increase from 2627 to 5023) and `MEDDRA` (an increase from 2 to 102.

[2021-02-11 21:11] amykglen commented on #1256
ok, @edeutsch - this is done in the `kg2.5integration` branch. made the following changes to `dumpdata.py`:
- got rid of the KG1 parts and started extracting `full_name`
- renamed it `dump_kg2_node_info.py`
- moved it into the `ARAX/NodeSynonymizer/` directory
  - can undo/adjust this if you want, but it seemed strange to me that it still lived outside of ARAX (it was in `RTX/data/KGmetadata/`)

[2021-02-12 01:01] saramsey commented on #1259
Hi @isbluis thank you for bringing this to our attention.

This appears to be a bug in KG2. Verified the bug in KG2.5.1 using cypher
[code]

results show a weird `name` field consistent with what was seen in the UI. In KG2 we have:

<img width="1107" alt="Screen Shot 2021-02-11 at 5 00 47 PM" src="https://user-images.githubusercontent.com/5562107/107718386-b43b3d80-6c8a-11eb-8704-4c50e8e19029.png"

[2021-02-12 01:05] isbluis commented on #1259
Great, thanks for looking into it @saramsey ! (and sorry if I abused the tag; was not sure which to use)

[2021-02-12 03:53] chunyuma opened #1260 "Some gene curies are missing in KG2.5.1"
Hi @saramsey and @kvarforl,

I'm working on issue #1122 and I found that there a few gene curies provided in Connections Hypothesis Provider (CHP) which don't show up in KG2.5.1.

Below is the gene list for these missing gene curies:

[code]

[2021-02-12 05:08] edeutsch commented on #1260
a (perhaps) semi-related set of questions that rattle around in my head:
- do all of our nodes in KG2 have at least one edge?
- Do we expect to have *all* members of a set (say ENSG*s) in KG2, or just the ones for which we have edges?
- Would it be useful to have all members of a set of identifiers even if there are no available edges for them?

[2021-02-12 05:38] ericawood commented on #1260
@chunyuma I searched all of those identifiers on the ENSEMBL website. They have all been retired. Some are now mapped to a different identifier, but not all. I suspect they're not in `KG2.5.1` because it should use the latest version of ENSEMBL.
`ENSEMBL:ENSG00000254414`:
![image](https://user-images.githubusercontent.com/36611732/107733682-718c5c00-6cb0-11eb-84cf-b44660e5fc51.png)

`ENSEMBL:ENSG0

[2021-02-12 05:43] chunyuma commented on #1260
Ah, I see. Thanks @ericawood! Perhaps I should contact CHP team to update other data.

@edeutsch, can I close this issue? Or I should let it open for your questions?

[2021-02-12 18:43] edeutsch commented on #1260
Fine to close. I will just continue to wonder.

[2021-02-12 19:00] kvarforl commented on #1259
Okay I'm making progress on this issue, and in doing so I noticed a small bug that was keeping the GN 'synonyms' from being appended to the node synonyms. I fixed this, but now some of the synonyms have evidence codes attached to them.

I'm assuming this is not desirable, so I'm going to remove them for now, but note it here for if we ever want to do something specific with them.

As an example, h

[2021-02-12 19:04] #1260 closed

[2021-02-12 20:29] kvarforl commented on #647
UniprotKB has a bunch of evidence codes too; some are associated with the names (which I moved to the description as part of #1171), and others are associated with gene synonyms (isolated but not used anywhere as a part of #1259)

Example of evidence code associated with a gene synonym: `UniProtKB:Q9Y4F9`
[code]

Types of evidence codes are documented [here](https://www.uniprot.org/docs/userman.ht

[2021-02-13 00:08] ericawood opened #1261 "Not all obsolete nodes in KG2 are marked as deprecated"
While working on #1219 (specifically the GO `named_thing` issue), I discovered this:
[code]
There are more like this.

[2021-02-13 00:13] saramsey commented on #1261
I'm wondering if this code change (which is pretty recent, I think after KG2.5.1 build) will take care of it?

<img width="882" alt="Screen Shot 2021-02-12 at 4 11 56 PM" src="https://user-images.githubusercontent.com/5562107/107835075-1c525800-6d4d-11eb-8f1d-6c1ff657adfa.png">

https://github.com/RTXteam/RTX/blob/8dc59542e5d69d83a15f8d45bece358d490d877f/code/kg2/multi_ont_to_json_kg.py#L801

[2021-02-14 00:59] ericawood commented on #1048
Here was the response from Michael Patton:

[2021-02-14 03:03] ericawood commented on #647
Sources that do NOT appear to have evidence codes (this will be a long, edited comment as I gather more information):

- repoDB
- UniChem

[2021-02-14 03:28] ericawood commented on #1244
From what I've found so far, the problem is not the dictionary merging code. `UMLS:C0030660` is brought in through MTH and NCI (though it appears that it might also come in with MSH and SNOWMED... more on this later). However, with NCI, it has the ID `NCIT:C16956`. In the nodes part of `multi_ont_to_json_kg.py`, the two are linked and their descriptions are added together. However, the semantic ty

[2021-02-15 16:56] finnagin commented on #1192
@edeutsch Did the table ever end up getting discussed in the TRAPI working group?

[2021-02-15 17:49] edeutsch commented on #1192
Yes, it was perceived as a key item to resolve. Discussion has been moved here:
https://docs.google.com/spreadsheets/d/1-ilDWePMLniA9Tha5J6HHHFylO5w6lZ9FFfA2Mp5oro
If you have any more information information to contribute, please do contribute it there.

[2021-02-15 18:00] finnagin commented on #1192
Thanks! I'll take a look.

[2021-02-15 18:04] #1198 closed

[2021-02-15 18:06] finnagin commented on #1201
Should really be a confidence of 1. Need to look into this again.

[2021-02-15 18:07] #1195 closed

[2021-02-15 18:12] finnagin commented on #1187
@finnagin to contact text mining and ask about other things on their roadmap and enquire about possibly ETLing like COHD.

[2021-02-15 18:13] kvarforl commented on #550
looks like this is being updated! I downloaded a new version of the file today, and it now contains 178,390 lines.

Slowly working my way through the ETL now :)

[2021-02-15 18:19] finnagin commented on #1257
@finnagin will look into setting up Travis-ci to utilize our rtx docker container as a dev environment.

[2021-02-15 19:55] kvarforl commented on #550
Okay I'm working on figuring out the best way to map the identifiers of the genes given in the file to existing nodes in kg2: [this](https://www.sciencedirect.com/science/article/pii/S1046202314003831) paper, linked from the [about](https://diseases.jensenlab.org/About) page, has the following clues:

Since we don't use the STRING identifiers, I'm thinking I might need to grab the STRING alias fil

[2021-02-15 23:40] edeutsch commented on #1256
Many thanks, @amykglen I am working on this. It seems to be pretty good, except I stumbled on an issue with `kg2_equivalencies.tsv`. I'm finding this that too many things are equivalent? UMLS:C0020740 seems to be ibuprofen.
[code]
Ibuprofen seems to be equivalent to 2880 different things? Maybe half that because the equivalencies seem to be bi-directional. That's already going to cause huge cluste

[2021-02-16 00:18] isbluis commented on #1259
Great, thanks for fixing this, @kvarforl !

One idea that recently occurred to me is that it might be worth looking at the Uniprot entries in KG2 that have the longest string values for name (say, the top 20 or 50) as a way to see if there are other potential parsing bugs still lurking -- most protein (short) names being only 4-6 characters long.  Perhaps you are already doing this or something be

[2021-02-16 00:24] kvarforl commented on #1259
@isbluis this is a great idea! I've recently been pondering various ways to catch some of the kg2 bugs before someone has to stumble upon and discover them, but haven't gotten around to doing any of it. This sounds like a great place to start. thanks for the suggestion!

[2021-02-16 00:38] isbluis commented on #1259
Excellent!  Perhaps another way is to look for strings in that same field that contain characters that are non-alpha/numerical (e.g. equals sign, comma, etc.)  Perhaps even lowercase letters?

[2021-02-16 02:39] amykglen commented on #1256
oh wow, yep, that's a bug! somehow I lost a colon in the cypher query so indeed everything was being put in kg2_equivalencies. sorry about that. it's fixed now and I put an updated copy of `kg2_equivalencies.tsv` in `arax.ncats.io:/data/orangeboard/databases/KG2.5.1/` (it's only 14 MB).

[2021-02-16 02:49] amykglen commented on #1256
also, if it's helpful - I can adjust the query that populates `kg2_equivalencies.tsv` so that there aren't separate rows for each direction (e.g., if there was already a row for `DRUGBANK:DB09256 --> CHEMBL.COMPOUND:CHEMBL20883`, no additional `CHEMBL.COMPOUND:CHEMBL20883 --> DRUGBANK:DB09256` row would be added). it's a trivial change from my end - whatever works better for you.

[2021-02-16 03:12] edeutsch commented on #1256
great, thanks! sure, it would be great to remove the duplicates. My code is structured so that only one direction is necessary, but both is not detrimental. If it's easy, I vote for a file half the size.

[2021-02-16 03:28] amykglen commented on #1256
ok, cool - made that adjustment, regenerated `kg2_equivalencies.tsv`, and put it on the server. looks like it's still about 14MB but has about 10,000 fewer lines. (apparently there are only ~10,000 node pairs in KG2 with `same_as` edges in both directions. probably still good to eliminate the duplicates nonetheless!)

[2021-02-16 03:59] saramsey commented on #1066
yes, thank you @kvarforl

[2021-02-16 03:59] #1066 closed

[2021-02-16 04:01] saramsey commented on #1244
Thank you @ericawood. I'm not sure what else we can do. But I appreciate your looking into this. I am going to close this out as won'tfix.

[2021-02-16 04:01] #1244 closed

[2021-02-16 04:07] saramsey commented on #1249
This appears to be a SemMedDB triple. In KG2.5.1, the Cypher query
[code]
returns this:

![Uploading Screen Shot 2021-02-15 at 8.06.49 PM.png…]()

[2021-02-16 05:32] saramsey commented on #1249
Just to amplify what @dkoslicki and @edeutsch already said above: we appreciate the bug reports, especially from folks using ARAX via the ARS (i.e., via the TRAPI interface).

[2021-02-16 05:34] saramsey commented on #1254
Thank you for noting this issue, @dkoslicki. We will do it. I fear we may run into the same ontobio issue that is blocking #1170 but I will check to verify this.

[2021-02-16 05:35] saramsey commented on #1170
Thank you for cross-referencing the PR here. Also I will cross-reference the ontobio issue:  https://github.com/biolink/ontobio/issues/507

[2021-02-16 18:11] edeutsch commented on #1192
To everyone who creates node or edge Attributes in their code, the current spreadsheet is here:
https://docs.google.com/spreadsheets/d/1-ilDWePMLniA9Tha5J6HHHFylO5w6lZ9FFfA2Mp5oro
It is split into two tabs, a node Attributes and an edge Attributes.
Any contributions that you can make about the Attributes that ARAX currently writes would be most helpful.
thanks!

[2021-02-17 23:11] kvarforl commented on #1245
In our slack conversation, @ericawood suggested incorporating this into simplifly: for my edification, is there any reason this couldn't/ shouldn't be added to kg2_util's make_edge function?

[2021-02-17 23:15] ericawood commented on #1245
That could be a possibility, but how would we keep ids between different sources separate, since that is all modular.

[2021-02-17 23:17] saramsey commented on #1129
Note: Sarah Stemann from team Link Broker is inquiring about the status of this:
https://github.com/NCATSTranslator/TranslatorPM/issues/52

[2021-02-17 23:19] saramsey commented on #1129
Quick update:  I had high hopes that I could just run the TRAPI OpenAPI YAML through swagger1st and it would magically generate Clojure stubs. Instead, I got errors. So that particular avenue is blocked until I can find the cycles to diagnose the issue.

[2021-02-17 23:22] saramsey opened #1262 "rename the TSV export of KG2 "kg2-tsvs.tar.gz" instead of "kg2-tsvs-medikanren-YYYYMMDD.tar.gz""
This is a partial solution for TranslatorPM issue 52; see RTX issue #1129 for discussion thread and commits related to a more durable and systematic solution.

[2021-02-17 23:24] saramsey commented on #1262
There is nothing particularly medikanren-specific about the export file format, and having the ISO-8601 date in the filename makes it more problematic to have a durable URL if we are hosting from an S3 bucket.

This issue also includes removing the ISO-8601 date part of the filename for the "indexes" mediKanren tarball.

[2021-02-17 23:25] saramsey commented on #1262
Fixing this in the `RTX/code/kg2/mediKanren/README.md` instructions and in the files currently hosted on S3. Since team Unsecret Agent already has URLs pointing to those ISO-8601-named files, I won't touch those, but will copy them. In the future, we'll just host tarballs named generically without the ISO date.

[2021-02-17 23:26] saramsey commented on #1129
See #1262 for one stopgap measure

[2021-02-17 23:33] ericawood opened #1263 "biolink:Attribute is not biolink compatible"
Pre-fix for `kg2_util` merge bug (see #1219), there are 10 `UMLS_STY` nodes with the biolink category `biolink:Attribute`. Here's an example:
![image](https://user-images.githubusercontent.com/36611732/108281341-69ab3c80-7134-11eb-96ec-0b4532f44e67.png)

Post-fix for `kg2_util` merge bug, they have the biolink category `biolink:NamedThing`. Here's an example:
![image](https://user-images.githubuse

[2021-02-17 23:34] saramsey opened #1264 "move hosting of kg2-simplified.json.gz to the public S3 bucket"
this is to partially address TranslatorPM issue 52; see #1129 for discussion of a more durable and systematic solution via the KG archive

[2021-02-17 23:38] saramsey opened #1265 "deprecate build-kg2.sh?"
I wonder if it is time to rename `build-kg2.sh` to `build-kg2-DEPRECATED.sh` and to mark that build option in the README.md as deprecated?

[2021-02-17 23:39] ericawood opened #1266 "T091 is not in curies-to-categories.yaml"
From a `multi_ont_to_json_kg.py` build log:

[code]

This also relates to #762.

[2021-02-17 23:48] ericawood commented on #1219
Based on two full builds of `multi_ont_to_json_kg.py` using `ont-load-inventory.yaml`, one with the old code and one with the fix, I discovered. Here's the data from it:
Source | Category Label | Old Code Count | New Code Count | Percent Decrease
-- | -- | -- | -- | --
Total | named_thing | 442499 | 403917 | 8.719115749
EFO:efo.owl | named_thing | 2643 | 2615 | 1.059402194
OBO:bfo.owl | named_thin

[2021-02-18 00:07] kvarforl commented on #1245
Fair enough: it looks like this [`uuid1()`](https://docs.python.org/3/library/uuid.html#uuid.uuid1) function generates a unique id based off the current timestamp, which could maybe be a solution to that.

I also checked if it was generated in a multiprocessing safe way on `kg2lindsey.rtx.ai`, and it seems like it is:
[code]

[2021-02-18 00:17] ericawood commented on #1253
Regarding the category:
With TUI's T121 and T129, you will get `chemical_substance` because:
https://github.com/RTXteam/RTX/blob/d3b502dbe3db3984fbf11305709dbf8d9b317b1b/code/kg2/curies-to-categories.yaml#L347
https://github.com/RTXteam/RTX/blob/d3b502dbe3db3984fbf11305709dbf8d9b317b1b/code/kg2/curies-to-categories.yaml#L353

[2021-02-18 00:47] saramsey opened #1267 "we should rename kg2-tsv.tar.gz kg2-tsv-for-neo4j.tar.gz"
To disambiguate the two TSV tarballs for KG2, I think we should rename `kg2-tsv.tar.gz` (the file created by `Snakefile-post`) to the more helpful name `kg2-tsv-for-neo4j.tar.gz`.

[2021-02-18 02:38] saramsey commented on #1266
For `UMLS_STY:T091`, how about `individual organism`, same as for T090?

[2021-02-18 03:37] ericawood commented on #1267
I don't know if this is the right issue to ask this under, but does anyone have any thoughts on calling the TSV directory for a test build something different than a regular build? The build process deletes the directory that the TSV files are built into. Thus, if a test build is after a full build, the full build's TSV files are deleted. They can be restored by decompressing the tarball.

[2021-02-18 04:17] saramsey commented on #1264
OK, `kg2-simplified.json.gz` is now hosted in the S3 bucket `rtx-kg2-public`:
<img width="962" alt="Screen Shot 2021-02-17 at 8 16 27 PM" src="https://user-images.githubusercontent.com/5562107/108304531-17324600-715d-11eb-9b3b-24cc858dbe7a.png">

[2021-02-18 04:21] saramsey commented on #1179
Hi @kvarforl ontobio's master branch now has a fix for the networkx versioning issue. No need to fork. But we will need to update `requirements-kg2-build.txt` for both `networkx` and `ontobio`, and then test `setup-kg2-build.sh`. Can you take care of that, @kvarforl ?  (This of course assumes that the latest version of ontobio is actually on PyPI).

[2021-02-18 04:28] kvarforl commented on #1267
Hmm, I can see both sides! My instinct is to leave it as is because the information isn't lost; as you said, you can decompress the tarball. it might also save space to keep it the same, though probably not enough to make a huge difference. I honestly don't have super strong feelings either way :)

[2021-02-18 06:28] ericawood commented on #1253
I believe I've found the issue here.

First, here are the TTL files that `UMLS:C00214013` are in:

- umls-atc.ttl
- umls-hcpcs.ttl
- umls-hl7.ttl
- umls-lnc.ttl
- umls-medlineplus.ttl
- umls-msh.ttl
- umls-mth.ttl
- umls-snomedct_us.ttl
- umls-vandf.ttl

The node produced by umls-vandf.ttl looks like this:

![image](https://user-images.githubusercontent.com/36611732/108313917-e9093200-716d-11eb-8c

[2021-02-18 17:38] kvarforl commented on #1179
Hmm, I followed these same steps:

and encountered the same error. My ontobio and networkx versions look like this:
[code]
So I do have the lastest version of ontobio.
<img width="601" alt="Screen Shot 2021-02-18 at 9 36 21 AM" src="https://user-images.githubusercontent.com/39020520/108397416-c9552680-71cc-11eb-9e79-51719baf498b.png">

@saramsey should I open a new issue in ontobio, reopen the old

[2021-02-18 18:49] #1265 closed

[2021-02-23 19:51] edeutsch opened #1268 "How much similarity reasoning can ARAX do?"
There is a rather nice summary of some basic reasoning that Chris B is proposing that *KPs* do. I'm wondering how much of this can ARAX even do? and how does it do it? Can we document that here? (or elsewhere?)

KPs that implement the Translator Reasoner API must perform the following kinds of reasoning in answering queries:
   1. Making identifiers more specific, e.g. responding to a query involv

[2021-02-23 21:15] dkoslicki opened #1269 "Get links back for `provided_by` and the like"
It would be great to get back the links for various nodes and edges. Eg. `CHEMBL.COMPOUND:CHEMBL112` no longer links to ChemBL. Tyler Beck says it would be great to get these back.

For edges, we can:
1. If there are PubMed IDs, link to that article directly from that link
2. If there are no pubmed ID's, somehow link to the `provided_by` repo?

High prio since NCATS will be using our UI for the de

[2021-02-23 22:25] saramsey commented on #1269
Hi @dkoslicki the `iri` field in KG2.5.1 for that compound (`CHEMBL.COMPOUND:CHEMBL112`) works for me. Try this cypher:
[code]
You will see:
<img width="640" alt="Screen Shot 2021-02-23 at 2 23 08 PM" src="https://user-images.githubusercontent.com/5562107/108916247-d7e37980-75e2-11eb-95fd-0b501fb79f9a.png">
<img width="1077" alt="Screen Shot 2021-02-23 at 2 24 51 PM" src="https://user-images.githu

[2021-02-23 22:26] saramsey commented on #1269
not seeing a KG2 issue here?

[2021-02-23 22:28] edeutsch commented on #1269
maybe Expand() needs to include that field as an Attribute. It seems it is not currently doing that?

[2021-02-23 22:28] saramsey commented on #1269
To get the `provided_by` source, you need to do a KG2 lookup to find the `iri` field of the node whose `id` is the `provided_by` CURIE ID.

[2021-02-23 22:28] dkoslicki commented on #1269
@saramsey right, this is mostly a UI issue, hence the @isbluis tag, apologies if this caused confusion

[2021-02-23 22:29] dkoslicki commented on #1269
Oh, right! I think `Expand` isn’t returning that attribute (at least, when looking at the JSON, it’s missing). I’ll ping @amykglen to take a look too

[2021-02-23 22:48] amykglen commented on #1269
whoops, yep, somewhere in the switch to TRAPI 1.0 "iri" got confused with "uri", so the iris weren't being pulled properly from KG2/c. fixed in `master` now!

[2021-02-23 23:17] saramsey opened #1270 "chembl_mysql_to_kg_json.py should create a "source" node for ChEMBL"
In the script `chembl_mysql_to_kg_json.py`, a node should be created to represent the entire ChEMBL knowledge source. That node's `id` property should be `identifiers_org_registry:chembl` (which should be accessed as variable `CHEMBL_KG_CURIE_ID` in that module).  Basically I think at line 433 we need to call:

[code]

[2021-02-23 23:23] isbluis commented on #1269
Great!  I'll make changes to the UI.

Any other fields that should be converted to links?

[2021-02-23 23:49] isbluis commented on #1269
This is now done for PMID in devLM/ .

I do notice that some publication records return a PMID string without the colon, e.g. "PMID104998" vs "PMID:20667728".  You can see this by opening the following link and clicking on the "ACETAMINOPHEN" node in any of the graphs:

https://arax.ncats.io/devLM/index.html?r=2386

I only trigger the link if I see the colon, so as to avoid linking to other words

[2021-02-23 23:55] dkoslicki commented on #1269
Don't know if the colon problem is a KG2 thing (@saramsey or @amykglen), or something else. I'll put on the agenda a discussion about links for edges since Tyler was quite passionate about evidence for edges.

[2021-02-23 23:56] dkoslicki commented on #1269
Re: anything else to make a link: does anyone know of there URI's/URLs that can be resolved?

[2021-02-24 00:01] amykglen commented on #1269
I think the colon discrepancies are coming from KG2 itself; I don't think those are modified anywhere down the chain and I see some PMIDs lacking colons in KG2-5-1. e.g.:
[code]
n.id | n.name | n.publications
-- | -- | --
"DRUGBANK:DB00316" | "Acetaminophen" | ["PMID104998", "PMID11866476", "PMID12242329", "PMID14758786", "PMID15662292", "PMID15879007", "PMID16413237", "PMID17227290", "PMID1823202

[2021-02-24 00:13] saramsey commented on #1269
This issue motivated #1270 (apparently the ChEMBL Knowledge Source *itself* doesn't have its own dedicated node in KG2).

[2021-02-24 00:14] saramsey commented on #1269
The absence of a colon in the PubMed CURIE is a bug. I will look into it.

[2021-02-24 00:18] saramsey commented on #1269
Just pushed a fix for the PMID issue; tagging @ericawood so they are aware.

[2021-02-24 00:19] saramsey opened #1271 "DrugBank PMIDs do not have colons in the CURIE prefix"
see issue #1269 where the problem is described

[2021-02-24 00:34] isbluis commented on #1269
Thanks for fixing those, @saramsey !

Now I see some publication records with values like "2-e", "2-z", "2-0".  Do you know what those are or what they mean?  Perhaps others lurk...
e.g. see UniProtKB:P22309 for "2-z" or UniProtKB:P23786 for "2-e" and "2-0".

[2021-02-24 00:34] isbluis commented on #1269
Also added links to doi.org for DOI: records.

[2021-02-24 00:56] isbluis commented on #1269
Hi again @saramsey .

One of the publication records for UniProtKB:P22303 is:
https://en.wikipedia.org/wiki/Pain_disorde

This appears to be truncated, since there is no such page, but there is one at:
https://en.wikipedia.org/wiki/Pain_disorder

Hope this is still the appropriate issue to use, or let me know if you prefer that I open a new one each time.

[2021-02-24 01:13] isbluis commented on #1269
A few more DOI entries that appear to be incorrect (as they are not resolvable at https://www.doi.org/ )  :
[code]

It seems to be tripping on the colons; are these legitimate DOIs?

e.g. UniProtKB:P23786 for reference

[2021-02-24 01:41] isbluis commented on #1269
UI changes committed into master:  4a695a37813509568145cb4255aea599eb27f5f8

[2021-02-24 03:26] edeutsch commented on #1269
rollout out everywhere to all deployments such as /beta except for main production which, is still a few commits behind due to some potential instability with `master`

[2021-02-24 21:02] dkoslicki opened #1272 "Add PMID's on NGD edges"
Since not many edges have linkable literature support (at the moment), let's extend the normalized Google distance to decorate those edges with link-able PMIDs.

[2021-02-24 21:08] finnagin commented on #1272
Good idea!

[2021-02-24 21:17] finnagin commented on #1272
For my reference later: Looks like PMIDS are found on [line 192](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/Overlay/compute_ngd.py#L192-L193)

Also, looks like the urls in pubmed are derived from the the PMID: e.g. https://pubmed.ncbi.nlm.nih.gov/33617777/

Should we add this in as an edge attribute? Maybe labeled `publication_uris`?

[2021-02-24 22:16] kvarforl commented on #1271
Did this get fixed in this commit ? https://github.com/RTXteam/RTX/commit/5542964ce5041aac5e92bd6467da37beb4666fed

[2021-02-24 23:08] saramsey commented on #1179
Hi @kvarforl sorry for the belated reply. So, I wonder if the latest version of ontobio (2.5.0) is not on PyPI?

[2021-02-24 23:11] saramsey commented on #1253
Sorry for the belated reply. Excellent catch, @ericawood. Nice detective work. Yes, that sounds like a sensible fix. I can't imagine why one would want to have the node that has `NULL` as its `description` property, determine the eventual `name` property of the merged node. Most likely a logic error from when I originally wrote this module.

[2021-02-24 23:14] saramsey commented on #1254
Hi @kvarforl and @ericawood can you please look into how we can identify OMIM nodes that are phenotypes, and adjust the node name as suggested by @dkoslicki ?

[2021-02-25 00:24] kvarforl commented on #1269
chiming in a bit late here, but would it be helpful if we make some sort of mapping file that maps `provided_by` fields to the basic URL of the source so that perhaps Luis can link them in the UI?

I imagine the content would be similar to what [this](https://github.com/RTXteam/RTX/tree/master/code/kg2#what-data-sources-are-used-in-kg2) table provides, but more easily read / parsed. Apologies if s

[2021-02-25 00:25] kvarforl commented on #1179
ah yes, that would appear to be the case. I guess we wait?

[2021-02-25 19:28] kvarforl commented on #550
Okay I've been working on mapping the STRING ids used in the jensenlab tsv to ids from sources that are included in KG2.
I haven't been able to find specification for the format of Ensembl identifiers, so I haven't been able to generate a regex to find them (the jensen dictionary files don't prefix their synonyms, so its kind of tricky to sort out which synonym came from where).

However, using ju

[2021-02-25 21:31] saramsey opened #1273 "add SMILES information for DrugBank nodes"
. @chunyuma requested:

If you look at KG2, we don't seem to have SMILES information for DrugBank nodes,

<img width="998" alt="Screen Shot 2021-02-25 at 1 24 14 PM" src="https://user-images.githubusercontent.com/5562107/109220196-81ef0d00-776d-11eb-8b18-a4f8971a918d.png">

but DrugBank definitely has SMILES information in it, as you can see at this link for `DRUGBANK:DB00316` (Tylenol):
https://g

[2021-02-25 22:39] saramsey commented on #1271
Hi @kvarforl, yes, you are right!  I was (as usual) kind of scatterbrained and checked in what I hope is a fix, and then forgot to do anything else about it. If it looks good to you, please mark this issue as "verify-in-next-kg2-build".  Thank you!

[2021-02-25 22:41] saramsey commented on #1179
Hi @kvarforl, I think you are right. Unless there is some urgency to moving to python3.9 that I do not recall (always a possibility, LOL), it may be easiest to stick with PyPI (rather than deploying from GitHub) and wait for 2.5.0 to get pushed to PyPI (which I assume is just a matter of time).

[2021-02-26 20:55] saramsey commented on #1273
Thank you @ericawood !

[2021-02-26 23:14] edeutsch commented on #1129
So as discussed at the Wed AHM, the RTX KG2 endpoint is up and ready to go. But it could use some more testing. My testing has been admittedly thin. Also, before I register with with SmartAPI, maybe we could review the "branding" to make sure everyone is happy with it? Here is the endpoint:
https://arax.ncats.io/kg2/api/rtxkg2/v1.0/ui/

You'll notice that I've "branded" it "RTX KG2". I think this

[2021-02-26 23:18] saramsey commented on #1129
Thank you @edeutsch!  The name RTX-KG2 seems reasonable and aligned with what people in the broader consortium are already calling it.  Good idea version-stamping it.

[2021-02-26 23:21] edeutsch commented on #1129
You're most welcome. I notice you put a dash in "RTX-KG2" where I have a space. Shall we squabble about that and settle one of the two?

[2021-02-26 23:34] edeutsch opened #1274 "provided_by, is_defined_by changes"
There are changes afoot with provided_by, is_defined_by within the TRAPI and EPc working groups. The final form is not settled yet. but the feet are shuffling toward knowledge_provider, original_source.

@amykglen when you are in this part of the code next, I suggest we change:
[code]

to:

[code]

Do we like these changes? there is still an opportunity to shape the new new design

[2021-02-27 19:39] ericawood opened #1275 "Add in Single Nucleotide Polymorphism Effects and Adverse Drug Reactions from DrugBank"
These are supported by PMIDs (with a sentence), so it seems helpful to include them in the DrugBank ETL.

[2021-02-28 01:00] amykglen commented on #1129
hey @edeutsch - I noticed that one can't tell from the `/predicates` endpoint that the KG2 API can answer queries involving category-less qnodes and predicate-less qedges (e.g., `(id: DOID:14330)--(category: None)`). wondering if future TRAPI versions might provide a way to detect that information? (like, maybe in the future `knowledge_map` endpoint?)

(it would be very helpful from the `expand` p

[2021-02-28 05:01] edeutsch commented on #1129
ah, interesting question. I think we are on a path where the /meta_knowledge_graph (new name that we voted in on Thursday) encodes the metagraph of what the knowledge graph contains. But that seems like a separate question than what the query is permitted to specify. It is interesting to ponder the conceptual distinction between "what I know" and "what you can ask me". I will bring this up at the

[2021-02-28 18:30] amykglen opened #1276 "Error in ranker for KG2 API with (curie)--(list of curies) query"
seeing this error on https://arax.ncats.io/kg2/:

[code]

for this query:
[code]

[2021-02-28 18:38] amykglen commented on #1008
looks like this must've been fixed somewhere along the line, as the query runs fine on production now! https://arax.ncats.io/?r=2856

[2021-02-28 18:38] #1008 closed

[2021-02-28 18:44] amykglen commented on #1129
cool! true, that's an interesting idea - and I guess similarly, `NamedThing` could be a stand in for `QNode.category=None`...

[2021-03-01 05:34] edeutsch commented on #1276
thanks. more multiple id pains. I think this is fixed, but will wait until we have synchronized all KG2 and str->list changes

[2021-03-01 10:09] isbluis commented on #1242
I put a stopgap to handle these nodes: results are now displayed with no error, but build-a-graph is empty when any node in the `query_graph` is a list (`id` array of more than one element).

[2021-03-01 19:03] kvarforl commented on #550
this is the content of `human_disease_textmining_filtered.tsv`:
[code]
From what I've deduces, the headers of each column would be:
[code]

[2021-03-01 20:52] dkoslicki opened #1277 "Another short mis-synomized node: GK"
Name: GK (UniProtKB:P32189)
Id: UniProtKB:P32189
Category: biolink:PhenotypicFeature

[2021-03-01 20:56] dkoslicki opened #1278 "PhenotypicFeatures that are proteins, diseases, etc."
Don't know if this is a synonymizer issue or not (so tentatively labeling), but take a look at the results of:
https://arax.ncats.io/beta/?r=2943

which corresponds to:
[code]

And note the proteins (such as PLPP2)

[2021-03-01 21:43] dkoslicki opened #1279 "ARAX/KG2C slow to respond again. Any way to make it more performant?"
This is a Neo4j question: at the mini-hackathon today, KG2C stopped responding to queries when just 6 users were hitting it. This seems much more brittle than Neo4j advertises. Anyone know of a way to make it more stable/responsive?

`
Encountered an error interacting with KG2c neo4j. Traceback (most recent call last): File "/mnt/data/orangeboard/production/RTX/code/UI/OpenAPI/python-flask-server/

[2021-03-01 22:24] amykglen commented on #1278
hmm, at least in the case of PLPP1 and PLPP2, the problem seems to be that one of the equivalent curies (OMIM:607124 and OMIM:607126, respectively) has a type of `biolink:PhenotypicFeature` in KG2-3-4:

![Screen Shot 2021-03-01 at 2 19 26 PM](https://user-images.githubusercontent.com/49423686/109566902-618abf80-7a99-11eb-866d-8b1d7f628b1c.png)

[2021-03-01 22:31] amykglen commented on #1278
checked out more of the protein-ish results, and so far all of them seem to have an OMIM curie that is labeled as a biolink:PhenotypicFeature in KG2-3-4:
[code]

n.id | n.name | n.category
-- | -- | --
"OMIM:300474" | "Glycerol kinase" | "biolink:PhenotypicFeature"
"OMIM:603099" | "1-acylglycerol-3-phosphate o-acyltransferase 1" | "biolink:PhenotypicFeature"
"OMIM:610516" | "Glycerate kinase" | "b

[2021-03-01 23:07] kvarforl commented on #550
okay, I have a few questions:

- The links provided in the TSV file link to a page that helpfully has a list of publications associating the gene and the disease (see [this](http://diseases.jensenlab.org/Entity?documents=10&type1=9606&id1=18S_rRNA&type2=-26&id2=DOID:9643) page for the first row of the tsv shown above). Where should I store this link in the edge? is it enough provenance, or should

[2021-03-01 23:28] kvarforl commented on #977
JensenLab also provides Zscores for their edges

[2021-03-01 23:38] ericawood commented on #1279
`debug.log` from today:

[code]

[2021-03-02 02:59] amykglen opened #1280 "Some FET tests in test_ARAX_workflows.py failing"
the changes for the new KG2 API were merged into `master` today, and it seems now there are issues with a few FET tests:
[code]
I think maybe this relates to the format of node categories? (e.g., biolink:Protein vs. protein) but I'm not sure.

[2021-03-02 03:49] chunyuma commented on #1280
Hi @amykglen, I pulled the updated code from `master` branch and all these FET-associated tests pass in my side after I simply fixed a type in `test_FET_example_2`.

[code]

[2021-03-02 03:53] edeutsch commented on #1129
@saramsey @kvarforl et al.: with @amykglen 's exceptional help, the RTX KG2 TRAPI 1.0 endpoint is complete and registered in SmartAPI.

SmartAPI entries:
https://smart-api.info/registry?q=RTX

OpenAPI endpoint UI:
https://arax.ncats.io/kg2/api/rtxkg2/v1.0/ui/

Special instance of the ARAX TRAPI UI that only queries RTX KG2 directly:
https://arax.ncats.io/kg2/

As mentioned on Slack, our main insta

[2021-03-02 04:07] edeutsch commented on #1242
After fixing your ARAXi to correct biolink: prefixes:
[code]
This seems to work properly now.
@dkoslicki close if you are happy with the current state of production?

[2021-03-02 04:14] edeutsch commented on #1276
seems to work now. okay to close?

[2021-03-02 04:14] amykglen commented on #1280
whoops, thanks! huh, weird, I'm still seeing them failing when I do `pytest -v -s test_ARAX_workflows.py -k test_FET --runslow`
[code]
the errors look like this:
[code]

[2021-03-02 04:16] amykglen commented on #1276
yep, thanks!

[2021-03-02 04:16] #1276 closed

[2021-03-02 05:19] chunyuma commented on #1280
OK, I added a temporary patch for fixing this error. This patch should be removed once we switch to KG2.5.1. @amykglen, could you please help check it again if these errors still exist. Thanks!

[2021-03-02 05:32] amykglen commented on #1280
awesome - yep, they're passing for me now!

[2021-03-02 17:39] kvarforl commented on #1254
Okay I've been looking into this with the help of @ericawood, as they have a better grasp on `multi_ont_to_kg_json.py` than I do.

@dkoslicki @saramsey forgive my lack of context regarding omim, but I have a  clarifying question for whoever can answer: what does being a non-leaf node from OMIM mean?
I believe that the type  `phenotypic feature` is being correctly assigned; is it sufficient to upda

[2021-03-03 16:27] kvarforl commented on #1129
Thanks so much for your work @edeutsch @amykglen !!

Quick question: will updating this endpoint happen when ARAX migrates to using a new version of KG2, or should I learn how to do it and add it to the post build tasks?

[2021-03-03 16:41] edeutsch commented on #1129
Good question @kvarforl , ARAX and RTX KG2 are sufficiently intertwined that they will always be on the same version together. So when we decide to deploy 2.5.x, I will take care of upgrading both on the production server. You won't need to do anything.

[2021-03-03 22:24] kvarforl commented on #1254
Oof maybe I spoke too  soon. linking #1278 to remind myself to uncover exactly how phenotypic feature is being determined

[2021-03-03 23:35] dkoslicki commented on #1254
@kvarforl OMIM is organized as a hierarchy (at least on their website), so I mean any entry that doesn't have a descendants. Eg for human disease -> central nervous system -> ALS, all nodes besides ALS would get "related phenotypic feature"

[2021-03-04 19:01] saramsey commented on #1279
Wonder if it might be better to use the REST API for Neo4j rather than the Bolt API?

[2021-03-04 19:22] saramsey commented on #1279
Looks like bolt throttling is a configurable parameter:

https://neo4j.com/developer/kb/bolt-throttling/

<img width="989" alt="Screen Shot 2021-03-04 at 11 22 07 AM" src="https://user-images.githubusercontent.com/5562107/110018184-e533ee80-7cdb-11eb-9b37-70de33b08dc2.png">

[2021-03-04 19:36] saramsey commented on #1129
OK, are we ready to notify the sponsor on NCATS TranslatorPM issue 52?

[2021-03-04 19:36] saramsey commented on #1129
Outstanding work, everyone.

[2021-03-04 19:40] edeutsch commented on #1129
oh yah, I forgot to respond to Sarah on that. Will do so now.

[2021-03-04 21:08] edeutsch commented on #1129
done.
https://smart-api.info/registry?q=RTX

[2021-03-04 22:22] amykglen opened #1281 "Response().from_dict() issue with node categories that are strings"
when loading the response from an external KP into our object model with:
[code]
it appears that node categories that looked like this in the JSON response:
[code]
are transformed into this in the kp_response_obj:
[code]
(this is in `master`)

[2021-03-04 23:01] amykglen opened #1282 "Switch to GeneticsKP's TRAPI 1.0 API"
https://smart-api.info/ui/99592dd5fc3a69d3ed27692f3f278e47#/1.0.0

[2021-03-04 23:38] edeutsch commented on #1281
The root of the problem is that the OpenAPI code generation system is broken for properties that can be either a string or an array, which is causing several groups several problems. long story.

But the good news is that as part of last weekend's work I put together a workaround. Can you see if you can use this class method instead to do the conversion?
[code]
This operates at the message level n

[2021-03-04 23:47] amykglen commented on #1281
oh cool - huh, so I just switched to what you said: `kp_message = ARAXMessenger().from_dict(json_response["message"])`, but I still seem to be seeing the same thing:
[code]

[2021-03-04 23:57] edeutsch commented on #1281
ah! I see, that fix only applies to the query_graph, not the knowledge_graph!
Hang on a sec, will fix.

[2021-03-05 00:03] edeutsch commented on #1281
I just checked in a fix into master (forgot to tag this issue, sorry). It is totally untested, sorry. If that doesn't work, maybe you can send me a repro? (endpoint and query_graph used) Note that the result of this fix is that categories will be lists of one element now.

[2021-03-05 00:05] edeutsch commented on #1281
Or more precisely, they might be None or a list of one or more categories

[2021-03-05 00:11] amykglen commented on #1281
awesome, looks good now! thanks!

[2021-03-05 00:11] #1281 closed

[2021-03-05 02:12] amykglen commented on #1282
hey @finnagin (or other `ranker` people) - so I switched `expand` over to use the GeneticsKP's TRAPI 1.0 endpoint in the `generalquerier` branch, but I noticed that they now seem to only provide one score, which they call "pValue" (has a type of `biolink:p_value`). here's an example:
[code]
with their old API, they provided a couple scores (MAGMA-pvalue and Genetics-quantile). I'm wondering if the

[2021-03-05 02:35] finnagin commented on #1282
I can write a function in the ranker to handle the pValue attribute. Is this the same values but with a different name now?

[2021-03-05 03:01] amykglen commented on #1282
awesome, thanks! I'm assuming so, but haven't been in contact with anyone from that KP since Marcin left. their repo still mentions the same scores we were already aware of: https://github.com/broadinstitute/genetics-kp-dev#data-available

[2021-03-05 18:17] kvarforl opened #1283 "update predicate remap file with new relation predicates in KG2.5.1"
from `filter_and_remap_predicates.log` for the KG2.5.2 build:
<img width="474" alt="Screen Shot 2021-03-05 at 10 03 33 AM" src="https://user-images.githubusercontent.com/39020520/110156396-bf6e1e80-7d9b-11eb-9bf8-64c028300687.png">

I added an an entry for `GO:located_in` locally on kg2steve (where the build is happening), but have yet to find any information or decide on any mappings for `PSY`.
@

[2021-03-05 18:21] saramsey commented on #1283
How about mapping `GO:located_in` to `biolink:located_in`

[2021-03-05 18:22] saramsey commented on #1283
`PSY:RO` can be mapped to `biolink:related_to`

[2021-03-05 18:23] saramsey commented on #1283
`PSY:used_for` can be mapped (with `inverted`) to `biolink:has_input`

[2021-03-05 18:23] saramsey commented on #1283
`PSY:RB` can be mapped (with `invert`) to `biolink:subclass_of`

[2021-03-05 18:27] saramsey commented on #1283
for `PSY:use`, I need to do some checking....

[2021-03-05 18:29] ericawood commented on #1279
I can look into this.

[2021-03-05 18:29] saramsey commented on #1283
For future reference, this UMLS page seems useful:
https://www.nlm.nih.gov/research/umls/knowledge_sources/metathesaurus/release/abbreviations.html

scroll down to see the various relation types in UMLS. Also, searching within the already-existing `predicate-remap.yaml` file for the label for the original relation (without the CURIE prefix), and there is a good chance you'll find a hit, especially

[2021-03-05 18:33] saramsey commented on #1283
For `PSY:use`, how about `biolink:subclass_of` ?  That seems the closes approximation to how it is used, from checking a few examples.

[2021-03-05 18:33] saramsey commented on #1283
HTH

[2021-03-05 18:38] saramsey commented on #550
See https://github.com/RTXteam/RTX/blob/master/code/kg2/README.md#publications_info-slot

also @ericawood may be helpful, they have done a lot of work with `publications_info`. My hacky way of storing scores is under the `object score` slot. See L232 of `rtx_kg1_neo4j_to_kg_json.py`. That's kind of a icky from an object modeling standpoint but at this juncture it is probably best to follow the "co

[2021-03-05 18:38] saramsey commented on #550
HTH

[2021-03-05 19:13] amykglen commented on #1274
nice, I like these changes - makes it much more clear what the attributes are intended to capture.

I started switching `expand` to this in a branch (`issue1274`). I think `overlay` will also need to be updated, as it also adds edges to the KG with `provided_by`/`is_defined_by` attributes. (@finnagin)

re: the colon you removed from the provided_by value of "SEMMEDDB:" - I think @saramsey / @erica

[2021-03-05 19:18] ericawood commented on #1274
Regarding URLs for the sources, kg2's `curies-to-urls-map.yaml` (https://github.com/RTXteam/RTX/blob/master/code/kg2/curies-to-urls-map.yaml) connects the sources with their urls.

[2021-03-05 19:30] amykglen commented on #1274
oh nice, thanks, @ericawood! so maybe `expand` could use that file to get a url for each provided_by curie.

although I'm not sure how to stuff that into an `Attribute` since `provided_by` is a list, and each item in that list would have a different URL, but an `Attribute` only has one URL slot...

[2021-03-05 21:14] edeutsch commented on #1274
Three things:
1) The 'url' is *not* intended as an expansion of the CURIE. That would be redundant, since all CURIEs are just compact URIs. The 'url' is intended as a human-consumable how do I learn more about this attribute value . In this case, it would be a human-consumable URL to learn more about SEMMEDDB or RTX KG2. i.e. a URL describing the value.
2) There was some talk about making 'url' a

[2021-03-05 21:26] amykglen commented on #1274
re: 1. hm - so "SEMMEDDB:" expands to "https://skr3.nlm.nih.gov/SemMedDB" in the yaml file Erica shared. isn't that where one would want to go to learn more about SEMMEDDB? that's what I was getting at.

[2021-03-06 18:53] ericawood commented on #1253
verifying in kg2.5.2 now

[2021-03-06 19:01] ericawood commented on #1253
This does not yet appear fixed. Further investigation is needed. Here is the node from KG2.5.2:
[code]

[2021-03-06 19:01] ericawood commented on #1114
This worked in the KG2.5.2 build.

[2021-03-06 19:01] #1114 closed

[2021-03-06 19:04] amykglen opened #1284 "Create IAM role with permissions only to upload to S3"
creating this issue to remind us to create a new IAM role in AWS with permissions only to upload to a specific S3 bucket. can be used for instances that only need AWS-CLI for that one purpose.

[2021-03-06 19:05] ericawood commented on #1266
This appears to be fixed in KG2.5.2 (from `build-kg2-ont-stderr.log`):

![image](https://user-images.githubusercontent.com/36611732/110217947-cf553380-7e6b-11eb-9677-976dcf44a75e.png)

[2021-03-06 19:05] #1266 closed

[2021-03-06 19:06] #1283 closed

[2021-03-06 19:06] ericawood commented on #1271
Verifying this in KG2.5.2 now

[2021-03-06 19:06] kvarforl commented on #1270
verifying in kg2.5.2 now ...

[2021-03-06 19:16] ericawood commented on #1271
This is not yet fixed, per KG2.5.2:
[code]

[2021-03-06 19:17] ericawood commented on #1267
This was fixed in KG2.5.2.

[2021-03-06 19:17] #1267 closed

[2021-03-06 19:44] ericawood commented on #1271
Actually, due to an error with #1267, this issue still needs to be verified.

[2021-03-06 19:44] ericawood commented on #1253
Actually, due to an error with #1267, this issue still needs to be verified.

[2021-03-06 20:01] ericawood commented on #1219
This is fixed in KG2.5.2:

[code]

[2021-03-06 20:01] #1219 closed

[2021-03-06 20:03] ericawood commented on #1271
This is fixed in KG2.5.2:
[code]

[2021-03-06 20:03] #1271 closed

[2021-03-06 20:05] #1270 closed

[2021-03-06 20:05] ericawood commented on #1263
This appears fixed in KG2.5.2:
[code]
    "number_of_nodes_by_category_label": {
        "RNA_product": 108,
        "activity": 12053,
        "agent": 3289,
        "anatomical_entity": 213133,
        "behavioral_feature": 297,
        "biological_entity": 2066,
        "biological_process": 32911,
        "biological_process_or_activity": 30,
        "carbohydrate": 2,
        ....
[code]

[2021-03-06 20:05] #1263 closed

[2021-03-06 20:07] ericawood commented on #1253
This is fixed in KG2.5.2:
[code]

[2021-03-06 20:07] #1253 closed

[2021-03-06 20:09] ericawood commented on #1214
This appears fixed in KG2.5.2:
[code]
[code]

[2021-03-06 20:09] #1214 closed

[2021-03-06 20:10] ericawood commented on #1128
This appears to be fixed in KG2.5.2. From Neo4j:
[code]

[2021-03-06 20:10] #1128 closed

[2021-03-06 20:12] ericawood commented on #762
This issue appears to be fixed in KG2.5.2. From `build-kg2-ont-stderr.log`:

![image](https://user-images.githubusercontent.com/36611732/110219610-3a573800-7e75-11eb-9129-bd60574e0cc7.png)

[2021-03-06 20:12] #762 closed

[2021-03-06 20:14] ericawood commented on #1264
This appears to be fixed in KG2.5.2. The S3 bucket lists:

[code]

[2021-03-06 20:15] kvarforl commented on #1259
Fixed in kg2.5.2

[2021-03-06 20:15] #1259 closed

[2021-03-06 20:19] kvarforl commented on #1243
looks better in kg2.5.2
[code]
<img width="769" alt="image" src="https://user-images.githubusercontent.com/39020520/110219791-26600600-7e76-11eb-8e41-7385a2adba66.png">

[2021-03-06 20:19] #1243 closed

[2021-03-06 20:21] #1171 closed

[2021-03-06 20:24] kvarforl commented on #1160
Ah this fell all the way off of my radar. Thanks for the fix Steve!
 looks better in kg2.5.2
[code]

n.id | n.name | n.synonym[0] | n.iri
-- | -- | -- | --
"UniProtKB:P01137" | "TGFB1" | "TGFB1" | "https://identifiers.org/uniprot:P01137"
"UniProtKB:P61812" | "TGFB2" | "TGFB2" | "https://identifiers.org/uniprot:P61812"
"UniProtKB:P10600" | "TGFB3" | "TGFB3" | "https://identifiers.org/uniprot:P10600

[2021-03-06 20:24] #1160 closed

[2021-03-06 20:30] ericawood commented on #986
Working on verifying this fix in KG2.5.2...

[2021-03-06 20:33] kvarforl commented on #1050
Looks good in kg2.5.2:
[code]
n.id | n.name | count(m)
-- | -- | --
"MI:2148" | "investigational drug" | 3762
"MI:2102" | "nutraceutical drug" | 97
"MI:2099" | "fda approved drug" | 3411
"MI:2100" | "experimental drug" | 6189
"MI:2150" | "illicit drug" | 204
"MI:2149" | "withdrawn drug" | 238

[2021-03-06 20:33] #1050 closed

[2021-03-06 20:34] kvarforl commented on #1025
Fixed in kg2.5.2

[2021-03-06 20:34] #1025 closed

[2021-03-06 20:38] ericawood commented on #986
Here's the latest breakdown (from KG2.5.2)
[code]

The fixes documented in this issue appear to have worked, so I'm going to remove the `verify this fix in next KG2 build` tag, but leave the overall issue open.

[2021-03-06 20:38] kvarforl commented on #1230
Change is in Kg2.5.2:
[code]

n.id | n.name | n.synonym
-- | -- | --
"UniProtKB:Q8N187" | "CARF" | ["CARF", "Amyotrophic lateral sclerosis 2 chromosomal region candidate gene 8 protein", "B4E1W7", "Calcium-response factor", "G3V1K7", "Q8ND29", "Q8WXC0", "Q96J78", "Q96Q38", "Q96Q39", "Q9H712", "Testis development protein NYD-SP24"]

[2021-03-06 20:38] #1230 closed

[2021-03-06 20:39] ericawood commented on #964
Working on verifying this fix in KG2.5.2 now...

[2021-03-06 20:45] kvarforl commented on #995
Okay, as of KG2.5.2 there are very few nodes that have obsolete in the name but deprecated as false:

[code]

n.provided_by | count(n)
-- | --
"identifiers_org_registry:umls" | 8
"umls_source:MTH" | 6
"UMLS_STY:" | 4
"umls_source:HCPCS" | 3
"umls_source:HL7" | 3
"umls_source:SNOMEDCT" | 2
"OBO:ro.owl" | 2
"OBO:ino.owl" | 2
"OBO:genepio.owl" | 2
"umls_source:NCBITAXON" | 1
"umls_source:NCI" | 1
"um

[2021-03-06 20:46] ericawood commented on #964
This appears to be fixed in KG2.5.2 based on a test that checked `kg2-uniprotkb.json` for newlines.

[2021-03-06 20:46] #964 closed

[2021-03-06 20:48] ericawood commented on #1216
This appears to be fixed in KG2.5.2:
[code]

[2021-03-06 20:48] #1216 closed

[2021-03-06 20:51] kvarforl commented on #1261
linking #995 here; there are still a few obolete nodes that are not marked as deprecated.
[code]
looking through the names, I think we might have to go through by hand and make a call on whether or not these are acceptable

[2021-03-06 20:54] ericawood commented on #1249
This appears to be fixed in KG2.5.2, where the cypher query:

`match (n {id: 'NCBIGene:6611'})<-[r]-(m {id: 'UMLS:C0728977'}) return r.predicate, r.predicate_label, r.relation, r.relation_label;`

returns

r.predicate | r.predicate_label | r.relation | r.relation_label
-- | -- | -- | --
"biolink:related_to" | "related_to" | "SEMMEDDB:xref" | "xref"

[2021-03-06 20:54] #1249 closed

[2021-03-06 20:56] kvarforl commented on #1220
looks like this change (for the most part) made it into kg2.5.2.
[code]

n.name | n.full_name | n.category_label
-- | -- | --
"ACTD" | "Genetic locus associated with Acetabular dysplasia" | "genomic_entity"

@saramsey the prepending of "Genetic locus for" made it into `full_name` but not `name`. good enough, or additional tweaks required?

[2021-03-06 21:02] #1175 closed

[2021-03-06 21:18] #1280 closed

[2021-03-07 19:35] #1256 closed

[2021-03-08 06:51] edeutsch commented on #1274
ah, I see. Well, I'm thinking that that may work for a few. But I think most of those are intended as expansions for CURIE prefixes and so for example for Drugbank, it's
https://identifiers.org/drugbank:
and sending a person there isn't so useful

[2021-03-08 16:46] edeutsch opened #1285 "NodeSynonymizer and KG2.5.x"
I've checked in some new NodeSynonymizer code to branch `kg2.5integration`. It seems to work on KG2.5,1. Not all known problems are fixed, but it seems in pretty good shape. How shall we deploy this?

I saw a lot of traffic about KG2.5.2 over the weekend. Is there a "finished" KG2.5.2 build that we could dump and I could try the NodeSynonymizer on? With an eye toward starting the process to move K

[2021-03-08 16:50] ericawood commented on #1285
There is a finished KG2.5.2 build. What format would you like it in for the NodeSynonymizer?

[2021-03-08 16:54] edeutsch commented on #1285
NodeSynonymizer uses as input the result of running https://github.com/RTXteam/RTX/blob/kg2.5integration/code/ARAX/NodeSynonymizer/dump_kg2_node_data.py on a neo4j instance of the KG. Is there already a neo4j version?

[2021-03-08 16:56] ericawood commented on #1285
Yes, the neo4j version is available at http://kg2endpoint-kg2-5-2.rtx.ai:7474/browser/

[2021-03-08 17:04] edeutsch commented on #1285
great, thanks!

@amykglen I could probably figure it out, but if it is convenient to generate new files in /mnt/data/orangeboard/databases/KG2.5.2/ would you do that? And then I'll test NodeSynonymizer on that?

[2021-03-08 18:38] amykglen commented on #1285
sure! just generated them and put them in `/translator/data/orangeboard/databases/KG2.5.2` on arax.ncats.io (I think that's the new spot, according to `configv2.json`..)

[2021-03-08 18:58] ericawood commented on #1258
In KG2.5.2, this excerpt looks like:
[code]

This appears fixed to me. @saramsey thoughts?

[2021-03-08 23:10] kvarforl commented on #1254
Looking at kg2.5.2, all OMIM nodes are getting labeled as `biolink:PhenotypicFeature`.
[code]

n.category | count
-- | --
"biolink:PhenotypicFeature" | 111588
"biolink:InformationContentEntity" | 1

Looking into how to assign categories more dynamically now.

[2021-03-08 23:23] kvarforl commented on #1254
Okay, looks like we can use the MIMTYPE attribute to determine the correct category, following this, from [https://omim.org/help/faq](https://omim.org/help/faq).
<img width="660" alt="image" src="https://user-images.githubusercontent.com/39020520/110394961-2d2b7c00-8022-11eb-8b27-1649cb0e4087.png">

[2021-03-08 23:28] kvarforl commented on #1254
Unfortunately, all of the MIM information that could be used to do this is stored in `owl:DatatypeProperty` in `umls-omim.ttl`.
[code]
which is blocked by the ontobio issue Steve mentioned above.

[2021-03-08 23:34] kvarforl commented on #1278
This is definitely an OMIM parsing issue; however, the information needed to fix is stored in `owl:DatatypeProperty` in `umls-omim.ttl`.
[code]
which is blocked by ontobio issue 507, linked in https://github.com/RTXteam/RTX/issues/1254#issuecomment-785456389. (trying not to spam the ontobio issue with multiple mentions of the same general blockage)

[2021-03-08 23:36] #1129 closed

[2021-03-09 00:46] saramsey commented on #1258
looks good; closing out

[2021-03-09 00:46] #1258 closed

[2021-03-09 19:39] kvarforl commented on #1285
@amykglen Steve mentioned that we could potentially provide a workaround for the ontobio issue, but it would be pretty hacky and possibly create more issues that it solves. I will email him and see if he still feels the same way!

I'll also ask for a status update again on the issue in the ontobio repo, since it's starting to become a bigger issue for us. I imagine Deepak's leaving is not helping

[2021-03-10 00:46] saramsey opened #1286 "Possible workaround for ontobio issue 507?"
See https://githubmemory.com/repo/biolink/ontobio/issues/507 and see also #1285 #1278 and #1254.

So, until ontobio issue 507 is fixed and a fixed version of ontobio is available on PyPI, what can we do to address blocked issues #1278 and #1254?

For UMLS TTL files, currently, `multi_ont_to_kg_json.py` uses `owltools` to convert the TTL file to an OWL file, and then loads the OWL file into ontobio

[2021-03-10 01:37] ericawood commented on #1125
Reactome has both of these. My initial ETL has the protein-to-pathway associations (which are now multi-hop -- pathway->reaction->protein) and I will work on bringing in the protein-protein interactions (which come in a TSV dump). I'm tagging #636 for documentation's sake.

[2021-03-10 03:16] edeutsch commented on #1125
I'm thinking that IntAct is the ultimate source for protein-protein interactions?
And Reactome for protein-pathway associations

[2021-03-10 17:45] kvarforl commented on #1220
@dkoslicki @edeutsch  can you take a look at the above comment and let me know if you would like additional adjustments?

[2021-03-10 17:54] edeutsch commented on #1220
Thanks! I think we wanted the prefix "Genetic locus associated with " on the `name` field as well. The issue is that the NodeSynonymizer uses the `name` field to associate things, and was conflating the disease with the locus because they have the same name. The NS could still compensate for this, but fixing it at the KG level seemed to make the most sense?

[2021-03-10 18:22] kvarforl commented on #1120
whoops, mistyped the issue number in the commit above. That is actually associated with 1220. please disregard :)

[2021-03-10 18:24] kvarforl commented on #1220
Okay, I've added a fix for this! It's in https://github.com/RTXteam/RTX/commit/aacf9c265f1170136cebeedf4c73555764c45106 ; I mistyped the issue number in my commit message, hence the lack of traditional linkage :)

this should appear in the next kg2 build.

[2021-03-10 19:12] kvarforl commented on #550
Notes for documentation sake from my conversation with Dr. Jensen:

- We should use the full file, not the filtered one, and implement our own confidence score cutoff if we want to limit the amount of information we put into the graph
- The files are updated every Sunday
- We'll need to grab some extra files to get the PMIDS, but it shouldn't be too hard.

https://download.jensenlab.org/human_text

[2021-03-10 20:18] ericawood commented on #1247
I've started the miRBase ETL. However, on browsing their site, I noticed that, while they claim to do releases about every [6 months](http://mirbase.org/help/FAQs.shtml#How%20often%20do%20you%20update%20miRBase?), they haven't released a new download since 2018 and the release before that was 2015 (check out their FTP, sorted by Last Modified at [ftp://mirbase.org/pub/mirbase/](ftp://mirbase.org/p

[2021-03-10 20:59] saramsey commented on #1247
I think so, assuming (1) there isn't another obvious alternative; (2) the ETL is not too hard.

Thanks for bringing this up.

[2021-03-10 22:33] amykglen commented on #1282
alright, this has been merged to `master`. will test when code is next rolled out to production/test.

[2021-03-10 23:22] dkoslicki opened #1287 "subclass_of pointing the wrong way"
In the first random variable length `subclass_of` I tried: `match p=(n:`biolink:NamedThing`{id:"ATC:A07AA"})-[:`biolink:subclass_of`*1..5]->(m1) return p`, it appears there are arrows are pointing the wrong way. Eg. Intestinal antiinfectives are not a subclass of antibiotics, but the other way around.

[2021-03-10 23:32] ericawood commented on #1287
This might be a problem with the data:

Antibiotics (preferred name: antibiotics, intestinal): https://bioportal.bioontology.org/ontologies/ATC?p=classes&conceptid=A07AA

INTESTINAL ANTIINFECTIVES: https://bioportal.bioontology.org/ontologies/ATC?p=classes&conceptid=A07A

[2021-03-10 23:34] saramsey commented on #1287
Thank you for bringing this issue to my attention. I believe the edge is correctly oriented. My evidence is from `umls-atc.ttl` on `kg2lindsey.rtx.ai` from the KG2.5.2 build:
[code]
note that `ATC:AA07AA` ("antibiotics, intestinal") is in fact a subclass of `ATC:A07A` ("antiinfectives, intestinal").

[2021-03-10 23:37] saramsey commented on #1287
To @ericawood's point: I don't see any issue with the source data. Intuitively, intestinal antibiotics are a subset of intestinal antiinfectives.

@dkoslicki: based on the direction of the arrow, the triple reads "antibiotics, intestinal"--subclass_of--"antiinfectives, intestinal".

[2021-03-10 23:40] saramsey commented on #1287
This cypher should show what I am trying to say:
[code]

<img width="852" alt="Screen Shot 2021-03-10 at 3 40 29 PM" src="https://user-images.githubusercontent.com/5562107/110713548-f76bcc00-81b6-11eb-8fdf-8a54dd3f9cf8.png">

[2021-03-10 23:57] ericawood opened #1288 "Need to capitalize NCBIGene in KG2"
In Biolink, NCBIGene's CURIE Prefix is listed is:

This needs to be adjusted by KG2. Also, see NCATS Translator Issue 9.

[2021-03-11 00:02] ericawood commented on #1288
@RichardBruskiewich We saw that you changed `NCBIGene` to `NCBIGENE` in the Biolink model a while back. What is the backstory behind this change?

[2021-03-11 00:02] saramsey commented on #1288
See also the list here:
https://github.com/biolink/biolink-model/commit/561fd2b7f0c891d1d46f9d1ce4ce7ae8b53f2b66

[2021-03-11 01:03] amykglen commented on #1285
sorry if I missed this at the mini-hackathon today, but are we a go to press forward with the current node synonymizer and build a KG2c from KG2.5.2, @edeutsch?

[2021-03-11 01:40] edeutsch commented on #1285
After the AHM, chunyu and I discussed what his main issues are and I think I can probably solve them in NodeSynonymizer, so let me try one more push into solving that and will produce another NodeSynonymizer build, and then I think we'll be ready.

[2021-03-11 01:50] amykglen commented on #1285
ok, got it. sounds good!

[2021-03-11 03:35] dkoslicki commented on #1287
Ah, I see now @saramsey et al. It was my mistake looking at just the name of "antibiotics" and not the preferred name of "intestinal antibiotics" in neo4j. Closing

[2021-03-11 03:35] #1287 closed

[2021-03-11 03:41] saramsey commented on #1287
Yeah, that had me confused too, until I saw the full label.

[2021-03-11 20:55] MarkDWilliams opened #1289 "Some anatomical entities incorrectly categorized as ChemicalSubstance"
The results of this query
[code]
contain a number of entities that I would consider anatomical entities (e.g. right testis, thymus, abdominal wall) which have been erroneously categorized as ChemicalSubstance.

https://arax.ncats.io/?r=4499

[2021-03-12 02:00] edeutsch commented on #1289
Hi Mark, thanks for the report! The good news is that it looks like these are already fixed in our next version to be rolled out soon. The bad news is that it will be about two weeks before it is rolled out, but then it should be all fixed.

[2021-03-12 02:26] edeutsch commented on #1285
Hi everyone, I have created a much better version of the NodeSynonymizer. I think I have reduced most of the systematic problems. There are still some known problems with individual clusters, but most of these are underlying problems with the data that are time-consuming to work through each one, and I think we should declare this good enough and proceed. And then of course keep working on them to

[2021-03-12 02:40] edeutsch commented on #1285
Or is this foolhardy to put DRUGBANK higher than CHEMBL? Should we continue to let CHEMBL be the leader?

[2021-03-12 03:20] chunyuma commented on #1285
Hi @edeutsch, thanks so much for your hard work on the new version of NodeSynonymizer. I think over 99% reliable information is already a much better improvement. I totally understand that some issues regarding node categories can't be solved within a short time. Once @amykglen can help for rebuilding a new KG2C based on this version, I can immediately work on rebuilding DTD model and database.

@

[2021-03-12 03:57] edeutsch commented on #1285
correct.

correct.

I recommend that you do not. If you do, you will find plenty confusion because there are many many groups that have lots of conflicting categories. Do not open that closet. I have encoded within NodeSynonymizer various heuristics to try to make the right choice and put that choice in the primary category. It is known not to be perfect. I have a list of 155 known problems that I

[2021-03-12 04:18] chunyuma commented on #1285
I see, thanks @edeutsch!

[2021-03-12 17:06] saramsey opened #1290 "ARAX returning TRAPI-noncompliant result?"
From the BDT Friday stand-up meeting (2021.03.12),

<img width="1441" alt="Screen Shot 2021-03-12 at 9 04 20 AM" src="https://user-images.githubusercontent.com/5562107/110973381-0adf7a00-8312-11eb-98f2-e90c9bfd8471.png">

I think Sarah said that the red "50" means results that are not TRAPI-compliant. Just bringing this up in case it is something fixable that is not currently on the docket to be f

[2021-03-12 17:10] saramsey commented on #1261
Hi @kvarforl perhaps a few examples in the issue might be helpful?  If I can see some examples then I can weigh in about the cost (in terms of code complexity) vs. benefit (number of nodes caught) of catching them with some kind of regex(es).

[2021-03-12 17:12] saramsey commented on #1220
Great, looks like there is nothing for me to do here, as @edeutsch has communicated what specifically is needed (i.e., on the `name` field and not just on the `full_name` field).

[2021-03-12 17:15] saramsey commented on #995
Hi @kvarforl can I see the actual names for some example nodes?

[2021-03-12 17:16] saramsey commented on #995
Maybe something like this?
[code]

[2021-03-12 17:36] edeutsch commented on #1290
The validator error message is fairly inscrutable but I think the issue is that one of our node or edge attributes has a missing or null "value" field, and that is not permitted. "value" is required. I haven't found the exact instance though.

[2021-03-12 17:47] edeutsch commented on #1290
aha, found it! Looks like our iri attribute is  without a value:
[code]

I suggest that the value of the iri should go in the "value" field instead of the "url" field, which is designed as a "more information to click on for the human user".

@amykglen I think this comes from Expand(). Would you make that change, and then I think we'll be compliant.

[2021-03-12 17:56] edeutsch commented on #1290
and of course any other instances that may be lurking in the code. "value" is a required field. If no value is available, then the whole attribute should be suppressed.

[2021-03-12 18:00] amykglen commented on #1290
ah, yep, makes sense! will do. I believe @isbluis [requested a ways back](https://github.com/RTXteam/RTX/issues/750#issue-620507625) that URLs go in the `url` field - maybe I should put them in _both_ the `url` and `value` of the `Attribute`?

[2021-03-12 18:13] edeutsch commented on #1290
sure, both would be fine with me although redundant. In principle if the type is IriType or some other link of URI type or URL type then that should be rendered as a hyperlink. But fine to just duplicate it for now. This section of the schema is slated to be revised in 1.1 anyway.

[2021-03-12 18:17] amykglen commented on #1290
sounds good - yep, was just going to say the UI could look and see that the `Attribute.type` is `"biolink:IriType"`, but for now I've added such URLs to both the `Attribute.value` and `Attribute.url` fields, so as not to break any of @isbluis's stuff.

fix is in `master`, will need to be rolled out to the KG2 API.

[2021-03-12 20:27] kvarforl commented on #1261
great point! I should have pasted this before having you look at it. here are some of what I think are the interesting cases from Kg2.5.2.

First, things that have obsolete in the name that might not need to be marked as deprecated;
[code]

n.id | n.provided_by | n.name
-- | -- | --
"OBO:INO_0000159" | "OBO:ino.owl" | "obsolete class"
"OIO:ObsoleteClass" | "OBO:ro.owl" | "Obsolete Class"
"NCIT:C63

[2021-03-12 20:29] kvarforl commented on #995
I'm going to close this issue and move the discussion over to #1261 since they're discussing the same question/problem. I added examples in https://github.com/RTXteam/RTX/issues/1261#issuecomment-797736336 :)

[2021-03-12 20:29] #995 closed

[2021-03-12 20:48] kvarforl opened #1291 "Should we implement some kind of sanity check/ quality control measures in the KG2 build process?"
I was thinking it might make sense to implement a slew of basic sanity checks in the KG2 build process to draw potential parsing/data ingest issues to our attention earlier in the build process. As it stands right now, I feel like we're just waiting for people to stumble upon issues and retroactively fixing them.

@isbluis has made some helpful suggestions in the past (https://github.com/RTXteam/R

[2021-03-12 20:50] saramsey commented on #1291
Well said.  Good point.

[2021-03-12 20:52] saramsey commented on #1291
A contradicting edge pair, while it should (I hope!) be rare, is not by itself proof of a software fault in the KG2 build system, right?  I mean, SemMedDB and some other source could certainly have contradictory assertions.

[2021-03-12 20:53] saramsey commented on #1291
But yes, to your general point, moving/implementing more validation checks as upstream as possible would be a "win" for making the KG2 build process less painful.

[2021-03-12 20:55] kvarforl commented on #1291
I agree completely! perhaps it still might be nice to keep track of these in a log file somewhere, to use as a starting point to checkout if someone stumbles upon one? That way we can save time determining if the issue is something fixable by us or not :)

[2021-03-12 21:32] edeutsch commented on #1291
Agreed, @kvarforl this would be great! The NodeSynonmizer output is perhaps a treasure trove of things that could be fixed as far as categories goes. For the moment, I've just been operating under the mode that the category information in KG2 is very noisy and just deal with it as best as I can. But maybe it would be relatively easy to clean things up? For nearly every NodeSynonymizer cluster (==K

[2021-03-12 21:37] edeutsch commented on #1291
Also, it would help if you knew and could tell me which curie prefixes are the most trustworthy. e.g., if there's an FMA then the category is gold. If there's an OMIM, its category is 20% likely to be wrong. etc. This helps me compensate, but of course better if all categories were 99% correct across all sources..

[2021-03-12 22:00] amykglen commented on #899
think we can close this issue - it's a duplicate of #1129

[2021-03-12 22:00] #899 closed

[2021-03-12 23:50] saramsey commented on #1261
yeah, let's regex on
[code]
or
[code]
or
[code]
or
[code]
(using Perl regex notation). How does that sound?

[2021-03-14 03:30] edeutsch opened #1292 "Not all LOINCs are procedures?"
I'm getting the impression that the KG2 build process is calling all LOINCs a biolink:Procedure, when it seems pretty clear that a large number are not. Is there a way to determine the category of a LOINC rather than calling them all procedures?

e.g., see the LOINCs here:
https://arax.ncats.io/?term=thymus

[2021-03-15 14:03] #1224 closed

[2021-03-15 17:23] kvarforl commented on #1291
I think examples would be a good place to start! I'm not sure how much I'll be able to tidy it up, but I can certainly try. My hope is that the examples will bring larger parsing errors for particular sources to light, so hopefully a few fixes can improve things pretty substantially. It's hard to know for sure until I get started.

Unfortunately I don't have much insight regarding this. a topic to

[2021-03-15 17:27] finnagin commented on #1201
@finnagin Reminder to do this...

[2021-03-15 18:42] kvarforl commented on #1291
Here are my ideas of things to look into:

Type of Flaw | Description | Ideas for Catching
-- | -- | --
Text-Level parsing errors | things that we can tell are incorrect in KG2 because of the presence of strange characters or odd formatting of an attribute | * Compile a list of "rules" for expected formatting of attributes (ie, gene names probably shouldn't contain "=") <br />   - **would definite

[2021-03-15 21:05] ericawood commented on #1125
It looks fairly simple to ETL IntAct (it's a TSV file). Is this something that you would like @saramsey?

[2021-03-15 21:14] ericawood commented on #1275
To do this, we would need to ETL dbSNP: https://ftp.ncbi.nih.gov/snp/

![Uploading image.png…]()

[2021-03-15 21:29] edeutsch commented on #1125
How large is it? I assume we just want the human protein interactions? Or? It's probably has many species. Do they also have human-other interactions?

[2021-03-15 21:36] kvarforl commented on #1292
Yep, looks like you're right:
from kg2.5.2
[code]

n.category | count(*)
-- | --
"biolink:Procedure" | 260726

I'll look into it now!

[2021-03-15 21:38] ericawood commented on #1125
The whole thing is 4.6GB, but you are correct that that contains many species. There are species specific downloads available (as XML files), but the downsides of using those is that it would be more challenging to expand the data we process if we want more species down the road.

[2021-03-15 21:40] edeutsch commented on #1125
Are the species listed in the TSV file? or just identifiers from which species would need to be inferred?

[2021-03-15 21:43] ericawood commented on #1125
The species are listed in the TSV file.

Ex:

Taxid interactor A | Taxid interactor B
-- | --
taxid:9606(human)\|taxid:9606(Homo sapiens) | taxid:9606(human)\|taxid:9606(Homo sapiens)
taxid:-2(chemical synthesis)\|taxid:-2("Chemical synthesis (Chemical synthesis)") | taxid:9606(human)\|taxid:9606(Homo sapiens)
taxid:10141(cavpo)\|taxid:10141("Cavia porcellus (Guinea pig)") | taxid:9606(human)\|tax

[2021-03-15 21:44] edeutsch commented on #1275
That would A LOT of new nodes?

[2021-03-15 21:46] edeutsch commented on #1125
Sorry I'm so full of questions.. But it's fun to get answers so fast!
How many human-human interactions?
How many interactions where one end is human?

[2021-03-15 22:04] ericawood commented on #1125
Here are the counts from intact.txt (the 4.6GB file): (this does not include 3.7M intact_negative.txt)
Human-Human Interactions in IntAct: 587215
Interactions Where One End is Human: 104146

[2021-03-15 22:05] kvarforl commented on #1292
Looks like there are TUI's and CUI's associated with  each LOINC node entry, so assigning better categories should be possible:
[code]

This will require a better understanding of how `multi_ont_to_json_kg.py` works, so I'm tagging @ericawood  to ask for their help in investigating :)

[2021-03-15 22:06] ericawood commented on #1125
Here are the counts from intact_negative.txt (the 3.7M file):
Human-Human Interactions in IntAct: 891
Interactions Where One End is Human: 32

[2021-03-15 22:10] edeutsch commented on #1125
Are we guessing that "negative" means "is known NOT to interact with"?

[2021-03-15 22:21] ericawood opened #1293 "Organization of Publications Info Field Is Not Standard"
Depending on the source, the publications info dictionary is different. Since SemMedDB came first, the other sources use some elements of its dictionary and not others.

Examples:
- Jensen Lab and RTXKG1 both use the edge object as the key for the sub dictionary (with the score). The sub dictionary has all of the fields, but only object score is not None.
- DrugBank (largely due to my misinterpret

[2021-03-15 22:23] saramsey commented on #1293
Fair points, thank you for bringing this up. Any suggestions?

[2021-03-15 22:23] kvarforl commented on #1293
I agree completely! Is the publications info dict something that was homegrown for Semmeddb, or were we attempting to follow a consortium wide standard?

[2021-03-15 22:24] saramsey commented on #1293
I don't think it is an issue if some sub-components of the structure are missing, for a given knowledge source (if the information is not available). But we should definitely strive for the top-level key to be semantically consistent.

[2021-03-15 22:24] saramsey commented on #1293
Homegrown. I believe the EPC standard will ultimately replace it.

[2021-03-15 22:26] saramsey commented on #1293
Two additional points:
1. EPC working group is addressing this, so we should ultimately see if we can use their schema.
2. In the meantime, we should fix stuff where it is clearly inconsistent with how we did things for SemMedDB, but strive not to make breaking changes unless we are switching wholesale to the new EPC schema (so that downstream consumers of this information don't have to deal with

[2021-03-15 22:26] ericawood commented on #1293
It seems fairly common that scores are not tied to a particular PMID. Do you all agree on that?

(I've been looking at IntAct and noticed that there. I know that the same is true for JensenLab)

[2021-03-15 22:27] ericawood commented on #1125
Example annotations from the "negative" file suggests that that means "is known NOT to interact with":

- negative:The interaction does not occur under these experimental condition\|dataset:Apoptosis - Interactions involving proteins with a function related to apoptosis
- negative:The interaction does not occur under these experimental condition\|dataset:Apoptosis - Interactions involving proteins

[2021-03-15 22:31] kvarforl commented on #1293
I agree. The score tends to reflect the confidence of the whole edge in the case of jensen lab, but that's definitely tricky to model with the current setup.

[2021-03-16 00:09] kvarforl commented on #550
Okay, I ran the conversion script and saved the output file using the test flag (so including whitespace) and the output file of edges is 99gb. It adds 25,925,537 edges between genes (from HGNC or UniprotKB or both) and diseases (from DOID).

We might want to implement a z score cutoff value for edges we include to reduce the size of this; thoughts @ericawood ?

[2021-03-16 00:31] ericawood commented on #1292
Well, the problem is in these three lines:

https://github.com/RTXteam/RTX/blob/698fab0d5ac507e92b5190878922f9fa5b72d9a7/code/kg2/curies-to-categories.yaml#L17

https://github.com/RTXteam/RTX/blob/698fab0d5ac507e92b5190878922f9fa5b72d9a7/code/kg2/multi_ont_to_json_kg.py#L225-L226

Essentially, since `LOINC:LP249177-9` itself is not in curies-to-categories.yaml, the category given to the source is

[2021-03-16 00:56] edeutsch commented on #1292
A one-off fix that affects this CURIE only will not help much. There are *thousands* of these. The above is just a single example. All LOINCs are being set to biolink:Procedure where the reality is that a huge number of LOINCs are not procedures, but a variety of other types. So I think maybe that means option 3?

[2021-03-16 16:17] dkoslicki opened #1294 "For drug->disease queries, expand on KG2 + use the DTD model"
This may be the next "standup meeting" test case. Would be nice to include predictions as well as known treatments. Will need to modify [this yaml file](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_query_graph_interpreter_templates.yaml).

[2021-03-16 16:18] dkoslicki opened #1295 "Up the number of returned results to 100"
Per the standup meeting 3/16, it would be nice to up our limit to 100 from the current 50 in [this file](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_query_graph_interpreter_templates.yaml).

[2021-03-16 16:23] kvarforl commented on #1292
I'm curious to see what happens with option 2! If I'm not misinterpreting things, I think that removing the curie prefix mapping would cause each individual node to be assigned its TUI category (which is more dynamic than the blanket assignment of "procedure").

[2021-03-16 16:27] dkoslicki commented on #1269
@kvarforl , is the mapping you're referring to something like [this](https://github.com/RTXteam/RTX/blob/master/code/kg2/curies-to-urls-map.yaml)? If so, @isbluis , would you be able to make the CURIES themselves into a clickable URL? Eg. for [this result](https://arax.ncats.io/?r=4757), it would be nice if after clicking on Acetaminophen, the CURIE UniProtKB:P05177 would navigate to https://www.u

[2021-03-16 17:17] edeutsch commented on #1295
I can make this change. But I was also thinking of lifting it even higher to 500. One reason for keeping it low was because the UI used to bog down and get very slow with a very high number of results, but I'm pretty sure @isbluis fixed that, so resultsets of 500 should be no sweat anymore.

Go all the way to 500?
Or 100?

[2021-03-16 17:19] dkoslicki commented on #1295
@edeutsch Thanks! If 500 results is no sweat, then I would say go for it! We already have the `top_n_results` operation, so I think a high limit sounds reasonable (but still a limit in case someone asks for a query that would return eg. the whole KG2).

[2021-03-16 17:21] edeutsch commented on #1294
The current paradigm is that if the query specifies "treats", then we just do a straight KG/KB lookup, i.e. "known to treat". If instead the query specifies something more generic like "associated with", then we fire up DTD and more info:

[code]

[2021-03-16 17:23] kvarforl commented on #1269
@dkoslicki  yes that's exactly what I was thinking!

For your example, you can look up UniProtKB in the file David linked:
https://github.com/RTXteam/RTX/blob/758ba97663ce07c75fa00f277c6eaf98cd9ddc3f/code/kg2/curies-to-urls-map.yaml#L387
And then append the id to it: [https://identifiers.org/uniprot:P05177](https://identifiers.org/uniprot:P05177)
And you should be redirected to the right place :)

[2021-03-16 17:24] dkoslicki commented on #1294
I see: I'm wondering if we should do the DTD for the `treats` query in addition to the KG2 lookup. I don't think Mark (or Chris Austin) would think to use `associated_with` when looking for drugs that may treat a disease (considering `treats` is semantically close to `may_treat`)

[2021-03-16 17:35] edeutsch commented on #1269
Note that in the result that you reference:
https://arax.ncats.io/?r=4757
If you scroll down below the looooong description, there is a clickable link as the IRI field.
Maybe just making the IRI field more prominent at the top above the description would be suitable?

[2021-03-16 17:37] dkoslicki commented on #1269
Ah, I see! So maybe the easiest thing is to make the fields, name, ID, category, IRI, and _then_ description and the rest of the fields. @isbluis , do you think this is doable?

[2021-03-16 17:38] kvarforl commented on #1269
@edeutsch thank you! I just noticed that and was editing my comment accordingly. Sorry to be behind the boat :)

[2021-03-16 18:10] edeutsch commented on #1295
ah, I spoke too soon. I thought @isbluis fixed it, but it seems that it's still an issue.
I lifted the limit from 50 to 500 in devED and did our test JSON example query and the result is:
https://arax.ncats.io/devED/?r=4766
It only has 131 results, not even close to the 500
It kills my Chrome
My Firefox survives but only after much groaning and there are some rendering glitches.
Click the above li

[2021-03-16 18:29] edeutsch commented on #1295
I saw NCATSTranslator testing issue 12 go by and thought I'd try:
[code]

this seems to generate a 1.3 GB response (as seen in the cache directory)
And the GUI is understandably dismayed by the result and gives:
An error was encountered while contacting the server (InternalError: allocation size overflow)

Maybe going back to 500 was not a good idea..

[2021-03-16 18:35] edeutsch commented on #1295
I returned it to a limit of 50 and the result is 71 MB. And the UI groans a little bit, but succeeds. 100 might troublesome here.

One issue might be that we return so much Attributes metadata. all those PMIDs, equivalent CURIES, synonymc, etc.

[2021-03-16 18:40] isbluis commented on #1295
Indeed it is not the number of results per se that kills the UI.  It's the size of the response!

For the one @edeutsch posted above, just try downloading the raw json from this link (which does not involve the UI) :
https://arax.ncats.io/devED/api/arax/v1.0/response/4766
(for added fun, try clicking on "view raw" on Firefox and watch as it overflows the page...literally!)

Better to have some sor

[2021-03-16 18:44] dkoslicki commented on #1295
Ah, I see. TRAPI paging seems like it might indeed be a good idea

[2021-03-16 18:53] edeutsch commented on #1295
I suspect that paging will not help here because it the knowledge_graph{} that is enormous with all the metadata. The results[] are actually quite small.

An alternate strategy is not to send all the metadata at the start, but rather fetch it dynamically when clicked on or something...

[2021-03-16 18:57] edeutsch commented on #1295
unless the knowledge_graph{} was pruned for every page...

[2021-03-16 19:11] isbluis commented on #1269
Hi @dkoslicki .  Yes, the ordering and layout can be changed in whatever way seems best / most reasonable.   Also it is easy enough to grab the `iri` (if present) and make it a link of Id(CURIE).

At the moment the UI merely takes the contents of `attributes` (in red, below) and displays them serially as they come from the json response -- so this is to say that another way to change the order of

[2021-03-16 19:17] isbluis commented on #1295
This would be interesting, @edeutsch -- perhaps the `attributes` of nodes (and edges?) could be a URL or a special id that the UI could use to fetch this info later?   Maybe something like:
https://arax.ncats.io/devED/api/arax/v1.0/response/4766/<NODE_ID>

And might be TRAPI-compliant!

[2021-03-16 19:21] dkoslicki commented on #1269
I see @isbluis! I think it might be easiest to make the change in the UI to make the iri go before the description, otherwise we would need to muck about with ARAX_query.py or the like.

[2021-03-16 19:52] edeutsch commented on #1295
We actually already do have the /entity endpoint that returns information about a node. At the moment, the information is from the NodeSynonymizer only, but there's no reason it couldn't be extended to include some other primary information from KG2.

[2021-03-16 19:52] chunyuma opened #1296 "Some 'biolink:ChemicalSubstance' nodes in KG2.5.2 don't have full name"
Hi all,

I found that some  'biolink:ChemicalSubstance' nodes in KG2.5.2 don't have full name.

By running this query` match (n:`biolink:ChemicalSubstance`) where n.full_name='NA' return count(distinct n.id)`, we have 3475 'chemicalsubstance' nodes without full name. Is it normal?

n.id | n.full_name
-- | --
"CHEMBL.COMPOUND:CHEMBL322380" | "NA"
"CHEMBL.COMPOUND:CHEMBL190069" | "NA"
"CHEMBL.COMPOU

[2021-03-16 19:56] chunyuma commented on #1296
I think this might be the ChEMBL website problem. I checked `CHEMBL.COMPOUND:CHEMBL322380` and some other CHEMBL ids listed above. They all don't have name on ChEMBL website.

[2021-03-16 19:58] edeutsch commented on #1295
BUT, I just noticed, if you bring up https://arax.ncats.io/devED/?r=4774
and click on the first result:
![image](https://user-images.githubusercontent.com/12707718/111371426-9d578480-8656-11eb-873d-596f1c67f0f3.png)
and then go ahead and click on that first edge. heh heh, I dare you..

We might consider that returning 200 billion PMIDs for this association might have limited value for the user.
If

[2021-03-16 19:59] saramsey commented on #1296
The compound `CHEMBL.COMPOUND:CHEMBL1197434` has no name, in ChEMBL:
<img width="775" alt="Screen Shot 2021-03-16 at 12 56 10 PM" src="https://user-images.githubusercontent.com/5562107/111371720-07702980-8657-11eb-95f8-ce86c147ef2b.png">

it actually does seem to have a name in PubChem but we don't (yet) have an ETL of PubChem into KG2

[2021-03-16 20:01] saramsey commented on #1296
So you can see from the PubChem record that this compound does, in fact, have a name:

<img width="1046" alt="Screen Shot 2021-03-16 at 1 00 52 PM" src="https://user-images.githubusercontent.com/5562107/111372302-b280e300-8657-11eb-90d3-915a408a2722.png">

[2021-03-16 20:02] chunyuma commented on #1296
Ah, I see! Thanks @saramsey

[2021-03-16 20:03] #1296 closed

[2021-03-16 20:05] saramsey opened #1297 "Should we do an ETL of PubChem?"
PubChem has a download page:
https://pubchemdocs.ncbi.nlm.nih.gov/downloads

and PubChem can provide names for some compounds (like `CHEMBL.COMPOUND:CHEMBL1197434`) that don't have names in ChEMBL.  See issue #1296.

[2021-03-16 20:06] saramsey commented on #1296
Hi @chunyuma I've opened #1297 to discuss an ETL of PubChem

[2021-03-16 20:12] isbluis commented on #1269
Sure thing!  Done in `devLM`; let me know if this works, or would like to add/change anything:
https://arax.ncats.io/devLM/?r=4757

[2021-03-16 20:19] isbluis commented on #1295
@edeutsch : I know better than to fall for your dares!

Agree with having a limit on arrays like PMID, but would make most sense if they are sorted by relevance before trimming.  And maybe a link to get the full list...?

I still somewhat like the idea of a response with a compact KG (with an option to get the full/current one), and fetching the extra info on request.  No need to fetch and parse t

[2021-03-16 20:21] dkoslicki opened #1298 "Limit PMIDs when there are a ton of them"
See [this comment](https://github.com/RTXteam/RTX/issues/1295#issuecomment-800562182) in issue #1295. Probably best to limit it to some amount and just report there are a bunch more. Perhaps discuss during AHM

[2021-03-16 20:30] dkoslicki commented on #1269
Looks great to me, thanks @isbluis !

[2021-03-16 20:33] edeutsch commented on #1298
For an amusing repro:
https://arax.ncats.io/devED/?r=4774
Click on Dev Info and stroll around from top to bottom.
To first approximation, the whole thing is just a list of PMIDs.

[2021-03-16 21:48] edeutsch commented on #1295
I'm curious, where are the 200 million PMIDs for this edge stored? Is that stored in neo4j? or does it from the NGD database somehow? If in neo4j, maybe we could consider slimming that down a little too at the source rather than in the export to TRAPI.

[2021-03-16 22:00] edeutsch commented on #1295
So I just verified that it's the PMIDs that killing us. I upped the limit to 100 queries, ran our example query.
https://arax.ncats.io/devED/?r=4783
It was very sluggish but completed. Dev Info choked. TRAPI cached on disk: 152 MB.
[code]

The bloat is 99% PMIDs.
If we can tame the PMIDs, then I think we can easily go up to 100 or even 500 results probably.
But PMID bloat is currently preventing t

[2021-03-16 22:06] finnagin commented on #1295
@edeutsch I think this came from a change I made recently to add the pmids for normalized google distance edges so they are stored in curies_to_pmids.sqlite. I've just fixed this in master so that it limits to 30 when there are more and I'm just testing right now before I push.

[2021-03-16 22:11] finnagin commented on #1295
Should be fixed now if you want to try a git pull on DevED

[2021-03-16 22:19] edeutsch commented on #1295
wow! It's so fast!
From a 152 MB response to a 1.3 MB response!

[2021-03-16 22:23] finnagin commented on #1295
What a difference that made! Lol I had no idea there would be concept pairs with 3 billion pmids!

[2021-03-16 22:29] dkoslicki commented on #1295
Pretty sure it was hyperbole @finnagin , but still quite a large number ;)

[2021-03-16 22:29] edeutsch commented on #1295
thanks!
I have just rolled out the current `master` to all deployments including production. Please test, everyone! NCATS will be sending their worst in preparation for Friday soon!

[2021-03-16 22:30] #1295 closed

[2021-03-16 22:30] dkoslicki commented on #1295
And thanks for the quick fix @finnagin !

[2021-03-16 22:36] finnagin commented on #1295
You're welcome!

[2021-03-16 22:37] #1298 closed

[2021-03-16 22:46] ericawood commented on #1220
Also, I think some NCBIGene records should have the biolink category "microRNA":

Ex.
[code]

This is labeled as a gene, but it is a microRNA (it's xref is `mirbase:MI0005766` from the ETL of miRBase #1247). Is this a problem?

[2021-03-16 22:50] ericawood commented on #1220
The output of the cypher:
`match (n {provided_by: 'identifiers_org_registry:ncbigene'}) where lower(n.full_name) starts with "microrna" and lower(n.category_label)="gene" return count(n)`

is 1915.

[2021-03-16 22:51] edeutsch commented on #1220
I think it hinders our reasoning on KG2, yes, so a fix would be appreciated!

[2021-03-17 00:55] isbluis opened #1299 "UniprotKB ETL deletes some spaces"
It seems that when the UniprotKB dat file is parsed, lines of text that span multiple lines are concatenated with no space added between words, so that two words end up as one.

e.g. for _UniProtKB:P14902_, this is a portion of it's annotation:
[code]

But in KG2 we have this (or at least this is what the UI receives) :
[code]
See **catabolismof** , **orimmunopathology** , **overreactingimmune** ,

[2021-03-17 01:07] edeutsch commented on #1292
That sounds good. I confess I don't really understand the distinction between 2 and 3. But I think just blindly setting them all to biolink:Procedure is not the way to go. And just fixing this one example is not the way to go.

[2021-03-17 01:25] saramsey commented on #1299
Fixed in KG2.5.2:

<img width="1373" alt="Screen Shot 2021-03-16 at 6 20 25 PM" src="https://user-images.githubusercontent.com/5562107/111400335-5c766480-8684-11eb-96cf-03fd809bfe31.png">

see #964

[2021-03-17 01:26] saramsey commented on #1299
Thank you for the bug report!  Please keep them coming!

[2021-03-17 01:28] isbluis commented on #1299
Excellent, thanks!  (and sorry for the false alarm!)

[2021-03-17 01:28] #1299 closed

[2021-03-17 01:31] saramsey commented on #1292
I concur with the KG2 team, option 2 is looking good. Thank you.

[2021-03-17 01:45] saramsey commented on #1125
Good question. I guess the first thing I would do is try to assess it in terms of our KG2 knowledge source inclusion criteria,
https://github.com/RTXteam/RTX/tree/master/code/kg2#what-criteria-do-you-use-to-select-sources-to-include-in-kg2

<img width="885" alt="Screen Shot 2021-03-16 at 6 34 22 PM" src="https://user-images.githubusercontent.com/5562107/111401298-3f429580-8686-11eb-82ad-679bece364

[2021-03-17 03:15] edeutsch opened #1300 "Should we do something about unsightly descriptions?"
It seems like for many nodes, especially UniProtKB, the description field is a dumping ground for a huge about of perhaps machine parsable information. When displayed in the UI, a rather nice definition is often followed by yards of spewage that is less than user-friendly. Should we address this? Should it even go in the description in the first place? Should the UI suppress this ECO code-ridden b

[2021-03-17 03:22] saramsey opened #1301 "can we turn the UniProtKB CATALYTIC ACTIVITY sections into edges?"
See issue #1300

Example text:
[code]
produces
[code]

[2021-03-17 03:24] saramsey commented on #1300
I note that we are already parsing the PMIDs out of the `description` field

<img width="1081" alt="Screen Shot 2021-03-16 at 8 18 11 PM" src="https://user-images.githubusercontent.com/5562107/111409740-c7c83280-8694-11eb-8c8c-8523b3cfd94d.png">

At some point we could probably parse the `CATALYTIC ACTIVITY` section into structured edges and such, but it looks like it will not be easy because they

[2021-03-17 03:25] saramsey commented on #1300
I favor trying to pull out specific subsets of structured data from the `description` field as we are able (and as there is motivation) to do so, but not proactively nuking them.

[2021-03-17 04:58] isbluis commented on #1300
Hi @saramsey .  Yes, this is exactly what I started to do, but have found that there are other delimiters that I should consider -- especially in the case where the description is the result of multiple sources (e.g. UniprotKB, NCBIgene, etc).

So far I have found `-!-` , `;;` (double semi-colons) , and `---` (triple dashes) .  I believe some of these are inserted during ETL.  Do you know if there

[2021-03-17 15:24] finnagin commented on #1257
This is currently implemented in this [fork.](https://github.com/rtx-travis-tester/RTX) However, there is one problem. The time limit for setting up the environment and running tests is 50 minutes and this is not enough time to download the COHD and DTD databases.

I think a simple solution would be to create slim versions of the databases that just contain the information we need to run the COHD/

[2021-03-17 16:30] ericawood commented on #1297
I see the benefit of this. PubChem identifiers show up often in other sources. (Recently Reactome, but also DrugBank, SMPDB/PathWhiz, and HMDB).

[2021-03-17 17:03] ericawood commented on #1301
It would certainly be doable, but to do so, it would be best to bring in RHEA (https://www.rhea-db.org/). Each catalyst activity field's reaction is linked to a RHEA id. The CHEBI ids are participants, but we don't know one which side of the reaction in the field itself.

Ex. (for `UniProtKB:O95870`)
[code]

[`RHEA:44500`](https://www.rhea-db.org/rhea/44500) is
![image](https://user-images.githubu

[2021-03-17 17:58] ericawood commented on #1220
The microRNA issue is addressed in 3378f83e9e057a437bbd3e5223ab1b3b0f1e093f (forgot to tie that commit to this issue)

[2021-03-17 21:30] amykglen commented on #1236
first step for this could be to add a method to `expand` that takes in a one-hop query graph and returns a list of all the KPs capable of answering it (according to info in the KPs' `/predicates` endpoint - maybe precomputed and combined into one big internal map, as Eric suggested)

then tweaking `expand` to loop through this list of KPs and ask each to answer the given one-hop QG should be prett

[2021-03-17 21:32] dkoslicki commented on #1236
And we may need to make a decision about whether we hit all KPs that can satisfy a one hop query, or just one of them (in some prioritized list?). I lean towards hitting all KPs that can satisfy a query

[2021-03-17 21:39] ericawood opened #1302 "UMLS:C0812397 (testis) is a chemical substance"

[2021-03-17 21:40] saramsey commented on #1302
in which version of KG2?

[2021-03-17 21:40] ericawood commented on #1302
Reported in KG2.3.4, but in KG2.5.2, I still see it:

![image](https://user-images.githubusercontent.com/36611732/111542300-c3e8ee80-872e-11eb-970d-e5e0e131a6fe.png)

[2021-03-17 21:41] saramsey commented on #1302
UMLS Semantic Type T121 corresponds to "Pharmacologic Substance".

[2021-03-17 21:42] saramsey commented on #1302
May be time to do some grepping for `UMLS:C0812397` in the `umls-*.ttl` files on `kg2steve.rtx.ai` to see from which UMLS source this node is coming from.

[2021-03-17 21:43] ericawood commented on #1302
In `curies-to-categories.yaml`:
https://github.com/RTXteam/RTX/blob/a31ad43a048e12f38bcd93812fecf0e57f94aa69/code/kg2/curies-to-categories.yaml#L350

In `biolink-model.yaml`:
https://github.com/biolink/biolink-model/blob/3985c060240cf838e485299c1e380ae4ba35a925/biolink-model.yaml#L5943

[2021-03-17 21:47] ericawood commented on #1302
It appears from my grepping that `UMLS:C0812397` is in `umls-mth.ttl` and `umls-nddf.ttl`.

[2021-03-17 21:52] saramsey commented on #1302
OK, I think this node's category may be correct:
[code]
to the extent that the name is "testis as an ingredient". It's just that the name is getting overwritten as "testis" from some other cross-reference to this CUI.

[2021-03-17 21:56] saramsey commented on #1302
OK, so NDDF is overwriting the name as "testis". That's what is going on here. I don't know offhand what legitimate pharmaceutical product is made from testis (maybe cattle?) but I can't rule it out.

[2021-03-17 21:57] saramsey commented on #1302
I believe that the more correct interpretation of T121 may be "drug" rather than "chemical substance".

[2021-03-17 21:58] saramsey commented on #1302
You are correct. Good catch. Can you please fix, when you have time? Thank you.

[2021-03-17 22:06] ericawood commented on #1292
Here's the output of `report_stats_on_json_kg.py`'s `number_of_nodes_by_source_and_category`:
Before testing option 2:
[code]
After testing option 2:
[code]

[2021-03-17 22:08] ericawood commented on #1292
Here's what `LOINC:LP249177-9` looks like after that change:
[code]

[2021-03-17 22:25] dkoslicki opened #1303 "Biothings explorer requirement pegged to an old release?"
Looking at the [requirements](https://github.com/RTXteam/RTX/blob/master/requirements.txt#L25) it appears that we might be pegged to a specific release of BTE. Given that BTE has has more [recent releases](https://github.com/biothings/biothings_explorer/releases/tag/v1.0.3), we should make sure that the version pegging with `@` isn't to an older version.

[2021-03-17 22:32] dkoslicki commented on #1303
And actually, seems even worse: pegged to a specific [commit](https://github.com/biothings/biothings_explorer/commit/b7be98589ea5e4dfee5a80b9cada88fdac128c81)

[2021-03-17 22:59] edeutsch commented on #1292
Fabulous! Many thanks! That will help the NodeSynonymizer a lot!

[2021-03-17 23:29] amykglen commented on #1236
tagging @kvarforl here as she's going to help with this one :)

[2021-03-18 06:10] finnagin commented on #1233
Generated the csvs for KG2C looks like it has ~33,000 rows in the allowed predicate triples.

[2021-03-18 17:32] finnagin opened #1304 "Generate slim versions of DTD and COHD databases"
- [x] Write script to get list of curries used in the test suite for dtd and cohd queries
- [x] Write a script which takes a list of curies and a path to a pre-existing cohd/dtd database and generates a slim version of that database only containing rows including the inputted curies
- [x] Generate the slim databases for KG 2.3.4 and store them in the same directory on arax.ncats.io as the original

[2021-03-18 17:53] kvarforl commented on #550
Some info about the zscores in the current `human_disease_textmining_full.tsv`:
[code]

From this, it seems like the number of edges could be pretty significantly reduced by only including edges with a zscore of 2 or above (the typical significance cutoff).

[2021-03-18 18:24] kvarforl commented on #550
Something else that's definitely compounding the size of this ETL is the number of equivalent kg2 nodes that are found for each gene in each gene disease association. The Jensenlab file uses identifiers that are not in KG2, but provides equivalent id's from sources that are in KG2, that I've constructed into a gene id dictionary with the jensenlab identifier as the key, and a list of potential kg2

[2021-03-18 19:52] dkoslicki opened #1305 "Missing ARAs in UI"
From the fix-it session today, it looks like a few of the ARAs are missing from https://arax.ncats.io/?source=ARS&id=d3f8860f-4c9c-449c-bc07-033cfbdebd1c
i.e. it's truncated even though Chris Bizon says the ARS actually returned things from all ARAs

[2021-03-18 19:59] dkoslicki opened #1306 "Massive description and unknown category for one node"
In the result https://arax.ncats.io/api/arax/v1.0/response/4963, there is a node:
[code]
Which I have snipped because the description goes on for pages and pages. Curiously, I can't find this node in KG2C (still searching in Neo4J after ~10min). Any idea what is going on with this node?

[2021-03-18 20:02] saramsey commented on #1306
FWIW, I am not seeing this issue in KG2.5.2:

<img width="1047" alt="Screen Shot 2021-03-18 at 1 02 03 PM" src="https://user-images.githubusercontent.com/5562107/111690250-2f43c680-87ea-11eb-99ac-f1b1eee7cccc.png">

[2021-03-18 20:03] isbluis commented on #1305
Hi @dkoslicki .

As you can see from the link below, the UI is displaying info for all of the ARAs ("`actor`") that are the `children` of this response.  Maybe @edeutsch might know if the back-end is not picking up the stray ARAs?

https://arax.ncats.io/api/arax/v1.0/response/d3f8860f-4c9c-449c-bc07-033cfbdebd1c

Or let me know if I am somehow missing the truncation.  Thanks!

[2021-03-18 20:04] saramsey commented on #1306
Hi @kvarforl can you please check KG2C?

Also if a single-node lookup query is taking more than 10 minutes, I wonder if that Neo4j server either needs to be restarted or is missing a node index?

[2021-03-18 21:32] kvarforl commented on #1306
Hmm, interesting. In KG2.5.2C, I found that CHEBI curie in the synonyms list of `MESH:D004099`
[code]

n.name | n.id | n.equivalent_curies | n.category
-- | -- | -- | --
"Dihydroxyacetone Phosphate" | "MESH:D004099" | ["CHEBI:16108", "CHEMBL.COMPOUND:CHEMBL1161998", "DRUGBANK:DB04326", "HMDB:HMDB0001473", "KEGG:C00111", "MESH:D004099", "PathWhiz.Compound:1134", "PathWhiz.Compound:42631", "UMLS:C00

[2021-03-18 21:45] dkoslicki opened #1307 "Translate ARAXi to the workflow language"
For each of our DSL commands, we will need to fork and create PRs in the [Operations and Workflow](https://github.com/NCATSTranslator/OperationsAndWorkflows) repo. The basic idea is to create YAML files for each of our operations. An example is [here](https://github.com/NCATSTranslator/OperationsAndWorkflows/blob/main/operations/filter_results_top_n.yml). We will need to think very carefully about

[2021-03-18 22:05] edeutsch commented on #1305
I concur with Luis: what is displayed is what is coming from the ARS. nothing less..

[2021-03-18 23:57] dkoslicki commented on #1305
Curious! I'll pass this along to Chris

[2021-03-19 00:02] dkoslicki commented on #1306
Ah, thanks @kvarforl ! Maybe @amykglen or @edeutsch  can comment about how the descriptions are coalesced.

[2021-03-19 00:07] amykglen commented on #1306
thanks, @kvarforl! yes, KG2c basically concatenates the 5 longest descriptions of the coalesced nodes (a silly heuristic - could be replaced with something smarter if we knew which upstream sources produce "better" descriptions). and in KG2c.5.2, this number has been downgraded to top 3...

it may be worth checking if any of the individual coalesced nodes have super long descriptions in the regula

[2021-03-19 00:16] edeutsch commented on #1306
I suppose I would just suggest using the exact description of the leader of the group (i.e. the preferred CURIE). If that is null, then maybe go searching for the one longest. Although the longest ones are often stuffed with unsightly parsable metadata.

Your information explains why some of these descriptions are enormous! I don't think concatenating multiple descriptions is useful at this stage.

[2021-03-19 01:29] dkoslicki commented on #1306
Or perhaps concatenating up to some threshold. E.g. if the description is longer than X characters, just discard the rest (no one is going to read it anyway)

[2021-03-19 01:30] amykglen commented on #1306
cool - I think that makes sense, @edeutsch. I just made that change in 4a20008e3110d5f925fbd12698600859a175b033 so it'll be included in the rebuild of KG2c.5.2 (which is now underway). I made it use the leader's description, but if that's null it takes the longest description that's **not** over 10,000 characters (in an attempt to save us from massive descriptions)

I'm still suspicious that there

[2021-03-19 01:39] amykglen commented on #1306
whoops, didn't see @dkoslicki's comment [there](https://github.com/RTXteam/RTX/issues/1306#issuecomment-802443708)! true, we could concatenate up to a point. maybe we should go with that approach if the new one I put in place seems to be a bit sparse.

[2021-03-19 02:51] amykglen commented on #1303
yep, it's true -  it's pegged to a specific commit. this brings up something I've been thinking about: now that there's nice general-purpose code in Expand for querying TRAPI-compliant KPs, it actually would be less work for us if we could use BTE's API (using the BTE python package means we have to do some extra parsing of the QG to get it in a different input format, and other translation steps

[2021-03-19 02:53] dkoslicki commented on #1303
I don't see any reason why using the API would be detrimental, especially given the performance comparisons you bring up. Less work and more sustainability seems good to me!

[2021-03-19 04:24] amykglen commented on #1233
rebuild of kg2c.5.2 with the tweaked NodeSynonymizer is done, and things seem to look good! looks like the category_manager changes @edeutsch made for conflation of ancestors and such were successful, maybe with one very minor exception - just a handful of nodes remain that are "ChemicalSubstance"s but are missing "Drug" in their expanded_categories:
[code]
n.id | n.name | n.expanded_categories
--

[2021-03-19 04:37] edeutsch commented on #1233
awesome news, @amykglen ! Looking into this a little, it looks to me that NodeSynonymizer get_equivalent_nodes(curies=curies,return_all_categories=True) appears to be doing the right thing:
[code]

So I'm puzzled why KG2C isn't showing that..

But one slightly alarming thing I notice is that all these CURIEs all have spaces in them! Is that allowed? I vaguely recall writing code in the past assumi

[2021-03-19 05:07] amykglen commented on #1233
huh, very weird! I'll have to look more into why those aren't making it into KG2c... not seeing an obvious reason.

[2021-03-19 05:15] edeutsch opened #1308 "Is whitespace allowed in CURIEs?"
Reading through the spec:
https://www.w3.org/TR/2010/NOTE-curie-20101216/

I don't find an obvious mention whether whitespace is permitted in a CURIE, but whitespace separated list of CURIEs appears to be a thing:
![image](https://user-images.githubusercontent.com/12707718/111734372-3fce5e00-8837-11eb-9c82-abf8696c330b.png)

suggesting to me that CURIEs should/must(?) not contain whitespace?

But

[2021-03-19 06:05] saramsey commented on #1308
I concur. This seems like it might be a bug.

[2021-03-19 06:14] saramsey commented on #1308
This code
[code]
produces:
[code]
on KG2.5.2:

<img width="871" alt="Screen Shot 2021-03-18 at 11 13 16 PM" src="https://user-images.githubusercontent.com/5562107/111739038-993a8b00-883f-11eb-9b16-93c3ab3b470f.png">

bug seems to be at line 105 of `dgidb_tsv_to_kg_json.py`:
https://github.com/RTXteam/RTX/blob/2300b9f9e985cd6ccbf127a195bcd73544e54fdc/code/kg2/dgidb_tsv_to_kg_json.py#L105

[2021-03-19 06:17] saramsey commented on #1308
Thank you @edeutsch and @amykglen for bringing this to my attention.

[2021-03-19 06:40] amykglen commented on #1233
hmm, ok, think I've narrowed it down here. so when I send only the curie 'ttd.target:CAR-T Cells targeting Mesothelin' to get_canonical_curies like you did, I get the same response as you. but when I send that curie PLUS one of its equivalent curies (the same but with lowercase 'cells'), it then claims it doesn't recognize 'ttd.target:CAR-T Cells targeting Mesothelin'.
doing:
[code]
prints out:
[c

[2021-03-19 06:55] amykglen commented on #1233
ok, code changes are largely finished in `kg2.5integration`, but a few more tests are still failing (think these belong to @chunyuma  and @finnagin ?):
[code]
maybe some of these _should_ be failing, since we decided to move forward without waiting for DTD? but would be great if @chunyuma and @finnagin could take a look at any tests of theirs in this list and push fixes as appropriate to `kg2.5int

[2021-03-19 08:17] finnagin commented on #1233
Looks like `test_ARAX_filter_kg.py::test_error` is failing because the edge predicate that is being returned in the message.knowledge_graph is `contraindicated_for` rather than `biolink:contraindicated_for` so the filter does not remove the edge it is supposed to. Is this something that is expected? I thought we were supposed to be only working with `biolink:contraindicated_for` now that we are sw

[2021-03-19 08:25] finnagin commented on #1233
It looks like it is correct in `kg2canonicalized2` not sure why this is returning predicated without the biolink: prefix. Maybe something wrong with my setup? I'm using the configv2.json in /translator/data/orangeboard/databases/KG2.5.2. Could you try running that query and see if you also get `contraindicated_for` edges without the biolink prefix back?

[2021-03-19 15:07] finnagin commented on #1233
Lol nevermind just realized it's expanding on KG1 which is why this is returning the non biolink prefix edges. Though this brings up an interesting question: Do we want to have a patch that converts the results of KG1 expand calls or are we in the process of phasing out KG1 anyways so it's not worth it?

[2021-03-19 15:10] edeutsch commented on #1233
I think we just discontinue use of KG1 now. So I suggest changing all tests away from KG1 and we turn it off eventually.

[2021-03-19 15:17] finnagin commented on #1233
Yeah, that makes sense. From a quick grep it looks like ARAX/KG1 is use serveral times throughout test_ARAX_expand, test_ARAX_resultify, test_ARAX_workplows, test_ARAX_filter_kg, test_ARAX_filter_results, and test_ARAX_overlay. This may take a bit of refactoring. Do we want to make a separate issue for converting all of these?

[2021-03-19 16:09] dkoslicki commented on #1236
And just a note about how this will be useful: during the standup call today (3/19), Mark used the following query:
[code]
This was meant to test integration with ICEES and COHD since they mainly have the `corellated_with` predicate. Thankfully, monarch has that predicate too, since we didn’t actually hit ICEES or COHD for this call but did get a few results.

[2021-03-19 16:18] dkoslicki opened #1309 "ARAX mysteriously TRAPI non-compliant?"
It appears that a few of the stand-up use cases are showing up as TRAPI non-compliant. Eg. This ID: 5e3f38b6-2b23-479c-b04e-81fce973ca52. But it appears the earlier queries were more likely to be non-compliant. See [this spreadsheet](https://docs.google.com/spreadsheets/d/1Y2yfUFl2SIgv5KkyxdQB94UE3HtVdJNJ7KdnwQgZcYI/edit).

Maybe @edeutsch fixed this already?

[2021-03-19 16:23] dkoslicki commented on #1233
@finnagin I could go either way with making a new ticket for the KG1 in the tests: it blocks this issue, but I imagine a simple `sed -i` or manually replace of KG1->KG2 should work (and a slight adjustment of the `assert`s. Do you think more refactoring than that will be required?

[2021-03-19 16:24] edeutsch commented on #1309
Yes, this has been fixed. It was an issue where one type of node Attribute was missing a mandatory 'value' field.

[2021-03-19 16:28] amykglen commented on #1233
I would vote for creating a separate issue for that; don't think it should hold up this issue (we can just make the failing test check for `contraindicated_for` for now). it may be possible it'd require a bit more work than changing "KG1" to "KG2" because it might break some tests (since it changes their output), and it's also going to slow the test suite waayy down. may be smart to wait until we

[2021-03-19 16:29] dkoslicki commented on #1309
Great, thanks Eric!

[2021-03-19 16:29] #1309 closed

[2021-03-19 16:45] finnagin commented on #1233
@dkoslicki I do think more refactoring will likely be required. As @amykglen said we will likely need to adjust a few tests to speed them up. For example I was just changing test_warning in test_ARAX_filter_kg.py and it is now incredibly slow as it uses `overlay(action=add_node_pmids)` which apparently hits NCBIeutils and thus takes a long time with the number of results returned.

[2021-03-19 16:49] finnagin commented on #1233
@amykglen I was able to fix `test_ARAX_workflows.py::test_example_3` by changing it to use KG2 instead of KG1 however now it takes ~218s to complete so I have added a pytest slow marker to it. Does this seem reasonable for now while we wait for a faster KG2c system?

[2021-03-19 16:50] edeutsch commented on #1233
Regarding this from @amykglen

[code]

I understand why this is happening. There is an underlying assumption in NodeSynonymizer that CURIEs can be treated as case insensitive. Here we have two CURIEs that differ only in case. @saramsey already flagged this as a potential bug?
I'm thinking that NodeSynonymizer code doesn't need to change, and this will no longer be a problem if we can resolve these

[2021-03-19 16:50] amykglen commented on #1233
@finnagin - that makes good sense to me!

[2021-03-19 17:54] kvarforl commented on #1236
Excited to help! Here are my thoughts as to how to go about this (with questions intermixed 😄 ). Posting as a reference for chatting with amy (no action required from others)

- first, I don't know how to query the `/predicates` endpoint of the kps. is there an example somewhere?
  - after this, construct a large internal map will look something like `{“predicate_triple” : [kp, kp, kp]}`. or perha

[2021-03-19 22:09] amykglen commented on #1306
well the description for the CHEBI:16108 node certainly has a smaller description in the new KG2c.5.2:

<img width="1222" alt="Screen Shot 2021-03-19 at 3 04 19 PM" src="https://user-images.githubusercontent.com/49423686/111846668-84540b00-88c4-11eb-829d-d61ad2dc05e5.png">

this strategy of using the leader's description unless its null might require some revision though - looks like we're ending

[2021-03-19 22:22] amykglen opened #1310 "Some KG2 PathWhiz nodes have extra large descriptions?"
breaking this out from #1306 - in KG2-3-4, it looks like there are some PathWhiz nodes with huge descriptions. just want to make sure this is desired?

[code]

n.id | n.name | size(n.description)
-- | -- | --
"PathWhiz.Compound:65" | "Choline" | 3000000
"PathWhiz.Compound:921" | "S-Adenosylmethionine" | 2564368
"PathWhiz.Compound:749" | "S-Adenosylhomocysteine" | 3008145
"PathWhiz.Compound:3906" |

[2021-03-19 22:28] edeutsch commented on #1306
one concern here is that RXNORM is the leader. instead CHEMBL.COMPOUND:CHEMBL112 should be. that seems like a bug

[2021-03-19 22:43] saramsey opened #1311 "biolink:has_attribute is not an allowed predicate type"
for the time being, we will use `biolink:related_to` instead of `biolink:has_attribute` and instead of `biolink:has_attribute_type`.

[code]
eventually we should use biolink model attributes for some of these use-cases

[2021-03-19 22:58] amykglen opened #1312 "Wrong category for UMLS:C3542922 in KG2.5.2?"
in KG2.5.2, this UMLS node seems like it should be a protein or something of that sort (based on its name), but it's labeled as a disease:

[code]

n.id | n.name | n.category
-- | -- | --
"UMLS:C3542922" | "Complement component receptor 2" | "biolink:Disease"

noticed because it's being coalesced with protein/gene nodes in KG2c. thanks to @edeutsch's new `expanded_categories`, I think it won't be

[2021-03-19 23:08] amykglen commented on #1306
hm, interesting. although it seems CHEMBL nodes also don't have very helpful descriptions (a random selection from KG2c here):

n.id | n.name | n.description
-- | -- | --
"CHEMBL.COMPOUND:CHEMBL2108130" | "PLANTAGO SEED" | "PLANTAGO SEED; MAX_FDA_APPROVAL_PHASE: 0"
"CHEMBL.COMPOUND:CHEMBL543875" | "(1H-Indol-2-ylmethyl)-(1-naphthalen-1-yl-ethyl)-amine hydrochloride" | "(1H-Indol-2-ylmethyl)-(1-nap

[2021-03-19 23:25] edeutsch commented on #1306
so I'm seeing some things I'm thinking of fixing. @amykglen how does that affect what you're currently doing?

[2021-03-20 00:18] edeutsch commented on #1312
It does seem that the category is incorrect here, but I don't think this causes us any problems because of the expanded_categories mechanism, as you say.

BUT, what is causing problems is that what appears to be a disease and protein are getting coalesced and that is a problem.

I think I traced the reason for coalescence is this. When the Node Synonymizer reaches UMLS:C3542922 it asks the SRI Nod

[2021-03-20 00:31] amykglen commented on #1306
so I believe the only pieces left for #1233 are addressing the failing FET/COHD/DTD tests (which I believe @chunyuma is looking into).

if you were to change the synonymizer, it wouldn't be a big deal from my end to regenerate KG2c again (don't think it should break anything in the kg2.5integration branch). although if preferred curies and/or preferred categories change, I suppose that may affect

[2021-03-20 03:16] edeutsch commented on #1306
@amykglen I just found and squashed a very large bug related to CHEMBL112 not being the expected leader. I plan on regenerating a new NodeSyn database. Depending on where you are, you can switch to it or not. It should not affect how many of each kind of element there are, but it will change a lot of leaders to what was originally intended.

[2021-03-20 04:06] chunyuma commented on #1233
Hi @amykglen, I fixed most of the failing tests you posted. Only one can't be fixed right now until the new DTD model and database are re-built is `test_ARAX_expand.py::test_DTD_expand_1 `.
[code]

In this case, it expands a virtual edge from `acetaminophen` to `Sotos syndrome` based on DTD probability > 0. However, the preferred curie of `Acetaminophen ` is `RXNORM:161` based on Nodesynonymizer v

[2021-03-20 04:45] edeutsch commented on #1233
Note that RXNORM:161 was not intended as the leader of the Acetaminophen group. This was due to a bug, which I believe I have just fixed. A new NodeSynonymizer database is currently being rebuilt and should be done shortly. I will NOT destroy the previous one yet in databases/KG2.5.2.

A relevant question is what to do with it. Depending on where you all are in your process, you can choose to use

[2021-03-20 04:51] amykglen commented on #1233
I think this is a great idea! another idea I had was that perhaps DTD could sort of have its own 'preferred' curies - e.g., maybe it chooses to always use the curie that comes first when you alphabetize the list of equivalent curies; then it wouldn't really matter to DTD what the synonymizer says the preferred curie is, it could just grab the equivalent curies for the input node, find the one that

[2021-03-20 04:52] chunyuma commented on #1233
I think this is a good idea to make the v2.3.4 DTD database temporally compatible with kg2.5.2 before the new DTD database is re-built which needs around 2 weeks. Once the revised NodeSynonymizer database is built, I can do this.