[2019-12-06 21:37] saramsey commented on #577
Save a copy of config.json (WITH THE PASSWORDS XXXX'd OUT) in GitHub as an example

[2019-12-06 21:44] amykglen commented on #576
ah, yep, that makes sense...

[2019-12-06 22:04] saramsey commented on #574
TODO: update RTXConfig python code on running systems (e.g., arax.rtx.ai and all test installations) so that it gets the config.json file from:

`ssh:rtxconfig@arax.rtx.ai:/mnt/temp/config.json`

[2019-12-07 00:47] saramsey commented on #574
Hi all,

So, I think we are going to have to push out a new version of RTXConfiguration.py. That module is hard-coded to pull the "config.json" file from "rtx.ncats.io", and that hostname is going away in nine days.

See code commit 46d09e5419128f034d7f90aaa846d45ec9c3bdd0.

https://github.com/RTXteam/RTX/commit/46d09e5419128f034d7f90aaa846d45ec9c3bdd0

I'm not entirely sure how to push this out o

[2019-12-07 05:21] saramsey opened #578 "error in multi_owl_to_kg_json.py due to UMLS UMD"
Getting tons of these errors:
[code]

[2019-12-07 05:33] saramsey commented on #578
[code]

[2019-12-07 05:45] saramsey opened #579 "some category labels for HPO (in curies-to-categories.yaml) are wrong"
reported by Matt Brush

[2019-12-07 06:07] saramsey opened #580 "STDOUT output from chembl_mysql_to_kg_json.py is too verbose"

[2019-12-07 06:09] #580 closed

[2019-12-07 06:09] #578 closed

[2019-12-07 06:09] #579 closed

[2019-12-08 05:19] #552 closed

[2019-12-08 05:25] edeutsch opened #581 "networkx node attribute is now nodes"
Baffling breakage in Q3Solution.py was traced to the apparent situation where the networkx class no longer defines a node attribute. It is now nodes.

See release notes:
https://networkx.github.io/documentation/stable/release/release_2.4.html
under Deprecations.
Graph Object methods removed (marked as deprecated 2.1)
    G.add_path
    G.add_cycle
    G.add_star
    G.nodes_with_selfloops
    G.nu

[2019-12-08 05:38] #561 closed

[2019-12-08 06:00] edeutsch commented on #576
So, the problem I commented on now has been fixed.
But this bug reported in this issue persists.
I tried several other diseases. cardiac arrest, cataract, alzheimers, and they all returned reasonable results.
So it remains a mystery to me why Fraser syndrome does not return anything.

Here is the Cypher that is getting run (I think?):
MATCH (qg1:protein {})-[qg2]-(qg0:disease {`id`: 'DOID:0090001'

[2019-12-08 22:49] saramsey opened #582 "incorrect gene-to-taxon predicate coming from UniProt ETL script"
[code]

[2019-12-08 22:50] saramsey opened #583 "filter_kg_and_remap_predicates.py STDOUT is too verbose"
processing edge 47800000 out of 49288602
processing edge 47900000 out of 49288602
processing edge 48000000 out of 49288602
processing edge 48100000 out of 49288602
processing edge 48200000 out of 49288602
processing edge 48300000 out of 49288602
processing edge 48400000 out of 49288602
processing edge 48500000 out of 49288602
processing edge 48600000 out of 49288602
processing edge 48700000 out of

[2019-12-08 22:50] #583 closed

[2019-12-08 22:50] #582 closed

[2019-12-08 23:02] saramsey commented on #549
Test case:

<img width="615" alt="Screen Shot 2019-12-08 at 3 02 30 PM" src="https://user-images.githubusercontent.com/5562107/70397997-c86f1500-19cb-11ea-9640-093faab9bd26.png">

[2019-12-08 23:50] #549 closed

[2019-12-08 23:52] saramsey opened #584 "tsv-to-neo4j.sh prompts for a neo4j password; is there any way around this?"
prompting for a password is reasonable from a security standpoint but kinda works against automation; maybe have it check for a password in a local file, and only fall back on prompting for a password to be entered on STDIN if the local file cannot be found?

[2019-12-09 02:48] saramsey opened #585 "warnings from multi_owl_to_kg_json.py"
+    # MONDO:0001227 was causing a warning about "Node does not have a category"; not sure why
+    MONDO:0001227: disease
+    # MONDO:0020420 was causing a warning about "Node does not have a category"; not sure why
+    MONDO:0020420: disease

[2019-12-09 02:48] #585 closed

[2019-12-09 21:59] #504 closed

[2019-12-09 22:19] saramsey commented on #466
we should probably revisit this bug and rerun the above Cypher, since there have been so many changes to KG2 since Aug. 2019.

[2019-12-09 22:30] saramsey commented on #565
@amykglen to post list of TTL files that we are currently loading as LOAD_ON_CODE that should be changed to LOAD_ON_CUI

Then we need to fix the issue in `multi_owl_to_kg_json.py`

[2019-12-09 22:32] saramsey commented on #427
fix `report_stats_on_json_kg.py`

[2019-12-09 22:36] saramsey opened #586 "update report_stats_on_json_kg.py so that it can optionally analyze edges by simplified predicates"

[2019-12-09 22:38] saramsey opened #587 "we need a capability to issue a warning if a category label in curies-to-categories.yaml never appears in the final KG"

[2019-12-09 23:47] amykglen commented on #565
these are all our TTL files currently using `load_on_codes` that **should** be using `load_on_cuis` (according to [this page](https://github.com/ncbo/umls2rdf)) in `umls2rdf-umls.conf`:

- MMSL
- MMX
- MTHCMSFRF
- MTHMST
- MTHSPL
- NDFRT

NOTE: MTH has already been switched to `load_on_cuis`, but still needs to be added back to `owl_load_inventory.yaml` (once this issue is fixed).

[2019-12-10 17:18] edeutsch commented on #574
It is all fine and install and working as far as I can tell. It is "pushed" out with a simple `git pull` and then restarting the services if necessary.
The compiling is something that is done on the fly by flask I guess. Nothing that the user needs to worry about or do.

As far as I'm concerned, everything is working and this can be closed.

[2019-12-10 17:20] saramsey opened #588 "consider writing a Dockerfile for generating the RTX Docker container programmatically"

[2019-12-10 17:22] edeutsch commented on #576
Escalating this to @finnagin or @dkoslicki because I don't know how to proceed.

[2019-12-10 19:41] saramsey opened #589 "renew letsencrypt certs for arax.rtx.ai in late winter 2020"
We generated the certs on Dec. 6, so they will expire 90 days from Dec. 6 (which is approximately March 5).

[2019-12-10 19:51] saramsey commented on #589
Hi all,

I looked into the issue of renewal. It's every 90 days.

But.... letsencrypt is pretty slick. It automatically sets itself up to auto-renew every 30 days

So I think we have nothing to worry about, unless certbot breaks on arax.rtx.ai for some reason.

Steve

![Uploading Screen Shot 2019-12-10 at 11.49.59 AM.png…]()

[2019-12-10 19:51] #589 closed

[2019-12-10 20:40] finnagin opened #590 "Test sutting down rtx services"
Test shutting down the containers which are running the following services:
* mysql
* neo4j
* apache
* rtx production

Also,
Email Trung about temporarily shutting down rtx.ncats.io to see if anything breaks.

[2019-12-10 20:46] finnagin opened #591 "Some missing edges in kg1endpoint.rtx.ai:7474 that are in arax.rtx.ai:7474"
The following cypher command gets results in arax.rtx.ai:7474 but not kg1endpoint.rtx.ai:7474

[code]

Looking at the provided by field by running the following command:
[code]
It looks like 8 of the 23 results come from BioLink and 15 are coming from DisGeNet.

[2019-12-10 20:48] finnagin commented on #576
Looks like the issue is that the ui points to the neo4j instance in arax.rtx.ai:7474 which is running a slightly older KG build than kg1endpoint.rtx.ai:7474 and does not have the edges for Fraser syndrome.

[2019-12-13 00:59] amykglen commented on #576
got it, thanks! that's interesting... is switching the UI/API over to the latest KG1 build something we'd want to do at some point?

[2019-12-15 09:36] finnagin commented on #590
Looks like there is question answering code running on arax.rtx.ai that is still pointing at the neo4j instance on rtx.ncats.io.

I can turn off rtx_openAPI_production, apache2, and mysql without issues and arax.rtx.ai will pass all behave tests and I don't see any abnormalities in the ui. However, if I turn off neo4j I get internal server errors when asking questions.

[2019-12-15 09:58] finnagin commented on #590
I went into the rtx1 container running on arax.rtx.ai and did a grep for "rtx.ncats.io" and found a few lines in WF1.py in reasoning tools that uses rtx.ncats.io as well as one line in QueryGraphReasoner.py and one line in question0.py.

running grep in the ui sub-directory found several lines referencing rtx.ncats.io

[2019-12-15 18:38] edeutsch commented on #590
My RTX status monitor has been complaining that rtx.ncats.io is not correctly responding to queries since 2am.

[2019-12-15 20:41] finnagin commented on #590
Huh. The services seem to be running in the container and the ui is working for me.

@edeutsch Is it still giving you issues?

[2019-12-16 03:20] edeutsch commented on #590
I Restarted the legacy endpoint and now the server monitor is happy. All fixed. Issue can be closed.

[2019-12-16 18:31] saramsey opened #592 "make tsv-to-neo4j.sh prompt for password immediately"

[2019-12-16 18:54] saramsey opened #593 "lowercase shell variable names in bash scripts for KG2"
https://unix.stackexchange.com/questions/42847/are-there-naming-conventions-for-variables-in-shell-scripts

[2019-12-16 20:50] #592 closed

[2019-12-16 20:50] #427 closed

[2019-12-17 17:24] saramsey commented on #518
Issue is now resolved; only remaining nodes that start with "UMLS:" are data sources and relationship types (and therefore not really CUIs):

![Screen Shot 2019-12-17 at 9 23 48 AM](https://user-images.githubusercontent.com/5562107/71019328-04cb0100-20af-11ea-8d55-5a2aeb64e945.png)

[2019-12-17 17:24] #518 closed

[2019-12-17 17:26] #524 closed

[2019-12-17 18:30] saramsey commented on #584
see #592 which partially (but not fully) addresses this issue with `tsv-to-neo4j.sh`

[2019-12-17 22:09] saramsey commented on #463
Seems fixed now?
![Screen Shot 2019-12-17 at 2 09 24 PM](https://user-images.githubusercontent.com/5562107/71038521-dc56fd00-20d6-11ea-8fd2-c351d18a6785.png)

[2019-12-17 22:10] #463 closed

[2019-12-17 22:10] #511 closed

[2019-12-18 00:54] saramsey commented on #438
hmm let's add code to `tsv-to-neo4j.sh to run this procedure

[2019-12-18 17:32] edeutsch commented on #590
Status monitor complaining since yesterday because rtx.ncats.io disabled by Finn. I have just switched the status monitor to monitor arax.rtx.ai instead. It was fine except for the legacy endpoint. Looks like /legacy is somehow referring to rtx.ncats.io and unable to connect. Rather than try to fix it, I just think we can retire /legacy since it probably isn't needed any more.

So, current status

[2019-12-18 20:16] finnagin commented on #590
I'm going to go ahead and close this issue.

[2019-12-18 20:16] #590 closed

[2019-12-18 20:19] saramsey commented on #590
Sorry @edeutsch for the notifications!  But I suppose that it is good that we tested for any unforeseen dependencies on rtx.ncats.io, before NCATS shuts it down.

[2019-12-18 20:19] saramsey commented on #590
Thanks @finnagin for doing this work.

[2019-12-19 20:06] saramsey opened #594 "configure Neo4j HTTPS/TLS on arax.rtx.ai"

[2019-12-20 21:34] saramsey opened #595 "need to sync up the information in kg1endpoint KG and the built-in RTX KG"

[2019-12-20 21:34] saramsey commented on #595
see also #576 and #591

[2019-12-20 21:35] saramsey commented on #576
subsumed by #591 and #595

[2019-12-20 21:35] #576 closed

[2019-12-20 21:38] #574 closed

[2019-12-20 21:38] saramsey commented on #575
Hey @finnagin  how is this going?

[2019-12-20 21:52] saramsey commented on #529
there should definitely not be any gene nodes in KG2 that have no "name"

[2019-12-20 21:53] saramsey commented on #529
<img width="1030" alt="Screen Shot 2019-12-20 at 1 53 30 PM" src="https://user-images.githubusercontent.com/5562107/71295290-20910a00-2330-11ea-8dc3-db4c9892a2c8.png">

[2019-12-21 22:05] amykglen commented on #559
all of these were resolved in the latest kg2 build - closing issue

[2019-12-21 22:05] #559 closed

[2020-01-09 21:21] finnagin commented on #325
This is currently running in kg2endpoint2 so I think this is safe to close now.

[2020-01-09 21:21] #325 closed

[2020-01-20 19:41] amykglen commented on #565
I've made the code changes to address this issue and am in the process of testing/deploying - wanted to document this hurdle for the record:

`umls2rdf.py` was getting stuck on MTHSPL when it was loaded with `load_on_cuis`... even though the [documentation](https://github.com/ncbo/umls2rdf) says that file should use `load_on_cuis`...

switching it back to `load_on_codes` fixed this (the script com

[2020-01-22 19:00] amykglen opened #596 "out of memory error when running multi_owl_to_json_kg.py with full owl-load-inventory.yaml"
getting this error when running `multi_owl_to_json_kg.py` on kg2dev:

[code]

occurred while reading umls-msh.ttl - this was the last stdout line:
[code]

[2020-01-22 22:12] amykglen commented on #596
problem is likely just that I hadn't set owltools memory before running the script - can do so using these lines (as they appear in `build-multi-owl-kg.sh`):
[code]
(trying this out now... thanks, Steve!)

[2020-01-22 22:46] amykglen opened #597 "write script that generates a slimmed down version of KG2 for easier computation"
documenting Steve's idea to create a slimmed down or lightweight KG2 that includes only bare-bones node/edge properties (e.g., perhaps only `id`, `name`, `full_name`, `category_label` for nodes...)

this could bring down the graph's size to a couple GB, making it a lot easier to analyze/store/etc... (a lot of KG2's size comes from properties like `description`, `publications`, and `publications_in

[2020-01-23 04:39] amykglen commented on #596
issue resolved

[2020-01-23 04:39] #596 closed

[2020-01-24 17:32] dkoslicki opened #598 "Full text search now missing"
On http://arax.rtx.ai:7474/browser/
[code]

[2020-01-24 21:35] finnagin commented on #598
@dkoslicki I think we are keeping full text indexing off of arax.rtx.ai since it requires that we have it out of read only mode.

However, it looks like it is also not currently enabled in either kg2endpoint2.rtx.ai or kg2endpoint.rtx.ai. I'll look into why that is.

[2020-01-25 05:37] saramsey commented on #598
@finnagin not sure if I understood you correctly, but it sounds like you are saying that we could (in principle) host two Neo4js with the same underlying KG-- one (call it server-rw) that is read/write and has a full-text index, and that does not have direct web UI / REST API access from anything other than the ARAX server; and another Neo4j (call it server-ro) that is read-only, which does have w

[2020-01-26 03:23] saramsey commented on #529
it looks likely that the issue is in the script `ncbigene_tsv_to_kg_json.py`, right?

[2020-01-26 16:55] amykglen commented on #529
yes, I believe so... (for the affected nodes that are genes, of course...)

[2020-01-27 00:35] #565 closed

[2020-01-27 00:40] amykglen commented on #544
latest update: fixing #565 resolved another 270k orphan edges... down to 600k remaining now

[2020-01-27 19:40] amykglen opened #599 "Predicate remapping for 'MTHMST:RB' is backwards"
Here's such an edge - it should be pointing the other way:

![Screen Shot 2020-01-27 at 12 38 13 PM](https://user-images.githubusercontent.com/49423686/73207421-e9b5cd00-4101-11ea-9cf7-6165f639f961.png)

(just need to invert the remapping in `predicate-remap.yaml`)

[2020-01-27 19:42] #599 closed

[2020-01-27 20:13] amykglen commented on #578
hmm... I think perhaps this issue has to do with "RN" (i.e., 'narrower') relationships... I got similar errors from a couple other files in the latest build, all for edges with an "RN" predicate...
[code]
[code]
these RN edges aren't making it into the graph, but I'm not sure how terrible of an issue that is, as I think (?) there is generally a corresponding 'RB' relationship (inverse of RN) for e

[2020-01-29 00:46] amykglen commented on #586
Made the changes for this - you can now optionally use the flag `--useSimplifiedPredicates` when running `report_stats_on_json_kg.py` to make it analyze edges by their simplified predicates.

I also went ahead and made `build-kg2.sh` use this flag when running `report_stats_on_json_kg.py` on `kg2-simplified.json`. (That makes sense, right?)

[2020-01-29 07:35] finnagin commented on #598
@saramsey Yeah I was thinking that would be the best solution though it might be useful to access it from the browser as well. Maybe we could host a separate instance with rw access but a different user/pass?

[2020-01-29 17:20] edeutsch opened #600 "ARAX and DSL"
Hi everyone, I checked in some stubs for ARAX-Overlay and ARAX-Expander. No functionality yet, but this is my suggested framework for how this could integrate nicely. Feel free to push back and suggest a modification or different approach. I don't have a lot of Python experience. I also put my opinions on how to do this nicely in the README here:
https://github.com/RTXteam/RTX/tree/master/code/ARA

[2020-01-31 00:41] #586 closed

[2020-01-31 22:00] edeutsch commented on #600
I have checked in a new version of ARAX_expander.py. @amykglen I think this version should be good to start hacking on. Please try running its main() and make sure it works for you, and also if it makes sense. I managed to get on slack, so feel free to ask questions there..

[2020-02-02 06:00] saramsey commented on #597
For edges in the slimmed-down graph, I think all we may need (for now) is
`simplified_relation_curie`, `subject`, `object`, `simplified_edge_label`, and `provided_by`

[2020-02-02 17:30] saramsey commented on #597
See this python script for an example of style and formatting that we use, and for how we use `argparse`:

https://github.com/RTXteam/RTX/blob/master/code/kg2/merge_graphs.py

[2020-02-03 19:05] dkoslicki opened #601 "config.json file fails to scp"
Ran the following:
[code]
Got the following error:
[code]
Appears to be due to `pscp` not being on ubuntu by default [see this line](https://github.com/RTXteam/RTX/blob/1023d55278d0494644d7bbba30ad376ad0332ef6/code/RTXConfiguration.py#L20).

Maybe need to add this in the requirements, or just switch over to scp instead of pscp.

[2020-02-03 19:11] edeutsch commented on #601
oops, this is my unintentional commit, sorry! I have just reversed it. Please pull and try again.
Would be nice to dream a mechanism to allow a computer-specific config file that allows one to specify the local scp client.

[2020-02-03 19:13] saramsey commented on #601
@edeutsch just curious, doesn't Win10 have OpenSSH installed?

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse

[2020-02-03 19:21] edeutsch commented on #601
hmm, well, I just tested on the two windows machines in front of me, and they do! So it's a mystery why scp wasn't working on the machine that I felt the need to switch scp -> pscp. Must be my home machine? I will investigate tonight. In any case, you're right, there is no need to be using pscp, so no need to have a computer-specific scp client after all. puzzling.

[2020-02-03 20:18] dkoslicki commented on #601
Ok, appears to work now. Thanks Eric! Closing

[2020-02-03 20:18] #601 closed

[2020-02-03 20:23] dkoslicki opened #602 "mySQL error in ARAX tests"
Trying to get @edeutsch ARAX stubs and tests working, and running into something I haven't seen before:
[code]

Do I need to somehow give permissions to the `rt` user? This is in my local dev environment btw.

[2020-02-03 20:33] edeutsch commented on #602
This is what I mentioned on Friday that the API system is tied to a local MySQL server that stores and retrieves Messages. I offered to help get it set up on Friday, but it seemed like the alternative plan was to rewrite the tests so that a local MySQL instance could be avoided. I re-wrote the ARAX_Expander test to not use this system. But some of the other still do. There are several steps to get

[2020-02-03 20:48] edeutsch commented on #602
Basically the steps are this:

Install a MySQL server on localhost if needed

On your localhost MySQL server, create a user ‘rt’ with password xxxxxx
(see the RTXConfiguration for the correct password)
As root, run the command:
  create database rtxfeedback;
 The user rt will need write access to that database

cd G:\Repositories\GitHub\RTX\code\UI\Feedback
python3 reinitiatizeDatabase.py yes

- C

[2020-02-03 23:00] dkoslicki commented on #602
Thanks Eric! For onboarding/completeness, I got it to work with:
[code]

[2020-02-03 23:00] #602 closed

[2020-02-04 01:14] amykglen opened #603 "'add_qnode' throws 'node is not in our knowledge graph' error"
Getting this error when `add_qnode` (in `ARAXMessenger`) is run, even though there **is** a node with this curie in our knowledge graph...
[code]
(I've tried adding nodes with different curies/names and those also throw the same kind of error..)

[2020-02-04 01:25] edeutsch commented on #603
maybe build/rebuild the kgnode index like this:

cd code\reasoningtool\kg-construction
python KGNodeIndex.py -b

does that fix?

[2020-02-04 01:44] amykglen commented on #603
ah, yep, that worked. thanks!

[2020-02-04 01:44] #603 closed

[2020-02-04 17:25] amykglen commented on #591
noticed another instance of this...  `arax.rtx.ai:7474` returns 39 results for this query (proteins associated with Parkinson's) while `kg1endpoint.rtx.ai:7474` returns only 20:
[code]
(KG2 also returns only 20 results for this query, since it ingests the KG1 at kg1endpoint..)

[2020-02-04 21:39] dkoslicki opened #604 "Create demo branches and subbranches for the project"

[2020-02-04 21:41] dkoslicki commented on #604
make demo branch
[code]
Then add meaningless commit so you can see the changes [here](https://github.com/RTXteam/RTX/network).

[2020-02-04 21:46] dkoslicki commented on #604
Create overlay branch
[code]

[2020-02-04 21:47] dkoslicki commented on #604
Create expander branch
[code]

[2020-02-04 21:50] dkoslicki commented on #604
Create filter branch
[code]

[2020-02-04 21:55] dkoslicki commented on #604
Note to all @finnagin @edeutsch @saramsey @amykglen @isbluis , the branches have now been created.
To work on your specific branch:
[code]
To pull code from some other branch that you need into your branch
[code]

[2020-02-04 21:57] edeutsch commented on #308
Hi everyone, just to inform you all, I am using Python 3.7.x on my various machines. arax.rtx.ai is running 3.7.3 in production. David and I were just struggling with a weird error message related to conversion of a dict to an object using a from_dict method. After thrashing around for a while and coming up dry, David upgraded his Python 3.6.8 (and perhaps some outdated modules) to Python 3.7.? an

[2020-02-04 22:01] #604 closed

[2020-02-04 23:27] dkoslicki opened #605 "Get NGD working with ARAX_overlay"
- [x] start with a stub
- [x] get it working with existing NGD code from Finn
- [x] **add option to introduce virtual edge similar to `overlay_clinical_info`**
- [ ] get it working with Dan's code

[2020-02-05 00:03] edeutsch commented on #605
Note that this is probably pretty easy:
- Loop over all message.knowledge_graph.nodes[] to build a lookup dict by curie
- After that, loop over all message.knowledge_graph.edges[], get the source_id, target_id curies and names from the above dict, and then basically do what the NGD controller does for each pair:
https://github.com/RTXteam/RTX/blob/master/code/UI/OpenAPI/python-flask-server/swagger

[2020-02-05 00:04] edeutsch commented on #605
It's probably just 30 lines of code. I'd just do it all in ARAX_overlay.py for now so you don't have the overhead of another class at this point..

[2020-02-05 04:59] edeutsch commented on #605
i.e. just modify/expand a little lines 76-93 in situ before trying anything fancy with other classes.

[2020-02-05 17:02] dkoslicki commented on #605
@edeutsch Yup, [your plan](https://github.com/RTXteam/RTX/issues/605#issuecomment-582176269) is exactly what I have in mind. However, I would like to do it in a separate class since:
1. I want to keep ARAX_overlay.py as thin as possible given the number of different overlay components I have in mind.
2. I want the practice of calling a separate class for each overlay component as that's the paradi

[2020-02-05 17:20] edeutsch commented on #605
okay, sounds good.

[2020-02-05 18:37] dkoslicki commented on #605
Stub complete in e4161f84 (note to self, in commit messages, issues don't get referenced if there's a space between the `#` and the number).

[2020-02-05 22:02] dkoslicki commented on #605
It's working, but is super slow, as expected. Blocking on a setup and demo script from @power10dan as after I have that, I'll switch out the old NGD for the shiny new and improved one!

[2020-02-05 22:06] dkoslicki opened #606 "Get COHD working with ARAX_overlay"
- [x] Make a stub
- [x] create an API registry somewhere that points to COHD as a KP and where our parser for it is
- [x] implement paired concept freq
#~~- [ ] implement associated concept freq~~ **not too useful for reasoning**
- [x] implement chi square
- [x] implement obs exp ratio
#~~- [ ] implement relative frequency~~ **directional, so since KG1 is non-directional edges, not implementing th

[2020-02-05 22:47] dkoslicki commented on #606
Need to decide if I only decorate existing edges, or also create new edges (eg. KG has two diseases with no edge between them, but COHD can tell us how frequently they co-occur).

[2020-02-05 23:10] edeutsch commented on #606
One might be obligated to add an edge to the query graph to give them a home. Or maybe not if it is ostensibly part of the question. Perhaps such informational edges can just live peacefully in the knowledge graph to be used by scoring algorithms and available to the interested client, even they are not visible in the formal answers. Feel free to add them now, but make a careful note of such creat

[2020-02-05 23:12] dkoslicki commented on #606
Sounds good: I put it on the agenda for the mini-hackathon so we can discuss it (and so I'm clear about how exactly those edges are to be added).

[2020-02-07 18:23] dkoslicki opened #607 "Fix rtx.ncats.io references"
seems like a lot of `rtx.ncats.io` references in messages and code

[2020-02-07 19:33] dkoslicki opened #608 "Get documentation for ARAX_overlay actions, parameters, etc"
`ARAXOverlay` class method `apply` has the full universe of all parameters.

- [x] Require action parameter to be set to true
- [x] Document what actions are permissible
- [x] `apply` calls function to apply action
- [x] that function contains the checking to see if all necessary arguments are populated and there are no conflicts, as well as provides triple quote documentation of possible argument

[2020-02-07 19:48] dkoslicki opened #609 "ARAX_filter_kg commands"
Implement ARAX_filter_kg with at least the following functionality: remove edges which have a property with a value above/below some certain threshold.

Example DSL command:
filter_kg(action=remove_edges, edge_property=jaccard_index, threshold=.02, direction=below)
filter_kg(action=remove_edges, edge_property=jaccard_index, threshold=.02, direction=below, remove_source_node=true, remove_target_nod

[2020-02-07 23:33] dkoslicki commented on #608
@edeutsch @finnagin @amykglen @saramsey @aruntejam1  I've sketched out a way such that it should be relatively easy to do the documentation, auto check for allowable parameters, convert the parameter value strings to the required types, and initialize defaults. This is done for `ARAX_overlay.py` for the `compute_ngd` action in 9d9416df. And can be viewed in [this file](https://github.com/RTXteam/R

[2020-02-07 23:40] dkoslicki commented on #608
Note that we could probably modularize this quite a bit, so we don't need to keep copy-pasting [parameter checking code](https://github.com/RTXteam/RTX/blob/overlay/code/ARAX/ARAXQuery/ARAX_overlay.py#L99-L106) everywhere....

[2020-02-08 22:38] saramsey opened #610 "add a node (or a top-level slot) into KG2 that identifies the build version"
We need to start versioning builds. I'm pretty sure that having the build version in the filename is a poor choice; it should be *in* the KG2 build file, somewhere. But where?  Should it be a *node* in the graph, with some CURIE like "KG2:build" ?  Or a *new* top-level slot in the JSON?  (Problem with that is that it won't propagate very easily to Neo4j). Still need to think about how best to do t

[2020-02-09 06:03] edeutsch commented on #607
This is now fixed in the demo branch with commit d5cbf9235a8982647cee6834b800f26ba6131080

[2020-02-10 22:45] dkoslicki commented on #606
Note to self: refactor `OCI.decorate()` to basically be the same as `ARAXOverlay.apply()` to avoid the if statements, etc.

[2020-02-10 22:49] dkoslicki opened #611 "ARAXOverlay compute jaccard"
Basically implement the DSL command `overlay(action=compute_jaccard, start_node_id=n00, intermediate_node=n01(required?), end_node_id=n02, virtual_edge_label=J1) # or NGD, or Fisher
`
- [x] stub it out in ARAX_Overlay and Overlay folder
- [x] figure out required commands
- [ ] option to compute on local KG, or RTX KG1 or RTX KG2
- [x] implement computation
- [x] add the actual virtual edges to the

[2020-02-11 00:27] amykglen opened #612 "kg_id field on edge bindings should be a string in QueryGraphReasoner's results"
In the results returned by [QueryGraphReasoner](https://github.com/RTXteam/RTX/blob/master/code/reasoningtool/QuestionAnswering/QueryGraphReasoner.py), an edge binding's `kg_id` is currently a list:
[code]
But [according to RTX_0.9.2_Swagger2.0.yaml](https://github.com/RTXteam/RTX/blob/master/code/UI/OpenAPI/python-flask-server/RTX_0.9.2_Swagger2.0.yaml#L668-L670), `kg_id` should be a string.

NOT

[2020-02-11 19:14] dkoslicki opened #613 "Merge demo into overlay"
Just for me to keep track of changes as conflicts arise.

[2020-02-11 19:14] dkoslicki commented on #607
Thanks! Closing

[2020-02-11 19:14] #607 closed

[2020-02-11 19:19] dkoslicki commented on #608
Basically all finished-ish in `ARAX_overlay.py`. Will be much easier to add additional actions in the future. Remaining thing to consider for the future is how to properly check for conflicting optional arguments (i.e. some actions can have multiple parameters some of which can conflict with each other). Handling that ad-hoc in Overlay at the moment, but **future self: think about this post demo.*

[2020-02-11 19:19] #608 closed

[2020-02-11 20:15] dkoslicki commented on #613
Everything appears to be working just fine after pulling demo branch into overlay branch. Note @edeutsch I modified ARAX_query a bit to call ARAX_overlay and added a couple more examples (which may take a while to run as the COHD and NCBI eUtils API's are called (and then cached)). See 313a0d7. Closing

[2020-02-11 20:15] #613 closed

[2020-02-12 01:11] dkoslicki opened #614 "Very slow expand?"
It appears that some expands are taking quite a while. For example, while:
[code]
executes in about 7 seconds, the following
[code]
has yet to finish after about ~20min. Note that on http://arax.rtx.ai:7474/browser/ the equivalent cypher commands:
[code]
[code]
result in 3,742 and 55,212 paths respectively. So when there's a ton of paths, it appears that expand is slowing down quite a bit. Any cha

[2020-02-12 01:27] amykglen commented on #614
Hmm... yep, I'll look into it!

[2020-02-12 04:40] amykglen commented on #614
Ok, so it seems that cypher calls aren't the real culprit here (that part is taking 30 or 40 seconds for me for the slow query) - it's instead the python code that processes the results, mainly at the end of Expand, when it's merging the answer knowledge graph into the overarching knowledge graph (that's taking a huge amount of time... 20+ minutes?).. (though QueryGraphReasoner itself is also a bi

[2020-02-12 04:45] edeutsch commented on #614
hmm, infer_result_information() sounds a lot like what I was wrestling with and my problem that I talked about today. Could it be that that code is already in place and we just need to copy it?

[2020-02-12 04:48] edeutsch commented on #614
Also, separately, it would seem that Expand() doesn't need to perform infer_result_information() at all, so calling QueryGraphReasoner may be overkill? I wonder if you'd be much better off not calling QueryGraphReasoner() from Expand, but rather performing the 1-hop Expand with your own code very efficiently? A 1-hop Expand() should be very easy cipher and not require all the fancy overhead for Qu

[2020-02-12 04:56] amykglen commented on #614
Yep, that was one of my thoughts as well. I don't think it will be hard to do.

As for `infer_result_information`, I'm not sure it's doing quite what you need (?) I think it's adding information (like edge_bindings) to already existing results (it lives [here](https://github.com/RTXteam/RTX/blob/demo/code/reasoningtool/QuestionAnswering/FormatOutput.py#L358))

[2020-02-12 16:42] amykglen commented on #614
Alright, so I just pushed [changes fixing the bulk of the slowdown](https://github.com/RTXteam/RTX/commit/e02de3f2d17b856c746a26010521f5b69d0ab55b) (the part that was in Expand itself) to the expander branch - I opted to convert the knowledge graphs being processed to dictionary format (like was mentioned as a potential eventual change to the API standard on yesterday's AHM) - and that completely

[2020-02-12 16:43] amykglen commented on #614
Now I'll work on addressing the remaining 3-minute slowdown coming from QueryGraphReasoner... (as mentioned above, I'm thinking I will skip using QueryGraphReasoner, and instead write some code more tailored to what we need for Expand..)

[2020-02-12 18:05] dkoslicki commented on #611
Working implementation now. Will defer the option to compute on local KG, RTX KG1 or RTX KG2 to after the demo, if needed. Will also defer the option to be concerned with edge types when doing the computation.

[2020-02-12 23:15] dkoslicki opened #615 "ARAX_overlay with drug - disease probabilities from ML model"
This issue is for the work @aruntejam1 will be working on. Basically, extend the ARAX_overlay class to:
- [x] have the capability to overlay `EdgeAttribute` for edges in a knowledge graph that contain direct (chemical_substance)-[]-(disease) edges
- [x] eventually have the capability to add virtual edges between any graph that contains drugs and diseases.

Will need to:
- [x] stub it out in ARAX_o

[2020-02-13 04:14] amykglen commented on #614
So it turns out that [a little tweak](https://github.com/RTXteam/RTX/commit/5ff761920f79a7ede31a8df6e505387c873ac1c4) to `infer_result_information()` (in FormatOutput.py) -- which once again entailed switching a knowledge graph to dictionary (vs. list) format -- resolves the 3-minute slowdown coming from QueryGraphReasoner (that step now takes about 1 second). So the entire expand() for the query

[2020-02-14 06:00] edeutsch commented on #614
My only concern is that QueryGraphReasoner is a gnarly black box of borrowed code that could be replaced in this instance by something pretty simple. But I don't feel strongly about it, and if it's working and fast now, then that's fine to leave it, and we can consider whether it is worth having a smaller cleaner version in Expand sometime later. So, no need to do that now if there are more urgent

[2020-02-14 16:32] dkoslicki commented on #609
@finnagin Be sure to reference this issue as you make commits.

[2020-02-14 16:37] dkoslicki commented on #609
And @finnagin , something to keep in mind: as the `knowledge_graph.edges` is just a list (and part of a class), iterating over it numerous times may cause performance issues for very large KG's. For example, [here](https://github.com/RTXteam/RTX/blob/filter/code/ARAX/ARAXQuery/Filter_KG/remove_edges.py#L33-L59) it might be good to pass over the nodes/edges just once to build a dictionary that iden

[2020-02-14 19:15] edeutsch opened #616 "How to get the UI running on your local machine"
If you are running ARAX_query and friends on your local machine and are generating nice JSON, but you want to be able to visualize these JSON beasts through the UI, here's how you can do that (at least it worked for me on my Windows box):

Step 1) Install one more needed modules for CORS support
`pip3 install flask_cors`

Step 2) Pull the latest `__main__.py` from the demo branch
Need latest demo

[2020-02-14 20:00] dkoslicki opened #617 "UI improvements for testing ARAX_overlay, filter, etc"
Currently, the UI doesn't display all edge information, which would be quite nice to be able to see. For examples, for this edge:
[code]

In the UI, when you click on this edge, all you see is:
[code]
It would be nice to have the `edge_attributes` also displayed.
Also, @isbluis , if I add a value to the `weight`, will it make the edge thicker? Or is there any way to make the edge thicker based on

[2020-02-14 20:24] saramsey opened #618 "implement ARAX_resultify.py"

[2020-02-14 21:06] dkoslicki commented on #611
Reopening since I need to add to the query graph since I added new edges to the KG. It will be impossible to rank results based on the jaccard index if these values aren't carried through to the answers.
- [ ] create new edge pulling source/target info from the way it was called
- [ ] make the qedge type the same as edge itself
- [ ] make the qedge id the same as the virtual edge type

[2020-02-14 22:45] #611 closed

[2020-02-14 22:47] saramsey commented on #618
ok @edeutsch and @dkoslicki I think it is working. please let me know if this is what you were looking for

[2020-02-14 22:52] dkoslicki opened #619 "All components callable via REST API?"
In our Milestones, we promised to make sure that ARAX_{Overlay, Expander, Filter} would be callable via REST API. Do we have this feature via the `ARAX_query.py` and tell them to use the `processing_actions` portion of the "API Standard Format 0.9.3"? Or would we rather stand up three different API endpoints that expose overlay/expand/filter?

[2020-02-14 22:54] saramsey commented on #619
My $0.02:  for the demo, I'm fine with either. I don't feel that we are *required* to provide a unified endpoint at this time (though if that is feasible and useful, I think it is fine to have a single endpoint).

[2020-02-14 22:56] saramsey commented on #616
Thank you Eric!  This looks like good material for a section of the README.md file in code/UI, maybe?

[2020-02-14 22:59] edeutsch commented on #619
The plan is a unified endpoint. The old RTXQuery was a unified endpoint and ARAXQuery is modeled after that. In fact, the current standard supports the unified endpoint while multiple endpoints would be going outside the standard. I view it as a substantial benefit that all processing can happen sequentially with one call without have to manually pass it back and forth to different endpoints (whic

[2020-02-14 23:10] dkoslicki commented on #616
Also, @edeutsch , you mind if I add the line `//var baseAPI = "http://localhost:5001/devED/";` at line 14 in rtx.js? Just so I quickly switch back and forth (without accidentally pushing the change to my branch/master/demo with that uncommented)?

[2020-02-14 23:12] edeutsch commented on #616
@saramsey, fine with me, although this recipe may just a temporary arrangement

@dkoslicki, yes, sounds like a good idea!

[2020-02-14 23:14] dkoslicki commented on #619
Sounds good! I concur with having it nice to be able to do things sequentially rather than passing back and forth.

I'll leave this issue open just as a reminder for the minor plumbing work when you get back

[2020-02-14 23:16] dkoslicki commented on #616
@saramsey I copied the info on the wiki under dev info:
https://github.com/RTXteam/RTX/wiki/Dev-info

[2020-02-14 23:22] saramsey commented on #618
have checked in 12 unit tests, they all are working

[2020-02-14 23:59] saramsey opened #620 "letsencrypt auto-renewal on arax.rtx.ai is not working"
[code]

[2020-02-15 00:06] saramsey commented on #620
ugh, we hit the ratelimit on renewal attempts; leaving the issue open; next week (Feb. 21) I will try again to test using
[code]

[2020-02-15 20:32] dkoslicki opened #621 "ARAX_expander throws error when path doesn't exist"
In `ARAX_query.py`, the message
[code]
runs just fine. But if you add the constraint of the edges being `physically_interacts_with` (of which there are no such edges in our KG attached to `DOID:1227`:
[code]
The process dies with the following:
[code]
and no response is returned. Perhaps a `try,catch` with a message about no such paths existing?

[2020-02-15 20:34] dkoslicki opened #622 "Add ability to decorate nodes with PMID's with ARAX_overlay"

[2020-02-15 20:37] dkoslicki commented on #622
Note that I added code to `NormGoogleDistance.py` and `QueryNCBIeUtils.py`, by reverse engineering Finn's NGD code to spit out PMIDs instead. This seems inefficient (it is), so may be improved when we get Dan's local code up and running.

[2020-02-15 20:57] dkoslicki commented on #622
Note, the `max_num` parameter is just taking whatever NCBIeUtils gives me. They are not ranked by relevancy score. It would be great if a Translator KP provided a ranked list of relevancy of PMIDs for different CURIEs.

In any case, tested and working.

[2020-02-15 20:57] #622 closed

[2020-02-15 21:11] dkoslicki opened #623 "Get fisher exact test into ARAX_overlay"
This may result in use being able to really get demo example 2 to shine (as I think it's what was done with the original tidbit).

- [x] Stub out on ARAX_overlay
- [x] Figure out correct syntax for DSL call and options
- [x] figure out if message KG, RTX KG1, or RTX KG2 will be used to compute it
- [x] implement in Overlay folder
- [x] unit tests
- [x] integration tests

[2020-02-15 21:18] amykglen commented on #621
Ope, sorry about that - fixed it in expander branch: https://github.com/RTXteam/RTX/commit/3332cc0bb719afd4b5ae6c6fb417f9e345465532

[2020-02-15 21:18] #621 closed

[2020-02-15 21:21] dkoslicki opened #624 "Find a good demo example 3 showing off COHD capabilities"
Main idea:
1. Pick a disease
2. Pick some known interacting proteins, and some red herrings
3. Using the idea represented by this cypher command:
[code]
4. Decorate with COHD and ngd
5. Filter out ones that COHD/ngd indicate shouldn't be there (and/or filter wrt "contraindicated")
6. Show we removed the red herring proteins
7. Write the DSL for this and check that it works

Jared suggestions:
The

[2020-02-16 03:38] dkoslicki commented on #621
Thanks @amykglen !

[2020-02-16 04:43] dkoslicki commented on #609
Note @finnagin , you should be able to run `python ARAX_filter_kg.py` to test individual actions now (originally, it was calling `overlay`). This will help significantly with diagnosing bugs.

[2020-02-16 04:51] dkoslicki commented on #609
i.e. Take a look at what the `main()` now looks like in `ARAX_filter_kg.py`

[2020-02-16 04:59] dkoslicki commented on #609
@finnagin , we should discuss how to properly handle parameters of a given type. eg. in `ARAX_filter_kg.py`, in `check_params()`, there's a line:
[code]
which seems to always throw an error (hence my commenting it out). I see what you are going for here, but we need to think about how to allow arbitrary floats as values to parameters.
Maybe something like
[code]
and then be sure to include an `all

[2020-02-16 05:19] dkoslicki commented on #609
@finnagin
Tried the following fix:
[code]
Testing it now (but need to deal with the property vs attribute things first)

[2020-02-16 06:49] dkoslicki commented on #609
Fixed the float issue with the following:
[code]
and then have the allowable parameters look something like:
[code]

[2020-02-16 06:50] dkoslicki commented on #609
Not sure the `remove_connected_nodes` is correctly being performed though, since checkout out ` python ARAX_query.py 12`. While all the edges are being removed, a ton of drugs are still being printed out...

[2020-02-16 06:53] dkoslicki commented on #609
@finnagin Still need the option in `remove_edges_by_attribute` to only remove one node (probably by id) instead of just both or neither

[2020-02-16 11:25] finnagin commented on #609
@dkoslicki after looking into the `removed_connected_nodes` issue it looks like it is working correctly for me.

I looked at the output of `python ARAX_query.py 12` and had it print the ids (instead of the names) and then I tried not filtering any edges and looking at all of the edges that had edge attributes and none of the nodes that remained after filtering all the edges were connected to any o

[2020-02-16 22:57] dkoslicki commented on #609
Thanks for noting this @finnagin, it might mean that I need to look into my Jaccard index overlay to make sure it’s being computed for every target node correctly (as in example `ARAX_query.py 12`, each `chemical_substance` node should really should have an edge with that attribute connected to it. I’ll investigate tomorrow.

[2020-02-16 22:59] dkoslicki opened #625 "ARAX_overlay jaccard + ARAX_filter_kg interaction"
@dkoslicki Check to see why not all `chemical_substances` disappear when remove kg edges filter threshold is set above the max occurring jaccard index in `ARAX_queryl.py 12`.

[2020-02-16 23:02] dkoslicki commented on #618
Btw, is anyone planning on writing the wrapper to get this to integrate with the `demo` branch? In emails, @edeutsch may have indicated that he would work on this (possibly the week after this Monday). LMK if that’s the plan, otherwise we need to identify who can do that (as they need to be familiar with the API object model).

[2020-02-16 23:08] dkoslicki commented on #614
+1 to keeping the “core brain” of RTX KG1 or KG2 around for a while. And considering the speed ups that @amykglen has been able to make, I agree that it’s not urgent or necessary for the demo to depart from the `QueryGraphReasoner` and roll our own expander to completely replace it. Note, btw, that `QueryGraphReasoner` is not a total black box as Finn and I have been able to somewhat understand it

[2020-02-16 23:10] dkoslicki commented on #605
@amykglen If you’ve made any attempts or run into problems trying to integrate Dan’s code for ngd, please keep me posted here. Depending on the difficulties you run into, I may give it a go myself, and then we can decide if we scrap it until post-demo or not.

[2020-02-16 23:23] amykglen commented on #605
Will do! I haven't tried yet (was traveling the last few days), but plan to dive in tomorrow. Will keep you updated!

[2020-02-17 04:46] dkoslicki commented on #625
Closing as this appears to be fixed by @finnagin cbdef29

[2020-02-17 04:46] #625 closed

[2020-02-17 04:48] dkoslicki commented on #609
@finnagin I've done a bit of work on your branch and confirmed that your cbdef29 fixed #625. So things are working as intended. As usual, be sure to pull before committing.

[2020-02-17 05:01] dkoslicki opened #626 "Future DSL/System enhancements"
In the process of developing this prototype demo, this issue will record a number of observations/ideas I/we have encountered that may/may not be worth pursuing pending future funding:
- [x] **Thresholds** ARS/ARA's/end users may have no idea how to set thresholds. Perhaps provide options like "x std deviations about the mean" or for actions like jaccard "at least x% of nodes in common"
- [x] Post

[2020-02-17 05:13] dkoslicki commented on #609
Should focus now on ability to **filter by node/edge property**. In particular, by `x.provided_by for x in message.knowledge_graph.edges` with all the options to
- [ ] just remove the edge
- [ ] remove both connected nodes
- [ ] remove only one node based on qnode_id

[2020-02-17 05:43] dkoslicki opened #627 "ARAX_expand: edge directions matter. Should they?"
In the following query:
[code]
a graph is found with 960 nodes. Yet reverse the direction of one `qedge`:
[code]
and you get an empty graph. @amykglen @saramsey Is this ok with you guys? I thought one paradigm was that "most" edges should be considered bidirectional...

[2020-02-17 05:51] dkoslicki commented on #624
Secondary hypertension: DOID:11130. In KG1, only connected to phenotypes and other diseases.

Start of a DSL with secondary hypertension:
[code]
Will need to add functionality for COHD to overlay virtual edges since the drugs are not directly connected to the disease, just the phenotype. See #606

[2020-02-18 00:27] saramsey opened #628 "incorrect category label for CUI:C1418837 in KG2"
Kindly reported by Michael Patton at UAB:
[code]
Relevant subgraph shown here:
![Screen Shot 2020-02-17 at 4 27 22 PM](https://user-images.githubusercontent.com/5562107/74693839-68060c00-51a2-11ea-9bfc-708544b084f8.png)

[2020-02-18 03:47] dkoslicki commented on #626
Order of operations matter. Doing ``overlay(action=compute_jaccard...`` introduces virtual edges that then *also* get decorated by COHD information if afterwards you call ``overlay(action=overlay_clinical_info...``, but not if the order of operations is reversed. Intended behavior, or not?

[2020-02-18 05:56] dkoslicki commented on #624
Apparently COHD doesn't know about chemical substances and can't convert them to OMOP concepts :(

[2020-02-18 19:17] dkoslicki opened #629 "ARAX_filter_results"
We will need the ability to filter results. @finnagin, similar to how you implemented ARAX_filter_kg, we will need an `ARAX_filter_results`. Of course, you won't be able to actually work on this until after @saramsey finishes the `recompute_results()` and @edeutsch writes the wrapper (see #618).

For the demo, the requirements are at minimum the following DSL command
[code]
Other possible `action`

[2020-02-18 20:54] isbluis commented on #617
Hi David.

I will add this today.  Which branch would you like me to push this onto?
Also, do you have a good example query I can test against?

Thanks!

[2020-02-18 23:09] dkoslicki opened #630 "ARAX_expander mis-mapping Neo4j node/edge properties to API object model?"
When calling expander, it appears that Neo4j node/edge attributes may be mis-mapped to the API object model. For example, with the following query:
[code]
Then `message.knowledge_graph.edges` contains
[code]
However, in [KG1](http://arax.rtx.ai:7474/browser/) with the cypher command
[code]
The drug-target binding probability of `0.01463665774` should really be an `edge_attribute` instead of a `con

[2020-02-18 23:29] dkoslicki commented on #609
@finnagin  something odd is going on when you pass a property_value that isn't in the KG. Eg
[code]
Gives an error of
[code]
which looks to be the whole set of `edge_properties`, not just the ones indicated by `edge_property=provided_by`

[2020-02-18 23:35] dkoslicki commented on #609
I think you may want to mimic `remove_edges_by_attribute``, in particular, these lines:
[code]
Instead of using
[code]

[2020-02-18 23:36] dkoslicki commented on #609
Perhaps with `if` statements depending on the provided `edge_property` if it's provided

[2020-02-18 23:39] dkoslicki commented on #617
Thanks @isbluis! Perhaps the `demo` branch. And then following the [directions Eric provided](https://github.com/RTXteam/RTX/wiki/Dev-info), run `python ARAX_query.py 11` after editing it to spit out the message id via `print(json.dumps(ast.literal_eval(repr(message.id)), sort_keys=True, indent=2))`

[2020-02-19 00:15] dkoslicki commented on #624
Note to self: Circumventing COHD/ngd slowness by adding specific nodes.
Mappings are:
**PROTEINS THAT HAVE NOTHING TO DO WITH HYPERTENSION**
Calcitonin -> calcitonin receptor? UniProtKB:P30988
Gastrin P01350 -> UniProtKB:P01350
Amylin P10997 -> UniProtKB:P10997
melanocyte-stimulating hormone / MSH / pro-opiomelanocortin P01189 -> UniProtKB:P01189
Ghrelin Q9UBU3 -> UniProtKB:Q9UBU3

**Proteins that

[2020-02-19 00:16] saramsey commented on #618
I'm working on a new version of this module that (1) deals with the is_set=True case and (2) complies with the API object model.

[2020-02-19 00:21] dkoslicki commented on #624
Searching for alternate contrived example via:
[code]
Looks like we will have quite a few examples to choose from. Paring the list down now to something of reasonable size (that would look good on a slide)

[2020-02-19 00:44] dkoslicki commented on #624
To get entity counts to limit API calls, look via
[code]

[2020-02-19 00:44] dkoslicki commented on #624
Searching now via:
[code]

[2020-02-19 01:18] amykglen commented on #605
An update (or lack thereof): I've been working on trying to integrate Dan's code this afternoon, but have not made much (or any) progress. I've been trying to get [sample_workflow.py](https://github.com/RTXteam/RTX/blob/dan_benchmark/code/dan_work/sample_workflow.py) to run, but haven't gotten there yet.. (been working through errors - for example, the function in the file refers to 'self', but it

[2020-02-19 02:35] dkoslicki opened #631 "Document DSL functionality"
We should start a markdown document somewhere enumerating:
- [x] the capabilities of ARAX
- [x] each of the components
- [x] the KP's utilized in `overlay`
- [x] the brain underlying `expand`
- [x] and the KP's utilized to construct KG1.

[2020-02-19 04:28] isbluis commented on #617
Thank you @dkoslicki .   I was not able to get the system fully running (incompatible versions of Python/numpy/etc), but I did add the features and tested with some hand-crafted data.

If you have a minute, could you have a quick look and see if you like the output?
- Edge (and Node) properties will show up when clicked on in the "Knowledge Graph" and individual result graphs
- Edge thickness is d

[2020-02-19 04:40] dkoslicki commented on #617
Ah yes, we discovered that the system now needs python>=3.7 and other updated dependencies. I'll try checking out your update tomorrow morning!

[2020-02-19 05:21] saramsey commented on #628
Another related bug report
[code]

[2020-02-19 16:35] amykglen commented on #605
So I bailed on working with `sample_workflow.py` and instead am trying to start by running [XMLExtractorTests.py](https://github.com/RTXteam/RTX/blob/dan_benchmark/code/reasoningtool/QuestionAnswering/XMLExtractorTests.py)... have been making slightly more progress on this front, but the latest error I'm getting is:
[code]
There seems to be no variable in `config_file.py` called `spark_redis_jar`,

[2020-02-19 16:41] amykglen commented on #605
Huh, apparently `spark_redis_jar` was deleted in this commit: https://github.com/RTXteam/RTX/commit/76048ab39ebe816a5ab793a40e51970500243c78

[2020-02-19 17:44] amykglen commented on #605
(I went ahead and deleted the `spark_redis_jar` import as it actually doesn't seem to be used)

So I am now able to run `XMLExtractorTests.py` (just using a small dataset from PubMed for now, to see if I can get going before worrying about all of PubMed): the function `test_read_update_df` seems to run ok, but then the rest of the functions in there error out like so:
[code]

[2020-02-20 00:05] dkoslicki commented on #624
That cypher query takes too long, focusing on the following:
[code]

[2020-02-20 04:04] dkoslicki commented on #624
After 4 days of trying this, I've decided that the COHD `paired_concept_freq` is just not good enough to result in an adequate example. Delaying any more progress on this until I address #606 further.

[2020-02-20 06:12] saramsey commented on #618
I have attempted to write a function to generate a Results list given a KG and a QG (all three in the Swagger API object model). The code is in the "demo" branch:

https://github.com/RTXteam/RTX/blob/demo/code/ARAX/kg_qg_results.py

[2020-02-20 19:52] dkoslicki opened #633 "Integrate result reconstruction into overlay"
Using Steve's #618 , see if it works in conjunction with `ARAX_query.py` and `ARAX_overlay.py`.
- [ ] test on pre-constructed message in `ARAX_overlay.py`
- [ ] test in `ARAX_query.py`

[2020-02-20 20:19] dkoslicki commented on #618
@saramsey Not all nodes in the KG need to have the `is_set` property specified so [these lines](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/kg_qg_results.py#L126-L129) shouldn't return an error. Eg.
[code]
is an acceptable node in the KG corresponding to the QG:
[code]
Better to assume that if `node.is_set` is `None` (or `False`), then it's not supposed to map to a set of QG nodex, but a si

[2020-02-20 20:42] dkoslicki commented on #618
Looks like another problem with the consistency of edge-to-node relationships (starting on line 143 of `kg_qg_results.py`:
[code]
yet looking at this edge:
[code]
its `qedge_id` is 'e02' and in the query graph
[code]
There's definitely an 'e02' and the nodes even match up with the right `source_id` and `target_id`:
[code]

[2020-02-20 21:14] dkoslicki commented on #618
**Sub-issue label: # 3**
We will want to address how we really want the results stored. After making hacky workarounds to sub-issues 1 and 2, I find that in our current demo example 2 (i.e. `ARAX_query.py 12`):
[code]
Only a single result gets returned (basically, the entire KG). The goal of this example was to have the result "essence"'s be basically a list of drugs (eg `[x.name for x in message.

[2020-02-20 21:21] dkoslicki commented on #633
Closing as better left in #618

[2020-02-20 21:21] #633 closed

[2020-02-20 22:09] saramsey commented on #618
OK I am working on this -- I have been in class. Looking into these issues now....

[2020-02-20 22:13] saramsey commented on #618
OK, just pushed a updated version to address sub-issue 1 (includes a test case, test02).

[2020-02-20 22:13] dkoslicki commented on #631
API list in `ARAX/KnowledgeSources`

[2020-02-20 22:24] saramsey commented on #618
have just pushed an updated version to address sub-issue 2 (includes a test case, test03)

[2020-02-20 22:30] saramsey commented on #618
Hi @dkoslicki for sub-issue 3, can you please paste here a dump of the KG and QG that are being passed to `get_results_for_kg_by_qg`?

[2020-02-20 23:37] dkoslicki commented on #631
@finnagin Note that 04febd2 touched your code, so be sure to merge overlay into filter before doing more work.

But good news is we have a (very basic) auto-gen documentation of the capabilities of `overlay` and `filter_kg`! See [this markdown doc](https://github.com/RTXteam/RTX/blob/overlay/code/ARAX/Documentation/test.md)

[2020-02-21 02:51] dkoslicki commented on #605
Note to self: would be really useful to create classes like `add_kg_edge` and `add_kg_edge_attribute` and call them in all the `overlay` functions. But, you know, time constraints...

[2020-02-21 03:57] dkoslicki commented on #606
Closing as b8e8c58 finishes the to do's.

[2020-02-21 03:57] #606 closed

[2020-02-21 03:59] dkoslicki commented on #609
@finnagin do I understand correctly that since we can now filter by both node attribute and property, we can close this issue?

[2020-02-21 04:00] dkoslicki commented on #623
Low-prio now as not in milestones and will require discussions with @amykglen if this belongs in `expand` or `overlay` as there are options for it to either utilize message KG (if the proper nodes have been added) or KG1 or KG2 and results will be vastly different depending on which is which.

[2020-02-21 04:03] dkoslicki commented on #629
@finnagin now that #618 is working somewhat (ping me if you want to know how to use it). I think we should **really** push on this one. Let me know your bandwidth and if I should focus on this 2/21 (tomorrow) or if you'll be able to handle it.

[2020-02-21 04:10] dkoslicki commented on #629
@finnagin Note, I merged `overlay` into `filter`, so you should be good to go right away

[2020-02-21 05:31] dkoslicki opened #634 "Must all edge attribute values be strings?"
@edeutsch Per [these lines](https://github.com/RTXteam/RTX/blob/demo/code/UI/OpenAPI/python-flask-server/RTX_0.9.3_Swagger2.0.yaml#L954-L957) it appears all edge attribute values should be a string. Is this accurate? For everything @finnagin and I have been doing, they make most sense as floats (or of types specified by [this line](https://github.com/RTXteam/RTX/blob/demo/code/UI/OpenAPI/python-fl

[2020-02-21 05:53] edeutsch commented on #634
This is accurate, but not really intended. Careless modeling I suppose. It really should be a type of `any`, with the type specified in the field `type`. I am uncertain if the framework mandates a string. What happens if you set the value to a float? Does it crash? or does it convert it to a string automatically? Next week I can try adjusting the schema to what it should be.

[2020-02-21 06:02] edeutsch commented on #605
actions really should not be classes themselves. Rather classes should things that can perform actions, which are the methods of the class. I already have the (somewhat fancifully named) ARAXMessenger class, which has methods like add_qedge(). It would natural to put `add_kg_edge()` or even just `add_edge()` there.

In theory `add_edge()` should be a method of the KnowledgeGraph class, but this is

[2020-02-21 06:08] saramsey commented on #618
sub-issue 4: add error handling so that exceptions are caught and wrapped in an API Message object

[2020-02-21 06:09] saramsey commented on #618
OK @dkoslicki @edeutsch the module https://github.com/RTXteam/RTX/blob/demo/code/ARAX/kg_qg_results.py
is ready for testing.

[2020-02-21 06:09] saramsey commented on #618
Test case `test05` specifically tests sub-issue 4.

[2020-02-21 06:43] dkoslicki commented on #624
Finally found a good example that will:
1. Execute in reasonable time
2. Be relatively quick to understand
3. Demonstrates the capabilities of COHD
4. Demonstrates the capabilities of NGD
[code]

[2020-02-21 06:52] dkoslicki commented on #634
The problem is that `ARAX_filter_kg` and other components sometimes expect the value to be a float (or of the type indicated in the `type` field). But things like `numpy.inf`, `float(-inf)`, etc. don't appear to play well with `print(json.dumps(ast.literal_eval(repr(message.knowledge_graph.edges)), sort_keys=True, indent=2))`. Thankfully, @finnagin has been automatically converting to `float` in h

[2020-02-21 06:55] dkoslicki commented on #624
See the [ARAX DSL examples](https://docs.google.com/document/d/1VweSOVxZS-7rXMc2ZhaZ6fpqYKaxRH_Vht0-PXRmy84/edit?usp=sharing)  document **example 3** for a more detailed description.

[2020-02-21 06:55] #624 closed

[2020-02-21 07:07] dkoslicki commented on #605
@edeutsch True. I was mostly referring to the classes/modules in the  `Overlay` subfolder that could contain a module/class that handles the addition of QG edges and KG edges depending on:
1. The action that was called
2. The sub-action that the action facilitates (eg. COHD can do many different things)
3. Custom handling of minor discrepancies between overlay actions.

Basically, I am noticing th

[2020-02-21 07:14] dkoslicki commented on #618
@saramsey do you want me to hold off until it's placed into the `ARAXQuery` subfolder, wrapped in a class, and is tested within a `ARAX_query.py` DSL command? Or should I test before then? I can put it on the agenda for tomorrow either way.

[2020-02-21 07:25] dkoslicki commented on #618
Ridiculously minor, but my IDE says line 57 `qg_nodes_override_treat_is_set_as_false: bool = True,`
and line 80 `qg_nodes_override_treat_is_set_as_false: set = None` have conflicting suggested types of `bool` or `set`. Don't think it'll matter much, but thought I'd mention it...

[2020-02-21 14:24] saramsey opened #635 "Uniprot nodes have information that should really be in edge attributes"
Issue reported by the PMI/UAB team.

[2020-02-21 14:26] saramsey opened #636 "ETL of Reactome"
PMI/UAB team requests that Reactome be ETL'd into KG2, including evidence codes, assay types, and provenance information (including PMIDs) for assertions about interactions and pathways.

[2020-02-21 16:32] saramsey commented on #618
From @dkoslicki
[code]

[2020-02-21 16:33] saramsey commented on #618
logging this as sub-issue 5

[2020-02-21 16:34] saramsey commented on #618
sub-issue 5 fixed

[2020-02-21 16:40] saramsey commented on #618
regarding sub-issue 6: minor note, I see that the suggested example module ARAX_query.py starts with
[code]
on L1, but my macOS doesn't have `/bin/env` and Ubuntu doesn't have it either. Seems like `/usr/bin/env` is the LCD here so that is what I will use, unless there is a reason not to.

[2020-02-21 19:24] dkoslicki commented on #618
Re: `#!/bin/env python3`, that's left over from a copy-paste I did of one of Eric's `ARAX_query.py`
I don't use it, but imagine he might be (he's deving on Windows, so who knows), so left it in just in case.

[2020-02-21 22:12] saramsey opened #637 "DSL parser doesn't seem to allow specifying a parameter value as a single-element list"

[2020-02-21 22:22] saramsey commented on #637
This does not seem to work:
[code]

[2020-02-21 22:22] saramsey commented on #637
tentatively assigning to @edeutsch

[2020-02-21 22:23] saramsey commented on #637
for my testing, I have a workaround:

[code]

[2020-02-21 23:29] edeutsch commented on #637
I will fix, should be easy. will do so Sat or Sun.

[2020-02-21 23:32] saramsey opened #638 "Should we continue to allow query_graph_reasoner to be called via the DSL?"
**Note from SAR: The issue described below was due to a bug in my code (fixed code can be found in `test08` in `ARAX_resultify.py` in the `demo` branch). But it brought up a larger question of whether we still need to allow QueryGraphReasoner to be accessed via the DSL. Have renamed this Issue accordingly, but I am preserving the original "bug report" below for posterity.**

For some reason, when

[2020-02-21 23:35] dkoslicki commented on #631
TOC added via https://ecotrust-canada.github.io/markdown-toc/

[2020-02-21 23:39] edeutsch commented on #618
It is fine to convert all to /usr/bin/env. I haven't been using them, I just put in that (erroneous) boilerplate. Also, I did not check them in a executable. So if we want the shebang to work on all, then we need to fix the shebang in all files and then also make them executable. I can do this in a few days, or someone else can beat me to it.

[2020-02-22 00:16] dkoslicki commented on #631
Finally got it. thanks `md-toc`

[2020-02-22 00:18] dkoslicki commented on #618
@edeutsch Doesn't matter to me. I always `python ARAX_query.py` anyways and it's just for dev purposes. So I don't care about the shebangs or them being executable.

[2020-02-22 00:22] saramsey commented on #620
OK, just ran `sudo certbot -q renew` on `arax.rtx.ai` and it returned with no error.

[2020-02-22 00:22] #620 closed

[2020-02-22 02:32] dkoslicki commented on #638
@saramsey This works without error in `python ARAX_query.py 17` with the query:
[code]
However, it appears to only return one result (instead of a list of results, given that both qnodes have is_set=false).

A few things to note here:
1. Use `expand` not `query_graph_reasoner`
2. qnode `name` is either a CURIE or a Neo4j node.name
3. qnode `id=` should be a string you choose, not a DOID (by conven

[2020-02-22 02:49] dkoslicki commented on #618
**sub-issue 7**
`python ARAX_query.py 12` appears to be working
[code]
**However**, `python ARAX_query.py 17` is not:
[code]
Only a single result is being returned, when it should be a something like 3223 results as checked in cypher via:
[code]

[2020-02-22 02:59] dkoslicki opened #639 "Add ability to filter orphaned nodes"
Needed to simplify demo example 3.

[2020-02-22 03:28] dkoslicki opened #640 "ARAX_expander.py should still add nodes if they aren't connected to edges"
For examples, say the message is:
[code]
Then `DOID:8394` should still be added to the KG (someone might want to do something with it, say, get a single node just to look at its attributes).
Perhaps there's some feature of `expand()` that I'm not aware of? Like `expand(node_id=n02)`?

[2020-02-22 03:43] dkoslicki commented on #639
Implemented and tested. Compare
[code]
with
[code]
in `ARAX_query.py 18`

[2020-02-22 03:43] #639 closed

[2020-02-22 04:43] dkoslicki commented on #609
@finnagin checked, and yes, you have implemented both remove by attribute and property. So closing

[2020-02-22 04:43] #609 closed

[2020-02-22 05:12] saramsey commented on #618
From @dkoslicki

[2020-02-22 05:22] dkoslicki opened #641 "Add ability to call out to KG2 in Expander"
Maybe an option such as:
[code]
or
[code]
with `KP` being optional and defaulting to `KG1`. Fingers crossed that `QueryGraphReasoner()` "just works" on KG2.

[2020-02-22 06:27] saramsey commented on #618
Sub-issue 9 (reported by @dkoslicki ):

[2020-02-22 06:33] dkoslicki opened #642 "Problem with storing messages in Feedback Database"
Storing some messages results in errors. Example, on `demo` branch, the following works just fine:
[code]

But the following (while executing just fine with `store=false`) gives a ton of errors (at the end of this issue):
[code]
Tried nuking the Feedback database and starting over from scratch, same issue arises.

Is there some sort of `result_code` that needs to be returned by `resultify` as indi

[2020-02-22 06:51] dkoslicki commented on #638
I don’t think `query_graph_reasoner()` should be called in any `processing_actions` so would actually vote to close this as a non-issue (I.e. use `expand instead). But then again, I don’t know if there was plans to allow `query_graph_reasoner()` as a processing action. @amykglen might want to weigh in.

[2020-02-22 06:56] edeutsch commented on #642
result_code should be 'OK' and code_description should be some happy description about things going well, like this:
https://github.com/RTXteam/RTX/blob/02fd462816a554eeebd820cc8e8e7dcf65ae3775/code/ARAX/ARAXQuery/ARAX_messenger.py#L56

instead of being set to null like this:
https://github.com/RTXteam/RTX/blob/02fd462816a554eeebd820cc8e8e7dcf65ae3775/code/ARAX/ARAXQuery/ARAX_resultify.py#L136

Th

[2020-02-22 07:00] edeutsch commented on #638
Early examples that I put together did use the QueryGraphReasoner prior to the readiness of Expand. But now that Expand is ready, I think I would agree that we should scrub out calls to QueryGraphReasoner in our examples and testing. Should we completely remove its ability to be called? I don't know. It might be handy to be able to call it, but there are potential pitfalls, I guess.

[2020-02-22 07:03] edeutsch commented on #618
reasoner_id should get set during create_message():
https://github.com/RTXteam/RTX/blob/02fd462816a554eeebd820cc8e8e7dcf65ae3775/code/ARAX/ARAXQuery/ARAX_messenger.py#L53

so no need to do that, but I agree the rest should be set of something nice by the results generator.

[2020-02-22 07:17] edeutsch commented on #640
Perhaps a philosophical discussion needs to be had about this? If there is a single node in the QueryGraph, then this is treated as a "What is" question. However, if there are >1 nodes and >0 edges, then I would say that any unconnected nodes should return an error. There used to be some basic checking code to make sure that the QueryGraph was reasonable before sending it to the QueryGraphReasoner

[2020-02-22 17:45] dkoslicki commented on #640
I do think having a discussion about this would be great: the mathematician in me says a subgraph is still a subgraph even if it has disconnected components (including one or more single nodes). : )

[2020-02-22 17:46] dkoslicki commented on #642
Got it! So should be an relatively easy fix for @saramsey to fix in `ARAX_resultify.py` then.

[2020-02-22 17:48] dkoslicki commented on #618
@saramsey see #642 re: the problem I encountered last night (this morning?) wrt storing the messages. Looks like a single line fix, thankfully

[2020-02-22 23:03] edeutsch commented on #640
It is a valid subgraph, but in the paradigm of a QueryGraph as a question, what would a disconnected node mean? "Which proteins are targeted by ibuprofen, and oh by the way what is hammertoe?"
?

[2020-02-23 03:24] dkoslicki commented on #640
I'm imagining that the ARS might pose a question like: "how are bioentities X and Y related"? So given two disconnected nodes, try to find reasonable paths connecting them (without paths/edges being specified in the QG).  Or "are bioentities X and Y well represented in the literature? We could answer that current question now by (given a KG with just the two disconnected nodes X and Y), `overlay`

[2020-02-23 03:34] dkoslicki opened #643 "Demo stretch goal: `ARAX_standardize`"
Basically, if we receive a message from the ARS that uses CURIE's that aren't in our `KGNodeIndex`, then we don't know what they are. The goal of this would be to attempt to convert all specified CURIE's to things we know about:
- [ ] Create a `QueryRenciNodeNormalization.py` similar to [`QueryCOHD.py`](https://github.com/RTXteam/RTX/blob/master/code/reasoningtool/kg-construction/QueryCOHD.py) but

[2020-02-23 04:32] edeutsch commented on #640
I agree with everything you're saying *except* that those nodes would be unconnected.

"how are bioentities X and Y related" should be specific nodes X and Y with an edge of type "any" or NULL between them. Perhaps with a QEdge attribute allow_intermediate_nodes_and_edges=true

"are bioentities X and Y well represented [together] in the literature" also same as above but with an edge type=related_

[2020-02-23 04:39] edeutsch commented on #643
I like it. I think we can totally do this by demo time.

[2020-02-23 04:51] edeutsch commented on #637
fixed in demo branch

[2020-02-23 05:46] edeutsch commented on #642
I have made a partial fix that allows this to run successfully now. Pushed to demo.
However, one part is not a good fix. Need help from @saramsey to put in proper descriptions:
https://github.com/RTXteam/RTX/blob/7525d34c1e7d81d23618a2ff677e6a1cd89f23ae/code/ARAX/ARAXQuery/ARAX_resultify.py#L318

[2020-02-23 06:24] edeutsch commented on #642
Nevermind previous post here. Better fix pushed to demo now with commit b5469372bf31f5e34d2ed964e7a1549b25076924
Still not ideal.

[2020-02-23 07:34] edeutsch commented on #619
This now works with the latest code in demo. If you start the swagger_server on your local dev machine, then you can run this test query which runs commands via the API and it should work:
b386ecafe7ad49f9c19ec8b266dcd865697be048
This has not been deployed on arax.rtx.ai yet, but I suppose that is the next step!

[2020-02-24 04:02] dkoslicki commented on #640
+1 @edeutsch The whole “how to properly study the QG and not just default to KG1/2 and reach out to KP’s instead” has been on my mind  (as can be seen in things like my initial attempts to enumerate KP’s in the `KnowlegeProviders` folder and the comments in the [code](https://github.com/RTXteam/RTX/blob/overlay/code/ARAX/ARAXQuery/Overlay/overlay_clinical_info.py#L28) and other such places)

[2020-02-24 16:43] saramsey opened #644 "duplication of CORS headers on arax.rtx.ai"
[code]
submitted by @edeutsch

[2020-02-25 14:00] saramsey opened #645 "include subject/object phrases in SemMedDB edges"
For edges in KG2 that are derived from SemMedDB, the UAB/PMI team is requesting that the `sentence` fragments that identify the subject and object (respectively) be included as edge properties.

[2020-02-25 14:01] saramsey opened #646 "ETL of PubMed article titles into KG2"
For each PMID that is referenced anywhere in KG2, include a node for the PMID with the article title as the `name` field. Requested by the UAB/PMI team.

[2020-02-25 16:57] saramsey opened #647 "devise a way to store GO-type evidence codes for edges in KG2"
requested by UAB/PMI team

[2020-02-25 18:11] dkoslicki commented on #629
@finnagin on overlay, example 17 returns results

[2020-02-25 18:16] #642 closed

[2020-02-25 19:13] saramsey commented on #637
thank you!!

[2020-02-25 19:21] saramsey opened #648 "can we use SRI web service for predicate mapping in KG2?"
https://edgenormalization-sri.renci.org/apidocs/

[2020-02-25 19:21] saramsey commented on #648
From Chris Bizon, posted in Translator Slack on 2/17:

[2020-02-26 00:38] #637 closed

[2020-02-26 04:23] saramsey opened #649 "intermittent error in ReasoningUtilities.py"
Quite often (but not consistently everytime), I get the following error when importing `ARAXQuery` in the `demo` branch:
[code]
This is on a 2018 MBP running macOS 10.14.6 and running python 3.7.6. The output of `pip freeze` is shown below:
[code]

[2020-02-26 04:45] saramsey commented on #642
OK, if someone can give me a clue as to what the intent of `result.description` is, I can think about how to populate it. But I am fine with `no description available` for now.

An alternative might be to just *number* the results, so the `result.description` could be like "Result number 1 of 157". Not sure if that is remotely the intent of this description field, though?

[2020-02-26 04:46] edeutsch commented on #649
Looks like a problem of python not being able to open the neo4j connection properly (intermittently). I have no idea about how to debug that. Maybe an SSL thing. Sorry, I really don't know. I don't run on OS X.

[2020-02-26 04:51] edeutsch commented on #642
The intent of the description field is to describe the essence of the result in English. So, something like "Protein carbonic anhydrase 1 interacts with chemical substance acetaminophen according to ChEMBL" would be nice. Additional provenance would be amazing. "No description available" is fine.

[2020-02-26 18:18] saramsey commented on #618
@dkoslicki suggests rephrasing along these lines:

[2020-02-26 18:25] saramsey commented on #618
@dkoslicki  your script `document_dsl_commands.py` (version in the `demo` branch) on L58 specifically references an `action` key in the dictionary returned from `describe_me()`. If I do not set the `action` key as I am doing on L78 in `ARAX_resultify.py`, the `document_dsl_commands.py` script gives a `KeyError`.

[2020-02-26 18:29] saramsey commented on #618
sub-issue 11 (from @dkoslicki ):

[2020-02-26 18:38] saramsey commented on #618
sub-issue 12: use double-underscore nomenclature for module functions that are not intended to be public

[2020-02-26 19:21] saramsey commented on #618
OK @dkoslicki I think I have completed the prettifying and refactoring of `ARAX_resultify.py`. All tests pass, including running `document_dsl_commands.py` which processes `ARAX_resultify.py`. The resulting markdown file `DSL_Documentation.md` looks reasonable (I think). Ready for your inspection.

[2020-02-26 19:33] edeutsch opened #650 "allowable_parameters seems a bit odd"
I'm trying to do the documentation thing for ARAX_messenger and struggling to grok this block here:
https://github.com/RTXteam/RTX/blob/93fca5f3d14139f790998f2c62ed6f52e3089a76/code/ARAX/ARAXQuery/ARAX_overlay.py#L239

        if message and parameters and hasattr(message, 'query_graph') and hasattr(message.query_graph, 'edges'):
            allowable_parameters = {'action': {'overlay_clinical_inf

[2020-02-26 19:40] saramsey commented on #650
Huh. In `ARAX_resultify` I don't even *have* a `check_parameters` method. Is it required?

[2020-02-26 19:41] saramsey commented on #650
I'm OK with whatever change as long as it doesn't cause people who have already implemented their ARAX modules to have to do a lot of re-work (which doesn't seem to be the case with the suggestion above).

[2020-02-26 20:08] saramsey commented on #644
Fixed, I think.  Thank you
![Screen Shot 2020-02-26 at 12 08 12 PM](https://user-images.githubusercontent.com/5562107/75383175-b9905400-5890-11ea-8dcc-49fefe34267a.png)
 for showing me how to reproduce the problem using cURL.

[2020-02-26 20:08] #644 closed

[2020-02-26 20:12] saramsey commented on #618
I propose to close this issue if there are no further sub-issues. What do you think, @edeutsch and @dkoslicki ?

[2020-02-26 20:29] saramsey commented on #638
Thanks, guys. Restating this issue as a question: "Should we allow QueryGraphReasoner to be called via the DSL?". My fixed test code is here, which works nicely:

![Screen Shot 2020-02-26 at 12 29 19 PM](https://user-images.githubusercontent.com/5562107/75384909-a0d56d80-5893-11ea-84ac-250e9c54ac60.png)

If we decide to deprecate `query_graph_reasoner` from the DSL, I will eliminate `_test08` from

[2020-02-26 20:31] saramsey commented on #649
Yes, I am just documenting the issue here. Totally understand that this *may* be a user-setup issue.

[2020-02-26 20:31] saramsey commented on #649
If I had to guess, there is some kind of race condition going on. But that is a guess.

[2020-02-26 20:32] edeutsch commented on #650
I assume `check_parameters` is not required, but if one has the nice allowable_parameters mechanism for documentation, using `check_parameters` seems like a nice additional touch.

[2020-02-26 20:37] saramsey commented on #631
I think this is now done (to first-order approximation) for `ARAX_resultify.py`.

[2020-02-26 20:39] edeutsch commented on #638
An interesting test of resultify() is: do you get the same exact result with and without resultify() in this sequence? Because the query_graph_reasoner() already computes is own results. So in this case resultify() is superfluous. But it is interesting ask if the same answer is achieved.

[2020-02-26 20:44] edeutsch commented on #618
I have not tested it myself, but fine to close this AFAIC and we can open a new issue if something specific is discovered.

[2020-02-26 22:17] dkoslicki commented on #650
Quick response as might be able to better address during the mini-hackathon:
the intent for that code block @edeutsch was indeed a double life:
1. If a message was passed, populate the allowable parameters based on the information contained in the message KG/QG. Use this for DSL error checking using `check_parameters`
2. If no message was passed, use this for documentation purposes.

`check_parame

[2020-02-26 22:21] dkoslicki commented on #650
Also, @edeutsch your suggested re-factoring makes sense to me (I won't have time to implement it though, but feel free to do so and refactor the auto-gen documentation accordingly).

And to clarify: `overlay_clinical_information` has sub-actions, so the:

* 'paired_concept_freq' means "overlay with COHD paired concept frequency"
* 'observed_expected_ratio' means "overlay with COHD observed expecte

[2020-02-26 22:28] dkoslicki commented on #618
@saramsey Looks good to me! Note outcome of #650 may affect this issue in the future.
Very minor note @saramsey before closing, I would put `resultify` at the end of the list, as I intended the documentation to proceed roughly like the given example:
1. document create_message() first
2. document the qnode, qedge stuff
3. document the expand
4. document the overlay
5. document filter_kg
6. documen

[2020-02-26 22:31] edeutsch commented on #650
okay, the "double life" I was talking about was not so much populating allowed values generally vs. when a message is present, but rather being either a set of allowed values vs. free-text description/documentation.

[2020-02-26 22:38] dkoslicki commented on #650
@saramsey re:

your `ARAX_resultify.py` lines:
[code]
are basically doing what `check_parameters` is kinda doing.

[2020-02-26 22:43] dkoslicki commented on #650
@edeutsch

Right, hence why I think your re-factoring makes sense. It'd just be an undertaking to get the auto-gen markdown tables to make this look nice, and then re-factoring `check_params` in my and Finn's code to make sure it concentrates only on the keys and `allowed_values` not the `description`. And then updating my and Finn's code to include these descriptions.

[2020-02-26 23:09] edeutsch commented on #618
I have added documentation for create_message and add_qnode and add_qedge. It didn't work 100% right, but is pretty close. @dkoslicki said that the action= paradigm is not necessary, but the autodocumentation stuff assumes it, and working around those assumptions seems a little tricky.

Also, as a general note, create_message() isn't really explicitly necessary. If you don't reference an existing

[2020-02-26 23:14] dkoslicki commented on #618
In the overlay branch, it doesn't assume the `action` is there, but branches if it is. see [these lines](https://github.com/RTXteam/RTX/blob/overlay/code/ARAX/Documentation/document_dsl_commands.py#L55-L64). I had added that specifically since `expand()` doesn't use `action=`. But LMN if it's not working in some other place

[2020-02-26 23:21] edeutsch commented on #618
ah okay, I have a hack in there that inserts a fake action parameter to get the documentation code to run. Those fake actions can be removed once everything is merged. I'll stop on the documentation thing until everything is merged, since I guess mine is out of date.

[2020-02-27 05:54] dkoslicki commented on #618
Yeah, I wish I could have got to the merging earlier this week, but fire-fighting before many trips on my end is under full swing. My paradigm has roughly been to merge all existing branches into mine before doing any work, just to make sure nothing gets stomped on other branches. Then add to my branch. Seems to minimize conflicts the next time someone wants to merge “my” branch into theirs.

[2020-02-27 06:04] edeutsch commented on #618
I am uncertain if we have a clear plan. I know the plan was to merge demo into the other branches and then merge the branches down into demo. But what is not clear is who will do what by when. I think I left the Tuesday meeting thinking that others were first going going to merge demo into their branches and then at some point merge them down into demo. Was that @amykglen and @finnagin and @dkosli

[2020-02-27 14:28] dkoslicki commented on #618
@amykglen @finnagin @edeutsch I highly suggest that first Finn, Amy, and I merge demo into our filter, expand, and overlay branches respectively, then after resolving conflicts, Eric can merge them into demo. That way, each of us who are familiar with our own code branches can resolve conflicts there. Basically following the Github suggested SOP (as I understand it) but treating `demo` like `maste

[2020-02-27 14:30] dkoslicki commented on #614
@amykglen you happy with the speed and state of your expander? If so, shall we close this issue?

[2020-02-27 15:22] amykglen commented on #614
yep - closing now (sounds good to roll our own QueryGraphReasoner a bit down the road)

[2020-02-27 15:22] #614 closed

[2020-02-27 16:09] edeutsch commented on #618
okay, great, will everyone try to get demo merged up by the end of today and report issues?

[2020-02-27 16:57] dkoslicki commented on #618
Sure, working on overlay now

[2020-02-27 17:01] dkoslicki opened #651 "The great merging"
Moving the discussion from #618 to here as it's not completely related to #618 and will help us keep track of issues and have a place to discuss them.
@edeutsch @amykglen @finnagin @saramsey feel free to reference this issue as you merge so we can keep track.

[2020-02-27 17:30] dkoslicki commented on #651
`expander`, `filter`, and `overlay` should now be all synced. Plan is to now merge each into `demo` pending @edeutsch's approval

[2020-02-27 17:40] edeutsch commented on #651
go for it! thanks!

[2020-02-27 17:45] dkoslicki commented on #651
The great merging is now complete! I will be doing some documentation fixing on demo per #631 and then will merge demo back into each branch separately.
Status now: All branches synced
Plan: DMK to make some changes on demo, then sync all other branches back with demo

[2020-02-27 18:29] saramsey commented on #618
OK @dkoslicki I assume I can move the `resultify` documentation to the end of the `DSL_Documentation.md` by changing the order of a list in `document_dsl_commands.py`, right?

I am happy to do that. I will make that change in the `demo` branch, this afternoon.

[2020-02-27 19:10] dkoslicki commented on #641
@amykglen and just FYI, the `brief_description` will need to be updated [here](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/ARAXQuery/ARAX_messenger.py#L125-L126) in `ARAX_messenger` to clarify that we can also call out to KG2.

[2020-02-27 19:21] dkoslicki opened #652 "KGNodeIndex needs a refresh"
Will need to update the KGNodeIndex: [here](https://github.com/RTXteam/RTX/blob/master/code/reasoningtool/kg-construction/KGNodeIndex.py#L191) it calls out [NodeNamesDescriptions.tsv](https://github.com/RTXteam/RTX/blob/master/data/KGmetadata/NodeNamesDescriptions.tsv) that hasn't been updated for a year.
Reasons to do this:
1. KG1 may have had new bioentities added
2. We will eventually want to g

[2020-02-27 19:45] dkoslicki commented on #651
Ok, I addressed the things I wanted to address, now going to check with all about merging demo into expander, overlay, and filter so everyone has synced code.

[2020-02-27 19:48] edeutsch commented on #651
great, green light from me!

[2020-02-27 20:08] amykglen commented on #641
yep, thanks - will do that once it's ready to use!

[2020-02-27 20:15] dkoslicki commented on #651
The great merging is complete! Closing this issue: as of this moment, everyone's code is up to date with everyone else's!

[2020-02-27 20:15] #651 closed

[2020-02-27 20:17] dkoslicki commented on #618
@saramsey Already done! I wanted to fiddle a bit with the documentation and made this and other changes, so looks like you don't need to worry about that any more.

[2020-02-27 20:19] dkoslicki commented on #618
@saramsey I propose we close this issue as it appears all issues and sub-issues have been addressed (and #650 has it's own issue now), which isn't really relevant to this issue any more.

[2020-02-27 20:22] dkoslicki commented on #631
Note the [good suggestions](https://github.com/RTXteam/RTX/issues/650#issue-571608423) Eric had in #650 about making this more streamlined. But would take a fair bit of re-factoring that I don't have time before my flights

[2020-02-27 20:39] dkoslicki commented on #652
Did some experimenting, found out that no new nodes have been added to `NodeNamesDescriptions.tsv` on KG1, which corresponds to:
[code]

[2020-02-27 20:39] dkoslicki commented on #652
So only thing to address is if we can get it to work on KG2

[2020-02-27 21:01] dkoslicki commented on #652
Switching to KG2 in `dumpdata.py` via:
[code]
results in 7,405,496 entries in `NodeNamesDescriptions.tsv`, which matches with `match (n) where exists(n.name) return count(n)` on http://kg2endpoint.rtx.ai:7474/browser/. This is a marked increase from current 145,325 entries.

[2020-02-27 21:36] dkoslicki commented on #652
Then running:
[code]
apparently executes without error until it's added about 6,666,000 entries (took 29min on my machine), and then quits with the following error:
[code]
I think this would be a thing for @edeutsch to investigate

[2020-02-27 22:46] saramsey commented on #618
Thank you

[2020-02-27 22:48] saramsey commented on #529
I've asked Lindsey Kvarfordt to take a look at this issue, since this looks like it could be a good issue by which to get introduced to KG2 (just an FYI)

[2020-02-27 22:50] edeutsch commented on #652
I would need the input file to investigate more thoroughly.
Is it checked into GitHub?
SHOULD it be checked into GitHub?
---Side Note: do we have to worry about some maximum repo size?

Without looking at the data, here's my guess:
KGNodeIndex building relies on the data format:
KEGG:C01667	Bacitracin	metabolite
so the third column is the type. So.. this:
    type = columns[2]
IndexError: list ind

[2020-02-27 22:55] edeutsch commented on #529
See also #652, which may be a symptom of this problem. The KGNodeIndex system and systems that rely on it pretty much assume that every node has a non-null CURIE, name, and type.
If this is not true, things will break.
What should the policy be?

[2020-02-27 22:56] edeutsch commented on #529
(my vote is that every node has a non-null CURIE, name, and type)

[2020-02-28 00:14] dkoslicki commented on #652
A great topic for the mini hackathon @edeutsch ! Please remind me if someone doesn’t come up with a mini-hackathon agenda for tomorrow

[2020-02-28 00:22] dkoslicki commented on #652
@edeutsch Remind me to show you how to get a local copy of the `NodeNamesDescriptions.tsv`. I don’t think it should be pushed to github as it will be used for local testing (and we want to check the size of it). But it will be helpful in diagnosing the problem that we noticed.

[2020-02-28 00:31] saramsey commented on #529
I see a problem with this proposal: there are plenty of cases where we could have two nodes with different CURIEs and the same `name`. I'm fine with requiring CURIE to be non-null (in Neo4j) and unique (in fact, we use CURIE ID as the unique node identifier so it sort of has a "unique constraint" in the way KG2 is designed). But `name`?  I think we should allow Null and allow not unique. I think i

[2020-02-28 00:34] saramsey commented on #577
This is mostly tricky from an operations/deployment standpoint. Recommend we do this *after* the demo.

[2020-02-28 03:08] edeutsch commented on #652
okay, sounds good. Except that I'm terrible at reminding. Not to mention remembering. so I put them on the agenda doc. Of course, now we need to remember to look at the agenda doc tomorrow...

[2020-02-28 06:08] finnagin opened #653 "Looks like resultify might not be including virtual edges"
It looks like when I run example 12 in `ARAX_query.py` none of the results returned have jaccard index virtual edges despite the virtual edges still being in the knowledge graph. After storing the message if I look run:
[code]
I get:
[code]
However if I look for any edge ids that start with J:
[code]
I get an empty set

[2020-02-28 06:10] saramsey commented on #653
what's a virtual edge?

[2020-02-28 06:19] edeutsch commented on #653
This will be a good discussion topic for the hackathon tomorrow. I don't think we ever resolved how this should work. A virtual edge would be an edge that is not in the QueryGraph, but rather added by Overlay to express information about node pairs that may or may not be connected in the QueryGraph. The code that computes results[] probably rightly leaves it out. But it is still visible in the Kno

[2020-02-28 07:06] finnagin commented on #653
@edeutsch +1 to discussing this at the mini-hackathon tommow.

[2020-02-28 07:06] finnagin commented on #629
@dkoslicki I've added filter results code with the following actions: 'sort_by_edge_attribute',  'sort_by_node_attribute', 'limit_number_of_results', 'sort_by_edge_count', and 'sort_by_node_count'.

While I've written the code it still needs to be tested. I'll be able to test it after #653 is resolved.

[2020-02-28 16:44] saramsey commented on #653
Hey @finnagin can you provide a complete DSL snippet that exercises this bug?

[2020-02-28 16:53] amykglen commented on #641
Ok, so this is working now (in the expander branch) - the command looks like this:
[code]
(Though you can of course leave the kp parameter out and it will default to KG1.) I also [updated the auto-documentation](https://github.com/RTXteam/RTX/commit/3389121a69c669e29538fc90f5bcd0c7121dc015) in light of this (let me know if that doesn't look right).

I need to do some more rigorous testing, but it

[2020-02-28 16:57] dkoslicki commented on #653
@saramsey Here's a DSL snippet:
[code]

Also, note that the virtual edge *has* been added to the query graph. Running that DSL command results in the following `message.query_graph`:
[code]

[2020-02-28 18:04] dkoslicki commented on #653
But it looks like I forgot to add `qedge_id`'s to the virtual edges, making a fix on my end now...

[2020-02-28 18:24] saramsey commented on #529
![Screen Shot 2020-02-28 at 10 23 50 AM](https://user-images.githubusercontent.com/5562107/75575160-78c14800-5a14-11ea-8a5e-5cf1ec21d9d1.png)

[2020-02-28 18:24] finnagin commented on #653
Looks like David's fix solved this issue.

[2020-02-28 18:24] #653 closed

[2020-02-28 18:59] saramsey opened #654 "implement a fastNGD"
DMK Note: at the end, I call NGD in `overlay` via:
[code]

[2020-02-28 19:02] saramsey commented on #654
we need this implemented in case NCATS decides to test our DSL NGD functionality for a graph for which we had not previously run the NGD overlay

[2020-02-28 19:02] saramsey commented on #654
make sure that the pickledb works in python 3.7.3 on ubuntu 18.04

[2020-02-28 19:08] saramsey opened #655 "Create a slide deck for ARAX demo"
- [ ] Brief intro slide reminding NCATS of our DSL implementing the milestones
    - [ ] point to the documentation (screen shot image and link maybe?)
    - [ ] note that this is API standards compliant (given the `processing_actions` in the API std)
- [ ] Proviso slide that since there is no ARS at the moment, we will be creating messages from scratch, but that we **absolutely can** run everythi

[2020-02-28 19:11] saramsey commented on #654
@finnagin suggests that (AFTER THE DEMO) we implement natural language search. This is a great idea but would involve full-text indexing of pubmed abstracts.

[2020-02-28 19:34] edeutsch commented on #654
Note that the Python 3.7.3 on arax.rtx.ai is custom compiled by me and not part of an Ubuntu package. Somehow I was under the impression that there wasn't one available. Although I just did an apt list and it seems that Python 3.7.6 is an available Ubuntu 18 package. Maybe I should upgrade to that.. Perhaps only if there are problems.

[2020-02-28 19:58] dkoslicki commented on #652
KG2 NodeNamesDescription.tsv is 569MB exceeding the Github limit of 100MB :(

[2020-02-28 20:33] edeutsch commented on #652
No problem. It can be generated on the fly at each instance as part of the KGIndex building process.

[2020-02-28 20:51] dkoslicki commented on #652
Right, which will now take ~1hr :(
Found there is one offending nodes in KG2 causing the problem:
CHEMBL.COMPOUND:CHEMBL2259757
it has a tab in it's name.
@saramsey you might want to run the following cypher query on http://kg2endpoint2.rtx.ai:7474/browser/
[code]
And notice that, very subtly `mido)phenyl]methoxy}-5- acetamido-4-` that thing that looks like a space between the `5- acet` is actuall

[2020-02-28 21:08] edeutsch commented on #652
It suggest it get fixed in KG2 since it will surely cause pain in all manner of TSV output. And it likely an error in the original data source anyway.

I think it would be good in KG2 loader enforces several rules before loading:
- name may not be NULL and may not contain TABs
- type may not be NULL and may not contain TABs
- curie may not be NULL and may not contain TABs
- curie must be unique
-

[2020-02-28 21:31] dkoslicki commented on #652
And actually, @saramsey @edeutsch just discovered it's a *newline* not a tab

[2020-02-28 21:32] dkoslicki commented on #652
Right, but I can make a quick workaround in `dumpdata.py` so we don't need to wait for Steve to re-build KG2

[2020-02-28 21:45] edeutsch commented on #652
agreed. And update rules to:
- name may not be NULL and may not contain \t\n\r (sub \t\n\r to SPACE)
- type may not be NULL and may not contain any \s+ (sub \s+ to '')
- curie may not be NULL and may not contain any \s+ (sub \s+ to '')
- curie must be unique
- description may not contain \t\n\r (sub \t\n\r to SPACE)

[2020-02-28 23:08] dkoslicki opened #656 "Warning instead of info: QueryGraphReasoner found no results for this query graph"
@amykglen If `expand()` finds nothing (i.e. an empty graph) you should probably issue a WARNING, not just an INFO as this is rather important information to have passed down the line.

Maybe discuss with @edeutsch and @saramsey if this should be an ERROR instead....

[2020-02-28 23:10] dkoslicki commented on #652
Got the wrong commit number, just FYI:
add example 19 in ARAX_query to see what happens if you ask for a node in KG2 but not in KG1 and try to expand. Executes ok, reports no matches found. #651

[2020-02-28 23:12] dkoslicki commented on #652
@edeutsch All good for you to test on your end!

[2020-02-28 23:25] edeutsch commented on #652
The lights dimmed briefly and then I got this:

Traceback (most recent call last):
  File "dumpdata.py", line 119, in <module>
    dump_name_description_KG2('NodeNamesDescriptions.tsv', session, 'a')
  File "dumpdata.py", line 36, in dump_name_description_KG2
    fid.write('%s\t' % remove_tab_newlines.sub(" ", prop_dict['name']))  # better approach
  File "C:\Program Files (x86)\Python37-32\lib\en

[2020-02-28 23:28] amykglen commented on #654
**Summary of the work done so far toward a fast NGD:**

We have two PickleDBs, both currently living on pubmed.rtx.ai (/home/ubuntu):

`curie-to-mesh.db` (<1MB):
- generated using two scripts (not yet pushed) - one from Finn that gets the mappings using OxO and puts them in a TSV, and one from Steve that loads that TSV into a PickleDB (which I lightly edited to convert 'MeSH:' to 'MESH:')
- key/va

[2020-02-28 23:41] edeutsch commented on #652
seems like sprinkling in encoding="utf-8" fixed this.

[2020-02-28 23:51] amykglen commented on #656
yeah, good catch - I switched those to 'warnings' for now at least... what do others think about using 'error' for this? do we want execution to stop if a single expand call doesn't find any results?

[2020-02-28 23:55] saramsey commented on #654
thank you @amykglen

[2020-02-29 00:00] saramsey commented on #654
Before March 17th, I suppose there is an argument to be made that "if it ain't broke, don't fix it".  After the demo, I definitely favor a prebuilt python3 distribution from a reproducibility standpoint.

[2020-02-29 00:11] edeutsch commented on #652
Although a 600 MB file was created, the command ended with:

Failed to write data to connection Address(host='kg2endpoint2.rtx.ai', port=7687) (Address(host='3.132.37.4', port=7687)); ("0; 'Underlying socket connection gone (_ssl.c:2283)'")
Failed to write data to connection Address(host='kg2endpoint2.rtx.ai', port=7687) (Address(host='3.132.37.4', port=7687)); ("0; 'Underlying socket connection g

[2020-02-29 00:47] edeutsch commented on #652
@dkoslicki did yours complete without error? On my Windows machine, I got the above errors and a 606638514 byte file. On arax.rtx.ai, I got similar errors:

Failed to write data to connection Address(host='kg2endpoint2.rtx.ai', port=7687) (Address(host='3.132.37.4', port=7687)); ("0; 'Underlying socket connection gone (_ssl.c:2263)'")
Failed to write data to connection Address(host='kg2endpoint2.r

[2020-02-29 00:52] dkoslicki commented on #656
Yeah, don’t know if we should stop if an expand fails... good for an AHM discussion (from which I will probably be absent for the next few weeks). Feel free to put it on the agenda and I will defer to what you, @saramsey and @edeutsch come up with. After that, feel free to close this issue.

[2020-02-29 00:54] dkoslicki commented on #652
No such errors on my end. Not in front of dev machine, but iirc, the file is >508MB should be ~600MB after appending KG1 + KG2. Might be a UTF-8 vs. ASCII issue. I tested everything and it passed on my Ubuntu machine just fine...

[2020-02-29 01:10] edeutsch commented on #652
okay, i will figure it out.
It may be working okay, actually. Maybe these are just errors closing the neo4j connection after a successful query.

[2020-02-29 01:11] edeutsch commented on #654
OK!

[2020-02-29 02:59] dkoslicki commented on #649
This might be cause by `ReasoningUtilities` being imported in `ARAX_query.py` that also tries to make a Neo4j connection (I've seen this same issue on two different flavors of Ubuntu). If @edeutsch isn't using ReasoningUtilities, I vote we remove it from `ARAX_query.py`

[2020-02-29 03:12] dkoslicki commented on #655
@saramsey just sketched out my vision for how these slides might look in your comment. Hope you don't mind

[2020-02-29 03:13] edeutsch commented on #649
I don't recall if any code is using it. A lot of stuff imports it. I can try to pull it out and see if it all still works.

[2020-02-29 03:17] dkoslicki commented on #654
On my end, much success has been had with:
[code]
Then follow [these directions](https://github.com/RTXteam/RTX/wiki/Dev-info#setting-up-mysql-and-initializing-for-local-dev-work-on-arax). And a fresh python 3.7.3 (or whatever flavor you like) is up and running.

But I'm all for "if it ain't broke...." just offering a suggestion if something does break

[2020-02-29 03:18] dkoslicki commented on #652
Ok, I just tested on a different system (Ubuntu 16.04) and it executed (from the `demo` branch) and resulted in a `NodeNamesDescriptions.tsv` of size 572MB with 7472288 lines. The `python KGNodeIndex.py -b` executed without error. Also, the `ARAX_query.py 12` and `ARAX_query.py 15` (our planned demo examples) executed without error on my end. So no idea what could be causing your errors.

[2020-02-29 03:28] dkoslicki commented on #641
@amykglen can you merge `demo` into `expander` and then do the following:
[code]
and see if the result returned is non-empty? This will test if our #652 is working as intended.

[2020-02-29 03:32] dkoslicki commented on #641
@amykglen

Also, feel free to, in `expander`, re-run [`document_dsl_commands.py`](https://github.com/RTXteam/RTX/blob/expander/code/ARAX/Documentation/document_dsl_commands.py), and see if the resulting [DSL_documentation.md](https://github.com/RTXteam/RTX/blob/expander/code/ARAX/Documentation/DSL_Documentation.md) is to your liking with this additional parameter.

[2020-02-29 03:36] dkoslicki opened #657 "Change top-level ARAX/README.md"
The current [README.md](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/README.md) is **not** the first thing we want NCATS seeing when we show them the repo. This need to be redone to something like what was mentioned in the AHM:

Modifying the README.md in the ARAX/ folder that describes the system, capabilities, vision, etc. at a high level and points to where someone can go to look at more

[2020-02-29 03:45] edeutsch commented on #652
I have determined that it is running completely. The difference in file size is just the difference in line endings. So it completes just fine, but then burps our the two errors while breaking down everything in memory I guess. I've moved on because it's okay.

[2020-02-29 04:39] dkoslicki commented on #629
Now that #653 is resolved, feel free to check off your progress in the top comment of this issue. That way, we (and @edeutsch) can know exactly what DSL commands to include in the demo iPython notebooks! Thanks for implementing this so quickly!

Friendly reminder: Make sure that the DSL documentation stuff is there and re-run the `RTX/code/ARAX/Documentation/document_dsl_commands.py` and make sure

[2020-02-29 06:13] saramsey commented on #654
Just pushed a new version of `NormGoogleDistance.py` to branch `pickle-ngd`. None of the existing methods have been modified. But now there is a new *instance* method of the class `NormGoogleDistance` called `get_ngd_for_all_fast` that has the same calling signature as the static class method `get_ngd_for_all`, except the former method is an instance method so of course it has `self` as a first ar

[2020-02-29 06:15] saramsey commented on #654
I see that in the `pickle-ngd` branch, `pickledb` is already in the top-level `requirements.txt` file. So evidently there is no need for me to add it.

[2020-02-29 06:16] saramsey commented on #654
Just to be clear -- if you create a new `NormGoogleDistance` each time you want to call `get_ngd_for_all_fast`, the performance will be *terrible*. You need to create an instance of `NormGoogleDistance` (call it `ngd`) once at module level in whatever calling module you are using, and then use the stored `ngd` instance object every time you want to do a NGD lookup.

[2020-02-29 06:18] saramsey commented on #654
also, I didn't check any of the nice scripts that Amy and Finn wrote to generate the data for the pickleDB files, into this branch. @finnagin  and @amykglen can you figure out where in the code-base those scripts should go, and please check those scripts into the `pickle-ngd` branch? Thank you.

[2020-02-29 06:24] saramsey commented on #654
tagging @dkoslicki as I think it is ready for your review (again, in the `pickle-ngd` branch)

[2020-02-29 06:28] saramsey commented on #654
in order to test it, you'll need to install the two pickledb files (`curie_to_mesh.db` and `mesh_to_pmid.db`) in the same directoroy as `NormGoogleDistance.py` (i.e., in `kg-construction`). You can get those pickledb files from `/home/ubuntu` on `arax.rtx.ai`.

[2020-02-29 07:01] edeutsch commented on #649
I have observed this same behavior many times now too. I recently observed it running KGNodeIndex which does an import of ReasoningUtilities. The only thing it imports is:
import ReasoningUtilities as RU
from RTXConfiguration import RTXConfiguration

I'm pretty sure RTXConfiguration won't touch neo4j.

so the conclusion is that just a single import of ReasoningUtilities can sporadically cause this

[2020-02-29 07:13] edeutsch commented on #649
This just happened to me over on arax.rtx.ai (completely different OS than previous report). It seems to happen most frequently when a shell hasn't connected in a long while? something stale-ish? Immediately re-trying the script yielded success. RTXConfiguration is no longer part of the picture. So the only import is ReasoningUtilities. and that's where it dies.

Traceback (most recent call last):

[2020-02-29 07:32] edeutsch commented on #652
I have almost completely re-written KGNodeIndex. Instead of taking a soul-crushingly long time to build the index, it now only takes a minute or two. All the same functions work as before, but it uses native SQL instead of SQLAlchemy, which was just super slow.

To get it all working on your system, just do:

# Create new NodeNamesDescriptions.tsv
cd $RTX/data/KGmetadata
python3 dumpdata.py

# Cre

[2020-02-29 16:30] amykglen commented on #641
@dkoslicki - tested as you advised and it does seem to be working (non-empty results) - here's the output of ARAX_query.py 20:
[code]

and this is what the resulting message.knowledge_graph looks like:
[code]

[2020-02-29 16:51] saramsey commented on #657
OK, I can work on this, since #618 is closed and my work on #654 is currently paused pending feedback.

[2020-02-29 16:53] saramsey commented on #627
What's the status of this issue?  I just noticed it (sorry). I feel like a `ignore_edge_direction` boolean optional parameter (like we have for `ARAX_resultify`) would make sense, if it is technically feasible? What do you think, @amykglen ?

[2020-02-29 16:59] saramsey commented on #529
I believe @dkoslicki has a work-around for this issue, but he has said that the work-around is not optimal from an overall system functionality standpoint. But that takes some off the pressure off, on this issue. So I will focus on documentation and slide-deck issues for the time being, and will circle back to this issue when we have made progress on the top-level `README.md` (#657) and the demo s

[2020-02-29 17:01] amykglen commented on #627
Yeah, an `ignore_edge_direction` optional boolean parameter sounds good to me... I haven't yet done any work on this issue, but technical feasibility seems fine to me. I can work on this after wrapping up #641 .

[2020-02-29 17:56] dkoslicki commented on #654
@saramsey I’ll see if I can get to testing this afternoon.

[2020-02-29 19:33] dkoslicki commented on #654
@saramsey @finnagin Ran into this error:
[code]
Trying a fix on my end...

[2020-02-29 19:49] dkoslicki commented on #654
Fixing via
[code]
in `overlay`

[2020-02-29 20:26] dkoslicki commented on #654
@saramsey @amykglen  @finnagin
Got the code working, fixes pushed to `overlay`. Feel free to merge `overlay` into `pickle-ngd`
**Analysis**
Using old code:
[code]
163 phenotypes, takes **6min 19 sec**

Using new code:
[code]
156 phenotypes, takes  **3min 17 sec**

**Conclusion**
It's faster, but lot's of db misses.
Examples:
DOID:4448-->phenotypic_feature; then overlay ngd: 68 hits to db, 90 fallb

[2020-02-29 20:28] dkoslicki commented on #641
Nicely done! Glad to see that come together so quickly!

[2020-02-29 20:44] dkoslicki commented on #652
So pre-demo, just be careful about what KP (KG1 vs KG2) we are using, right? I imagine in the demo vignette's, we'll be calling with CURIE's anyway (see `ARAX_query.py` 12 and 15).

Post-demo:
This might actually be a good thing to have in the future: if the ARS sends us a name like "kidney", we can dynamically check to see (in `expand`) which KP's have knowledge about the various CURIE's that map

[2020-02-29 20:49] saramsey commented on #654
Ah, sorry about the `ValueError`. Good catch.

[2020-02-29 22:11] saramsey commented on #657
I'm going to do this work in the `demo` branch unless there are objections?

[2020-02-29 22:29] edeutsch commented on #657
no objection from me

[2020-02-29 22:38] dkoslicki commented on #529
Yes, the workaround is in place: basically `ARAX_query.py` just doesn’t know these nodes exist (since they aren’t included in the KGNodeIndex), as I ignore these “problem” nodes and they aren’t added to the index. Ref: commits in #652.

[2020-02-29 23:01] saramsey commented on #657
Have updated the overall title of the RTX repo:

<img width="1121" alt="Screen Shot 2020-02-29 at 3 00 44 PM" src="https://user-images.githubusercontent.com/5562107/75616325-4db62180-5b04-11ea-8d4a-e269b6caa4a9.png">

[2020-02-29 23:03] saramsey commented on #657
Changed my mind, going with this instead (top-level):

<img width="1091" alt="Screen Shot 2020-02-29 at 3 02 50 PM" src="https://user-images.githubusercontent.com/5562107/75616343-9a99f800-5b04-11ea-89f4-e789c81c0ec7.png">

[2020-02-29 23:10] kvarforl commented on #529
Some of the null names are definitely coming from `ncbigene_tsv_to_kg_json.py` as Steve suggested. Basically line 64 ( `fields = [(field if field.strip() != '-' else None) for field in fields]`) changes any field of `Homo_sapiens_gene_info.tsv` that's a '-' to be None, and a bunch of the name fields of that .tsv file are '-' .
A possible (but probably not optimal)  solution is to add a conditional

[2020-03-01 00:25] dkoslicki commented on #657
Works for me Steve!

I would still suggest `ARAX` folder have a README.md, maybe just pointing to the `Documentation` folder and describing the general structure of the ARAX repo/branch/etc.

[2020-03-02 05:25] saramsey commented on #657
Yes, I will make a README.md for the ARAX folder

[2020-03-03 17:26] edeutsch opened #658 "should resultify have a force_isset_false option??"
I was just testing ARAXi example 2:
request = { "previous_message_processing_plan": { "processing_actions": [
            "create_message",
            "add_qnode(name=DOID:14330, id=n00)",
            "add_qnode(type=protein, is_set=true, id=n01)",
            "add_qnode(type=chemical_substance, is_set=true, id=n02)",
            "add_qedge(source_id=n00, target_id=n01, id=e00)",
            "add

[2020-03-03 18:57] dkoslicki commented on #658
@edeutsch
"add_qnode(type=chemical_substance, is_set=true, id=n02)" is required to identify all found nodes with the qnode_id n02 so the subsequent call:
"overlay(action=compute_jaccard, start_node_id=n00, intermediate_node_id=n01, end_node_id=n02, virtual_edge_type=J1)"
knows to do this for ALL chemical_substances that correspond with end_node_id == qnode_id==n02.
After that, I want the results t

[2020-03-03 19:14] edeutsch commented on #658
okay, well, I got email pushback from Steve as well, so I guess you both know what you're intending to do. But for the record, I don't understand and I think it is abuse of what I understood is_set=true meant.

I will try one final feeble push back to say that I am skeptical that you are doing:
"knows to do this for ALL chemical_substances that correspond"
You can't compute a jaccard index for the

[2020-03-03 19:23] edeutsch commented on #658
in my understanding, the current query as written above should end in an error in line:
overlay(action=compute_jaccard, start_node_id=n00, intermediate_node_id=n01, end_node_id=n02, virtual_edge_type=J1)

ERROR: end_node_id=n02 is labeled with is_set=true. Neither the start_node nor the end_node may be sets. All intermediate nodes must be sets.

[2020-03-03 22:50] finnagin commented on #629
@finnagin Reminder to myself that I need to update the documentation for the results query functions

[2020-03-03 23:44] edeutsch commented on #656
I opined at today's meeting that I thought Expand() should issue an ERROR and thereby cause downstream processing to halt if 0 nodes were returned since it seems fairly unlikely that downstream processing would be successful after Expand() returns 0 nodes. I hedged a little to suggest that there could be a user option continue_if_no_results=true or similar which would then instead issue a WARNING,

[2020-03-04 01:06] dkoslicki commented on #656
I generally agree with @edeutsch’s comment. The only situation that I could foresee happening is if the ARS sends us a QG with a partially/full expanded KG, and then asks us to expand a bit more, then do a bunch of other processing.
At least for `overlay`, I’ve done my best that if there’s nothing to do, there’s nothing to do (eg. If the KG is empty, all my `overlay()`s happily report that they su

[2020-03-04 01:15] dkoslicki commented on #658
Fwiw: `is_set` is mostly used in `resultify()` at this point: that’s a flag indicating that every result should strive to have each individual result contain a subgraph that contains each (possible) path between nodes with `is_set=True`.
I’ll have to run some tests (at some point), but I’m pretty sure that the jaccard_index may not actually care if something has `is_set=True` in any of its paramet

[2020-03-04 01:19] dkoslicki commented on #629
@finnagin just FYI, if/when you get to `remove_virtual_edges`, you’ll need to make sure to remove them from the query graph as well (to keep everything API standards compliant).

Also, feel free to modify the [ARX DSL Examples](https://docs.google.com/document/d/1VweSOVxZS-7rXMc2ZhaZ6fpqYKaxRH_Vht0-PXRmy84) to include your new filter commands in the demo examples 2 and 3 (in example 2, it’s highli

[2020-03-04 02:05] amykglen commented on #630
So (for KG1) the 'confidence' property is actually set somewhere within QueryGraphReasoner's realm, I believe when it calls a function in FormatOutput.py - I think [this](https://github.com/RTXteam/RTX/blob/master/code/reasoningtool/QuestionAnswering/FormatOutput.py#L319) is the line. (For KG1 expand, all of the property mapping is currently done by QueryGraphReasoner.) So I'm not super familiar w

[2020-03-04 02:54] amykglen commented on #641
Alright, this is done and merged into demo - closing.

[2020-03-04 02:54] #641 closed

[2020-03-04 03:25] edeutsch commented on #630
I think it was my decision to map the drug binding probability to the confidence attribute. It seemed appropriate that if the binding probability is low, this should translate into a low confidence edge.

[2020-03-04 03:43] edeutsch commented on #658
I would argue that although jaccard_index "may not actually care" about the is_set setting, it is then implicitly assuming that the start/end nodes are is_set=false and the intermediate nodes are is_set=true. It is not bothered that n02 is (wrongly) is_set=true only because it doesn't check. But it probably should check them and issue warnings or errors if it does not conform to its assumptions. I

[2020-03-04 03:46] edeutsch commented on #656
Interesting idea about "expand a bit more". If we think we might encounter that, would Expand() then be obligated to check for duplicates? i.e. make sure that new nodes/edges that it wants to add don't already exist? I assume yes. Not necessary for the demo, but something to consider for afterwards. I assume current behavior might then lead to two of the same node?

[2020-03-04 04:19] amykglen commented on #656
Expand() actually already checks for duplicates when it's adding nodes/edges to the knowledge graph. We already encounter that situation when we use multiple expand calls - as in, `expand(edge_id=e00)` followed by `expand(edge_id=e01)`, rather than `expand(edge_id=[e00,e01])`.

For example, if we use the dual expand method for our Parkinson's example, the first expand produces a bunch of proteins

[2020-03-04 04:28] edeutsch commented on #656
nice!
Then maybe there should be a distinction between "no results at all" (Error) and "nothing new to add" (but there are already some suitable edges there) (Warning)

[2020-03-04 18:24] saramsey commented on #658
From the perspective of `ARAX_resultify.py`, the module just needs to know the `is_set` Boolean values for each of the qnodes. If I can't get that information reliably from the `QueryGraph` object, then I need to get that information some other way. Thus the optional `force_isset_false` parameter was born. I agree it complicates the DSL.

From @dkoslicki's comment it sounds like in some legitimate

[2020-03-04 18:26] saramsey commented on #658
I can see an argument for using `is_set` from the get-go (i.e., in the `add_qnode` statement) to define how we want the *results* summarized. But that would just mean adding a cumbersome `force_is_set_true` option to the overlay code for the case of a Fisher test; so there is no net gain of elegance in the DSL.

[2020-03-04 18:29] saramsey commented on #658
Imma mark this issue as high priority. Seems like a good topic for a three-way huddle. What TZ are you in, @dkoslicki ?  I'm in CST at  the moment.

[2020-03-04 18:53] amykglen commented on #658
I've also been starting to question how `is_set=True` is being used in `expand()` (namely when a query graph is being expanded one edge at a time)...

If query graph nodes are intermediary and don't have a 'curie' specified, should they _always_ be considered `is_set=True`?

[2020-03-04 18:55] edeutsch commented on #658
SAR> From the perspective of ARAX_resultify.py, the module just needs to know the is_set
SAR> Boolean values for each of the qnodes.

agreed!

SAR> If I can't get that information reliably from the QueryGraph object,

ah, but I will argue that you must get it reliably from the QueryGraph. If the QueryGraph is wrong, then it should be an error or a fail.

SAR> then I need to get that information so

[2020-03-04 18:57] edeutsch commented on #658
AKG> If query graph nodes are intermediary and don't have a 'curie' specified, should
AKG> they always be considered is_set=True?

no, I don't think so. It would be equally valid (but a different question) for intermediate nodes to be is_set=false

[2020-03-04 19:07] edeutsch commented on #658
SAR> I can see an argument for using is_set from the get-go (i.e., in the add_qnode statement)
SAR> to define how we want the results summarized.

I disagree! This is abuse of what is_set=true means. Each drug is considered on its own and how it interacts with a set of proteins. The drugs are not considered in sets. Only the proteins are considered in sets.

SAR> But that would just mean adding a

[2020-03-05 00:35] amykglen commented on #654
Ok, I'm going to resume work on this to see if we can decrease the number of misses - plan (from Steve via email) is to write:

Will start by just counting how many CURIEs this script would catch.

(And after this KG2 script, we also plan to look into using the 'normalizer' as David suggested above.)

[2020-03-05 01:39] dkoslicki commented on #658
@edeutsch @saramsey @amykglen
So after a bit of testing, it appears that the jaccard index cares not if anything `is_set=True` or not. This is actually intended. The logic behind the jaccard index DSL command:
[code]
Is, in pseudo-code:
[code]
This is how I envisioned the jaccard index working, and I do not think it should throw an error if something is not `is_set=False/True` or whatever. The int

[2020-03-05 04:13] edeutsch commented on #658
great, I agree with most of the above. I'm pretty open on Thursday. Friday is a bit tricky, although available after 10:40a PST. The conference I was going to be almost all next week has just been cancelled due to COVID-19. So, my availability next week is suddenly looking fantastic!

[2020-03-05 04:21] dkoslicki commented on #658
I'll send my availability via email to relevant parties.

[2020-03-05 18:08] amykglen commented on #654
Hmm, so initial counts of new curie->mesh mappings found using one of these two methods (in kg2endpoint2)
[code]
are as follows (for 'core types'):
[code]

Worth noting that method 1. only produced anything for 'MONDO' nodes, which makes sense given that these are the only 'equivalent_to'/'close_match' mappings to mesh terms in kg2endpoint2:
[code]
![Screen Shot 2020-03-05 at 11 04 48 AM](https://

[2020-03-05 19:20] dkoslicki opened #659 "Incorrect node type in expand"
In `ARAX_query.py 12`:
[code]

an empty KG is being returned by `expand()`. It appears that Parkinson's was assigned the wrong CURIE and type:
[code]
This happened on the `demo` branch.

[2020-03-05 19:30] amykglen commented on #659
huh, looking into it

[2020-03-05 19:31] dkoslicki commented on #659
Note: bug still exists at f15f090401c275e98c8ac9bf3ed7ce9023eeb59b

[2020-03-05 19:33] dkoslicki commented on #659
Bug does not exist at 68b56cc06640c06d5eeb7f0f959a23b4000a04de

[2020-03-05 19:37] amykglen commented on #659
Thanks. This bug is not present in the expander branch, strangely... Looking into what's going on in demo.

[2020-03-05 19:40] edeutsch commented on #659
I probably botched the merge. Maybe a git merging expert should reverse what I did last night and try again.

[2020-03-05 19:41] dkoslicki commented on #659
Really?
[code]

[2020-03-05 19:45] dkoslicki commented on #659
@amykglen Are you using the newest KGNodeIndex per [these instructions](https://github.com/RTXteam/RTX/wiki/Dev-info#setting-up-kgnodeindex)? With the updated `dumpdata.py` code from the `overlay` branch that now dumps both KG1 and KG2 node CURIE's, names, and types?

[2020-03-05 19:49] amykglen commented on #659
I think so - I updated my KGNodeIndex the other day following your directions on #641... and it works with both KG2 and KG1 curies.

[2020-03-05 19:51] amykglen commented on #659
And yes, when I do just what you did:
[code]
everything seems to run fine:
[code]

[2020-03-05 19:52] dkoslicki commented on #659
Quite odd! Let me drop my index, rebuild, and see if this problem is actually just on my end.

[2020-03-05 19:52] amykglen commented on #659
It also works fine for me on demo, when I checkout demo and pull..

[2020-03-05 20:27] dkoslicki commented on #659
My apologies @amykglen and @edeutsch, it was an issue on my end with a stale KGNodeIndex. False alarm. Closing

[2020-03-05 20:27] #659 closed

[2020-03-05 23:38] dkoslicki opened #660 "Yo Dawg, I heard you like merging..."
So I’m going to merge every branch into every other so we can merge without worry.... (apologies to Xzibit).

I.e. The plan is to merge everything, resolve conflict, and confirm that the `demo` branch contains the most up-to-date code, and all our planned examples work without issue.

[2020-03-06 00:26] dkoslicki commented on #660
Main examples 12 and 15 passing on `filter`. Merging into `overlay`.

[2020-03-06 00:28] dkoslicki commented on #660
Tests pass after merge. Pushing

[2020-03-06 00:30] dkoslicki commented on #660
Examples passing on `expander`. Merging into `overlay`

[2020-03-06 00:32] dkoslicki commented on #660
Tests pass after merge. Pushing

[2020-03-06 00:35] dkoslicki commented on #660
Tests pass on `demo`, merging into `overlay`

[2020-03-06 00:41] dkoslicki commented on #660
Resolved conflict with most up-to-date examples, pushing

[2020-03-06 00:43] dkoslicki commented on #660
Now merging `overlay` into `demo`

[2020-03-06 00:46] dkoslicki commented on #660
All tests passing, pushing

[2020-03-06 00:48] dkoslicki commented on #660
`demo` now has the latest code. Now merging that into everyone else's branches

[2020-03-06 00:54] dkoslicki commented on #660
Everything is all up-to-date with everything else. All important tests passing. Closing

[2020-03-06 00:54] #660 closed

[2020-03-06 01:46] dkoslicki commented on #643
Just a bump @edeutsch to see if this was still on your radar. i.e. if we should change this to "low priority" from "future improvements" or something like that.

[2020-03-06 02:55] edeutsch commented on #643
yeah, I've been musing about it a bit. I was also wondering if we can use our new, much expanded KGNodeIndex to do more or less the same thing. KGNodeIndex now has tons of different identifiers for the same thing. Not generally good, in my view, but perhaps a benefit here. My concern is that KGNodeIndex now knows comprehensively what is in KG2 but does not know what is in KG1. I'm kind of uncomfor

[2020-03-06 04:16] dkoslicki opened #661 "Confidence scores still appear to be random numbers"
Maybe don't include them until we decide what they should represent?
High priority if they get displayed in the UI for the demo presentation.

[2020-03-06 04:22] dkoslicki commented on #615
Done and merged with `demo`

[2020-03-06 04:22] #615 closed

[2020-03-06 04:27] edeutsch commented on #661
that was just an simple example to get everyone started. That code can be removed. It should not be called anymore anyway?

It would be highly desirable to compute some kind of confidence or score. Even the jaccard index would be a decent score if nothing else is available. The results look better with some scores attached to them. and we do have the data.

[2020-03-06 04:30] dkoslicki commented on #661
@finnagin  would know best what to decorate the confidences with for our demo examples, but will need to work with @saramsey to get them populated in `resultify()`. I unfortunately won't be able to contribute in the next couple days after this big push I did for #615

I had just noticed that confidence scores were all over the place, so I don't know who is calling it or from where (i.e. I did not

[2020-03-06 04:40] dkoslicki commented on #652
Closing until we run into the problem of "query by name". In the demo USE CURIE's!

[2020-03-06 04:40] #652 closed

[2020-03-06 06:11] dkoslicki commented on #643
Just a note, currently, the KGNodeIndex has both the KG1 and KG2 nodes in it: I append the KG2 nodes to KG1 nodes [here](https://github.com/RTXteam/RTX/blob/demo/data/KGmetadata/dumpdata.py#L108-L119).

Are the problems you raise mainly when querying with names (rather than CURIE’s)? Just trying to understand your concerns.

But +1 to using KG2 index first to synonymize before needing to reach out

[2020-03-06 06:13] dkoslicki commented on #655
@saramsey LMK when this starts to be developed. I’d appreciate if it’s done on the google slides/drive, as I will probably have time during my evenings next week to contribute to them.

[2020-03-06 06:15] dkoslicki commented on #605
Closing as now the work is being done in #654 for NGD

[2020-03-06 06:15] #605 closed

[2020-03-06 06:24] edeutsch commented on #643
the issue for translation is this: if a query comes in with SNOMEDCT:41345002, I can trivial learn that all the synonyms for rickets:
rickets = ['HP:0002748', 'DOID:10609', 'CUI:C0035579', 'CHV:0000010891', 'HPO:HP%3A0002748', 'MEDDRA:10039119', 'MEDCIN:33625', 'MEDLINEPLUS:3898', 'MESH:D012279', 'NCIT:C26878', 'NCI_NCI-GLOSS:CDR0000655123', 'NCI_NICHD:C26878', 'OMIM:MTHU006645', 'SNOMEDCT:4134500

[2020-03-06 06:44] dkoslicki commented on #643
Ah, I understand now. And certainly see how this is an issue.

Maybe `expand` should be able to dynamically figure out which KP’s can identify which nodes/edges?

This vaguely reminds me of my [feeble efforts](https://github.com/RTXteam/RTX/tree/demo/code/ARAX/KnowledgeSources) to start enumerating which KP’s know about what (and examples of this [in code](https://github.com/RTXteam/RTX/blob/demo/

[2020-03-06 17:16] saramsey opened #662 "Team Gamma proposing change to Reasoner Standard API"
From Patrick Wang on March 4, 2020:

See the thread here:
https://github.com/NCATS-Tangerine/NCATS-ReasonerStdAPI/issues/95

[2020-03-06 20:12] edeutsch opened #663 "Previous RTX query system appears broken because of KGNodeIndex"
As feared, the previous RTX query mechanism is unstable and probably mostly broken.

repro:
https://arax.rtx.ai/devED/
Ask: What proteins does acetaminophen target?

Result: ERROR:
  File "/mnt/data/orangeboard/devED/RTX/code/UI/OpenAPI/python-flask-server/swagger_server/controllers/../../../../../reasoningtool/QuestionAnswering/Question.py", line 302, in get_parameters
  File "/mnt/data/orangeboa

[2020-03-06 20:26] edeutsch commented on #663
We do already, the production RTX interface is still operational at https://arax.rtx.ai/
It is only in the demo branch (currently devED) where the KGNodeIndex.
I don't think updating our KGNodeIndex to KG2 when we're still querying KG1 was a wise move. We will need to back that out I think.

[2020-03-06 20:47] edeutsch commented on #663
Unless there is bleating of protest, I think I will move to having two simultaneous KGNodeIndexes, one for KG1 and one for KG2. Method calls will return the answers they always have in the past for KG1 unless you specify a new optional argument provider='KG2', in which case you will get that. But you'll need to ask for it explicitly. I think this will allow the new functionality but not break all

[2020-03-06 21:05] edeutsch opened #664 "How will we handle the many CURIEs for a concept in KG2?"
Sorry if this has been discussed before, but I'm wondering how we plan to handle the many CURIEs for a single concept in KG2?

Let's say I want to pose a query about rickets. These are all the CURIEs in KG2 for rickets:
rickets = ['HP:0002748', 'DOID:10609', 'CUI:C0035579', 'CHV:0000010891', 'HPO:HP%3A0002748', 'MEDDRA:10039119', 'MEDCIN:33625', 'MEDLINEPLUS:3898', 'MESH:D012279', 'NCIT:C26878', '

[2020-03-06 21:30] saramsey commented on #664
MONDO:0005520 is in KG2

![Screen Shot 2020-03-06 at 1 29 56 PM](https://user-images.githubusercontent.com/5562107/76124006-abd48000-5fae-11ea-9472-99d2ca58784c.png)

[2020-03-06 21:31] saramsey commented on #664
previous post was from `kg2endpoint2.rtx.ai`

[2020-03-06 21:31] saramsey commented on #664
Currently, yes. But the plan is to provide a mechanism to simplify this. Open to ideas about how to do this.

[2020-03-06 21:34] saramsey commented on #664
As for the node with id `HPO:HP%3A0002748`, this is from the HPO UMLS import and it is incorrect. There are 13,502 such nodes in KG2. I will put in a specific bug report about this issue. Thank you for reporting this. Should be a one-line fix.

[2020-03-06 21:35] saramsey opened #665 "HPO UMLS derived nodes have incorrect CURIE prefixes"
See `HPO:HP%3A0002748`. There are 13,502 such nodes in KG2:

![Screen Shot 2020-03-06 at 1 34 58 PM](https://user-images.githubusercontent.com/5562107/76124329-49c84a80-5faf-11ea-8cf2-4cccdd467db0.png)

They seem to come from the UMLS HPO import. Thank you @edeutsch  for reporting this issue.

[2020-03-06 21:35] saramsey commented on #664
I've added #665 regarding the HPO issue.

[2020-03-06 21:36] edeutsch commented on #664
ah, I see it. But the name is "rickets (disease)", and so a search for "rickets" will not turn up this node.

I am wondering if there should be a special rule in the MONDO import to strip out such unnecessary parenthetical add-ons.

[2020-03-07 00:08] dkoslicki commented on #662
I sent an email about this, but it might not have come through, so it’s copied here for the record:

Personally, I would vote: If you want to add extra information than what was asked for in the query graph, you had better modify the query graph accordingly! I thought modifying the QG was a settled thing, so doing this `extra_nodes` and `extra_edges` sounds like an, imho, ad-hoc/tedious way to go

[2020-03-07 01:11] dkoslicki commented on #663
The only thing to keep in mind is if during the demo someone wants us to trot out `expand(...,KP=ARAX/KG2)`. Otherwise, two node indexes seems fine

[2020-03-07 04:09] dkoslicki opened #666 "Simply demo example 3"
Currently, in `resultify`, we have ` force_isset_false=[n02])`, this is not necessary and I can see how we can simplify this greatly. I can take this on, test, and push to demo next week.

[2020-03-08 00:37] amykglen commented on #654
So I looked a bit into the SRI team's [node normalizer](https://nodenormalization-sri.renci.org/apidocs/#/), and it turns out that the synonyms it returns for a curie can include MESH terms themselves, as well as other equivalent curies... did some counting to get an idea of coverage - here are how many unmapped KG1 curies (meaning, those not yet in `curie_to_mesh.db`) would be caught with this to

[2020-03-08 01:05] saramsey opened #667 "remove ijson from requirements-kg2-build.txt"
I don't think any python modules in the kg2 build process are using ijson... but someone should double-check before removing it

[2020-03-08 16:40] dkoslicki opened #668 "Unresolved reference Txmessage in ARAX_query.py"
My IDE is showing TxMessage in [this line](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/ARAXQuery/ARAX_query.py#L344) and [this line](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/ARAXQuery/ARAX_query.py#L347) as being unresolved. Haven’t yet experienced it causing an error, but I just noticed that it isn’t imported anywhere in `ARAX_query.py`. I don’t know if this is inherited from som

[2020-03-08 19:58] edeutsch commented on #668
This "else" block onto gets triggered when two or more Messages are uploaded/referenced and would trigger some merging code. This is a holdover from the old RTXQuery, which used to be able to try something vaguely sensible with multiple Messages. This is no longer part of our repertoire I think, I have have removed this code and replaced it with a warning. I have also removed a few other unused va

[2020-03-08 20:00] edeutsch opened #669 "COHD 500"
Was just testing example 15 and saw this:

I have not investigated, but a possible risk for the March demo:

$ python ARAX_query.py 15
http://cohd.nsides.io/api/omop/xrefToOMOP?curie=CHEMBL.COMPOUND:CHEMBL1073&distance=1
Status code 500 for url: http://cohd.nsides.io/api/omop/xrefToOMOP?curie=CHEMBL.COMPOUND:CHEMBL1073&distance=1
http://cohd.nsides.io/api/omop/xrefToOMOP?curie=CHEMBL.COMPOUND:CHEM

[2020-03-08 20:08] edeutsch opened #670 "orangeboard everywhere"
It seems like a mild nuisance and a potential source of slowness that whenever I run any RTX/ARAX code that does web service requests (I think that's the source), an "orangeboard.sqlite" gets created in the CWD. I think what is happening is that the requests cache is just always being put in the CWD? So this means that I have multiple requests caches here and there, probably largely duplicated. An

[2020-03-08 20:22] edeutsch commented on #654
My initial reactions was "wow, 11%/18% is *really* low!" But on further thought, I suppose it's not unreasonable that MeSH wouldn't have entries for the UniProtKB entries. One interesting question is for each category, how many total entries are there. I just looked for UniProtKB and it's 26957. So the implication is that there are MeSH headings for 6000 UniProtKBs? Which is interesting, I would n

[2020-03-08 20:28] #668 closed

[2020-03-08 20:29] dkoslicki commented on #670
I think that's a @saramsey or @finnagin question. I too have been baffled by its ubiquity.

[2020-03-08 20:32] dkoslicki commented on #669
Yeah, yet another issue with using external API's. They sometimes return internal error codes. Hence the importance of pre-running all the demo commands on the system(s) we plan on demoing on (multiple times), so the proper results get cached and these (hopefully) don't show up.

FWIW, at least this is "not our problem" and could lead to a fruitful discussion about the practical issues of using ma

[2020-03-08 20:38] dkoslicki commented on #654
The only issue with SemMedDB is we get triples of (subject, object, predicate) from SemMedDB, so we would need to decide if we ignore the predicate part (which seems like it could be biologically unrealistic in certain cases). But other than that, we definitely could do NGD but on SemMedDB.

One potential downside of using SemMedDB is that, while the NCBI MeSH term version counts terms as co-occur

[2020-03-08 21:00] dkoslicki commented on #666
Done and tested. Updated in DSL document. Closing

[2020-03-08 21:00] #666 closed

[2020-03-08 21:18] edeutsch commented on #654
For each of those triples, do we also know which PMID the information comes from? I thought we would. But now I'm not sure. I was thinking that if each triple has a PMID association, then we can aggregate all the subjects and all the objects and the PMIDs they come from, and ignore the predicates as you say.

[2020-03-09 05:04] saramsey commented on #670
Agreed this is is not good. It's indefensible from a software design standpoint.

Do we need to deal with this before the demo?

[2020-03-09 06:16] edeutsch commented on #663
I have implemented separate KGNodexIndexs. Please rerun your Indexes:

cd $RTX/data/KGmetadata
rm NodeNames*
python3 dumpdata.py

cd $RTX/code/reasoningtool/kg-construction
python3 KGNodeIndex.py --build

python3 KGNodeIndex.py --test

Note that calls to KGNodeIndex now default to KG1. If you want KG2, you'll need to specify it:

curies = kgNodeIndex.get_curies('fanconi anemia', kg_name='KG2')

Pl

[2020-03-09 06:20] edeutsch commented on #670
Need, no. But it would be nice.

[2020-03-09 18:19] dkoslicki commented on #654
@finnagin would know if we get PMID's with SemMedDB as he's worked extensively with that.

[2020-03-09 21:38] amykglen commented on #654
I believe we do get PMIDs for SemMedDB edges in KG2

![Screen Shot 2020-03-09 at 2 29 32 PM](https://user-images.githubusercontent.com/49423686/76258017-65825980-6218-11ea-8074-f7e907db03be.png)

but I think SemMedDB subjects/objects are only given as CUIs or NCBIGene IDs, so we'd have to figure out how to map other curies to those (?)

![Screen Shot 2020-03-09 at 3 36 15 PM](https://user-images.g

[2020-03-09 21:41] #597 closed

[2020-03-09 21:53] edeutsch commented on #654
hmm, may be tricky to integrate it with the NCBI-curated information.

[2020-03-10 02:08] edeutsch opened #671 "resultify() should fill in essence and essence_type"
It would be super helpful for the GUI and also for summarizing a Message if the resultify() mechanism would fill in the essence and essence_type attributes of each result{}.

In most cases, the essence of a result is probably the node name that corresponds to the end node that has no CURIE. Maybe you already compute a start_node and an end_node as concepts?

So for our simple example 2, it is n02.

[2020-03-10 02:14] saramsey commented on #671
I have questions:
1. What if there is more than one node in the result, that has no CURIE prefix?
2. What if all nodes in the result have a CURIE prefix?
3. What precisely is the condition implied by "in most cases... is probably the node name..."?

[2020-03-10 02:22] saramsey commented on #658
uh, sorry, did I miss the `is_set` huddle?  I was traveling last Tuesday/Wednesday.

[2020-03-10 02:35] edeutsch commented on #671
Assuming you don't already have "start node" and "end node" concepts identified, where the "start node" is the most specified one (like Parkinsons == DOID:14330 == n00 in our example) and the "end node: is the "opposite one", which is usually least specifed (chemical_substance == n02 in our example), then maybe the follow set of rules could be taken:

- Find all single-connection nodes (n00 and n0

[2020-03-10 02:37] edeutsch commented on #658
There was no in-person huddle. I think we all agreed by email or some other messaging medium that n02 will not have is_set=true for the demo and we can continue to argue over it later if we are not voted off the island.

[2020-03-10 15:36] amykglen commented on #654
ok! will plan to consult Finn. yeah, I get the PMID portion (PMIDs are definitely provided for each triple in SemMedDB's ['predication' table](https://skr3.nlm.nih.gov/SemMedDB/dbinfo.html), and I understand how we could assign those PMIDs to SemMedDB 'nodes'), but what I'm not sure of is where the connection between nodes in **our** knowledge graph (which we're trying to assign PMIDs to) and the

[2020-03-10 16:15] edeutsch commented on #654
I have an idea for a translator. I will see if I can create this.

[2020-03-10 16:19] saramsey opened #672 "set up an info@mail.rtx.ai email account via AWS"

[2020-03-10 16:20] saramsey commented on #670
Can I get a MWE?

[2020-03-10 17:38] dkoslicki opened #673 "Send Eric the exact DSL commands for demo"
So he can copy-paste them into the iPython demo examples.

[2020-03-10 17:40] dkoslicki commented on #673
Use ARAX_query.py 1212 for demo 2

[2020-03-10 17:47] dkoslicki commented on #661
Non issue currently as not used in the code (not an `allowable_action`). Will leave open to remind myself to implement this in overlay.

[2020-03-10 17:55] saramsey opened #674 "proofread README.md documentation; add TOC"
need some help proofreading and link-checking the top-level README.md documentation in the `demo` branch

[2020-03-10 18:04] saramsey commented on #671
Set the "score" field on the results:

- Example 1: see if we can use edge probabilities

- Example 2: set the confidence based on edge type p1 connecting nodes n02 to n00; pull off the edge attribute probability_drug_treats

- Example 3: exp(-NGD_score)?  average with COHD score?  think about this.

[2020-03-10 18:16] edeutsch commented on #661
I recommend that the random confidence generator function be deleted. Shall I do it or you?

[2020-03-10 18:17] edeutsch commented on #671
(that is also useful, but separate from the essence and essence_type)

[2020-03-10 18:45] saramsey commented on #674
also please add a table of contents

[2020-03-10 19:07] amykglen opened #675 "resultify() should fill in confidence scores on results"
_(Creating an issue for this as I don't think we have one yet - #661 is related, but seems to have come to refer to a slightly different thing)_

Steve's notes about this from the March 10 AHM (posted on #671 ):

[2020-03-10 21:52] edeutsch commented on #663
I have upgraded the KGNodeIndex system again and pushed demo. I had to change the schema a bit to allow mapping to KG1, but this now seems to work. I also added a CURIE synonym translator based on KG2 and that seems to work pretty well.

To rebuild, similar to before, I suggest:

(using latest code from `demo` branch merged into your branch)

If you did this in block in the last 2 days, you don't

[2020-03-10 22:25] dkoslicki commented on #674
Also added the contents:

4. RTX could produce results in the Reasoners Standard API format. However, it could not be queried in this API format. In contrast, ARAX can perform all of is capabilities upon receiving any input Reasoners Standard API, while still producing such a standardized output format. As such, ARAX an its capabilities will be accessible to any automated reasoning agent, automate

[2020-03-10 22:25] dkoslicki commented on #674
@amykglen just so you are aware. TOC has been added. Still needs proof-reading

[2020-03-10 22:42] edeutsch commented on #674
I wouldn't say this is true:

RTX could produce results in the Reasoners Standard API format. However, it could not be queried in this API format.

RTX was quite capable of receiving a Standard API 0.9.2 QueryGraph in a Message and answering it using the QueryGraphReasoner with a standard Message.

The real difference is that RTX would answer a query like the Example 2 QueryGraph with many bits of

[2020-03-10 22:51] dkoslicki commented on #674
I had forgotten about that part. While we could indeed receive and return a message using QueryGraphReasoner, none of the "reasoning" stuff Finn/Jason/and I developed ever operated on that. Unless the input message was asking for a specific canned query, iirc, all we could do is expand an input QG with KG1 or KG2. All the "reasoning" was hidden in the "magic" you referred to inside scripts that we

[2020-03-10 22:57] edeutsch commented on #674
yes, that's all true. good.

Although the very last sentence probably should be qualified with "....and with deep understanding of ARAXi". But it's fine to leave that out ;-)

[2020-03-10 23:05] dkoslicki commented on #674
But now we have actual documentation!! ;)

[2020-03-10 23:13] edeutsch commented on #674
true enough!

[2020-03-10 23:15] dkoslicki commented on #661
I'll go ahead and do it.

[2020-03-10 23:18] #661 closed

[2020-03-10 23:31] dkoslicki commented on #663
@edeutsch @amykglen Someone should check that @amykglen's `expand(...,kp=RTX/KG2)` still works with the new indicies from this.
eg:
[code]
from `ARAX_query.py 20`.

[2020-03-11 00:20] dkoslicki commented on #631
closing in favor of #650. Steve's README documents the capabilities of ARAX

[2020-03-11 00:20] #631 closed

[2020-03-11 00:22] dkoslicki commented on #673
@edeutsch Waiting until I can finish the instructions from #663 before I can test and be sure the planned demo examples still work. Hopefully will get these to you my tomorrow morning

[2020-03-11 06:08] edeutsch commented on #643
I have implemented this new method in ARAXMessenger in `demo`:

result = messenger.reassign_curies(message, { 'knowledge_provider': 'KG1', 'mismap_result': 'WARNING'} )

It will loop through the QueryGraph in a message (not the KnowledgeGraph, although maybe this in an interesting add-on) and will attempt to remap CURIEs to either KG1 or KG2 if they are not present in that resource. i.e. if a CURI

[2020-03-11 08:10] edeutsch commented on #654
The KGNodeIndex enhancements described in the other issue might do a nice job translating CUIs for you.

[2020-03-11 10:16] dkoslicki opened #676 "resultify returning error with no message for demo example #2"
@saramsey
For the query `python ARAX_query.py 1212`:
[code]
An error is happening at the `resultify` step (confirmed by running with/without resultify to reproduce). Error message is:
[code]

[2020-03-11 10:22] dkoslicki commented on #673
**Demo example 1:**
[code]
Runs just fine.

**Demo example 2:**
[code]
`resultify()` is throwing an error here. See #676. This one was working just fine before recent changes to `resultify()` by @saramsey

**Demo example 3:**
[code]
Runs just fine

[2020-03-11 15:33] saramsey commented on #676
sorry, I am working on this

[2020-03-11 15:41] saramsey commented on #671
From @edeutsch :

[2020-03-11 17:25] saramsey commented on #676
OK I *think* I have fixed the issue with Example 2. The edges with relation `jaccard_index` and `probability_drug_treats` were messing `resultify`'s ability to identify "leaf" nodes in the query graph. The following code now seems to work:

[code]
But, be advised that other types of creative "virtual" edges that are added to the query graph will require me to add their relation types to a "filter-

[2020-03-11 17:25] saramsey commented on #676
My apologies for breaking ARAX_resultify.py and going to sleep.  Mea culpa!

[2020-03-11 17:27] edeutsch commented on #676
no worries, please let me know when it is pushed and I will roll it out to arax.rtx.ai and test.

[2020-03-11 17:31] saramsey commented on #676
sorry, it is `_test02` that is currently failing; I'm on it.

But the key thing is -- we now seem to have essences for Example 1 and Example 2  :-)

[2020-03-11 18:05] dkoslicki commented on #676
@saramsey

Why would we want virtual edges to be filtered out? These virtual edges have been added to the query graph, so are honest to goodness edges then that satisfy the query graph. And should be included in the results. Right?

[2020-03-11 18:08] saramsey commented on #676
OK @dkoslicki and @edeutsch see latest commit (`19a8d8a`). Is this better?  All tests that are currently implemented within `ARAX_resultify.py` are passing.

[2020-03-11 18:09] dkoslicki commented on #676
Yes, I just confirmed that all tests are passing. But was just wondering about why the hard-codedness. I'll take a look at that commit in a sec

[2020-03-11 18:10] saramsey commented on #671
have implemented a change to only use the KG node `name` and never `symbol`.

[2020-03-11 18:10] dkoslicki commented on #676
19a8d8a
sans quotes so I can click the link directly to it

[2020-03-11 18:12] dkoslicki commented on #676
Right: it's line:
[code]
That has me concerned. Post demo, we should discuss, since the ARS may not always hand us QG's with easily identifiable leaf nodes. But I see why you did it for the demo.

[2020-03-11 18:13] saramsey commented on #671
have implemented fancy-pants code to add the KG node `symbol` attribute as a parenthetic after the node `name` attribute, if the `symbol` attribute is not None

[2020-03-11 18:13] edeutsch commented on #676
@dkoslicki, while I'm thinking about it.. in another thread/issue we were discussing Patrick's "extra_nodes" / "extra_edges" idea. I think we agreed we don't like that solution and prefer including things in the QueryGraph. But I was thinking it might be a nice idea to label the QueryGraph nodes and edges that were in the originally in the user-submitted QueryGraph as "original" or some such, and

[2020-03-11 18:21] saramsey opened #677 "why does the Example3 python notebook not call `resultify`?"
Please forgive my ignorance; is there a reason why the Example3 python notebook doesn't call `resultify`?  Do we not want resultification for this workflow?

[2020-03-11 18:22] edeutsch commented on #671
ooo! You so fancy!

[2020-03-11 18:27] saramsey commented on #676
Currently, `resultify` identifies a "leaf node" as a node whose vertex degree in the (undirected) graph is 1. So, a query graph that has both a real edge and a virtual edge between "leafnode01" and "internalnode02" will have a vertex degree of 2, and not be identified as a leaf node.  Hency my hacky filtering feature. Hmm, I guess I could *identify* (in the mathematical sense) all edges with commo

[2020-03-11 18:34] edeutsch commented on #671
Looks great!
https://arax.rtx.ai/devLM/?m=1411

Note that dual edges are back after a long hiatus. How did they return?

[2020-03-11 18:36] edeutsch commented on #677
Just hasn't been updated yet. I'm slow..

https://github.com/RTXteam/RTX/issues/673

[2020-03-11 18:51] saramsey commented on #676
OK, per @dkoslicki 's feedback I have removed `RELATIONS_TO_FILTER_OUT_FOR_DETERMINING_LEAF_NODES`, which I agree was a bad idea. I now (I hope correctly) map the QG to an undirected graph and use edge-identification to turn multiedges into single edges. It currently passes all tests.

[2020-03-11 18:51] amykglen commented on #674
Ok, I proofread and checked all links - fixes made in [this commit](https://github.com/RTXteam/RTX/commit/cbfc12705ba909c7a4093c43c1e9bdfdf525e03e). Shall I close this issue?

[2020-03-11 18:54] edeutsch opened #678 "demo Example 2 error"
Example 2 is failing on arax.rtx.ai:

  File "/mnt/data/python/Python-3.7.3/lib/python3.7/site-packages/joblib/numpy_pickle.py", line 597, in load
    with open(filename, 'rb') as f:
FileNotFoundError: [Errno 2] No such file or directory: 'Overlay/predictor/LogModel.pkl'

[2020-03-11 18:54] saramsey commented on #676
made a slight change to deal with the case if some trickster puts a self-edge in the query graph; all tests currently passing

[2020-03-11 19:04] saramsey opened #679 "Inconsistent connection errors from www.uniprot.org triggered by running Example 3"
Folks, when I run Example 3 on my MBP, I'm getting timeout errors from www.uniprot.org. Here is the exact Example 3 code I am running:
[code]
and here is it's response (after hanging for a long time):

[code]
I'm currently unable to test whether or not the newfangled essence capability in `ARAX_resultify.py` will work with Example 3.

[2020-03-11 19:06] saramsey commented on #679
Ah, it just worked!  Kind of a heisenbug, LOL. But the API calls to uniprot are now cached so I am a happy camper for the purposes of testing. Marking this lowpri.

[2020-03-11 19:13] #671 closed

[2020-03-11 19:14] #676 closed

[2020-03-11 19:15] saramsey commented on #677
I've updated it in my code. It works!

[2020-03-11 19:17] saramsey commented on #675
OK @edeutsch and @dkoslicki how about I first work on slides and then #675?  Does that make sense?  Or if there is someone who wants to work on #675 and has bandwidth, in the near-term (this week)?

[2020-03-11 19:18] saramsey commented on #674
Hey @dkoslicki  and @edeutsch  are you satisfied with the current state of the top-level `README.md`?  Can we close this issue?

[2020-03-11 19:23] #667 closed

[2020-03-11 19:24] saramsey commented on #658
OK, marking this issue as Low Priority.

[2020-03-11 19:25] #657 closed

[2020-03-11 19:35] dkoslicki commented on #675
Slides are highest priority at this point imho, if we want the dry run to go well/be fruitful

Sent from my mobile device, please excuse my brevity and/or typos

________________________________
From: Stephen A. Ramsey <notifications@github.com>
Sent: Wednesday, March 11, 2020 8:17:29 PM
To: RTXteam/RTX <RTX@noreply.github.com>
Cc: David Koslicki <dmkoslicki@gmail.com>; Mention <mention@noreply.gi

[2020-03-11 19:36] dkoslicki commented on #675
Slides are highest priority at this point imho, if we want the dry run to go well/be fruitful

Sent from my mobile device, please excuse my brevity and/or typos
________________________________
From: Stephen A. Ramsey <notifications@github.com>
Sent: Wednesday, March 11, 2020 8:17:29 PM
To: RTXteam/RTX <RTX@noreply.github.com>
Cc: David Koslicki <dmkoslicki@gmail.com>; Mention <mention@noreply.git

[2020-03-11 19:38] dkoslicki commented on #678
Will take a look after I get back tonight (late). Does that file exist on the demo branch? May be a merge or forgot to commit issue

Sent from my mobile device, please excuse my brevity and/or typos
________________________________
From: Eric Deutsch <notifications@github.com>
Sent: Wednesday, March 11, 2020 7:55:08 PM
To: RTXteam/RTX <RTX@noreply.github.com>
Cc: David Koslicki <dmkoslicki@gmail.c

[2020-03-11 20:23] edeutsch commented on #678
After some investigation, I have committed and pushed a fix, please see:
https://github.com/RTXteam/RTX/commit/513779697bce55225d598239f4017908f763683f

IMPORTANT NOTE TO EVERYONE: You cannot assume a current working directory for your code. Please use relative path finding calls similar to the above commit for any code that could be run via the API (back-end code like KG building or KGNodeIndex b

[2020-03-11 20:24] edeutsch commented on #678
Also, any testing code run via main() is exempted. But all class methods should not assume a CWD.

[2020-03-11 20:42] saramsey commented on #671
Just pushed a bugfix for the BFS code used to handle a very unusual (and probably very unlikely in practice) of a QG in which there are two "specific" (CURIE-specified) leaf nodes and two non-specific interior nodes that are in series. Using BFS to compute shortest-path distances from the nearest specific leaf node.

[2020-03-11 20:42] edeutsch commented on #675
Agreed, slides more important than scoring.

[2020-03-11 20:43] edeutsch commented on #674
Looks great, feel free to close!

[2020-03-11 20:48] edeutsch commented on #673
I have committed and pushed updated to the Jupyter Notebooks for examples 1,2,3. All seem to work function well, although output may still need refinement.

Editorial changes that I made:
1) I removed "create_message" from all of them since this is not necessary. It is assumed that if you do not provide an existing input message, the first step is to create a blank message. In my push to simplify

[2020-03-11 21:01] #677 closed

[2020-03-11 21:33] saramsey commented on #655
https://docs.google.com/presentation/d/1oK7ADGDI9IXgWSnznps-Hz0dmzqX5NwWL2EZqgAUiMA/edit?usp=sharing

[2020-03-11 21:34] saramsey commented on #655
So sorry for the very slow start on this. I am working the super-helpful and awesome checklist from @dkoslicki

[2020-03-11 22:06] dkoslicki commented on #678
Whoops, completely forgot about that. Thanks for pushing the fix @edeutsch
Tested locally and appears to work there too. Closing.

[2020-03-11 22:06] #678 closed

[2020-03-11 22:19] dkoslicki commented on #674
Looks good! Made a minor change in `ARAX/code/README.md` (moved dev notes to wiki). Closing

[2020-03-11 22:19] #674 closed

[2020-03-11 22:20] dkoslicki commented on #673
Looks good to me! If it's working on your end, I'll close (and feel free to re-open if more work on my part for this issue is needed).

[2020-03-11 22:20] #673 closed

[2020-03-11 22:21] dkoslicki commented on #679
Yeah, that's odd. I have never run into those errors before and can't reproduce. Hence the importance of pre-running (many times?) the examples on whatever backend is doing the demo of the iPython notebooks.

[2020-03-11 22:24] dkoslicki commented on #124
Not relevant. Closing

[2020-03-11 22:24] #124 closed

[2020-03-11 22:24] dkoslicki commented on #100
Not relevant to ARAX. Closing

[2020-03-11 22:24] #100 closed

[2020-03-11 22:25] dkoslicki commented on #155
Ancient, not relevant? Closing unless objections.

[2020-03-11 22:25] #155 closed

[2020-03-11 22:26] dkoslicki commented on #208
Already done a while ago. Don't know why it's still open

[2020-03-11 22:26] #208 closed

[2020-03-11 22:27] dkoslicki commented on #293
Node type has been a list for a while now (API std 0.9.X?). Closing since appears to be a settled issue.

[2020-03-11 22:27] #293 closed

[2020-03-11 22:28] dkoslicki commented on #292
BIG JIM API changed, and list parsing is not high-prio for ARAX given we have other mechanisms to handle this now (see `is_set`). Closing if no objections

[2020-03-11 22:28] #292 closed

[2020-03-11 22:31] dkoslicki commented on #634
Moving to low-prio since this seems like a discussion to be had with the standards group post-demo.

[2020-03-11 22:34] dkoslicki commented on #629
@finnagin I think this is mostly complete.
The item:

Can be addressed later if needed.

Any thoughts about:

This might be difficult to do in general if others are making virtual edges. But your thoughts on this would be nice before we close this issue.

[2020-03-11 22:35] dkoslicki commented on #630
Maybe post-demo huddle about how to really handle `confidence` in the way we want to (and not just the way QueryGraphReasoner is doing it)? Setting low-prio

[2020-03-11 22:37] dkoslicki commented on #627
@amykglen Just curious if this issue is still an issue, or if it was addressed at some point.

[2020-03-11 22:38] dkoslicki commented on #619
Any plans for this @edeutsch since it was in the milestones? Or is the iPython notebooks "good enough" at this point (instead of dedicated REST API endpoints, which we technically promised)?

[2020-03-11 22:39] dkoslicki commented on #617
@isbluis Haven't had a chance to test this, but from previous meetings, sounds like they have been addressed. Should this issue be closed? or are we still waiting on #671, #675?

[2020-03-11 22:49] saramsey commented on #675
OK, I am working on the slides.

[2020-03-11 22:49] edeutsch commented on #619
Did we promise dedicated REST API endpoints?
I don't quite understand the "iPython notebooks 'good enough'".. The iPython Notebooks are *demonstrating* the REST API.
You can call each step separately if you want, no problem. You just need to keep passing back and forth the Message. but that's not a problem.

I would argue all components are callable (individually or in series) via a REST API throu

[2020-03-11 22:51] isbluis commented on #617
Hi @dkoslicki .  Yes, it can be closed.  I am in the process of pushing this change (along with others) into demo.

[2020-03-11 23:55] edeutsch opened #680 "Example 2 bug: too many proteins in a result?"
In our Demo Example 2, I think there are too many proteins in each result. This is potentially debatable, so we probably need a ruling from @dkoslicki before changing code. I can say it is different from the way we used to do it with RTX. But better or worse is unclear.

In our example 2 output:
https://arax.rtx.ai/devLM/?m=1419
Have a look at the first result.

The issue is that for lenalidomide,

[2020-03-12 00:01] saramsey commented on #680
I'm confused. Is this a bug in `ARAX_resultify.py`?

[2020-03-12 00:03] saramsey commented on #680
Can you please paste the DSL code that produced this result, into the issue?

[2020-03-12 00:08] edeutsch commented on #680
yes. If it's a bug at all. David can decide.

Here's what the output of this query used to look like for the RTX canned query:
https://arax.rtx.ai/devED/?m=1423

[2020-03-12 00:11] edeutsch commented on #680
DSL is available in the GUI, it is:

add_qnode(curie=DOID:14330, id=n00)
add_qnode(type=protein, is_set=true, id=n01)
add_qnode(type=chemical_substance, id=n02)
add_qedge(source_id=n00, target_id=n01, id=e00)
add_qedge(source_id=n01, target_id=n02, id=e01, type=physically_interacts_with)
expand(edge_id=[e00,e01], kp=ARAX/KG1)
overlay(action=compute_jaccard, start_node_id=n00, intermediate_node_id=

[2020-03-12 00:50] dkoslicki commented on #680
This is definitely a bug/unintended implementation in `resultify()`. The intention is that `resultify()` will return all paths from the drug to the disease through __all proteins that connect them both__. I.e. since `is_set=True` for n01, `resultify()` should strive to go through **all** of the proteins in that set that connect the source & target nodes. I don’t think this sort of filtering could

[2020-03-12 00:51] #617 closed

[2020-03-12 00:57] dkoslicki commented on #619
Yes, we did promise that. The milestones are:

1. Create a prototype of ARAX-Overlay , a software tool for overlaying weights (e.g.,
semantic distance, clinical co-occurrence frequencies, etc.) on a given input graph. The
prototype will be overlay at least two types of information on an input graph: co-
occurrence information from the Columbia Open Health Dataset (COHD) and semantic
distance in th

[2020-03-12 01:04] finnagin commented on #629
@dkoslicki a couple ways we could implement `remove_virtual_edges` either have a flag or prefix in the type or something identifying it as a virtual edge or we could have a hardcoded list of all the virtual edge types we use and remove them that way. Thoughts about those options?

[2020-03-12 02:20] edeutsch commented on #619
Yes, I advocate that we can say they are they are all callable via a REST API through a single end point such that they can be chained together or not as desired.

I think we're there already.

[2020-03-12 02:29] amykglen commented on #627
It hasn't been addressed yet, but I could tackle it this week if desired.

[2020-03-12 03:37] saramsey commented on #680
thank you, checking now

[2020-03-12 15:28] saramsey commented on #618
still need to populate `result_code` I think

[2020-03-12 16:24] saramsey opened #681 "can we make sqlite vs. mysql a config option for RTXFeedback.py?"
Would be super nice if `RTXFeedback.py` could be (via some kind of runtime config option) set to either sqlite or mysql. Currently, I have to uncomment/comment various lines of code. sqlite is more simple to use for testing purposes.

[2020-03-12 16:25] saramsey commented on #681
this is *obviously* a topic for post-demo; I'm just recording it here so I don't forget

[2020-03-12 17:04] saramsey commented on #680
almost done with this bugfix; thank you @edeutsch  and @dkoslicki  for catching this!

[2020-03-12 17:11] saramsey commented on #680
@finnagin  Can you please check out (or update your existing) `demo` branch and test `ARAX_resultify.py` by running `python3 ARAX_resultify.py`?
Then please run Example 2 using the new `ARAX_resultify.py` code (from demo branch, latest commit). Please view the results graphs in `arax.rtx.ai` to make sure that a "slimmer" set of proteins is showing up for each result.

[2020-03-12 17:25] dkoslicki commented on #680
@edeutsch if you update the code on the UI backend https://arax.rtx.ai/devLM this would be quite easy to check.

[2020-03-12 17:37] saramsey commented on #680
Hey @finnagin can you also please carefully check Example 1 and Example 3, to make sure that my code changes to `resultify` have not messed up those examples?  I (obviously) don't expect that the code changes will screw something up, but this bugfix was kind of tricky so I think we should be diligent in making sure that there aren't.... unintended consequences for our demo.

[2020-03-12 17:39] saramsey commented on #655
Well, things got derailed by #680. Will resume this afternoon.

[2020-03-12 17:48] edeutsch commented on #680
hmm, sorry, does not look right:
https://arax.rtx.ai/devLM/?m=1426
The first result shows that there are now *no* proteins attached to the drug.

[2020-03-12 18:45] saramsey commented on #680
Shoot. I will work on this after class (this afternoon).  Tagging @finnagin  so he is aware.

[2020-03-13 01:47] saramsey opened #682 "ARAX_query.query printing unwanted debugging text"
When I run `python3 ARAX_resultify.py`, I am seeing the following type of debugging output to STDOUT:
[code]

[2020-03-13 01:48] saramsey commented on #680
OK see my latest commit. Seems to be working now!!   @finnagin can you please test?

[2020-03-13 02:31] finnagin commented on #680
@saramsey when I run the notebook the results don't look different but is that because the code that the api is running has not been updated with your changes yet?

[2020-03-13 02:35] saramsey commented on #680
@finnagin please update the code on the server, thanks.

[2020-03-13 03:27] saramsey commented on #680
Fixed!  Thank you @finnagin  for your testing help

<img width="855" alt="Screen Shot 2020-03-12 at 8 26 44 PM" src="https://user-images.githubusercontent.com/5562107/76587039-e3a46180-649f-11ea-82e8-f47bb8accad4.png">

[2020-03-13 03:37] saramsey commented on #682
Hmm, this seems to be in `RTXFeedback.py`:
[code]

[2020-03-13 03:40] edeutsch commented on #682
this was triggered by adding in the deprecated result_graph.
Fixed.
git pull

[2020-03-13 03:40] edeutsch commented on #680
looks good to me!

[2020-03-13 03:57] saramsey commented on #663
Where are we with this issue? @amykglen is this something that needs to be checked before the demo?

[2020-03-13 04:06] finnagin commented on #680
Just ran through Examples 1 and 3 as well and they look good to me. Closing this issue.

[2020-03-13 04:06] #680 closed

[2020-03-13 04:31] amykglen commented on #663
confirmed KG2 expand still works with the new KGNodeIndex:
[code]
so all is well from my end.

[2020-03-13 13:26] saramsey commented on #670
Is it coming from `ReasoningUtilities.py` or `fisher_exact.py`?
[code]

[2020-03-13 14:44] amykglen commented on #630
sounds good!

[2020-03-13 14:56] edeutsch commented on #670
Presumably `ReasoningUtilities.py` is the main culprit since it is called by everything.

[2020-03-13 15:37] saramsey opened #683 "physically_interacts_with edges showing up as bidirectional arcs in RTX UI"
In response to this picture:

<img width="601" alt="Screen Shot 2020-03-13 at 8 38 33 AM" src="https://user-images.githubusercontent.com/5562107/76636310-0ff2c900-6506-11ea-83fb-f37d7837300f.png">

@edeutsch wrote:

I would like to review the history of how this issue was dealt with in previous iterations of the RTX system, before I can make a recommendation for how to avoid this problem in the cu

[2020-03-13 15:39] saramsey commented on #683
Again, I don't know the history of this. But my feeling is that this graph visualization accurately reflects the data model in Neo4j. As such, it doesn't seem to be a bug. I mean, the KG in this case *has* bidirectional arcs.

[2020-03-14 05:02] saramsey opened #684 "Link to API docs from devLM site yields Service Unavailable"
This hyperlink: https://arax.rtx.ai/devLM

Shows this page:

<img width="753" alt="Screen Shot 2020-03-13 at 10 01 26 PM" src="https://user-images.githubusercontent.com/5562107/76675398-37817a00-6576-11ea-937d-a575bc285337.png">

from which the link "API 0.9.3" takes you to this link:

https://arax.rtx.ai/devLM/api/rtx/v1/ui/

which shows this in the browser:

<img width="478" alt="Screen Shot 202

[2020-03-14 15:23] edeutsch commented on #684
fixed.

[2020-03-15 23:36] dkoslicki opened #685 "Suggest removing output from ipython notebooks"
Currently, the [ipython notebooks](https://github.com/RTXteam/RTX/tree/demo/code/ARAX/Examples) already show the output. When running in a Jupyter instance, it makes it appear that nothing is happening. During the demo, it may be helpful to have the output text, like:
[code]
removed, so it's clear that when we run it, things are actually "happening."

I realize this risks our "backup plan" of just

[2020-03-15 23:39] saramsey commented on #685
Yes, we absolutely should keep versions of the notebooks "with output included" on-hand.

[2020-03-16 00:05] dkoslicki commented on #685
@saramsey @edeutsch Actually, I discovered how to do this pretty quickly within Jupyter itself, so no need to make any changes. I can handle this on my end with Jupyter. Closing

[2020-03-16 00:05] #685 closed

[2020-03-16 07:05] edeutsch opened #686 "resultify() not checking its parameters"
The following DSL runs without complaint:

add_qnode(name=acetaminophen, id=n0)
add_qnode(type=protein, id=n1)
add_qedge(source_id=n0, target_id=n1, id=e0)
expand(edge_id=e0)
resultify(ignore_edge_direction=true,transmit=coronavirus)
filter_results(action=limit_number_of_results, max_results=10)

The following results in a crash:

add_qnode(name=acetaminophen, id=n0)
add_qnode(type=protein, id=n1)

[2020-03-16 14:19] #684 closed

[2020-03-16 14:19] #682 closed

[2020-03-16 14:49] saramsey opened #687 "ARAX_resultify._resultify() referencing ignore_edge_direction parameter unsafely"
current code will throw a `KeyError` if `ignore_edge_direction` is not specified in the parameter list

[2020-03-16 16:03] #687 closed

[2020-03-16 16:04] edeutsch commented on #649
On arax.rtx.ai I continue to get this about once per day. Seems to be most frequent when connecting to neo4j after a bit of a hiatus. i.e. the first time I run a script in a day it has a higher chance of this crash than during an active development/debugging session. but the latter is not 0.0 either.

Immediate retry succeeds 95% of the time.
Is 100% success after two retries.

[2020-03-16 16:35] edeutsch commented on #686
This still generates a crash for me in /beta with the latest in demo:

An uncaught error occurred: parameter type is not allowed in ARAXResultify: transmit: ['Traceback (most recent call last):\n', ' File "/mnt/data/orangeboard/beta/RTX/code/UI/OpenAPI/python-flask-server/swagger_server/../../../../ARAX/ARAXQuery/ARAX_query.py", line 402, in executeProcessingPlan\n result = resultifier.apply(messa

[2020-03-16 16:37] saramsey commented on #686
oops, give me a second

[2020-03-16 16:38] saramsey commented on #686
Sorry, I forgot, I can't throw a `ValueError` in `_resultify`. Fixing now...

[2020-03-16 16:46] edeutsch commented on #686
yes, please don't raise any errors, otherwise the client will see a blechy stack trace.
Please check for or catch any potential errors and:
    response.error(f"Nice error message explaining the problem", error_code="SpecificErrorCode")
    return response

thanks!

[2020-03-16 16:47] saramsey commented on #686
Yes, I know. This was just an oversight. I have fixed it in code (I think), but for some reason RTXFeedback.py has stopped working for me so it is taking me longer than I would like, to run my tests.

If I push the code change can you test it?

[2020-03-16 16:48] saramsey commented on #686
@edeutsch can you please test now?  I need to fix my `RTXFeedback.py` + associated database on my local system but right now it is giving errors.

[2020-03-16 16:55] edeutsch commented on #686
Yes, no more crash, thanks.
Although this:

add_qnode(name=acetaminophen, id=n0)
add_qnode(type=protein, id=n1)
add_qedge(source_id=n0, target_id=n1, id=e0)
expand(edge_id=e0)
resultify(ignore_edge_direction=moo)
filter_results(action=limit_number_of_results, max_results=10)

yields this:
The two nodes for KG edge 900006, UniProtKB:P09917 and CHEMBL.COMPOUND:CHEMBL112, have no corresponding edge i

[2020-03-16 16:56] dkoslicki commented on #686
@saramsey In case it helps, I’ve found the following paradigm useful when creating errors in the way Eric suggested:
[code]
That way, you get both an error you can describe, as well as a brief stack trace with the error code as well.

[2020-03-16 16:59] saramsey commented on #686
I have a `debug` parameter, which defaults to `false`. If it is set to `true`, then `apply` will raise an exception (which is the pythonic way). If the `debug` parameter is `false`, then error messages are logged using `response.error` as suggested.

TBH I favor making `ARAX_query` do exception handling using try blocks internally. Calling from `ARAX_query` to `ARAX_resultify` is (always) python t

[2020-03-16 16:59] dkoslicki commented on #686
Re: Eric’s comment: hence the (non-elegant, but functional) [checking of allowable parameters](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/ARAXQuery/ARAX_overlay.py#L66-L85) and [defining of allowable parameters](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/ARAXQuery/ARAX_overlay.py#L156-L169) which [are then checked](https://github.com/RTXteam/RTX/blob/demo/code/ARAX/ARAXQuery/ARAX_o

[2020-03-16 17:00] saramsey commented on #686
Yes, `resultify()` should be allowed.

[2020-03-16 17:01] saramsey commented on #686
I'll look into the `ignore_edge_direction=moo` issue.

As for `resultify()` causing an error; I suspect an empty parameter is being passed?  Need to investigate. I have a 10:00 meeting though. ETA on a bugfix is 11:30.

[2020-03-16 17:26] saramsey commented on #686
never mind, I see that `ARAX_query` is in fact using a try block. Not sure why when ARAX_resultify throws a ValueError it causes problems on the server side, then. But anyhow, I will continue debugging the `ignore_edge_direction=moo` issue.

[2020-03-16 17:41] saramsey opened #688 "DSL parser passes an empty parameter when the argument list is empty"
The DSL command
[code]
Results in an entry in the `parameters` dictionary that has an empty key. This is causing problems for downstream parameter-checking code.

Not high priority b/c I can implement a simple workaround to filter this out, but it seems like sub-optimal behavior by the parser.

[2020-03-16 18:19] saramsey commented on #686
@edeutsch wrote:

[code]

`The two nodes for KG edge 900006, UniProtKB:P09917 and CHEMBL.COMPOUND:CHEMBL112, have no corresponding edge in the QG`

fixed (see test `_test_issue686c`

[2020-03-16 18:20] edeutsch commented on #686
It isn't an inherent problem if any of the modules raise an error, but the result is very inelegant for the user to see a stack trace. There will of course occasionally be errors that go uncaught and that's okay. ARAXQuery does catch them, but all it can say is that something went wrong and here's a stack trace (icky). It would be nicer of the module can report specific problems. Certainly at mini

[2020-03-16 18:20] saramsey commented on #686
@edeutsch wrote:

[code]

[code]

Fixed with a hack. I think there is a parser bug (see #688)

[2020-03-16 19:20] saramsey commented on #655
done; big thanks to @dkoslicki, @jaredroach, and @edeutsch on this

[2020-03-16 19:20] #655 closed

[2020-03-16 19:26] #686 closed

[2020-03-16 19:28] saramsey opened #689 "edge probabilities displayed in the UI have too many significant digits"

[2020-03-16 19:32] saramsey commented on #689
<img width="473" alt="Screen Shot 2020-03-16 at 12 32 08 PM" src="https://user-images.githubusercontent.com/5562107/76793399-34f37000-6782-11ea-898e-28c04e1edf37.png">

[2020-03-16 20:38] saramsey commented on #683
Is there a way to represent an undirected edge in a Swagger KnowledgeGraph object?

[2020-03-16 20:40] saramsey commented on #681
I decided to bite the bullet and just use MySQL to avoid having to use a hacked `RTXFeedback.py`. So this issue is less of an... issue for me. However, at some point I still would like to have a discussion about whether we could accommodate Sqlite, for situations where a user (who may be a developer/tester) prefers a more lightweight installation footprint.

[2020-03-16 20:45] edeutsch commented on #681
sure, I can do this, should not be hard. I was once concerned about multithreading problems, because I have gotten multithread warnings from SQLite in the past, but I think I figured those out, so should not be an issue. I don't think I can do it this week or next, but after that, sure.

[2020-03-16 20:59] edeutsch commented on #689
These are just the numbers as presented in the JSON. I would suggest that the GUI has no idea what precision is appropriate. But rather the code that is computing those numbers has the best chance of understanding what precision is appropriate and should round accordingly. I suspect if that code rounds appropriately and puts that in the JSON, it will automatically be displayed right on the screen.

[2020-03-16 21:11] edeutsch commented on #683
Two comments:

1) In response to "would like to review the history of how this issue was dealt with in previous iterations", I don't know where this is, but I will point out that when you perform the same query via the QueryGraphReasoner after entering a QueryGraph in the GUI, there's only one edge:
https://arax.rtx.ai/beta/?m=1517

2) Is there a way to represent an undirected edge in a Swagger Kn

[2020-03-16 21:21] amykglen commented on #683
re:

I think the query graph you used there is slightly different from the one in Example 1 (that generates the bidirectional edges) - you specified a type for the edge (physically_interacts_with), while the demo example does not. I think QueryGraphReasoner functions bidirectionally if no edge type is given, and otherwise is directional. (I don't really get why it is designed that way, but believe

[2020-03-16 21:24] edeutsch commented on #683
aha, you're right! If you specify the type in the add_qedge, then there's only one edge int the result:
https://arax.rtx.ai/beta/?m=1518

So I suppose the easiest fix is to switch to that in the demo notebooks.

[2020-03-16 21:38] amykglen commented on #683
yeah, think so. for now at least! that behavior is certainly something we can redefine when we (post-demo) move away from using QueryGraphReasoner in `expand()`. (seems like ultimately we wouldn't want directionality to be dependent on whether or not an edge type is specified - see #627 for discussion on edge directionality in `expand`.)

[2020-03-16 22:10] dkoslicki commented on #689
Yeah, these are just the numbers that @finnagin ML model spits out. IMHO, 5 significant digits is sufficient. Can push a fix if urgent.

[2020-03-16 23:18] saramsey commented on #689
@edeutsch wrote:

I respectfully disagree.  In a GUI meant for a human, we (the users) probably want to see a default three significant digits. Cases where I want to see more digits than that are relatively rare for this kind of statistical summarization/estimation. (Yes I am aware that in other disciplines there are measurements like speed of light where we care about precision to 10 digits). We

[2020-03-16 23:29] edeutsch commented on #689
okay, I'm happy to go along with this. @isbluis want to implement this?

[2020-03-16 23:34] isbluis commented on #689
Sure thing.

Is there a full list of entities for which we should do this?  e.g. Jaccard index...

[2020-03-16 23:38] saramsey commented on #681
Sweet!  For testing/dev purposes, using a local sqlite embedded DB is very compact, self-contained, and tidy. No pressure, though. I bit the bullet and got a `rtxfeedback` DB set up in mysql today and it is working just fine.

[2020-03-16 23:38] dkoslicki commented on #689
@isbluis edges that have attributes with the following names:
[code]

[2020-03-16 23:40] saramsey commented on #649
FWIW, I can confirm that I am seeing this from time to time, even after having switched to a "stock" installation of ARAX from the demo branch (no funky sqlite stuff).

[2020-03-16 23:41] isbluis commented on #689
Great, thanks @dkoslicki

[2020-03-16 23:41] saramsey commented on #675
OK, slides are in good shape. Am assuming this is next-up on the priority list for me?

[2020-03-16 23:42] edeutsch commented on #649
on your mac?

[2020-03-16 23:42] saramsey commented on #689
Can we just put the fix in devLM for the time being?  I'm scared of something breaking in /beta, this close to the demo.

[2020-03-16 23:43] isbluis commented on #689
Sure thing, though I have a medical appointment in a few minutes and won't be able to do this until tonight.

[2020-03-16 23:43] saramsey commented on #689
From my standpoint this is not urgent. LM, please take care of yourself.

[2020-03-17 02:26] isbluis commented on #689
Ok, this is ready in devLM.   ( <shift>-reload! )

It only works on the edge_attributes that @dkoslicki listed.  Do we also want to do the same for other values, such as weight, confidence, etc?

[2020-03-17 02:32] edeutsch commented on #689
Edge attributes look good to me!
https://arax.rtx.ai/devLM/?m=1552

And for other attributes, I would say yes
e.g. here:
https://arax.rtx.ai/devLM/?m=1553

[2020-03-17 02:36] isbluis commented on #689
Ok, I have added weight and confidence as well.

Let me know if it passes muster, and I'll push the changes (if desired)

[2020-03-17 03:05] edeutsch commented on #689
3 significant figures it is! Looks fancy!
![image](https://user-images.githubusercontent.com/12707718/76817900-68a1ba80-67c1-11ea-95b3-fceea7dd1502.png)

push it!

[2020-03-17 04:27] isbluis commented on #689
Ok, pushed to demo/

[2020-03-17 04:45] edeutsch commented on #689
tested and rolled out to beta. Nothing like night-before code rollouts. Would be good to test the examples 1,2,3,4 again in the morning. Seems to be in good shape to me!

thanks!

[2020-03-17 04:46] edeutsch commented on #675
I suppose I wouldn't sweat this before the demo. But okay if you want to. If you succeed, would require a rollout even closer to game time, however...

[2020-03-17 05:28] edeutsch opened #690 "entering a bogus node type causes ARAX to crash"
When running this DSL:

# Create the QueryGraph
add_qnode(curie=DOID:14330, id=n00)
add_qnode(type=prot, is_set=true, id=n01)
add_qnode(type=chemical_substance, id=n02)
add_qedge(source_id=n00, target_id=n01, id=e00)
add_qedge(source_id=n01, target_id=n02, id=e01, type=physically_interacts_with)

# Expand a graph for this query
expand(edge_id=[e00,e01], kp=ARAX/KG1)

# Compute Jaccard metrics, fil

[2020-03-17 19:08] saramsey opened #691 "what should resultify do if the input message object already has results?"

[2020-03-17 19:09] saramsey opened #692 "for empty KG, make sure that resultify returns an empty list"

[2020-03-17 20:03] edeutsch commented on #691
For the record, in order to make Example 4 work the way I think it should:
https://github.com/RTXteam/RTX/tree/demo/code/ARAX/Examples

I made this change to ARAX_resultify:
https://github.com/RTXteam/RTX/commit/9802bf8f0f3ce6f9166b8af9e38c23d415e1c54e#diff-bba70b25afd5d5d8a714c3957e0d02ca

[2020-03-18 05:12] edeutsch commented on #649
I am also seeing this problem more and more frequently on the running instances. It happened a lot this afternoon. I have an hourly health monitoring agent and here is a list of all the errors for the last week. Good thing it was stable before noon today, cuz it sure wasn't after noon.

![image](https://user-images.githubusercontent.com/12707718/76927456-3a44dd80-689c-11ea-87bd-94646adf8651.png)

[2020-03-18 07:19] edeutsch commented on #649
On a whim, tried this on arax.rtx.ai:

pip3 install --upgrade neo4j-driver
Successfully installed neo4j-driver-1.7.6

pip3 install --upgrade neobolt
Successfully installed neobolt-1.7.16

and restarted /beta endpoint.

fingers crossed.

[2020-03-23 20:26] saramsey commented on #690
does this involve resultify?

[2020-03-23 22:24] edeutsch commented on #690
No, ARAX crashes before it hits resultify. The crash is actually in Overlay/compute_jaccard.py
So that's a bug to be fixed.
But, there are philosophical questions that are raised about exactly how ARAX should behave in this situation that we might all do well to discuss.

[2020-03-24 05:11] saramsey commented on #436
From Sebastian Paz Vivas at DrugBank:

[2020-03-24 16:14] saramsey opened #693 "can we use NGD in order to expand a KG?"
Question posed by Noel Southall during the March 17 demo.

[2020-03-24 16:27] saramsey commented on #663
can we close this issue?

[2020-03-24 16:32] saramsey commented on #670
Assigning to @dkoslicki

<img width="830" alt="Screen Shot 2020-03-24 at 9 32 21 AM" src="https://user-images.githubusercontent.com/5562107/77451826-6c7da000-6db2-11ea-8721-05f05cf89c26.png">

[2020-03-24 16:34] saramsey commented on #669
Is there anything actionable here, in the near- or medium-term?  If not, I propose to close this issue.

[2020-03-24 16:36] saramsey commented on #669
Hey @finnagin perhaps you could note this error on the Wiki, under a new section "error codes and what they mean"? Then we could close out this issue.

[2020-03-24 17:40] dkoslicki commented on #670
@dkoslicki Try commenting it out/renaming it, test, see if/what things are slow

[2020-03-24 17:44] dkoslicki commented on #690
@dkoslicki
- [ ] check into error that `compute_jaccard.py`
- [ ] fix error
- [ ] if code crashes, ping Amy to throw an error on expand with bogus node to prevent subsequent expansion

[2020-03-24 17:57] finnagin commented on #669
I've added a wikipage section "error messages and what they mean" and added this error message to it. Closing out the issue.

[2020-03-24 17:57] #669 closed

[2020-03-24 19:23] saramsey commented on #691
Per @dkoslicki comment in the 3/24 AHM: we need to consider that the interface between the ARS and ARAX is not yet fully defined and likely to evolve; in handling this issue we need to consider what the needs or likely use-cases of the ARS<->ARAX will be.

[2020-03-24 20:52] amykglen commented on #663
yep, I think so (Eric's new KGNodeIndex seems to be working well, both for KG1 and KG2)

[2020-03-24 20:52] #663 closed

[2020-03-24 21:05] amykglen commented on #664
the SRI team's [NodeNormalization Service](https://github.com/TranslatorIIPrototypes/NodeNormalization) might be helpful in tackling this issue.. (for a given curie, it returns the 'preferred curie', 'equivalent identifiers', etc..)

[2020-03-24 22:39] edeutsch commented on #664
KGNodeIndex does this as well, so I think we have all the synonym information. The question is what do we do with that information? If we get an incoming query for DOID:10609, do we just do the expand() on DOID:10609 and done and miss a lot of edges? (I assume that is what happens now?) Or do we consult KGNodeIndex for all synonyms of DOID:10609 and then perform 14 expand steps for each of the syn

[2020-03-24 22:56] edeutsch commented on #691
I think the reality is that in the short term they will be sending us plain QueryGraphs, not DSL. So therefore we need an extra layer that looks at an incoming query graph, analyzes it for known patterns and *writes* some DSL that best answers that question (rather than shoving it blindly into the crude QueryGraphReasoner) and then executes that DSL.

For example recognize that (curie=X)--(is_set=

[2020-03-24 23:17] edeutsch commented on #693
Just occurs to me that this is also related to #664

[2020-03-24 23:18] amykglen commented on #664
yes, agree with all of the above, though I think the NodeNormalizer might still have something to offer. for example, the NodeNormalizer's equivalent curies for rickets (DOID:10609) contains the MONDO node ("rickets (disease)") that KGNodeIndex misses:
[code]
but yes, this will be a complex issue (as mentioned on the AHM today)... just wanted to document here that the NodeNormalizer might be worth

[2020-03-24 23:22] edeutsch commented on #664
understood, thanks.
BTW, I recall fixing this particular issue by having the most recent KGNodeIndex strip " (disease)" from MONDO nodes or adding it as a synonym. So I think that example was addressed with an up-to-date KGNodeIndex? not positive, but I meant to.

[2020-03-24 23:23] edeutsch commented on #664
Tangent - Was this issue #664 also the reason that Noel's attempt to put his secret example disease during the demo failed? There were no edges of the correct type on the node that he tried. But there are 13 others nodes for the same thing and maybe one of those had the correct edges we wanted? dunno, just speculating.

[2020-03-27 16:27] kvarforl opened #694 "Resurrect the Snakefile"

[2020-03-30 04:01] saramsey opened #695 "ETL CTD gene-disease relationships into KG2"
@zheng-liu reports that there are 77.7 million (!) gene-disease relationships in CTD.

[2020-03-30 22:02] saramsey commented on #575
can you please
1. update the markdown docs to reference the shell script for installing docker
2. document in the markdown page the existence of the s3 bucket `arax-public` in the `us-west-2` add a step to curl the docker image from the bucket
[code]

[2020-03-30 22:14] saramsey commented on #598
if we need to regenerate a full index each time we update Neo4j, this sounds like something that maybe should be put in a new "System Operation SOP" in the Wiki; @finnagin can you help with that?

[2020-03-30 23:16] zheng-liu commented on #695
This astronomic number comes from the fact that CTD database collected both **curated** and **inferred** gene-disease relations. Please refer the following documentation from their official web:

[2020-03-30 23:42] zheng-liu commented on #695
My understanding is:
- We definitely should involve all the **curated** gene-disease relations, since they are verified from other researchers.
- For the inferred links, we cautiously accumulate according to the inference score (e.g. score >= 8.0) for each entry. So that we can have a moderately-scaled gene-disease relation set, considering both accuracy and computational cost.

[2020-03-31 21:21] saramsey opened #696 "does this affect us?"
From AWS:

[2020-04-01 20:54] saramsey commented on #664
We are going to address this with weekly hackathon meetings on Fridays at 9:00 AM PDT until the hackathon/relay meeting April 27-30.

[2020-04-01 21:21] edeutsch commented on #664
It was suggested that I summarize the issue to focus the discussion:

1) Assumption 1: We yearn to use the information in KG2 for regular operations because it contains so much more good stuff than KG1.
2) Assumption 2: Trying to support both KG1 and KG2 simultaneously leads to extra effort and is messy and confusing. We would like to consolidate all operations to KG2
3) The biggest challenge with

[2020-04-03 16:06] dkoslicki commented on #664
Assumption 3: we will also be reaching out to other KP's for `expand` in the near future.

[2020-04-03 17:23] edeutsch commented on #664
After substantial discussion, we came to the conclusion that doing a good job for item 5 was quite difficult and Steve would not be able to tackle this before the hackathon, AND we really need to be dealing with this complexity at the reasoning level anyway. So, the conclusion is that we are going to attempt to deal with this solely at the reasoning level as in item 6.

Initial tasks are:
- Using

[2020-04-03 20:42] edeutsch commented on #664
@amykglen I have just pushed to demo two new methods in KGNodeIndex.

kgNodeIndex.get_equivalent_curies('DOID:14330')
yields:
['CUI:C0030567', 'CHV:0000009319', 'ICD10:G20', 'CUI:C0865476', 'CUI:C0865475', 'CUI:C0865474', 'CUI:C1399358', 'ICD10CM:G20', 'LNC:LA27533-1', 'LNC:MTHU020807', 'MEDDRA:10061536', 'MEDCIN:32004', 'MEDLINEPLUS:85', 'MESH:D010300', 'CUI:C1521736', 'NANDA-I:03003', 'NCIT:C268

[2020-04-03 21:54] amykglen commented on #664
Awesome - yes, I think this does the trick! Seems like an excellent starting point for finding synonyms to me. Perhaps down the road the NodeNormalizer could become useful (like maybe if we need such functionality when working with other KPs?), or perhaps we'll want to add to these methods by also utilizing `equivalent_to` relationships in KG2, but for now this seems to work quite well.

I'll work

[2020-04-06 18:16] dkoslicki opened #697 "Sync all branches, return to master as main branch"
- [x] merge master into demo (resolve conflicts, commit, push)
- [x] merge demo into master (commit, push)
- [x] merge master into expander (resolve conflicts, commit, push)
- [x] merge expander into master
- [x] repeat for filter
- [x] repeat for overlay
- [x] switch back to master being main branch of repo

And test, test, test at each step

[2020-04-06 18:51] dkoslicki commented on #697
`ARAX_query.py` tests 3, 12, 15, 20, and 1212 all passing. `master` is now again the default branch. All relevant branches in sync with master.

[2020-04-06 18:51] #697 closed

[2020-04-06 19:01] jaredroach commented on #664
Fundamentally, bullet point items #5 and #6 are the same approach. That is, we create a new kind of edge called "synonym". Whether this edge is explicitly represented as a new edge kind in KG2, or is kept in a separate table is mostly a matter of logistics, not conceptual difference. One possibility of crating a "synonym" edge under either scenario is to "weight" these edges with a confidence that

[2020-04-07 00:08] amykglen opened #698 "Adjust ARAX to use curie synonyms for KG2 queries"
Creating this task to track our implementation of the (pre-relay meeting) plan we came up with for #664.

- [x] Adjust expand
  - [x] Start using list of curie synonyms in cypher queries where appropriate
  - [x] Improve speed for multi-edge expands
  - [x] Add multiple ways of handling synonyms in answer (#707)
- [x] Adjust overlay
- [x] Adjust filter
- [x] Adjust resultify

Note: We decided to *

[2020-04-07 00:10] amykglen commented on #698
An update on where I'm at with this for `expand`:

I made the desired changes and it is currently functioning (KG2 expands now automatically use synonyms), though with speed issues in certain situations.

Namely, for the KG2 version of the Parkinson's example we used for the demo, i.e.:
[code]
the expansion is now **really** slow - takes almost 5 minutes.

**But**, strangely, it's way faster when

[2020-04-07 01:13] edeutsch commented on #664
I like the idea of synonyms as edges. Certainly from the aesthetic point of view it seems pleasing. More difficult to reason on, but we should be dealing with the issue anyway. Then when a reasoner is asked to work with DOID:1234, it really should bring in all exact_synonym edges, near_synonym edges (like the phenotype/disease example), and is_child_of edges, and likewise their exact_synonyms, nea

[2020-04-07 15:58] dkoslicki commented on #697
@edeutsch No objections here! Out with the old and in with the new!

[2020-04-07 18:04] edeutsch commented on #697
Done! The old is out and the in new is in!
production
/beta
/test
/devED
/devLM

have all been switched to the master branch, KGNodeIndex updated, services restarted, etc.

Everything is now running master ARAX.
Let me know if you notice any problems.

[2020-04-07 18:39] edeutsch commented on #697
BTW, I also just upgraded all relevant Python modules on arax.rtx.ai's Python 3.7.3 installation.

[2020-04-07 18:39] edeutsch commented on #697
...and everything still seems to run fine.

[2020-04-08 17:08] amykglen commented on #698
Ok, I managed to improve the speed a bit - expansion for the Parkinson's example now takes about 15 seconds using KG2 (using equivalent curies), even when `expand(edge_id=[e00,e01])` is used. (Changes are in the `expander` branch.)

And some nice news is that the idiopathic pulmonary fibrosis query that failed to produce results in the demo:
[code]
now turns up 554 proteins (connected to idiopathi

[2020-04-08 19:50] edeutsch opened #699 "DSL generator"
I think there is one more necessary component of ARAX that we should put some thought into: the DSL generator. The DSL is nice and great and super flexible, but the reality is probably that the ARS will be sending us just QueryGraphs and we need to answer those query graphs well.

For example, currently if one sends the Parkinsons disease query as an input graph, it gets squirted into the QueryGra