[2020-08-15 22:16] #1007 closed

[2020-08-15 22:33] saramsey opened #1016 "KG2 JSON is not biolink compliant due to spaces in property names`"
I ran
[code]
on `kg2steve.rtx.ai` with KGX version:
[code]
the output is:
[code]

[2020-08-16 10:04] finnagin commented on #994
Hey @chunyuma , I've regenerated the mychem data. you can download it [here.](https://www.dropbox.com/s/f7ve37gs4mibgpu/new_mychem_data.zip?dl=0) I know I also mentioned the NDF data but upon further inspection it has not been updated since 2012 so there will be no difference. It's possible there is a more updated version elsewhere but I don't know where or how to access it.

[2020-08-16 17:11] saramsey commented on #1014
Hi @ericawood I think this issue is resolved. I just successfully ran `build-multi-ont-kg.sh` on `kg2steve` (not in test mode). It ran to completion without giving a `TypeError`.
[code]

[2020-08-16 17:13] #1014 closed

[2020-08-16 17:59] saramsey commented on #1016
see JSON example on the KGX data preparation page:

https://github.com/NCATS-Tangerine/kgx/blob/master/data-preparation.md

[2020-08-16 18:02] #1010 closed

[2020-08-16 18:02] saramsey commented on #1010
done

[2020-08-16 18:07] saramsey opened #1017 "In test mode, can hmdb_xml_to_kg_json.py just save the first 10,000 metabolites?"
Currently, running `hmdb_xml_to_kg_json.py` with `--test` generates a 1.1 GB JSON file. Would speed up the test build if the test mode truncated the number of metabolites written to the JSON file. As an example, see `chembl_mysql_to_kg_json.py`.

[2020-08-16 19:14] chunyuma commented on #994
Thanks @finnagin

[2020-08-16 21:00] saramsey opened #1018 "README.md for RTX/code/kg2/canonicalized directory"
I wonder if it would be helpful if we could have a README.md file for the `RTX/code/kg2/canonicalized` directory, with some basic information about

1. what a canonicalized build is
2. who to contact for more information about the canonicalized KG2
3. how to build the canonicalized KG2 (even if just a link to a Wiki page or whatever)
4. how to deploy the canonicalized KG2 (even if just a link to a

[2020-08-16 21:02] saramsey commented on #995
Tagging @amykglen to get her thoughts on this

[2020-08-16 21:06] saramsey opened #1019 "standardize all KG2 simplified predicates to use biolink"

[2020-08-16 21:08] saramsey commented on #1019
see commits 4ce51a3 and a2ce632

[2020-08-16 21:08] saramsey commented on #1015
Note, 4c351a3 and a2ce632 should have been tagged #1019 not #1015

[2020-08-16 21:09] #1019 closed

[2020-08-17 16:32] ericawood commented on #1017
Commit 544c1bf adds that limit. However, it doesn't significantly reduce the time that it takes for the script to run as the load in is the primary time consuming part of the script.
Test Mode: (12 minutes, 1 second)
[code]

Full Mode: (14 minutes, 4 seconds)
[code]

[2020-08-17 16:40] ericawood opened #1020 "KG2 Test Build Can't Run Without Manual Intervention"
Line 56 of build-kg2.sh determines that the output file from `extract-semmeddb.sh` is:
`
semmed_tuplelist_file=${BUILD_DIR}/semmeddb/kg2-semmeddb${test_suffix}-tuplelist.json
`
Thus, if `build-kg2.sh` is run with `test`, the output file is `kg2-semmeddb-test-tuplelist.json`.

However, `extract-semmeddb.sh` is only run if the `build_flag` is `all` (rather than `test`). So, in lines 195-199, when th

[2020-08-17 16:44] saramsey commented on #1020
Thank you, this is a great description of the issue.

[2020-08-17 17:13] saramsey commented on #1020
Hi @ericawood can you please check out a96fdc7 ?  Please let me know if that will solve the problem. This commit is intended to add a new `alltest` build option, that would be used like this:

[code]

[2020-08-17 17:25] ericawood commented on #1020
Hi @saramsey, that looks like it will solve the problem. The one thing I'd add is that you should probably change (line 139) from

`
    bash -x ${CODE_DIR}/extract-semmeddb.sh ${semmed_tuplelist_file}
`

to
`
    bash -x ${CODE_DIR}/extract-semmeddb.sh ${semmed_tuplelist_file} [test]
`

if `alltest` is the build flag. Also line 221-222 runs
`
bash -x ${CODE_DIR}/build-multi-ont-kg.sh \

[2020-08-17 17:30] saramsey commented on #1020
Hi @ericawood ok can you please take a look at e39aa69 and 4a2dcb8 to see if those (together with the previous commit) will fix the issue?

[2020-08-17 17:31] saramsey commented on #1020
I acknowledge that this is an inelegant fix, but on the other hand, it is taking a "light touch" and not modifying too much.

[2020-08-17 17:49] ericawood commented on #1020
That should fix the semmeddb problem, but I think that it will break your call to build-multi-ont-kg.sh, if you want it to only do a test build. If it's alright with you, my plan to update the Snakemake build system is a bit different (so that build-multi-ont-kg.sh won't break):

Original:
[code]

New:
[code]

The Snakemake build system uses `test_flag` rather than `build_flag` during the rest of

[2020-08-17 18:02] amykglen commented on #1009
ah, yeah, that's true - if there was an acceptable value to assign for 'unknown' node pairs, that would get around this. doesn't seem great to assign a worst-case p-value (1.0) in the ICEES case, since 'these nodes aren't related at all' seems quite different from 'I don't know what these nodes are'... but maybe we could make something like "unknown" work, as you say? hmm...

[2020-08-17 18:07] saramsey commented on #1020
Hi @ericawood thanks for your reply. Can you elaborate on this?

If I run
[code]

then lines 129--174 are skipped, and then at line 221, `build-multi-ont-kg.sh` is run like this:
[code]

why will that break?
[code]

[2020-08-17 18:11] ericawood commented on #1020
Hi @saramsey,
I'm referring to if you want to run a test build from scratch:
`bash -x ~/kg2-code/build-kg2.sh alltest`

at line 221, `build-multi-ont-kg.sh` is run like:
`bash -x ~/kg2-code/build-multi-ont-kg.sh /home/ubuntu/kg2-build/kg2-ont-test.json alltest`

In build-multi-ont-kg.sh on line 21:
[code]

A test build will not be triggered. Correct me if I'm wrong, but there are different ont loa

[2020-08-17 18:13] saramsey commented on #1020
Hi @ericawood thank you. Sorry, I forgot to commit that fix. See c70d5bd. OK now?

[2020-08-17 18:14] ericawood commented on #1020
Yes, that should fix it! Thank you

[2020-08-17 18:20] saramsey commented on #1020
See also my analogous fix for `version.sh`, in 2c63eca

[2020-08-17 18:26] saramsey commented on #1020
Also, it's fine if Snakemake does things a bit differently internally.

In the shell scripts, my use of `build_flag` for these two semantically distinct purposes (test vs. non-test, and partial vs. full build) is really inelegant. But it's a quick and easy fix to the shell scripts, for the short term, I suppose.

[2020-08-17 19:05] ericawood commented on #451
Based on the build currently going on on kg2steve, it only takes approximately 732 minutes (about 12 hours) to run. The rest of the 28 hours is spent doing nothing but hanging as it holds onto approximately 59% of the memory on a `r5a.8xlarge` instance. Even when the build is run in parallel, this script is adding an extra 16 hours to the build process.

[2020-08-17 20:01] amykglen commented on #1018
thanks @ericawood for creating the README!! it looks awesome. I'm going to leave this issue open just a little bit longer in case I think of anything else to add.

[2020-08-17 20:08] saramsey commented on #1017
Thanks. Is there a difference in the size of the file that is created?  That is also one of the advantages (I hope) of adding this limit.

[2020-08-17 20:28] ericawood commented on #1017
The new file is only 273M.

[2020-08-17 20:34] ericawood commented on #1016
Hi @saramsey,
I think that this created a new bug.

I ran: (I was working on #927)
[code]

ont-load-doid.yaml looks like this:
[code]

So, I added in an except, such that if the `KeyError` described above occurred again, it would print out the `source_ontology_information`. Here is that data, before it failed due to an `UnboundLocalError` (part of my debugging process - break it after the first is

[2020-08-17 20:43] #593 closed

[2020-08-17 20:46] saramsey commented on #451
Excellent detective work!

[2020-08-17 20:48] saramsey commented on #451
Bumping the priority level. If we can fix this, this would speed up the build time.

[2020-08-17 20:49] saramsey commented on #451
You are correct, it looks like `/home/ubuntu/kg2-build/kg2-semmeddb-edges.json` was written at 08:53 UTC on Aug. 17. Current time in the instance is 20:46 UTC:
<img width="623" alt="Screen Shot 2020-08-17 at 1 49 15 PM" src="https://user-images.githubusercontent.com/5562107/90443051-74efb380-e090-11ea-810d-86320e517778.png">

[2020-08-17 20:54] saramsey commented on #451
Hi @ericawood can you take a look at 0834c5c to see if that might help?  First I think it would make sense to run it with `--test` to see if this "fix" has a trivial bug. If not, perhaps we could run it without `--test` to see if it helps?

[2020-08-17 20:55] saramsey commented on #451
see also bfce940

[2020-08-17 20:57] saramsey commented on #523
Hi @ericawood I can't remember, are you using `bigmem.rtx.ai` for this work?

[2020-08-17 20:58] saramsey commented on #1017
Nice. Then I think this is helpful.

[2020-08-17 20:58] #1017 closed

[2020-08-17 20:59] ericawood commented on #523
Hi @saramsey, yes, I am using `bigmem.rtx.ai` for this work (it is all included in the pubmed ETL script `pubmed_xml_to_kg_json.py`).

[2020-08-17 22:27] chunyuma commented on #974
This issue has already been merged to `master` branch.

One thing might need to be paid attention when someone uses `COHD` in `expand()`. Since COHD database is constructed based on only `drug`, `disease`, `chemical_substance` and `phenotypic_feature` of canonicalized kg2, it might throw a warning or even an error if the query graph tries to expand the edge for a qnode which is not one of the abov

[2020-08-17 23:21] dkoslicki opened #1021 "Fill in our KS's that aren't currently on Translator's radar"
According to the Architecture group, we need to, **by 8/21/2020**:

Add rows to [this spreadsheet](https://docs.google.com/spreadsheets/d/1nK7v0cw_yJfnX3kLUNxsxQRTmPZ6vUf0/edit#gid=907193666) for the KS's that we include in our KG2, but aren't currently listed on the spreadsheet. A list of our KS's is helpfully provided by Steve [here](https://github.com/RTXteam/RTX/tree/master/code/kg2#what-data-

[2020-08-17 23:33] edeutsch commented on #781
This is still a problem. I have not gotten a clean test run in weeks now. only one error now equals success. Not ideal, but okay. Anyone able to repro or fix?

[2020-08-17 23:34] edeutsch commented on #781
test_ARAX_workflows.py::test_example_3 FAILED                                                                                                       [ 90%]
test_ARAX_workflows.py:133: AssertionError
E       AssertionError: assert 72 in range(45, 60)

[2020-08-17 23:52] ericawood commented on #927
Hi @saramsey,
1b116e9 should bring these in. I ran a test build on kg2erica and it brought PMIDs in from many sources, not just doid.

[2020-08-18 00:50] kvarforl commented on #1021
Went through and figured out which KS's need to be added as rows to the big spreadsheet (and added yes's to the Expander Agent Column where they were lacking).

The list of KS's to add, and their homepage links as provided by Steve:

- [Gtp](https://www.guidetopharmacology.org/)
- [PathWhiz](https://smpdb.ca/pathwhiz)
- [SMPDB](https://smpdb.ca/)
- [Therapeutic Target Database](http://bidd.nus.edu

[2020-08-18 02:15] saramsey commented on #927
thank you!

[2020-08-18 02:48] finnagin commented on #781
So I think that particular error can be fixed by changing range(45, 60) to range(65, 80) as we are getting more results consistently now.

However, I think there is something else going on that we should probably look into as before we start changing numbers until it works since a second error appears relating to the 'observed_expected_ratio' virtual edge. As I mentioned in my last post it looks t

[2020-08-18 04:12] saramsey commented on #927
OK I pulled 1b116e9 to `kg2dev.rtx.ai` and restarted a partial build at the `multi_owl_to_json_kg.py` stage, in order to bring this nice fix into the new build

[2020-08-18 04:13] #1012 closed

[2020-08-18 04:14] #1011 closed

[2020-08-18 15:41] ericawood opened #1022 "KG2 Merge Fail (Snakemake)"
[code]

[2020-08-18 16:17] saramsey opened #1023 "build fail due to typo in Relation Ontology"
This issue in `ro.owl`:
[code]
is causing this:
[code]

[2020-08-18 16:24] saramsey commented on #1023
Looks like this is already fixed in RO:
<img width="515" alt="Screen Shot 2020-08-18 at 9 22 35 AM" src="https://user-images.githubusercontent.com/5562107/90539448-acb03700-e134-11ea-881d-e99fe88d4d4e.png">

[2020-08-18 16:24] #1023 closed

[2020-08-18 16:26] ericawood commented on #1022
With the following change to kg2_util (see the two print lines at the end of the code block), I reran merge_graphs.py:
[code]

Since the list is getting sorted (the error was `TypeError: '<' not supported between instances of 'NoneType' and 'str'`, which is a sorted error), there can't be none in the `Second part`. As you'll see below, there are a lot of things in `Second part`, including a `None`

[2020-08-18 16:26] saramsey commented on #1023
I also fixed this in the `/home/ubuntu/kg2-build/ro.owl` file on `kg2dev.rtx.ai`, and restarted the build.

[2020-08-18 16:29] saramsey commented on #1022
Hi @ericawood how about
[code]
(see added `filter(None, ...)` call)

[2020-08-18 16:33] ericawood commented on #1022
Hi @saramsey, thank you for your quick response. Since you converted the list to a set, there is only 1 instance of None, so I used `list.remove()`. (I started testing it a couple of seconds before you commented.) If it fails, I think that `filter(None, ...)` will work. Either way, I will implement the fix.

[2020-08-18 16:33] saramsey commented on #1021
Thank you @kvarforl !

[2020-08-18 16:34] saramsey commented on #1021
Just to clarify, the excellent table (that @dkoslicki linked) of KS's used by KG2 was compiled by @amykglen , I can take no credit for it.

[2020-08-18 16:47] saramsey commented on #1022
Good catch. Please go with whichever fix you feel is more readable.

[2020-08-18 16:48] saramsey commented on #1022
Some module somewhere is sticking a `None` item in the `synonyms` list, I guess?  I suppose we should track that down and fix it, under another issue (marked lower priority in light of this fix).

[2020-08-18 16:53] dkoslicki commented on #1021
@kvarforl Thank you so much for taking this over! As for:

I had put a "Yes" under NCBI Taxonomy since that was the closest to taxslim. These are technically different, so a new row should be created for taxslim (and the "Yes" removed from the NCBI taxonomy row)

[2020-08-18 16:54] saramsey commented on #1022
Looks like maybe the `None` synonym came from KG1. I am investigating.

[2020-08-18 16:56] dkoslicki commented on #1009
Yeah, "not related at all" != "I don't know about these nodes". So an "unknown" value seems to make the most sense here. Don't know what it should be though... `None` perhaps, or `NaN`?

[2020-08-18 17:01] kvarforl commented on #1021
@dkoslicki thanks! There were also a bunch of ontologies that we had linked to obofoundry pages, but the spreadsheet linked to OLS pages... I assumed that if I could get to the OLS page from the obofoundry page, it was fine to consider them the same. is that a solid assumption?

[2020-08-18 17:02] saramsey commented on #1022
From the debugging info that @ericawood posted in this issue, it looks like the build failed on `merge_two_dicts` for compound `CHEMBL1236962` (omipalisib).

[2020-08-18 17:03] ericawood commented on #1022
There were multiple that failed (I only posted the first one).

[2020-08-18 17:05] saramsey commented on #1022
Understood, thanks. I am just tracking down the one that you posted, for starters.

[2020-08-18 17:12] saramsey commented on #1022
Some more debugging info. On `kg2steve`:
[code]

[2020-08-18 17:20] saramsey commented on #1022
I have excluded `kg2-drugbank.json`, as this is the only occurrence of `CHEMBL1236962` in that file:
[code]

[2020-08-18 17:23] saramsey commented on #1022
OK, the problem appears to be in `kg2-chembl.json`:
[code]

[2020-08-18 17:31] saramsey commented on #1022
I have a hunch that 2ee6899 will fix this issue. Going to test on `kg2steve.rtx.ai`.

[2020-08-18 17:33] saramsey commented on #1022
Running this on `kg2steve` now:
[code]

[2020-08-18 18:02] saramsey commented on #1022
Confirmed, 2ee6899 fixes this issue, at least for `kg2-chembl.json`:
<img width="613" alt="Screen Shot 2020-08-18 at 11 01 58 AM" src="https://user-images.githubusercontent.com/5562107/90548796-5a761280-e142-11ea-9897-b45768e04099.png">

[2020-08-18 18:14] saramsey commented on #1021
My $0.02: I think this is a solid assumption. It would be a weird corner-case if OLS has ontology "foo" and OBO has ontology "foo", but they are not the same ontology.

[2020-08-18 18:16] saramsey commented on #1018
Big thanks to @ericawood and @amykglen for doing this

[2020-08-18 18:19] kvarforl commented on #1021
Okay, as far as I can tell, anything in the table should be in the sheet now : )

[2020-08-18 19:03] amykglen commented on #995
hmm.. I agree it's a bit strange to have obsolete nodes in our knowledge graph, but I checked and it's true that at least some of them are connected to non-deprecated nodes... (about 3,500 out of 36,000 deprecated nodes in `kg2endpoint`). and some of them are very connected:
[code]

n.id | count(distinct m)
-- | --
"GO:0005620" | 109991
"CHEBI:52332" | 8019
"DOID:1492" | 4283
"DOID:0050815" | 1504

[2020-08-18 19:05] ericawood commented on #451
Hi @saramsey, I have tested this with test versions of SemMedDB up to 5.7 GB (I put a whole bunch - about 1320 of SemMedDB test files - only 3.9M large - together) and there was no hanging. I'm going to move onto running a partial build on kg2steve.

[2020-08-18 20:15] saramsey commented on #931
@ericawood see reply in slack

[2020-08-18 20:44] saramsey commented on #451
Great news!  I assume you  mean you tested 0834c5c and bfce940?

[2020-08-18 20:46] ericawood commented on #451
Yes, I tested both of those commits.

[2020-08-18 20:48] saramsey commented on #995
OK, if a node satisfies:
- `deprecated = True`
- has no `replaced_by` field
- has no `name`, `description`, or `full name`

I think it is a reasonable candidate for deletion at the `filter_kg_and_remap_predicates.py` stage. How does that sound?

[2020-08-18 23:49] #1018 closed

[2020-08-18 23:53] edeutsch commented on #995
The above from @saramsey seems reasonable to me.
But I also wonder:

- Is there any reason to keep any node that has `null` for `name`, `description`, and `full name`? Is there value in that?

- I started this issue considering nodes where the *name* contains a few different variants of "obsolete". I wonder how that is related to an attribute `deprecated = True`?

[2020-08-19 04:29] saramsey commented on #888
Are you asking if we could get more `biolink:same_as` relations by transitive closure?  I would think we could get tons via transitive closure, right @amykglen ?

[2020-08-19 05:01] saramsey opened #1024 "kg2_slim.py should save node `category` rather than `category_label` and should save `provided_by` for nodes"

[2020-08-19 15:50] ericawood commented on #451
Data from Partial Build on kg2Steve:
Start of SemMedDB Conversion: Tue Aug 18 19:17:15 2020

Last Modification of kg2-semmeddb-edges.json: 2020-08-19 12:27:34.317697851 +0000

End of SemMedDB Conversion: Wed Aug 19 12:27:34 2020

Total Time: Approximately 17 hours

[2020-08-19 16:19] saramsey commented on #1022
Hmm, still getting this issue at line 490 in `kg2_util.py`. From last night's build on `kg2dev`, during the running of `merge_graphs.py`, we got:
[code]

[2020-08-19 16:20] ericawood commented on #1022
Hi @saramsey, when did it fail? (It is working fine on kg2steve, are you sure the code is up to date?)

[2020-08-19 16:23] saramsey commented on #1022
Good questions!

As to when the failure occurred:
[code]
so that's 0931 UTC today.

As for the code being up-to-date:
[code]

[2020-08-19 16:25] ericawood commented on #1022
Hi @saramsey, thank you for your quick response! Is it alright if I do some digging on kg2dev?

[2020-08-19 16:25] saramsey commented on #1022
Sure

[2020-08-19 16:28] saramsey commented on #1022
The `RTXConfiguration-config.json` file in `/home/ubuntu/kg2-build` on `kg2dev.rtx.ai` looks reasonable; it is configured to query KG1 on `arax.rtx.ai` as I would expect.

[2020-08-19 16:35] saramsey commented on #1022
OK, I think it may be time to try catching the `TypeError` at runtime and print out the contents of `first_element`, `value`, and `stored_value`.

[2020-08-19 16:36] saramsey commented on #1022
@ericawood can you try that, running merge_graphs.py like this:
[code]

[2020-08-19 16:37] ericawood commented on #1022
Hi @saramsey, that is a debugging statement I put in to figure out the problem.

[2020-08-19 16:39] ericawood commented on #1022
I did run
[code]
(no SemMed or UMLS/ontologies for times sake)

and the output (before I stopped it), passed kg2-rtx-kg1.json:

[code]

[2020-08-19 16:39] saramsey commented on #1022
OK, I guess we will have to try running the full `merge_graphs.py` command-line invocation, to see if we can trip this problem again.

[2020-08-19 16:41] ericawood commented on #1022
Could it be an issue with the order of KG files? The order used in Snakemake is different than that used in build-kg2.sh.

[2020-08-19 16:42] saramsey commented on #1022
Yes, order  matters here. Please test on `kg2dev` using the exact invocation I showed above. Thanks.

[2020-08-19 16:45] saramsey commented on #1022
I'm gonna wager this may be some kind of conflict between `kg2-ont.json` and `kg2-rtx-kg1.json`, maybe?

[2020-08-19 16:46] ericawood commented on #1022
Should I take SMPDB out of the testing? It takes a few hours for merge to handle.

[2020-08-19 16:52] saramsey commented on #1022
This is a good idea, maybe to do on `kg2steve`?

[2020-08-19 16:56] saramsey opened #1025 "unichem_tsv_to_edges_json.py needs to add a "source node" for the whole Unichem source"
something like this, but for unichem:
<img width="584" alt="Screen Shot 2020-08-19 at 9 56 38 AM" src="https://user-images.githubusercontent.com/5562107/90666468-4b569980-e202-11ea-90e3-f00d07c5e75c.png">

[2020-08-19 17:01] saramsey commented on #1022
Based on the code branch at line 490, I think this has to involve something toxic in the `synonym` field of a `node` in some JSON file. Probably `kg2-rtx-kg1.json`, if I had to guess.

[2020-08-19 17:20] saramsey commented on #1022
FWIW, I have written a script to look for a `None` entry in the `synonym` slot for all nodes in a KG2 JSON file. I am running it on `kg2dev`. The script is `RTX/code/kg2/misc-tools/find_non_synonym.py`.

[2020-08-19 17:25] saramsey commented on #1022
OK, on `kg2dev`, the `kg2-chembl.json` file contains some nodes with `None` in the `synonym` field!  This may be a clue.
[code]

[2020-08-19 18:11] saramsey commented on #1022
I think I may have found the bug in `chembl_mysql_to_kg_json.py`. Testing now

[2020-08-19 18:13] saramsey commented on #1022
See 78dc069. That is definitely a bug!  Not entirely sure it is the root cause of this problem, but I strongly suspect that it is . Testing on `kg2dev` now.

[2020-08-19 18:20] saramsey commented on #1022
Ugh, see also 879f0e2. This module really needs a code review and a run through a linter.

[2020-08-19 18:35] saramsey commented on #1022
OK, the issue of `None` showing up in the `synonym` field of a node in `kg2-chembl.json` has been fixed  by 78dc069 and/or 879f0e2. See the test results on `kg2dev.rtx.ai`, run just now:
[code]

[2020-08-19 18:39] saramsey opened #1026 "merge_graphs.py doesn't work if the "optional" argument kgFileOrphanEdges is omitted"
[code]

[2020-08-19 18:43] saramsey commented on #1022
Expanded error information from the log file:
[code]

[2020-08-19 18:44] amykglen commented on #888
true! that's something I could look into... although, perhaps the way @edeutsch incorporates the info in the `same_as` dump into the synonymizer already achieves that? (since I'm guessing that as each `same_as` node pair is encountered, their synonym groups are joined? thus as you move down the list, `p` is eventually added to `n`'s synonym group if `(n)-[:same_as]-(m)-[:same_as]-(p)`, and etc.)

[2020-08-19 19:12] amykglen opened #1027 "Strange 'same_as' relationship in KG2"
In `kg2endpoint` (which I believe is still KG2.2.0), I noticed that these two nodes are linked by `same_as` relationships:
[code]
![Screen Shot 2020-08-19 at 11 58 41 AM](https://user-images.githubusercontent.com/49423686/90678297-5c5bd680-e213-11ea-93ba-dab92b0b7989.png)

but that doesn't seem to make much sense. (a `subclass_of` relationship would make more sense...)

it looks like the `same_as`

[2020-08-19 19:18] edeutsch commented on #888
It is supposed to work this way, but it is currently not and I don't understand why. I need more debugging time..

yes, this was my question.

[2020-08-19 19:51] saramsey commented on #1027
This is what I am seeing in the OBO-JSON version of `mondo.owl`:

<img width="837" alt="Screen Shot 2020-08-19 at 12 50 23 PM" src="https://user-images.githubusercontent.com/5562107/90682941-a09ea500-e21a-11ea-8ca9-087116b74be8.png">

[2020-08-19 19:52] saramsey commented on #1027
Not sure why we are getting a `same_as` relationship. I will have to investigate.

[2020-08-19 21:10] edeutsch opened #1028 "test error on latest master branch"
[code]
yields:
[code]
on the main ARAX server.

[2020-08-19 21:13] edeutsch commented on #1028
Here's the log:
[code]

[2020-08-19 21:28] saramsey commented on #988
OK, `kg2endpoint.rtx.ai` now (internally) has version number 2.2.0, as agreed above:

<img width="671" alt="Screen Shot 2020-08-19 at 2 27 53 PM" src="https://user-images.githubusercontent.com/5562107/90691465-3bea4700-e228-11ea-80e8-d3f8a29af5d8.png">

[2020-08-19 21:34] edeutsch commented on #1028
nevermind, this seems to be working in /test so it is probably my problem.

[2020-08-19 21:35] #1028 closed

[2020-08-19 21:39] saramsey commented on #988
Per minutes from 2020.08.19 AHM,
https://docs.google.com/document/d/1SHMwq1aiqgUmBWhb6c_vHGH8G3VF6ssvL2vlhfMwOCg/edit

I am setting up two CNAME entries as follows:
- `kg2endpoint-kg2-1-0.rtx.ai` `-->` `kg2endpoint2.rtx.ai`
- `kg2endpoint-kg2-2-0.rtx.ai` `-->` `kg2endpoint.rtx.ai`

<img width="654" alt="Screen Shot 2020-08-19 at 2 32 32 PM" src="https://user-images.githubusercontent.com/5562107/90

[2020-08-19 21:41] edeutsch commented on #988
and shall we update config.json to use the aliases?

[2020-08-19 21:42] saramsey commented on #988
<img width="678" alt="Screen Shot 2020-08-19 at 2 40 55 PM" src="https://user-images.githubusercontent.com/5562107/90692612-41e12780-e22a-11ea-83b9-d529b62b77aa.png">

[2020-08-19 21:44] saramsey commented on #988
<img width="653" alt="Screen Shot 2020-08-19 at 2 43 57 PM" src="https://user-images.githubusercontent.com/5562107/90692720-6fc66c00-e22a-11ea-8f25-3a5ec90ea1e0.png">

[2020-08-19 21:49] saramsey commented on #988
Updated `/mnt/temp/config.json` on `arax.rtx.ai`:
[code]

[2020-08-19 21:56] saramsey commented on #988
Updated to add a `KG2-test` slot in `config.json`:
[code]

[2020-08-19 22:23] saramsey opened #1029 "modify KG2 neo4j phase of build system to build the synonymizer database?"

[2020-08-19 22:24] dkoslicki commented on #1029
DK to modify `dumpdata.py` to point to local host

[2020-08-19 22:24] dkoslicki commented on #1029
SAR to provide links to S3 bucket `NodeSynonymizer.sqlite` files

[2020-08-19 22:24] saramsey commented on #1029
Idea is to have the KG2 build process updated to dump (as in build) the Synonymizer sqlite database and copy said sqlite database to the public S3 bucket.

[2020-08-19 22:35] saramsey commented on #1029
The RTX KG2 public S3 bucket has AWS URI: `s3://rtx-kg2-public/` and it is in the `us-west-2` region.

The RTX KG2 public S3 bucket has address:
[http://rtx-kg2-public.s3-website-us-west-2.amazonaws.com/](http://rtx-kg2-public.s3-website-us-west-2.amazonaws.com/)

which points to a static HTML file (an index file) `s3-index.html` that is under git version control.

We can certainly update the KG2

[2020-08-19 23:15] amykglen commented on #1029
not sure if we made it this far already, but one idea for the usage half of this new system could be:

* `config.json` has one `KG2` slot, somewhere in which the 'active' KG2 version is listed/accessible
* when code using `NodeSynonymizer` is run, `NodeSynonymizer` looks at that KG2 version number in the config file to figure out which node_synonymizer.sqlite file it should use (e.g., `node_synony

[2020-08-19 23:50] ericawood commented on #1029
I can modify tsv-to-neo4j.sh to build the SQLite database if that is desired.

[2020-08-20 01:23] saramsey commented on #1022
Just an FYI, since the merge on `kg2dev` has now completed, I have resumed the build on `kg2dev` from the point just after the merge.

[2020-08-20 01:43] saramsey commented on #1029
Thanks, @ericawood .  If we decide to pull the trigger on this modification to the KG2 build system (and I think there will be a bit more discussion before we reach that stage), we'll probably want to have a new master shell script "build-kg2-neo4j.sh" that (1) calls "tsv-to-neo4j.sh", (2) calls a new shell script "make-synonymizer-db.sh" and (3) copies the sqlite file to the S3 bucket.

[2020-08-20 01:46] saramsey commented on #1029
It's possible some of these filenames will get changed, but you get the idea.

[2020-08-20 01:48] saramsey commented on #1029
I like that idea, with the addition that if the download is skipped due to the "local copy is newer" condition, a warning should be printed to stderr stating that a local config file is overriding the system-wide-default config file (if it is annoying, I suppose the warning could be made suppressible by a parameter to the `RTXConfiguration` constructor, perhaps).

[2020-08-20 02:30] amykglen commented on #1029
good idea!

[2020-08-20 03:00] saramsey opened #1030 "bash syntax issue in `version.sh`"
Hi @ericawood I think I must have messed up version.sh:
[code]

[2020-08-20 03:08] saramsey commented on #1030
never mind, I fixed it.

[2020-08-20 03:13] saramsey commented on #1030
I have fixed the issue and resumed the v2.3.0 build on `kg2dev`.

[2020-08-20 03:50] saramsey opened #1031 "warnings from filter_kg_and_remap_predicates.py"
From the latest (v2.3.0) build on `kg2dev`:
[code]

[2020-08-20 04:40] saramsey opened #1032 "initiate KG2 build 2.3.1"
run `build-kg2-partial.sh` on `kg2dev`, to pull in fixes to `predicate-remap.yaml` for issue #1031.

[2020-08-20 04:44] saramsey commented on #1027
OK, there is actually an axiom in `mondo.owl` that asserts this relationship (`MONDO:equivalentTo`) between `MONDO:0000001` and `ICD10:N18`:
<img width="912" alt="Screen Shot 2020-08-19 at 9 43 51 PM" src="https://user-images.githubusercontent.com/5562107/90717771-32cb9b00-e265-11ea-9ef1-7af13209c320.png">

[2020-08-20 04:51] saramsey commented on #1027
I've noted this issue on the MONDO GitHub issue tracker:
https://github.com/monarch-initiative/mondo/issues/1921

[2020-08-20 04:58] saramsey commented on #1027
Since this is causing issues with the node synonymizer, I've hand-hacked the local `mondo.owl` file on `kg2dev` and converted it to a Pickle file:
[code]
so that the next time we build KG2 on `kg2dev.rtx.ai`, it should read MONDO from the local `mondo.pickle` file and not download the latest version. This is a temporary stop-gap, that will solve the problem only on `kg2dev`, until I can get the MO

[2020-08-20 05:07] saramsey opened #1033 "filter_kg_and_remap_predicates.py has a long pause on script exit"

[2020-08-20 19:55] saramsey commented on #1027
OK, apparently at least one other group (in Scotland) has noticed this issue as well

https://github.com/monarch-initiative/mondo/issues/1921

[2020-08-20 21:37] #1030 closed

[2020-08-20 21:42] #1020 closed

[2020-08-20 21:42] #1013 closed

[2020-08-20 21:42] #1016 closed

[2020-08-20 21:43] #988 closed

[2020-08-20 21:45] saramsey commented on #981
Still not fixed. Need #982

<img width="766" alt="Screen Shot 2020-08-20 at 2 45 04 PM" src="https://user-images.githubusercontent.com/5562107/90828978-cba8f780-e2f3-11ea-83b8-591af9393062.png">

[code]

[2020-08-20 21:50] saramsey commented on #927
Hmm, I was expecting to see some PMIDs for `DOID:7400` but not seeing it in KG2.3.0:
<img width="676" alt="Screen Shot 2020-08-20 at 2 50 10 PM" src="https://user-images.githubusercontent.com/5562107/90829385-820cdc80-e2f4-11ea-8f22-a6ee86dee33d.png">

Cypher:
[code]

[2020-08-20 21:52] saramsey commented on #703
Amy, I am ready for this to be tested against KG2.3.0 (http://kg2endpoint-kg2-3-0.rtx.ai:7474)

[2020-08-20 21:52] #1006 closed

[2020-08-20 21:53] ericawood commented on #927
That is very peculiar. This is that node from my kg2-doid.json file (not from the build):
![image](https://user-images.githubusercontent.com/36611732/90829597-e62fa080-e2f4-11ea-9cdf-87178957f2c9.png)

[2020-08-20 22:06] saramsey commented on #838
This seems to have worked (in KG2.3.0):

<img width="903" alt="Screen Shot 2020-08-20 at 3 03 36 PM" src="https://user-images.githubusercontent.com/5562107/90830360-60acf000-e2f6-11ea-807d-6e842487e537.png">

Cypher:
[code]

[2020-08-20 22:09] saramsey opened #1034 "ETL GO-REFs"
We should look into whether we can bulk ETL the GO_REF entity IDs, like this:

<img width="397" alt="Screen Shot 2020-08-20 at 3 06 57 PM" src="https://user-images.githubusercontent.com/5562107/90830773-25f78780-e2f7-11ea-8960-5c878277a226.png">

[2020-08-20 22:09] saramsey commented on #1034
See here:  https://www.ebi.ac.uk/GOA/newto

[2020-08-20 22:10] saramsey commented on #838
Closing out this issue, but see follow-up issue #1034

[2020-08-20 22:10] #838 closed

[2020-08-20 22:11] #1015 closed

[2020-08-20 22:17] saramsey commented on #999
Hi @ericawood can I close this issue out?

[2020-08-20 22:18] #1022 closed

[2020-08-20 22:21] saramsey commented on #927
Doing it now. On `kg2dev`:
[code]

[2020-08-20 22:22] saramsey commented on #1024
Done. In KG2.3.0:
<img width="548" alt="Screen Shot 2020-08-20 at 3 21 55 PM" src="https://user-images.githubusercontent.com/5562107/90831581-e7fb6300-e2f8-11ea-94b4-5b66734dc745.png">

[2020-08-20 22:22] #1024 closed

[2020-08-20 22:27] saramsey commented on #927
OK, for some reason, `PMID:3277755` is not in `doid.json` or `doid.owl` on `kg2dev`.

[2020-08-20 22:29] saramsey commented on #927
On `kg2dev`, the `doid.owl` file is dated Aug. 2nd:
<img width="430" alt="Screen Shot 2020-08-20 at 3 29 18 PM" src="https://user-images.githubusercontent.com/5562107/90832120-ef6f3c00-e2f9-11ea-813b-7376d2fd1196.png">

[2020-08-20 22:31] saramsey commented on #899
OK, keeping this in our issue tracker for the time being, but removing the `kg2` label from this since I think it is kind of downstream of KG2. Yes, agreed we can use Expander for this.

[2020-08-20 22:34] saramsey commented on #835
As of KG2.3.0, you can just run this Cypher query:
[code]

[2020-08-20 22:37] saramsey commented on #835
Just need a simple script to run this in the cypher-shell and dump the result to a JSON file and copy the JSON file to the public S3 bucket.

[2020-08-20 23:24] saramsey commented on #835
Or.... use the Neo4j REST API and cURL to accomplish the same thing.

[2020-08-21 01:11] saramsey commented on #995
Yes, for example, a PathWhiz reaction node that connects to all of its reactants and products.

[2020-08-21 01:13] saramsey commented on #995
The `multi_ont_to_json_kg.py` script detects if a node's description field starts with `obsolete` and deletes it in that case.

[2020-08-21 01:15] saramsey commented on #854
Hi @chunyuma is there anything else actionable in this issue, for KG2 development?

[2020-08-21 01:16] #451 closed

[2020-08-21 01:19] saramsey commented on #467
closing this issue as it doesn't appear there is anything else actionable at this point; happy to re-open it if there is more that I should do

[2020-08-21 01:22] saramsey commented on #522
going to close this for now, unless someone requests ETL of DIDEO, ExO, or ECTO

[2020-08-21 01:23] saramsey commented on #509
going to close this for now; Data Modeling Group is now actively revisiting how to model provenance so the above is likely to change in any event

[2020-08-21 01:23] #509 closed

[2020-08-21 01:28] chunyuma commented on #854
Hi @saramsey, thanks for your asking. Based on my previous statistics (Please see the screenshot below), it seems like the 'new' kg2 has sufficient curies matching to taxon ids used in NCBI taxonomy database (based on the data updated on 07/30/2020) which directly or indirectly connect to disease. So we can start from data provided by the 'new' kg2 to do some exploration for our research. No more

[2020-08-21 01:30] #974 closed

[2020-08-21 01:34] saramsey commented on #544
The orphan edge situation in KG2.3.0 is looking pretty decent, with the exception of PathWhiz (for which IDK, maybe there are a bunch of nonhuman reactions that got ETL'd?)

<img width="476" alt="Screen Shot 2020-08-20 at 6 33 19 PM" src="https://user-images.githubusercontent.com/5562107/90842296-c65ba500-e313-11ea-9b0e-561ef754dfd5.png">

From the report `kg2-report-orphan-edges.json` generated o

[2020-08-21 02:01] saramsey commented on #563
Latest (from KG 2.3.0:

<img width="580" alt="Screen Shot 2020-08-20 at 7 00 51 PM" src="https://user-images.githubusercontent.com/5562107/90843929-91e9e800-e317-11ea-8f7d-c0a70b1e0db8.png">

[2020-08-21 02:30] saramsey commented on #1033
Also going to add a `del nodes` to `merge_graphs.py` to see if we can speed it up

[2020-08-21 02:45] ericawood commented on #544
The PathWhiz orphan edges are mostly because there are a lot of links to BTO and there are only some BTO nodes in KG2.

[2020-08-21 03:55] #854 closed

[2020-08-21 03:55] saramsey commented on #854
Thanks @chunyuma

[2020-08-21 04:07] saramsey commented on #888
FWIW, there are 558,524 `same_as` concept equivalencies in the new KG2.3.0:

<img width="667" alt="Screen Shot 2020-08-20 at 9 06 57 PM" src="https://user-images.githubusercontent.com/5562107/90851318-2b6dc580-e329-11ea-9923-7d50a0ebf994.png">

[2020-08-21 04:11] saramsey opened #1035 "Are publications_info relationship properties all null in KG2.3.0?"
<img width="996" alt="Screen Shot 2020-08-20 at 9 11 11 PM" src="https://user-images.githubusercontent.com/5562107/90851463-b058df00-e329-11ea-89f1-1d652a8fc3b0.png">

[2020-08-21 04:27] saramsey commented on #1035
Never mind, we're good:

<img width="816" alt="Screen Shot 2020-08-20 at 9 26 41 PM" src="https://user-images.githubusercontent.com/5562107/90852258-e39c6d80-e32b-11ea-89a9-375247f81649.png">

[2020-08-21 04:31] #1035 closed

[2020-08-21 04:32] #526 closed

[2020-08-21 04:32] saramsey commented on #526
Great work on this issue, @amykglen, closing it out

[2020-08-21 04:55] saramsey commented on #550
Simple TSV format, should be easy to ETL:
[code]

[2020-08-21 04:58] saramsey commented on #544
Yes, sorry, I forgot we were already discussing this in #970.

[2020-08-21 05:00] saramsey commented on #970
I'm inclined to close this issue out. Is that OK @ericawood?  It seems that we are  happy with PathWhiz for the moment and we may want to bring BTO (Brenda Tissue Ontology) into KG2 in the future, so I think there is no need to drop the BTO edges in the ETL just yet, I think.

[2020-08-21 05:00] #970 closed

[2020-08-21 05:01] saramsey commented on #522
Also Brenda Tissue Ontology (see #970)

[2020-08-21 05:03] #502 closed

[2020-08-21 05:04] #438 closed

[2020-08-22 01:45] dkoslicki opened #1036 "All information added and/or created by ARAX should decorate virtual edges when presented with a QG"
As noted by @edeutsch during a previous hackathon, it's probably best to have all extra information (eg. NGD, drug-treat-disease, fisher, etc.) to go on virtual edges, and **not** add additional edge properties to existing edges.

To Do:
- [x] edit [this YAML file](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_query_graph_interpreter_templates.yaml) so it uses virtual edges f

[2020-08-23 19:07] dkoslicki commented on #994
@chunyuma I agree: fantastic results (and thanks for your attention to detail on this and continuing to push the pace on this!), but they look a bit _too_ good... Another thing that can be done to test the over-fitting is:

1.  See if the edges that you removed for GraphSage (like `indicated_for` and `contraindicated_for`) are assigned appropriate values by the model when given the source and targ

[2020-08-23 19:24] dkoslicki commented on #994
Also, something fishy is up with the [ROC curve](https://user-images.githubusercontent.com/20031672/90923612-fcecfa80-e3bb-11ea-83b2-d5c31fd39983.png), since the mean AUC doesn’t match up with the individual folds

[2020-08-24 02:06] chunyuma commented on #994
@finnagin, I used the 'old' training data and made sure that all `source` nodes are assigned with the type `chemical_substance` or `drug` and all `target` nodes are assigned with `disease` or `phenotypic_feature` in canonicalized kg2.

The results look like normal.

![Figure3](https://user-images.githubusercontent.com/20031672/90995005-92d58080-e588-11ea-82d5-2d90fb08a626.png)

![Figure1](https://

[2020-08-24 16:23] ericawood commented on #931
Hi @saramsey, commits 9f6a78f and 1a5bef0 address this issue according to my testing. 1a5bef0 adds a dependency into `setup-kg2-build.sh` that will need to be installed on kg2dev and kg2steve. 9f6a78f adds all of the changes to `extract-umls.sh`. A couple notes:
1. Almost all of this code is tested with the exception of the `umls_dir` being `umls2020`. In my testing, I had `extract-umls.sh` use a

[2020-08-24 16:56] ericawood commented on #762
**Some reconstruction of the data above**

Frequency of each TUI grouping such that duplicate orderings (eg. T109, T121 vs T121, T109) are together in a sorted list:
[code]

Name of each TUI listed in list above:
[code]

Data above in table format (I also have it as a TSV):

Number | Frequency (#) | TUI 1 | Name 1 | TUI 2 | Name 2 | TUI 3 | Name 3 | TUI 4 | Name 4
-- | -- | -- | -- | -- | -- | --

[2020-08-24 17:19] saramsey commented on #647
Here is Deepak's reply:

![Screen Shot 2020-08-24 at 10 17 06 AM](https://user-images.githubusercontent.com/5562107/91075635-41aea680-e5f3-11ea-8bff-bc5470f15ea0.png)

[2020-08-24 17:22] saramsey commented on #647
In KG2, let's store the GO evidence code in an edge slot `evidence`. I think we should store the GO evidence code as as a CURIE ID, like this: `GO:IDA`

[2020-08-24 17:34] ericawood commented on #647
Hi @saramsey, will both GO evidence codes and ECO evidence codes go in this field? If so, should it be a list? Proposed change to kg2_util:
[code]

`evidence` can be manipulated within each ETL script as necessary and added to an edge via `edge['evidence'] = some_list`.

[2020-08-24 17:47] amykglen opened #1037 "Should Expand consider Biolink model hierarchy for qnode/qedge types?"
Was thinking that when a query comes in for something like `(DOID:14330)--(chemical_substance)` it would make sense to also look for `drug` nodes, in addition to `chemical_substance`s. Then I realized perhaps `expand` should always consider a qnode's type plus its descendants' types (according to Biolink) for queries that come in?

For example, [these](https://biolink.github.io/biolink-model/docs/

[2020-08-24 17:49] saramsey commented on #1037
Good idea

[2020-08-24 17:50] saramsey commented on #1037
This makes sense as a default behavior, I think.

Maybe the "include all descendent biolink types" behavior could also be turned off *optionally*?  IDK if that is possible.

[2020-08-24 17:54] amykglen commented on #1037
cool - yeah, good idea about making an option to turn it off - not a problem to add that.

[2020-08-24 18:03] saramsey commented on #931
Nice, shall we do a full build including UMLS 2020AA?  I guess that build version will be KG2.3.2.

[2020-08-24 21:22] amykglen commented on #1009
alright - I went with p-value of `None`, and it doesn't seem to bork the downstream DSL... (i.e., `test_overlay_exposures_data_virtual` still completes successfully, even though it produces a virtual edge with a p-value of `None`)

I guess I think it'd be more elegant if 'virtual' edges weren't required, as it seems kind of silly to be adding thousands of edges that provide no data, but that's mor

[2020-08-24 21:38] amykglen commented on #995
in the latest KG2 (`kg2-3-1`), it looks like 96% of nodes with 'obsolete' in their name are marked as `deprecated=True` - about 486 have `deprecated=False`..looks like those are mainly coming from ORPHANET:
[code]

n.provided_by | count(n)
-- | --
"ORPHANET:" | 426
"GO:go-plus.owl" | 19
"OBO:foodon.owl" | 11
"identifiers_org_registry:umls" | 6
"umls_source:HL7" | 5
"umls_source:MTH" | 3
"UMLS_STY:

[2020-08-24 21:52] amykglen commented on #851
ok, I've tested this out on `/test`, and it seems to be running smoothly, with the exception of the issue I wrote up in #1008. closing

[2020-08-24 21:52] #851 closed

[2020-08-24 23:23] ericawood commented on #999
Hi @saramsey, can't quite close this out. For the Snakemake vs Sequential build to ensure that the two build systems line up. Rather than diff-ing the two JSON files, I decided to diff the two edges.tsv and two nodes.tsv files, as they are separated line by line rather than all on one line. Both were using the same version of the code (I didn't `git pull` in between builds) and when I ran `git sta

[2020-08-24 23:28] ericawood commented on #999
Viewing the bottom of the nodes.tsv diff, I suspect this is also an issue with the NCBIGene ETL:
[code]

[2020-08-24 23:59] #537 closed

[2020-08-25 16:18] ericawood commented on #999
FYI, the report files for the two build were identical (with the exception of the report generated time).

[2020-08-25 18:00] cmungall opened #1038 "predicate remap"
thanks for all your great work on
 https://github.com/RTXteam/RTX/blob/master/code/kg2/predicate-remap.yaml
!

some quick comments

[code]

is this a typo? There is no such relation

http://purl.obolibrary.org/obo/BFO_0000055 - 404

same for some of the other BFOs

[code]

http://purl.obolibrary.org/obo/BSPO_0000102 is ventral to - semantics of mapping not clear

more comments later - I think I wi

[2020-08-25 18:02] ericawood commented on #999
Yes, that was my conclusion as well.

[2020-08-25 18:03] saramsey commented on #1038
Hi Chris.

I do not believe it is a typo, meaning, we are seeing `BFO:0000055` predicates in relations from three different upstream ontologies (CL, INO, RO) in our ingestion process, so we have to contend with them whether they are deprecated or not:

<img width="758" alt="Screen Shot 2020-08-25 at 11 02 49 AM" src="https://user-images.githubusercontent.com/5562107/91210756-8d7c5100-e6c2-11ea-92d

[2020-08-25 18:24] kvarforl opened #1039 "FDA approval filtering and Covid19 Drug Exploration"
started this issue a little late, but it's here now for documenting FDA approval filtering from node ids with a hardcoded examples of covid19 queries.

[2020-08-25 20:33] saramsey commented on #999
Good idea to diff the `nodes.tsv` files.  Which direction is the diff?  i.e., is `<` the sequential build or is `>` the sequential build?

[2020-08-25 20:35] ericawood commented on #999
On kg2-steve in kg2-build:
Edges:
`diff SequentialBuild/edges.tsv SnakemakeBuild/edges.tsv > edges_tsv_diff.log`

Nodes
`diff SequentialBuild/nodes.tsv SnakemakeBuild/nodes.tsv > nodes_tsv_diff.log`

[2020-08-25 20:37] saramsey commented on #999
Thanks, this is well organized.

[2020-08-25 20:37] saramsey commented on #999
For the moment, I'm focusing on the nodes issue.

[2020-08-25 20:37] saramsey commented on #999
Did you mean `ParallelBuild` instead of `SnakemakeBuild` ?

[2020-08-25 20:38] saramsey commented on #999
Can you confirm -- you did a test build, is that correct?

[2020-08-25 20:40] ericawood commented on #999
Hi @saramsey,
1) The data is in `SnakemakeBuild` on **`kg2steve`**:
![image](https://user-images.githubusercontent.com/36611732/91225378-64ff5180-e6d8-11ea-9d7a-b9d092d62dba.png)
2) No, this was a partial build **without** test flags

[2020-08-25 20:40] saramsey commented on #999
Sorry, I was looking on `kg2dev`. My bad.

[2020-08-25 20:40] saramsey commented on #999
Switching over to `kg2steve` now....

[2020-08-25 20:43] saramsey commented on #999
On `kg2steve`, I am running
[code]
so I can have a look at the `NCBIGene:54886` node

[2020-08-25 20:49] saramsey commented on #999
I posit that this (and analogous code in other modules) may be our smoking gun:
<img width="523" alt="Screen Shot 2020-08-25 at 1 49 00 PM" src="https://user-images.githubusercontent.com/5562107/91226407-d1c71b80-e6d9-11ea-9cf6-e7e1fe95b268.png">

[2020-08-25 20:55] saramsey commented on #999
I propose the following remedy to `ncbigene_tsv_to_kg_json.py`:
<img width="556" alt="Screen Shot 2020-08-25 at 1 54 36 PM" src="https://user-images.githubusercontent.com/5562107/91226940-8feaa500-e6da-11ea-8c5a-a712008c0bc1.png">

[2020-08-25 20:58] saramsey commented on #999
I note that `/home/ubuntu/kg2-build/kg2-ncbigene.json` is also incorrect in the same way:

<img width="632" alt="Screen Shot 2020-08-25 at 1 57 42 PM" src="https://user-images.githubusercontent.com/5562107/91227232-02f41b80-e6db-11ea-92c3-f2bbc1e6dd0a.png">

This increases my suspicion that the problem is in `ncbigene_tsv_to_kg_json.py`.

[2020-08-25 20:58] chunyuma commented on #994
@finnagin, for relationship-conflict problem, it seems like the 'old' training data also has this problem. So this might not be the reason leading to this suspected 'over-fitting'. But it is good to know that we can't be 100% sure that the relationship between drug and disease in the training data or kg2 is correct.

For some drug-disease pairs, they might have both 'positive' (e.g. `treats`, `dis

[2020-08-25 21:00] saramsey commented on #999
Looks like my proposed fix is helping:

<img width="632" alt="Screen Shot 2020-08-25 at 1 59 38 PM" src="https://user-images.githubusercontent.com/5562107/91227386-43539980-e6db-11ea-8345-415fb4e220a5.png">

[2020-08-25 22:16] ericawood commented on #999
Edges from UniProt:
[code]

[2020-08-25 23:56] dkoslicki commented on #994
@chunyuma That’s what’s making me curious too: you would think the 10-fold cross validation would catch over-fitting. Did you test item 2. from [this post](https://github.com/RTXteam/RTX/issues/994#issuecomment-678812113). Perhaps we can get @saramsey’s and others’ input on this at the AHM (I’ll put it on the schedule).

[2020-08-26 18:08] ericawood commented on #762
For documentation purposes: I used the biolink model yaml file to develop this (below), no manual curation needed (still working on getting it into multi-ont-to-kg.py, but this looks good so far):

[code]

[2020-08-26 20:01] dkoslicki commented on #1021
Yes, forgot about this one

[2020-08-26 20:01] #1021 closed

[2020-08-26 22:38] saramsey commented on #941
My suggestion is the we define a "hamiltonian path norm" like this (sorry for the R code, LOL):
[code]
and then combine the Hamiltonian path norm with the Frobenius norm, so that we can award a high-scoring spanning tree, per this paper's elucidation of a connection between Frobenius norm and spanning tree:
http://www.math.tau.ac.il/~haimav/AvronBoutsidis13-SIMAX.pdf

[2020-08-26 23:13] chunyuma opened #1040 "There are some conflicting/redundant-meaning edges between drug/chemical_substance and disease/phenotypic_feature in canonicalized kg2"
Hi @amykglen and @finnagin, when I work on issue #994, I found that there some conflicting/redundant-meaning edges between drug/chemical_substance and disease/phenotypic_feature in canonicalized kg2.

Here is an examples:

CHEMBL.COMPOUND:CHEMBL606 (`chemical_substance`) and HP:0011410 (`phenotypic_feature`)
 If we pull all edges connected to these two nodes in canonicalized kg2, we can find the b

[2020-08-26 23:35] chunyuma commented on #994
Hi @finnagin, I found there are around 1529 drug-disease pairs in the 'new' training data that have both `treat` and `not treat` relationship. In the previous script, I saw we included them as negative training data. But I think we should exclude them, right?

Here are some examples:

1. `CHEBI:57826` and `OMIM:MTHU000443`
In semmed_tp.csv: 66,CHEBI:57826,OMIM:MTHU000443
In semmed_tn.csv: 2,CHEBI:

[2020-08-27 00:27] amykglen commented on #1009
ok, this is now working as expected for `overlay_exposures_data` on `/test` - it still errors out during the ranking step due to #1008 , but I can see that a full result set is created for the original query I posted (vs. only 21 results before):
[code]
so I'll close this issue

[2020-08-27 00:27] #1009 closed

[2020-08-27 02:06] amykglen opened #1041 "'EdgeAttribute object is not iterable' error with expand(kp=COHD) query"
when I run this DSL on https://arax.rtx.ai/test/:
[code]
I'm seeing this error during the ranking step:

`ERROR:  An uncaught error occurred: 'EdgeAttribute' object is not iterable: ['Traceback (most recent call last):\n', ' File "/mnt/data/orangeboard/test/RTX/code/UI/OpenAPI/python-flask-server/swagger_server/../../../../ARAX/ARAXQuery/ARAX_query.py", line 546, in executeProcessingPlan\n ranker.

[2020-08-27 15:29] chunyuma commented on #1041
Hi @amykglen, I changed the `edge.edge_attributes` to  a list in COHD edge in `master` branch. Could you please help me check if this is still a problem?

[2020-08-27 15:55] ericawood commented on #762
Hi @saramsey, do you want it such that it always uses the category label derived from the TUIs to be the category label? On my testing with GO, the nodes with multiple TUIs always already have a category label (and from my understanding of your code, this will always be the case), so they don't actually get the one derived from the TUI. (I was following your standard on lines 602-603 of multi_ont_

[2020-08-27 16:24] edeutsch commented on #1041
I have just rolled out the latest `master` to /test and /beta for your testing

[2020-08-27 16:26] chunyuma commented on #1041
Thanks @edeutsch.

[2020-08-27 16:45] edeutsch commented on #1041
I am seeing errors in the test suite now:
test_ARAX_expand.py::test_COHD_expand_observed_expected_ratio FAILED                                                                                [ 27%]
test_ARAX_expand.py::test_COHD_expand_chi_square INFO: Disconnecting from database
FAILED                                                                                             [ 28%]

[2020-08-27 16:58] amykglen commented on #1041
yeah, I'm seeing this error now on `/test` when I try running the same query:

[code]

[2020-08-27 17:02] chunyuma commented on #1041
Sorry, I just made a mistake and forgot to modify the test cases. I've pushed the new commit to fix the error. I tested the problem locally and it passed all test cases now. @edeutsch, could you please help rolling out the latest master to /test and /beta again? Thank you!

[2020-08-27 18:47] edeutsch commented on #781
well, that seemed to quiet things for a while, but now I'm seeing this in the latest test:
E       AssertionError: assert 82 in range(60, 80)

@finnagin would you address this so that we can have all tests passing?

[2020-08-27 20:02] saramsey commented on #762
Hi @ericawood, I'm glad you asked.

I assume we are talking *only* about the logic in`multi_ont_to_json_kg.py`for dynamically determining the Biolink category of a node, right? (In the other KG JSON-building modules, I believe nodes' Biolink categories are kind of hard-coded, IIRC).

Having established that, I think that we will want to look at lines 589--604 of `multi_ont_to_json_kg.py`.

<img wi

[2020-08-27 20:08] edeutsch commented on #1041
I have just rolled out the latest master to /test

[2020-08-27 20:12] saramsey commented on #762
In Example 1 shown above, I am assuming that even `umls-go.ttl` contains the full ontology (i.e., `is_a` or `subclass_of` relationships between GO terms and their parent terms), and in that case, you are right, we already "know" the Biolink categories of most GO terms by the more reliable (and preferred) ontology-based approach (there may be a few exceptions which are typically deprecated GO terms

[2020-08-27 20:13] saramsey commented on #999
Hi @ericawood just checking back on this... do you think the above commits helped?

[2020-08-27 20:14] ericawood commented on #762
Hi @saramsey,
Thank you for your response. I took a slightly different approach, as you can see in the (currently poorly documented) code below. Working back from the biolink category given to the TUI, it creates a path of ancestry, then compares those two paths to find the most specific ancestor. It also relies on the YAML file as downloaded in `build-multi-ont-kg.sh`. I could likely make it work

[2020-08-27 20:15] saramsey commented on #995
Thanks, @amykglen. Would you mind pasting a couple of example `name` fields from obsolete Orphanet nodes (that have `deprecated=false` for whatever reason in Neo4j), into this issue?

[2020-08-27 20:16] ericawood commented on #999
Hi @saramsey, I still haven't tested yet (please see my slack message). May I use kg2steve for testing this as it has constant pickle files for the ontologies?

[2020-08-27 20:29] saramsey commented on #762
Hi @ericawood, thank you for your reply.  Yes, I recall you explained this tree-walking idea. I think it sounds more appealing than compiling a mapping. Let's give it (your tree-walking method) a try.

Just to be clear, the way I read your modifications to `make_nodes_dict_from_ontologies_list` (the last screencap that you attached), it appears that points (1) and (3) in my three-point list are st

[2020-08-27 20:31] ericawood commented on #762
Hi @saramsey, yes points (1) and (3) are still intact. Thank you for your clarification regarding when to use the TUI category. I will test it on some other ontologies/ttl files to see when it works and how well it does that.

[2020-08-27 20:34] saramsey commented on #762
Great!  Thank you, @ericawood! This is a big help in improving the quality of KG2.

[2020-08-27 20:37] saramsey commented on #762
Oh, and for nodes with a `UMLS:` CURIE prefix, you are free to directly use the TUI to determine the Biolink category (see L672).

[2020-08-27 20:45] amykglen commented on #995
sure! here are some examples:

n.id | n.name | n.deprecated
-- | -- | --
"ORPHANET:352699" | "OBSOLETE: Cobblestone lissencephaly type C" | "False"
"ORPHANET:352694" | "OBSOLETE: Cobblestone lissencephaly type A" | "False"
"ORPHANET:268874" | "OBSOLETE: Congenital hydromyelia" | "False"
"ORPHANET:206619" | "OBSOLETE: Toxic or/and iatrogenic neuropathy" | "False"
"ORPHANET:206606" | "OBSOLETE: Othe

[2020-08-27 20:54] saramsey commented on #995
Thanks, I've pushed a possible fix for this.

[2020-08-27 20:54] amykglen commented on #1041
nice, looks good to me on `/test` now! closing.

[2020-08-27 20:54] #1041 closed

[2020-08-27 20:59] chunyuma commented on #994
After discussing with @finnagin, I mark down a few idea here which might help overcome the suspiciously good results for future checking.

1. Remove **all** direction connections between drug/chemical_substance and disease/phenotypic_feature because these connections might reveal certain "indicate_for" or "contraindicate_for" relationship although this action might cause some information loss.

2.

[2020-08-27 21:19] saramsey commented on #995
Testing on `kg2dev` now....

[2020-08-27 21:28] ericawood commented on #762
When you say `umls` CURIE prefix, are you referring to the `UMLS` CURIE prefix? In kg2-simplified-report.json, I only see the `UMLS` CURIE prefix for nodes.

Proposed update:
![image](https://user-images.githubusercontent.com/36611732/91496609-45e7f780-e871-11ea-99fd-9cb37953ae5c.png)

[2020-08-27 21:34] amykglen commented on #1036
alright, this issue should be taken care of (only one template needed updating in the yaml file).

I've tested locally, but suppose I should leave this issue open until it's verified on test/production.

[2020-08-27 21:42] edeutsch commented on #1036
@amykglen The latest `master` is now rolled out to /test and /beta

[2020-08-27 22:18] finnagin commented on #781
Sure @edeutsch ! I've changed the range so that it should pass now with that many results.

[2020-08-27 22:19] amykglen opened #1042 "'NoneType object is not iterable' error with overlay predict_drug_treats_disease on /test"
when I run this JSON query on https://arax.rtx.ai/test/:
[code]
I'm seeing this error:

`
ERROR:  An uncaught error occurred: 'NoneType' object is not iterable: ['Traceback (most recent call last):\n', ' File "/mnt/data/orangeboard/test/RTX/code/UI/OpenAPI/python-flask-server/swagger_server/../../../../ARAX/ARAXQuery/ARAX_query.py", line 502, in executeProcessingPlan\n result = overlay.apply(messa

[2020-08-27 22:39] chunyuma commented on #994
Perhaps we might also need to exclude the edges with the nodes in two side which don't have `preferred_type` belonging to `drug`, `chemical_substance`, `disease ` and `phenotypic_feature` but they are synonyms of these four types.

[2020-08-27 22:54] amykglen commented on #1036
awesome, thanks @edeutsch!

running into an error when attempting to test my changes on `/test` - wrote it up in: #1042.

[2020-08-27 22:59] dkoslicki commented on #992
Don’t know how this snuck back in, but @isbluis and @edeutsch, https://arax.rtx.ai/ still has the wrong documentation link listed (see above, not near a desktop otherwise I would fix it myself if it’s a problem in `master`)

[2020-08-27 23:01] amykglen commented on #992
I think maybe this code just hasn't made it to production yet? the link is correct on https://arax.rtx.ai/test/. (goes to: https://github.com/RTXteam/RTX/blob/master/code/ARAX/Documentation/DSL_Documentation.md)

[2020-08-27 23:22] dkoslicki commented on #941
For the record (email thread in reverse chronological order):
[code]

[2020-08-27 23:22] chunyuma commented on #994
@dkoslicki and @finnagin, I might need your suggestion about excluding the edges of which either or both end nodes are not `drug`, `chemical_substance`, `disease` and `phenotypic_feature` based on the preferred_type but they are the synonyms of these four types which means that they have synonyms belong to these four types. Do we need to consider the synonyms of these nodes belong to one of `drug`

[2020-08-27 23:24] dkoslicki commented on #974
Sorry, this slipped through the email cracks. It’s fine to merge to master (as has already been done). Let’s make sure that any errors and/or warnings (warning are preferred as empty graphs are ok, as long as the warnings clearly tell why this is the case), describe that requirement about node type.

[2020-08-28 00:37] edeutsch commented on #992
yes, we are due to roll out to production, but there seem to be lingering errors on /test and I am hesitant to roll out to production until we have something that doesn't crash. Would be great to roll out to production later today.

[2020-08-28 00:39] edeutsch commented on #1042
I have just now rolled out the latest to /test and /beta. I am under the impression that I am still waiting for one more fix or testing before we release to manufacturing?

[2020-08-28 00:42] chunyuma commented on #1042
This issue should be fixed.

[2020-08-28 00:50] edeutsch commented on #1042
I just did another git pull and there are two more updates:
 code/ARAX/ARAXQuery/Overlay/predict_drug_treats_disease.py | 18 +++++++++++++++---
 code/ARAX/ARAXQuery/Overlay/predictor/predictor.py         |  2 +-

All tests are now passing!
RTM?

[2020-08-28 00:56] amykglen commented on #1042
yep - just confirmed this is now working on `/test`. no other issues that I'm aware of!

[2020-08-28 00:56] #1042 closed

[2020-08-28 00:57] amykglen commented on #1036
confirmed this looks good on `/test`!

[2020-08-28 00:57] #1036 closed

[2020-08-28 01:02] amykglen commented on #1042
actually, I guess there is one more error I know of on `/test`, @edeutsch: issue #1008.

[2020-08-28 15:45] ericawood commented on #1020
Hi @saramsey,
One problem in `extract-semmeddb.sh` for this system:
[L32](https://github.com/RTXteam/RTX/blob/master/code/kg2/extract-semmeddb.sh#L32) - `rm -r -f ${semmed_dir}`

According to `build-kg2.sh`, the tuplelist file, which is the output of `extract-semmeddb.sh` and has different versions for test/all, is in the `semmed_dir`:
[L56](https://github.com/RTXteam/RTX/blob/4088e1df4bb9ab677e13

[2020-08-28 17:51] ericawood commented on #762
Commit 2bd4cc8fda5b2ccb3346b9813c065063f245ba3f should address this issue such that for nodes with more than one TUI that have no category label or have a UMLS prefix, the category label is the most specific common biolink category label ancestor of the TUIs. It has been tested on the TTL files/ontologies in the test ontology load inventory. 312 nodes got category labels through this system. It ha

[2020-08-28 18:35] ericawood commented on #891
In 2020AA, there are 74056 instances of "owl:Class" in `umls-mdr.ttl`. There are 27 instances of "owl:Thing" in `umls-mdr.ttl`. (`kg2erica`).
In 2018AB, there are 71982 instances of "owl:Class" in `umls-mdr.ttl`. There are 27 instances of "owl:Thing" in `umls-mdr.ttl`. (`kg2steve`)

However, the MEDDRA nodes without categories issue is more common using 2020AA (47874 occurrences in log file vs 466

[2020-08-28 18:36] kvarforl commented on #1039
Merged code into master branch. All new changes live in RTX/code/kg2/misc-tools

[2020-08-28 18:36] #1039 closed

[2020-08-28 18:46] saramsey commented on #1020
Hmm, I'm thinking we should remove L32, what do you think?

[2020-08-28 18:57] ericawood commented on #1020
daf68fe removes L32

[2020-08-28 18:57] amykglen opened #1043 "Use kg2canonicalized to Expand (when use_synonyms=true)"
I played around a bit to investigate how much of a speed improvement this might provide, and it seems notable:

- for a pretty average 2-hop query ([here](https://github.com/RTXteam/RTX/blob/ee66f65e6e010d783c3d2b9c40f5f1a4dd5c62e1/code/ARAX/test/test_ARAX_expand.py#L508-L519)), we're looking at 3 seconds vs. 16 seconds
- for a more difficult 2-hop query ([here](https://github.com/RTXteam/RTX/blob

[2020-08-28 20:38] ericawood commented on #891
We likely just need to use the TUIs (like in issue #762). Example: (both 2018AB and 2020AA have the same entry in the TTL file, but I've been working with the 2020AA version)
`[http://purl.bioontology.org/ontology/MEDDRA/] Node with ontology_node_id MEDDRA:10007469 does not have a category: MEDDRA:10007469`

The umls-mdr.ttl file says this node has TUI `T191` (I'm not posting the snippet here in c

[2020-08-29 21:16] ericawood commented on #999
Hi @saramsey,
This issue was fixed in the test build I ran between Snakemake and Sequential. Should I close it out?

[2020-08-29 21:52] dkoslicki commented on #994
Hmmm.. @chunyuma I don’t think I quite understand: are you saying that when training GraphSage, you would exclude _all_ edges between pairs of nodes where either node is a synonym of `drug`, `disease`, etc.? Do you have an example of where the preferred_type is not, say, `drug` but is a synonym of `drug`? It seems to make more sense to exclude the edges when _both_ nodes are either `drug`, `diseas

[2020-08-30 00:58] chunyuma commented on #994
@dkoslicki, Let me explain what I concerned in more detail.

In canonicalized kg2, for each node, it has the following properties:
`id`, `name`, `preferred_type` and `types`

In the last training, I excluded edges with meaning of `indicate_for` or `contraindicate_for` between the nodes of which the `preferred_type` are either `drug`, `chemical_substance` or `disease`, `phenotypic_feature`.

After

[2020-08-30 17:22] dkoslicki commented on #994
Ah, I see now @chunyuma (thank you for the detailed explanation, examples, and “copy-able” tables!).
From how I see it, there are a couple of things going on here:
1. There’s definitely still some work to be done on KG2C. Your example “CHEMBL.COMPOUND:CHEMBL191” is an absolute mess with all the `n.types` in it. Indeed, this node corresponds to Losartan (and antihypertensive drug), so should **not*

[2020-08-31 17:53] amykglen commented on #994
approach 1) (looking at the `types` field to determine whether something is a chemical_substance/drug or disease/phenotypic_feature) sounds reasonable to me.

@edeutsch  is the expert on `preferred_type`s, but out of curiosity I ran a little query looking at nodes that do _not_ have a `preferred_type` of chemical_substance or drug but that _do_ have chemical_substance in their `types` - it looks l

[2020-08-31 18:08] chunyuma commented on #994
Thanks for your investigation @amykglen. I think our question is how reliable we reassign chemical_substance/drug or disease/phenotypic_feature to these nodes when their `preferred_type` are not chemical_substance/drug or disease/phenotypic_feature but `types` field has these keywords.

Actually, we don't need to reassign all of these cases because it doesn't matter if one node of an edge is like

[2020-08-31 18:31] amykglen commented on #994
yeah, that makes sense. so for the nodes for which you need to consider `types`, the analysis above would suggest that at least for the chemical_substance instance, it appears it'd be fairly reliable? (since if a node has a `preferred_type` of metabolite, it seems correct that it might have chemical_substance in its `types`, and thus could be considered a chemical_substance.) but it's hard to comm

[2020-08-31 18:59] amykglen opened #1044 "Losartan is being synonymized with erythropoietin"
Breaking this out from #994, where it was reported that in kg2canonicalized, CHEMBL.COMPOUND:CHEMBL191 (losartan) has a strange list of `types`:
[code]
in particular, it seems wrong that it has both drug/chemical_substance and disease/phenotypic_feature types.

looking up this node's `equivalent_curies` in kg2-3-1, I get:
[code]

n.id | n.name | n.category_label
-- | -- | --
"CHEBI:81579" | "Eryth

[2020-08-31 19:34] amykglen opened #1045 "Erythropoietin nodes in KG2 with strange category_labels ('disease', 'phenotypic_feature'..)"
discovered this issue in #1044

out of the many nodes for erythropoietin in kg2-3-1:
[code]

n.id | n.name | n.category_label | n.provided_by
-- | -- | -- | --
"CHEBI:81579" | "Erythropoietin" | "chemical_substance" | "OBO:chebi.owl"
"EFO:0003233" | "erythropoietin" | "chemical_substance" | "EFO:efo.owl"
"GTPI:4921" | "ERYTHROPOIETIN" | "chemical_substance" | "GTPI_source"
"UMLS:C4693552" | "Eryth

[2020-08-31 20:12] saramsey commented on #1045
OK, so I'm pretty sure this (1) a bug and (2) this is coming from the `T047` UMLS semantic type ("disease") annotation for `OMIM:133170` in `umls-omim.ttl`. I also think this bug is related to #762, for which @ericawood has committed a fix (2bd4cc8 and a45d231). We will carefully check build `KG2.3.2` to see if those two commits fix this issue.

[2020-08-31 22:07] edeutsch commented on #1044
This would seem to be an error in the NodeSynonymizer that I will investigate.
Something is linking Losartan and Erythropoietin. Is it my error or are the underlying data showing that?
I will try to figure this out.

[2020-08-31 22:49] edeutsch commented on #994
Sorry for the long silence, folks. Trying to do a bit of vacation.
In general, I would say that the preferred_type is not (yet) very robust. It should generally be the SRI Node Normalizer type if possible, but what to do if there are multiple cliques merged? Unclear.
In general, if you have examples where you think the answer should be different, let me know and we can start to develop some better

[2020-08-31 23:02] amykglen commented on #1044
sounds good - I'm not sure what the 'underlying data' would be in this case? I was under the impression that the `NodeSynonymizer` doesn't yet utilize `same_as` relationships or the `synonym` field from KG2, so I'm not sure where the info would be coming from, other than whatever logic you have in place to match names and whatever you get from the SRI?

the SRI node normalizer response for CHEMBL.

[2020-08-31 23:05] amykglen opened #1046 "Improve synonymization of Technetium Tc-99m Albumin Aggregated"
as @edeutsch requested, I traced a couple instances where the local fastNGD database (#729) 'misses' a concept but eUtils doesn't - this is the write-up for one example: NCIT:C87398 (Technetium Tc-99m Albumin Aggregated).

[code]

from kg2canonicalized:
n.id | n.name | n.equivalent_curies
-- | -- | --
"NCIT:C87398" | "Technetium Tc-99m Albumin Aggregated" | ["NCIT:C87398", "CHEMBL.COMPOUND:CHEMBL1

[2020-08-31 23:13] chunyuma commented on #994
Thanks @edeutsch. OK, it seems like this uncertainty will be always a problem that might bring the bias into the model.

@dkoslicki, do we pause re-training the drug-treats-disease model until we have a good way to solve this uncertainty? Another strategy is to remove __all__ edges of node pairs which are the synonyms of `drug/chemical_substance` or `disease/phenotypic_feature` in either `preferre

[2020-09-01 01:48] amykglen opened #1047 "fastNGD 'miss' example: Global brain atrophy"
creating this issue to share an example of a concept the fastNGD system misses but eUtils doesn't, and discuss how we might achieve it ourselves/if it's worth it. (@edeutsch)

this example is OMIM:MTHU052931: 'Global brain atrophy'.
[code]

n.id | n.name | n.equivalent_curies
-- | -- | --
"OMIM:MTHU052931" | "Global brain atrophy" | ["UMLS:C0241816", "HP:0002283", "OMIM:MTHU052931", "OMIM:MTHU0002

[2020-09-01 16:09] saramsey commented on #762
Confirmed. As expected, when Snakemake ran on `kg2steve`, on Aug 31 at 15:02 UTC, the script `multi_ont_to_json_kg.py` terminated with a `KeyError`:
[code]
I have installed the latest `multi_ont_to_json_kg.py` script on `kg2steve`.

[2020-09-01 16:12] saramsey commented on #762
When I ran `snakemake` with the dry-run option `-n`, the log file `build-kg2-snakemake.log` that was produced *seems* to have only the multi-ontology conversion step:
[code]
I have saved the log file for posterity in `/home/ubuntu/build-kg2-snakemake.log-using-minus-n-save-for-erica`.

[2020-09-01 16:14] saramsey commented on #762
Just started `build-kg2-snakemake.sh` on `kg2steve.rtx.ai` with the (snakemake) `-R Finish` option hard-coded into the script.

[2020-09-01 16:29] saramsey opened #1048 "request to ETL EBI STRING into KG2"
From Will Byrd, Team Unsecret Agent:

[2020-09-01 16:30] saramsey commented on #1048
STRING has a download page:
https://string-db.org/cgi/download.pl?sessionId=Ueyi1zDD8Zf0

[2020-09-01 17:12] #1031 closed

[2020-09-01 17:14] saramsey commented on #694
I think at this point the main thing left is to update the build instructions in `README.md` since we are planning to transition to using Snakemake as our main build system.

[2020-09-01 17:16] saramsey commented on #636
Download page for Reactome is here:
https://reactome.org/download-data

Seems like a MySQL dump is available.

[2020-09-01 17:22] dkoslicki commented on #1047
My $0.02 is: since we're getting 95-100% utilization, it might _not_ be worth a big effort to get the remaining ~5%.

[2020-09-01 17:29] dkoslicki commented on #1040
@chunyuma this may indeed be an issue in general, but for this specific `drug` and `phenotypic_feature`, I found the following:

So (from a non-expert perspective) in some cases `treats` is appropriate (first c-section), but `contraindicated_for` the second c-section.

Since these edge labels aren't used for training (iirc, you remove _all_ edges between existing `drugs` and `phenotypic_features`)

[2020-09-01 17:32] dkoslicki commented on #994
@chunyuma I think your "Another strategy" is a good approach (this is the more conservative approach I had in mind). So I would say, go for that approach

[2020-09-01 17:54] #999 closed

[2020-09-01 17:58] saramsey commented on #647
Yes, let's go with a list of CURIE IDs. Thank you.

[2020-09-01 18:31] saramsey commented on #979
There are now 79 edge types in KG2.3.1:

- subclass_of
- close_match
- related_to
- coexists_with
- physically_interacts_with
- quantifier_qualifier
- has_input
- affects
- produces
- negatively_regulates,_entity_to_entity
- positively_regulates,_entity_to_entity
- derives_into
- part_of
- precedes
- located_in
- occurs_in
- treats
- positively_regulates
- disrupts
- causes
- biomarker_for
- preve

[2020-09-01 18:35] saramsey commented on #979
Hi @kvarforl can you please review these 79 edges to compile a list of antonym pairs?  I think the increase/decrease pairs are arguably listable as antonym pairs. See @dkoslicki if you have questions. Thank you!

[2020-09-01 21:41] amykglen opened #1049 "NodeSynonymizer version issues (not due to KG2 version)"
so I think we have a problem where there are multiple `node_synonymizer.sqlite`s out there that are all built from the same production KG2 (kg2-1-0, in `kg2endpoint2`), yet are different.

I think this happened because the `node_synonymizer.py` build code may have changed somewhere along the line - so I believe that the `node_synonymizer.sqlite` on `/test`, for example, was built quite a while ago

[2020-09-01 22:49] saramsey commented on #1038
@dkoslicki I haven't heard back from Chris on this, so I am going to close it out.

[2020-09-02 17:50] kvarforl commented on #979
@dkoslicki @saramsey Here is my go at a list of antonym pairs. I tried to err on the side of too many pairs rather than too few, so that you all have the luxury of looking at them and saying "hmmm that doesn't seem quite right" rather than discovering pairs that I missed... hopefully :)

- negatively_regulates,_entity_to_entity, positively_regulates,_entity_to_entity
- positively_regulates,_proces

[2020-09-02 20:19] kvarforl opened #1050 "Best way to decorate drug nodes with FDA approval status?"
[This](https://github.com/RTXteam/RTX/blob/master/code/kg2/misc-tools/drugbank_get_approved_drugs_and_ids.py) script has functions that extract information from drugbank.xml that could pretty easily be added to the drugbank ETL.

Additional useful information to fit into drug nodes:
- FDA approval groups (approved, withdrawn, investigational, etc)
- External ids (maybe this would be useful in the

[2020-09-02 20:55] dkoslicki commented on #941
Note: I am officially handing off this issue to someone else for the next 4 weeks. Volunteers welcome!

[2020-09-02 21:22] saramsey commented on #941
Proposal:  let's call the current ranker (as implemented by EWD) "Alpha Ranker". We'll assume that Alpha Ranker produces a normalized rank (in the range (0,1] ) for each subgraph; if the code instead is currently producing integer ranks, we can trivially divide the ranks by the number of subgraphs to get a "normalized alpha-ranker rank". We'll denote the normalized Alpha-Ranker rank by *A*.

I pro

[2020-09-02 23:02] edeutsch commented on #1049
Hi everyone, esp @amykglen : I have built a fresh version of the NodeSynonymizer database and copied it around to /test, /beta, /devED, and production. I have also rolled out the latest code in `master` to all the same locations. So everything is as up-to-date as it can be. Please let us know if this resolves the issues with out-of-date NodeSynonymizer databases.

[2020-09-02 23:29] saramsey opened #1051 "warnings in KG2.3.2 build"
in `filter_kg_and_remap_predicates.log` on `kg2steve`:
[code]

[2020-09-02 23:30] saramsey commented on #1051
this is due to #931

[2020-09-02 23:43] saramsey commented on #1051
Hi @finnagin and @ericawood I am rerunning `filter_kg_and_remap_predicates.py` and all downstream build steps, on `kg2steve`. This will automatically bump the version number to KG2.3.3 (which is OK with me). So, the next build version of KG2 will probably be `KG2.3.3).

[2020-09-02 23:46] saramsey commented on #1050
thank you for logging this issue

[2020-09-03 00:15] amykglen commented on #1049
awesome - things are looking good now from my end! thanks!

[2020-09-03 02:20] dkoslicki commented on #941
The problem with this is that the “Alpha ranker” implemented is not complete (only utilizes a few edge properties), simply multiplies the scores (penalizing the longer paths), and does not consider the ranges of the edge property values. I do not think Eric imagined this to be a “final ranker” (but correct me if I’m wrong), so shouldn’t be included in the final score.

The “Beta ranker” (i.e. the

[2020-09-03 04:40] edeutsch commented on #941
Indeed I did not envision it to be a "final ranker", but rather something simple that seemed to do a pretty good job on the basic queries that I commonly test with (and improved the ranking on those A LOT). However, David then quickly demonstrated some additional queries/query results for which it stumbled badly. Clearly something better is needed. If I had time to work on this (which I do not thi

[2020-09-03 15:59] edeutsch opened #1052 "frequent message in logs"
I'm frequently seeing this message in the ARAX logs:

Can't convert {curie} to preferred curie in get_concept_ids

I couldn't trace where it came from easily. Maybe in some COHD code somewhere?
Not a big deal, but maybe could be quieted if not a problem, or otherwise the string needs an "f" in front so that interpolation happens correctly.

[2020-09-03 21:48] dkoslicki commented on #941
For future reference (sent to @saramsey as he volunteered to implement his ideas):

All references are to the brank `ranker-refine` at commit d601964b62832aa4bd765c6e789f0561a6cf4d9c
[code]

[2020-09-04 18:20] saramsey commented on #1051
all fixed in KG2.3.4.

[2020-09-04 18:31] saramsey commented on #694
Can confirm, the build of `KG2.3.4` on `kg2steve.rtx.ai` during Sept. 3-4 seemed to work. Produced all of the files that I expect to see, including `kg2-simplified.json.gz` and `kg2-tsv.tar.gz`. I recall being told that the AWS S3 commands in `Snakefile-finish` had been commented out on `kg2steve` (not in GitHub master), and indeed, that seems to be the case; the Snakemake build did not copy anyth

[2020-09-04 19:50] saramsey opened #1053 "Snakemake-build kg2-tsv.tar file has wrong directory built-in"
The `kg2-tsv.tar.gz` tarball produced by the Snakemake build system seems to be unpacking into a relative path `home/ubuntu/kg2-build/TSV` relative to the current working directory, which is not what is needed.

<img width="726" alt="Screen Shot 2020-09-04 at 12 48 37 PM" src="https://user-images.githubusercontent.com/5562107/92279870-10648f00-eead-11ea-91a8-d402e6bb3b9c.png">

the net effect is t

[2020-09-04 19:54] saramsey commented on #1053
On `kg2endpoint.rtx.ai`, I manually moved the TSV files into `/home/ubuntu/kg2-build/TSV` and resumed the Neo4j load using a (modified) `tsv-to-neo4j.sh` script

[2020-09-04 19:56] saramsey commented on #1053
I note that in L414 of `build-kg2.sh`, we have:
[code]
but in L19 of `Snakefile-finish`, we have:
[code]
These appear to not be the same; I am 99% confident this is the source of the problem.

[2020-09-04 20:25] saramsey opened #1054 "New build KG2.3.4"

[2020-09-04 20:25] saramsey commented on #1054
Doing the build using snakemake on `kg2steve.rtx.ai`. Hosting on `kg2endpoint.rtx.ai`.

[2020-09-04 20:41] saramsey commented on #694
See #1053

[2020-09-05 15:22] saramsey commented on #941
Just an FYI, I am working on a max-flow ranker, using as a starting point the module `ARAX_ranker.py` in branch `ranker-refine`.

[2020-09-05 22:47] saramsey commented on #941
OK, commit 72bb37b updates the `ARAX_ranker.py` module as requested. It should be considered a prototype (perhaps even a straw-man) at this point; testing on more nontrivial query graphs is of course needed.

In the aforementioned commit, I've added a bunch of functions at module-level scope, and some new package dependencies. The critical change to the `ARAXRanker` class is that in the method `ag

[2020-09-06 06:20] saramsey commented on #941
I've adjusted the ranker formerly known as `_rank_networkx_graphs_by_hamiltonian_path` so that it now (for *each* result graph):

1. finds the longest geodesic path length *L*
2. finds the set *S* of all pairs of nodes whose geodesic path length is *L*
3. for weighted adjacency matrix *A*, computes A^L / L!
4. computes the mean of the entries of *A* that correspond to the node pairs in *S*, and th

[2020-09-07 04:55] saramsey commented on #941
Commit f53624c does a bit of refactoring on the code, using a double `map` call so that we are not explicitly calling `_quantile_rank_list` within each of the three subgraph scoring functions (this just centralizes the call to `_quantile_rank_list` to a single place in the code, so seems cleaner.

[2020-09-07 16:55] ericawood commented on #1045
In `KG2.3.4`, the entry for UMLS:C4693552 is below: (table of `UMLS` prefixed nodes below as those were largely the ones that #762 addressed)

While some are now better than `named_thing`, `UMLS:C4693552` still has the strange `disease` label.

n.id | n.name | n.category_label | n.provided_by
-- | -- | -- | --
"UMLS:C4693956" | "Erythropoietin" | "biological_entity" | "identifiers_org_registry:uml

[2020-09-07 20:04] ericawood commented on #1053
Hi @saramsey,
Commit cb05e23 should fix this problem and can be tested in the next build. That commit also uncommented the S3 copy lines from Snakefile-finish (and updated them to include the correct buckets based on `build-kg2.sh`). It doesn't have all of the S3 copy lines. Would you like me to add them all in (it doesn't copy the error files, log files, and config files currently - L434-L458)? (

[2020-09-08 19:09] ericawood commented on #981
Hi @saramsey,
After testing with ce126fd:
[code]

[2020-09-08 19:12] ericawood commented on #891
Hi @saramsey,
After testing with ce126fd:
[code]

[2020-09-08 22:21] ericawood opened #1055 "Document Which Data Sources are New or Updated Each KG2 Build"
Requested by UAB to assist with standardization of upstream data source versioning.

[2020-09-08 22:25] ericawood commented on #523
Documenting that relation will be "biolink:has_attribute"

[2020-09-08 22:45] ericawood opened #1056 "mediKanren CSV File Generation Runs Out of Memory Before It Completes"
Using this to document progress. Reported by @finnagin

[2020-09-09 00:51] amykglen commented on #1043
ok, so this is implemented, but I was wrong about the speed improvements. it _is_ much faster to use KG2C if queries only consider nodes' `preferred_type`, but if they instead consider the nodes' `types` property (which makes more sense and is the way I ended up doing it), it's not faster - in fact it's a bit slower.

**but**, using KG2C results in something like 2-3x as many answers vs. using the

[2020-09-09 01:04] amykglen commented on #1043
also worth noting: I experimented with representing a node's `types` as edges/nodes in KG2C (i.e., I added edges like `(DOID:14330)-[:has_type]->(biolink:Disease)`) to see if it helped with speed vs. querying the `types` property (e.g., `where "disease" in n.types`). since you can't create an index on an array field, that is [apparently what neo4j recommends](https://community.neo4j.com/t/multi-va

[2020-09-09 16:35] dkoslicki opened #1057 "Odd bug in RTXFeedback.py"
@edeutsch I discovered this issue when merging `master` into `ranker-refine` (one conflict, a single comment, easily fixed) and when running the DSL:
[code]
And trying to run the DSL in a local UI, I get the error pasted below (which I didn't observe on `master`).
Note that pretty much anything that uses `return(message=true, store=true)` throws this error...
[code]

I find this especially odd sin

[2020-09-09 16:45] saramsey commented on #1053
Sure, that sounds good.

[2020-09-09 16:47] #1054 closed

[2020-09-09 16:52] edeutsch commented on #1057
okay, I confirm, that I'm not seeing this in master.
I can repro in `ranker-refine`?

[2020-09-09 16:56] edeutsch commented on #1057
I switched my branch to `ranker-refine` and am seeing a bazillion of these errors:
[code]
Any ideas on how to address that?

[2020-09-09 17:14] edeutsch commented on #1057
@dkoslicki I am not able to test further because of previous post's problem.

BUT, I am going to guess that the error arises because you have a `confidence` value that cannot be converted to a float. I would check all the confidence values in your resulting message, and I'll wager that one of them is not convertible to float. If you fix that, it will likely work?

I can make the code more robust t

[2020-09-09 17:26] dkoslicki commented on #1057
@edeutsch Right: the errors you see with COHD are due to updates in the COHD local database, so that gets fixed if you merge and then run the code.
MWE:
[code]

Let me know if that works in reproducing the error for you

[2020-09-09 17:57] saramsey commented on #1053
FYI, I've fixed the `kg2-tsv.tar.gz` file in `s3://rtx-kg2/` so that it has (internally) the correct path

<img width="993" alt="Screen Shot 2020-09-09 at 10 56 23 AM" src="https://user-images.githubusercontent.com/5562107/92635734-30b89300-f28b-11ea-8a3b-6a2ebc193170.png">

[2020-09-09 18:42] amykglen commented on #990
alright, this has been merged into `master` - just need to test after it's rolled out to production.

[2020-09-09 18:45] amykglen commented on #1043
alright, this has been merged into `master` - just need to test after it's rolled out to production.

[2020-09-09 18:50] #1049 closed

[2020-09-09 20:31] edeutsch commented on #1057
@dkoslicki I ran aground trying the above git commands. I could not get it to work.
BUT, I checked in a fix to `master` than now checks to see if confidence scores can be converted to floats in a robust way. If any confidence score cannot be converted to a float, instead of erroring out (like it was), it prints this message to STDERR:
eprint(f"WARNING: Confidence value '{result.confidence}' cannot

[2020-09-09 20:40] dkoslicki opened #1058 "Stand up "status checker" for smartAPI status"
From Chunlei Wu:

 To enable smartapi status check, we need an example value for required parameters provided in the API metadata, more at https://smart-api.info/faq#api-monitor
SmartAPISmartAPI
SmartAPI | Building a connected network of FAIR APIs
The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming

[2020-09-09 22:27] saramsey opened #1059 "ways to enable concurrent drug-disease score prediction?"
I'm summarizing here today's discussion with DMK, AG, EWD and others about the issue that the scikit-learn object for the trained RF model for drug-disease prediction takes like 20 GB of RAM. So, if multiple ARAX processes are doing drug-disease prediction at once, we could exhaust system RAM.

Possible approaches?

1. **Option 1** Amy suggests systematically pre-generating scores and caching abov

[2020-09-09 22:43] saramsey opened #1060 "invert has_part relations in predicate-remap.yaml"

[2020-09-09 23:11] edeutsch commented on #1059
Thanks, very nice summary. I would only add an idea for option 2.5 is to implement caching and batching on top of option 2 as well. If realistically 90%+ of requests will be to the same 100,000 pairs, one can easily implement batching and caching such that a repeated query that hits previously requested probabilities can return a batch of 2000 pairs in < 0.01 seconds.

Also, should we document the

[2020-09-09 23:16] edeutsch commented on #1043
latest `master` is in /test

[2020-09-10 00:05] chunyuma commented on #1059
Thanks for your options @saramsey and @edeutsch. Perhaps we might need more than 20 GB of RAM to read the trained RF model into the memory. The current trained RF model which is based on the `old` KG2 and the 'old' `mychem` training data  has the size of 1.4 GB. The new RF model I'm going to rebuild is based on the canonicalized kg2 and much more training data, which increases the size of the mode

[2020-09-10 00:42] chunyuma opened #1061 "Should we rebuild both COHD database and predict-drug-treats-disease database based on canonicalized kg2?"
Since we're planning to finally roll out the new KG2 (KG2.3.4) to production, we need to rebuild any databases that are dependent on KG2 off of the new KG2 version. For the COHD database and predict-drug-treats-disease database, I'm wondering if we just need to rebuild them based on the canonicalized kg2 rather than the new whole KG2.

The benefit of rebuilding the database based on the canonicali

[2020-09-10 02:29] saramsey commented on #1061
Tagging @amykglen to get her thoughts on this

[2020-09-10 02:31] saramsey commented on #1061
I don't know enough to really weigh in here, but the idea of achieving database build (time) efficiencies by using KG2c certainly sounds appealing. But I confess I don't fully understand the potential trade-offs here. I'll defer to Amy, Chunyu, and Eric.

[2020-09-10 16:29] chunyuma commented on #994
Update: After excluding the following nodes and edges in the current kg2canonicalized (rebuilt off of the KG2-1-0 @amykglen correct me if I'm wrong) ([Here](https://github.com/RTXteam/RTX/blob/issue994/code/ARAX/ARAXQuery/Overlay/GraphSage_train/py_scripts/pull_canonicalized_KG2.py) is the DSL),

1. the nodes which are both 'drug' and 'disease' (196 nodes)
2. the nodes with type including 'drug' a

[2020-09-10 16:32] RichardBruskiewich opened #1062 "Feedback for https://github.com/RTXteam/RTX/blob/master/code/kg2/predicate-remap.yaml"
While curating a merge of the predicate-remap into the biolink-model.yaml, a few observations have been made and a few possible revisions to the mappings:

1. Several of the 'invert' mappings do have potential exact mappings (email to S. Ramsey has highlighted a few of these); however, there is a new active [Biolink Model issue #440](https://github.com/biolink/biolink-model/issues/440) discussing

[2020-09-10 18:04] amykglen commented on #897
hey @chunyuma - so `expand` uses KG2C by default now, which means that this issue should be resolved. but I can't verify yet because I'm running into a different error - I think it might be related to the fact that `Edge.is_defined_by` is now `ARAX/KG2C` (vs. `ARAX/KG2`) when `expand` uses KG2C.

when I run this test in `master` (it's `test_FET_ex2`, but using `kp=ARAX/KG2` instead of `kp=ARAX/KG1

[2020-09-10 22:17] amykglen commented on #1061
I agree it sounds appealing. seems to make good sense to me!

[2020-09-10 22:40] amykglen commented on #897
@chunyuma - I just pushed [a fix](https://github.com/RTXteam/RTX/commit/7df9a4b573d77395b6ba7df0900ff914d8d20ea5) for the above to a new branch called `issue897`, with which I no longer get an error. (it was a very minor fix.) I can merge it to `master` if it's alright with you.

[2020-09-10 23:14] chunyuma commented on #897
Sorry for late reply @amykglen. Yes, I think the recent commit where you modified the FET scripts is correct. I have no problem for you to merge it to `master`. Thank you so much for helping me fix it!

[2020-09-10 23:39] dkoslicki commented on #994
Curious, I thought that would fix the overfitting part...
To confirm that it’s overfitting (or not), do you mind doing the following:

1. Select a subset of diseases
2. Iterate through all drugs
3. Enumerate those drugs that have a prediction probability with your subset of diseases that is above ~0.5
4. Report the number of drugs in 3 that are _not_ part of the training data

This will help us de

[2020-09-11 00:50] amykglen commented on #897
ok, great - no problem! just merged it into `master`. will verify it looks good on `/test` when `master` is next rolled out.

[2020-09-11 01:54] ericawood commented on #891
I tested my non-committed fix for this, adapted to use the Biolink Ontology and curies-to-categories.yaml rather than the Biolink YAML. For the fix to be very helpful, we definitely need these TUIs:
[code]
since they are in MEDDRA. I'm working on adding these to curies-to-categories.yaml.

[2020-09-11 17:27] amykglen commented on #1043
this looks good on `/test`, with the exception of the sub-issue reported (and fixed) in #897 - will test again the next time `master` is rolled out.

[2020-09-11 20:38] saramsey opened #1063 "feedback from SRI on predicate-remap.yaml"
From Richard Bruskiewich on 9/11/2020:
[code]

[2020-09-11 21:35] ericawood commented on #891
Got most of those done through manual curation of curies-to-categories.yaml from the Biolink YAML file. Unfortunately, `T091` ("Biomedical Occupation or Discipline") is still missing, as it is not in the Biolink YAML file.

[2020-09-11 23:09] saramsey commented on #1063
Also from Richard B.:

[2020-09-11 23:36] amykglen opened #1064 "Integrate ARAX with Genetics Provider"
Request from Marcin von Grotthuss:

some example nodes/edges returned from this KP:
[code]

[2020-09-12 03:54] chunyuma commented on #994
@dkoslicki, here is what I did. I randomly selected 100 drugs and calculated the treat probability between them and all other drugs. So there are total 15,385,600 drug-disease pairs, of which 35,711 pairs has prediction probability above 0.5 and none of them are in the training data.

[2020-09-12 16:45] dkoslicki commented on #994
Thanks @chunyuma ! A 0.2% positive prediction rate definitely indicates overfitting then (but encouraging that it wasn't even smaller).

This is probably due to the inflation of the TN class like we discussed, so let's continue working with @finnagin to get the training data generation script to investigate why the class bias flipped.

[2020-09-13 22:12] saramsey commented on #1062
Thank you, Richard!

[2020-09-14 19:45] finnagin opened #1065 "Should node ids have commas in them?"
Not sure if this is a bug or not but noticed these while generating the mediKanren indexes. If you run the following cypher in kg2
[code]
you will get the following results:

n.id | n.name
-- | --
"CHEMBL.MECHANISM:1,3-beta-glucan_synthase_inhibitor" | "1,3-beta-glucan synthase inhibitor"
"CHEMBL.MECHANISM:3',5'-cyclic_phosphodiesterase_inhibitor" | "3',5'-cyclic phosphodiesterase inhibitor"
"CHEM

[2020-09-14 19:47] saramsey commented on #1065
Yes, those node IDs are correct. Nothing in the Biolink specification prohibits commas in node IDs, as far as I know.

I assume the CSV format has a quoting mechanism for commas?

[2020-09-14 20:31] finnagin commented on #1065
Yes it does. It caused some issues when I first ran into them because I had assumed that ids couldn't have commas in them but I've added in a check to Erica's code to wrap ids in quotes. I just wasn't sure if they were a result of a bug or intentional.

Closing this issue now.

[2020-09-14 20:31] #1065 closed

[2020-09-16 00:08] amykglen commented on #990
@chunyuma - I'm running errors with a couple FET tests when testing integration with KG2.3.4 in the `kg2-arax-integration` branch:
[code]
here's the error for `test_FET_example_2`:
[code]

and the one for `test_FET_example_4`:
[code]

do you have any idea what these might be about? to reproduce them, you would first need to:
1. check out the `kg2-arax-integration` branch
2. replace your config fil

[2020-09-16 00:24] saramsey opened #1066 "set up a t2.micro instance to be our central RTXConfiguration server?"
Because we may sunset `arax.rtx.ai` (instead using `arax.ncats.io`) for cost reasons at some point, and since I don't think we want our global SSH config server to be on the NCATS-provided instance (better to have it under our control), I propose that I set up a t2.micro instance (cost is negligible) and have it be our RTXConfiguration server. What do folks think?  I can copy the authorized_keys f

[2020-09-16 00:33] edeutsch commented on #1066
This is fine with me. I don't see a problem with using arax.ncats.io either. Seems like less to manage to consolidate on one server. whatever is fine with me.

[2020-09-16 01:13] amykglen commented on #729
ok, I think I'm going to finally close this issue - I'm seeing an ~95%+ utilization rate of the fastNGD system for ARAX queries on test/production. some examples of 'misses' are written up in #1046 and #1047 (as @edeutsch requested), and I think any discussion of whether we want to pursue even greater coverage can happen over there.

[2020-09-16 01:13] #729 closed

[2020-09-16 02:10] amykglen commented on #1066
I like the idea. would it also make sense to put the master copies of our various local databases on there, too? (e.g., `node_synonymizer.sqlite`, `curie_to_pmids.sqlite`, etc.) if we did, then developers could run ARAX code without needing access to `arax.ncats.io`. otherwise I think everyone would still need to have proper permissions to download them from `arax.ncats.io`.

[2020-09-16 04:09] edeutsch commented on #729
I think 95% is a sensational utilization rate! This has moved NGD values from a slow painful process that I was reluctant to do to something that we can do always. Many thanks for getting this to work!

[2020-09-16 16:53] chunyuma opened #1067 "What knowledge providers do we use to count the total number of nodes with certain type in fisher exact test?"
Hi @edeutsch , @amykglen and @dkoslicki,

I have a question for you about what kp we should use to count the total number of nodes with certain type. In FET, when we need to calculate the p-value for an edge, we need to know the total number of nodes with the same type in the graph as the node in this edge. Previously, when we count the total number of nodes with certain type in graph, we use KG1

[2020-09-16 17:27] amykglen commented on #1067
yeah, good thinking - I'd think it would make sense to use KG2C to count this, since it resolves (or, at least largely resolves) the problem of duplicates in KG2. (the synonymization is likely not perfect but will only improve over time.)

[2020-09-16 17:45] chunyuma commented on #1067
Thanks @amykglen. If we plan to use `KG2C`, @edeutsch is it possible that we can add an option in `kgNodeIndex.get_total_entity_count`for `KG2C` in `kg2-arax-integration` branch?

[2020-09-16 19:48] saramsey commented on #1063
marking this a dup of #1062

[2020-09-16 19:48] #1063 closed

[2020-09-16 19:49] saramsey commented on #1062
see additional information in #1063

[2020-09-16 20:33] edeutsch commented on #1067
NodeSynonymizer.get_total_entity_count (not KgNodeIndex, right?) already only reports the total number of *unique concepts*, NOT the total number of nodes. So, the answers for this method should be the same for both KG2 and KG2C

Does that seem right?

[2020-09-16 20:41] chunyuma commented on #1067
@edeutsch, I saw KgNodeIndex also has `get_total_entity_count`. Is that different from the `NodeSynonymizer.get_total_entity_count`? If it doesn't report the total number of nodes with a certain type in KG2C, is there a way that we can know the total number of nodes quickly in KG2C?

[2020-09-16 21:26] edeutsch commented on #1067
- kgNodeIndex.get_total_entity_count() is deprecated and should not be used anymore
- NodeSynonymizer.get_total_entity_count() is the intended replacement for this previous functionality.
- NodeSynonymizer.get_total_entity_count() reports the total number of unique concepts in KG2, NOT the total number of nodes.
- KG2C is just a coalescing of nodes in KG2 for all groups of unique concepts.
- So I

[2020-09-16 21:37] chunyuma commented on #1067
Awesome, thanks @edeutsch! Then `NodeSynonymizer.get_total_entity_count()` is what I need. I think I can close this issue.

[2020-09-16 21:37] #1067 closed

[2020-09-16 22:58] saramsey opened #1068 "ARAX_ranker.py fails on a single-node result graph"
as reported by @dkoslicki
- `test_issue687`
-  `test_single_node`
 - `test_issue686b`

[2020-09-16 23:16] amykglen commented on #1068
ok, got the merge done and your fix is in `master` now, @saramsey. ready to roll out to `/test` whenever, @edeutsch

[2020-09-16 23:21] #1068 closed

[2020-09-17 00:17] edeutsch commented on #1068
rolled!

[2020-09-17 01:53] amykglen opened #1069 "Overlay sometimes adds a lot of edges that will never appear in results, causes slowdown"
due to the way the Overlay actions that add virtual edges are designed, I think they can end up consuming a lot of time/space creating virtual edges that will never actually appear in a result. example:

[code]

the `overlay` call in this query will result in an O(n2) kind of situation (or, specifically: `number of n01 nodes in the KG` * `number of n02 nodes in the KG`), because of this line in `c

[2020-09-17 05:23] edeutsch commented on #1069
I heartily agree, something needs to be done. I independently tried switching the demo query from KG1 to KG2 and likewise my query seems to have died after 4 hours. or maybe something is still happening? Unclear. But I think it's not workable. Maybe this is what's killing the server.

I don't know what the solution is, but I agree it's a problem.

Note that this a key case where KG1 is still neede

[2020-09-17 21:50] amykglen opened #1070 "Interleukin-10 is being synonymized with rheumatoid arthritis"
so I noticed that in the `NodeSynonymizer` built from KG2.3.4 (available on arax.rtx.ai at `/data/orangeboard/databases/KG2.3.4/node_synonymizer.sqlite`), it appears that interleukin-10 and rheumatoid arthritis have been lumped together:

[code]
[code]

this doesn't seem desirable, so I did some investigation and discovered that one of the equivalent curies returned from the SRI node normalizer (w

[2020-09-17 22:43] saramsey commented on #1070
I am investigating

[2020-09-17 22:59] saramsey commented on #1070
OK, I believe there are two concepts that get mapped to `UMLS:C1736175`; one of them is `OMIM:124092` ("Interleukin 10"), and the other is `MEDDRA:10066578` ("Progression of rheumatoid arthritis"). A quick check at the UMLS site shows that OMIM is in error; MEDDRA is correct:

<img width="912" alt="Screen Shot 2020-09-17 at 3 58 45 PM" src="https://user-images.githubusercontent.com/5562107/9353679

[2020-09-17 23:55] edeutsch commented on #1070
Great, good sleuthing, thanks. And nice for me to know it was not a NodeSynonymizer bug.

[2020-09-18 01:04] amykglen opened #1071 "Acetylcholinesterase is being synonymized with pain"
so this is a kind of funny instance of an incorrect merging of two concepts in the `NodeSynonymizer` (both the synonymizer built from KG2-3-4 and the one built from KG2-1-0):

[code]
[code]

I'm guessing in this case it's because an abbreviation for acetylcholinesterase is "AChE", and "Ache" is also a synonym for pain?

[2020-09-18 01:16] edeutsch commented on #1071
ha ha, yes, I was fearing this would happen. I think in my original post I hypothesized mergers of things like Alzheimer Disease (AD) and less well known ADs such as aortic dysentery.

I don't have a good solution for this other than create some special rules.
Coming up with a rule that excludes AChE == Ache, but keeps ACHE == Ache is hard.
Maybe we can just put in specific exclusions (e.g. Do not

[2020-09-18 01:34] chunyuma commented on #990
OK, those two errors are fixed!

[2020-09-18 15:30] saramsey opened #1072 "put updated KG2-to-CSV-to-mediKanren code in the RTX/code/kg2/mediKanren directory"

[2020-09-18 15:35] saramsey opened #1073 "can we import our kg2-tsv.tar.gz TSV files directly into the mediKanren indexing code?"
Greg Rosenblatt wrote on 2020.09.16:
[code]

[2020-09-18 17:07] saramsey commented on #1073
Latest guidance from Greg on this:
[code]

[2020-09-18 19:34] saramsey commented on #1062
From Richard B.:

[2020-09-18 19:35] saramsey commented on #1062
My reply to Richard B.:

[2020-09-18 19:35] saramsey commented on #1062
From Richard B.:

[2020-09-18 22:25] amykglen opened #1074 "NodeSynonymizer 'preferred' and equivalent curie discrepancies"
Noticed some funky things going on with some of the 'preferred' and equivalent curies returned by the NodeSynonymizer (both the synonymizer built from KG2-1-0 and KG2-3-4).

here's an example (using KG2-1-0 synonymizer):
[code]
results in :
[code]
but strangely, the preferred curie given (CHEMBL.COMPOUND:CHEMBL3833327) doesn't appear in CUI:C0022230's equivalent curies:
[code]
[code]
and even more

[2020-09-20 22:38] saramsey opened #1075 "Team Unsecret Agent reporting some incorrect same_as relationships in KG2.3.4"
From Michael Patton on 9/20:

![image3](https://user-images.githubusercontent.com/5562107/93723886-74e34780-fb57-11ea-9c41-a9841502e672.png)

and similarly:

![image](https://user-images.githubusercontent.com/5562107/93723898-8593bd80-fb57-11ea-8ded-5f8b98b19003.png)

and

![image-1](https://user-images.githubusercontent.com/5562107/93723912-95ab9d00-fb57-11ea-9132-cfc9f9491b82.png)

[2020-09-20 22:41] saramsey commented on #1075
Not seeing a `same_as` relation between `UMLS:C0002615` and `UMLS:C0002520` in the KG2.3.4 Neo4j endpoint:

<img width="250" alt="Screen Shot 2020-09-20 at 3 30 54 PM" src="https://user-images.githubusercontent.com/5562107/93723941-c68bd200-fb57-11ea-90aa-fb4b86970b02.png">

[2020-09-20 22:42] saramsey commented on #1075
Not seeing a `same_as` relation between `UMLS:C0002615` and `UMLS:C0037494` in the Neo4j KG2.3.4 endpoint:

<img width="373" alt="Screen Shot 2020-09-20 at 3 35 18 PM" src="https://user-images.githubusercontent.com/5562107/93723952-df948300-fb57-11ea-868e-25da8581e700.png">

[2020-09-21 02:43] amykglen commented on #1069
pushed a fix for this to `compute_ngd` in the `issue1069` branch - it uses `resultify` to identify which source/target nodes could appear in the same result, and then only computes NGD between those node pairs.

so, for the example I wrote up in this issue, instead of overlaying 4.7 million virtual edges (hours), it overlays 170,000 (takes 15 minutes when skipping eUtils calls for the 1% that are

[2020-09-21 03:18] webyrd commented on #1075
Hi Steve!  I see the same issue when using the Sept 16 2020 version of the data.  The predicate seems to be coming from SEMMED.  Here is the full edge:

[code]

[2020-09-21 14:18] saramsey opened #1076 "We may not want to have newlines in node description fields in the TSV file"
See:

![Screen Shot 2020-09-21 at 7 17 59 AM](https://user-images.githubusercontent.com/5562107/93778304-989ba180-fbda-11ea-8176-bec85dab970a.png)

[2020-09-21 14:21] saramsey commented on #1076
I think this is not a problem for Neo4j (the import TSV feature seems to handle newlines just fine), but I am not sure about what happens when we convert TSV to CSV and for the mediKanren indexing. Need to look into this.

[2020-09-21 14:25] saramsey commented on #1076
![Uploading Screen Shot 2020-09-21 at 7.25.09 AM.png…]()

[2020-09-21 20:06] saramsey opened #1077 "Exploring Agent team requesting that we make ARAX-ranker a REST API"
At the fall 2020 relay, Andrew Su expressed interest in having the ARAX-ranker capability made available as a dedicated API endpoint for graph ranking.

[2020-09-21 20:18] amykglen commented on #1064
some meta-data for their KG is here: https://translator.broadinstitute.org/genetics_data_provider/predicates

summary:

- curie prefixes: NCBIGene, EFO, GO
- node types: `gene`, `phenotype`/`disease` (either of these will produce the same answer), `pathway`
- predicates: `associated`
- scores provided:
  - MAGMA-pvalue (for gene--phenotype and pathway--phenotype edges)
  - Genetics-quantile (for g

[2020-09-21 20:30] amykglen commented on #1064
some more details from Marcin about the edges they provide:

[2020-09-21 21:03] edeutsch commented on #1077
Should be fairly easy. Unclear whether a dedicated endpoint is better or just using the existing endpoint with DSL functionality is better.

[2020-09-22 02:42] saramsey commented on #1076
Hi @kvarforl, since @ericawood is finishing up several other GitHub issues before the end of September (and their last day with us is end of September, and school has already started for them), I'm going to assign this issue to you. Can you take a look at `kg_json_to_tsv.py`?  If you have any questions though, you can just ask Erica -- she wrote that script.

[2020-09-22 02:44] saramsey commented on #1076
I think we should have `kg_json_to_tsv.py` convert newlines into spaces. You should expect newlines to occur in the node `description` field and (occasionally) in strings in the node `synonym` list. While Neo4j admin's TSV import does an admirable job handling actual newlines, that is quite non-standard for a TSV file format (where a newline is nearly universally used as the record delimiter). Wha

[2020-09-22 02:47] ericawood commented on #1076
Hi @saramsey,
This seems like a pretty easy fix. We already have this function:
[code]

which we can update to

[code]

[2020-09-22 02:48] ericawood commented on #1076
We could do a similar thing with `def truncate_node_synonyms_if_too_large`

[2020-09-22 15:29] kvarforl commented on #1076
@ericawood thanks! I put in in `shorten_description_if_too_large` as suggested above :)

[2020-09-22 15:32] saramsey commented on #1064
Genetics KP tool home page is: http://www.kp4cd.org/

[2020-09-22 21:06] dkoslicki commented on #914
IPython notebook available [here](https://www.dropbox.com/s/y8cyl5zle9a8uww/MolePro%206%20-%20reasoner%20API.ipynb?dl=0) showing the endpoint and how to interact with it.

Data is obtained with `correlated_with`, all other ones are "knowledge".

Data will be exposed as edge attributes after Reasoner Std API (aka TRAPI) V1.0 is finalized.

[2020-09-22 21:15] saramsey commented on #914
Would be great to have the ability to

- expand starting from a HGNC gene, to get all the compounds that MolePro says are "correlated" with the gene
- expand starting from a CHEMBL compound, to get all the genes that MolePro says are "correlated" with the gene

(here, correlated means that knockdown of the gene in cell lines causes transcriptome changes that are similar to the effects of the compo

[2020-09-22 21:16] saramsey commented on #914
From Vlado:
[code]

[2020-09-22 21:17] saramsey commented on #914
Hey @amykglen would it be easy to add this capability to ARAX-Expand?

[2020-09-22 21:17] dkoslicki commented on #914
When data comes out: 100 is better (Z-score-like)

First try: divide by 100.

Associate publication forthcoming from Vlado (?)

[2020-09-22 21:18] dkoslicki commented on #914
And @amykglen , see the comment [above](https://github.com/RTXteam/RTX/issues/914#issuecomment-696981239) that points to the API endpoint and all its (current) capability.

[2020-09-22 21:42] vdancik commented on #914
Publication describing the assay and similarity score:

https://pubmed.ncbi.nlm.nih.gov/29195078/

[2020-09-22 23:13] amykglen commented on #914
nice! yes, I think it should be pretty straightforward to plug it into `expand`. thanks for all the info! will work on it..

[2020-09-22 23:29] saramsey commented on #1075
Hi Will, thank you for weighing in. Yes, we map any `SEMMEDDB:same_as` relation to `biolink:close_match`; see the third-to-last line of your Racket code snippet:
[code]
But we always preserve the original source knowledge-base's relation, for context purposes.

[2020-09-22 23:34] saramsey commented on #1064
OUTSTANDING work on this issue, @amykglen.

[2020-09-23 04:31] amykglen commented on #914
alright, MolePro is plugged into `expand` in the `issue914` branch and working on a basic level; the integration is still a bit rough around the edges, but working.

added a test (can be run via `pytest -v test_ARAX_expand.py -k test_molepro`) that looks like:
[code]
and I also got multiple input curie functionality working, meaning it can be used for the second+ hop, like so:
[code]
(though this

[2020-09-23 15:12] ericawood commented on #647
Hi @saramsey,
I saw this graphic in the All Things Provenance breakout group:
![image](https://user-images.githubusercontent.com/36611732/94032042-68880600-fd74-11ea-8aa2-249e3228ffbe.png)

Does that mean the entry should be `has_evidence` rather than `evidence`?

[2020-09-23 15:32] saramsey commented on #1076
Hi @ericawood and @kvarforl this is good progress. I think perhaps we should use
[code]
(with a `space` character in the replacement string) otherwise it could cause words to be merged in the modified string.

[2020-09-23 15:36] kvarforl commented on #1076
Hi @saramsey! thanks for the clarification! I just double checked and it is a space character as the replacement string in my previous commits :+1:

[2020-09-23 16:33] saramsey commented on #647
Good catch. Sure, we can use `has_evidence`.  It may make our life (specifically, export to TSV and import into Neo4j and mediKanren) simpler if we have *every* KG2 edge dict have a `has_evidence` list, which by default will be empty. Does that make sense?

[2020-09-23 16:45] isbluis commented on #689
Hi @dkoslicki , @saramsey ,

It looks like `ngd` has been renamed to `normalized_google_distance` .  Or perhaps a new metric?  Either way, I suppose I should also add it to the list of values to truncate, but let me know otherwise.  Sorry if I missed this.

Any others?

![image](https://user-images.githubusercontent.com/37852256/94042643-b4d94300-fd80-11ea-8e8f-b4bb0d1795cc.png)

[2020-09-23 17:11] saramsey commented on #1071
Is it crazy to consider having a config file `curies-that-should-never-be-merged.yaml` which we could maintain?  As we encounter egregious examples like this, we pop the two CURIEs into the config file and move on with our lives.

[2020-09-23 20:00] amykglen commented on #1064
example API call for their current method of batch querying (equivalent to sending three queries for NCBIGene:5468, NCBIGene:6934, and NCBIGene:162515 separately and combining their results):
[code]

[2020-09-24 15:49] saramsey opened #1078 "Update KG2 to use ChEMBL 27"

[2020-09-24 16:27] saramsey commented on #1072
Finn, I have checked the script `kg2-tsv-to-medikanren-csv.py` into `RTX/code/kg2/mediKanren`. I got it from the email attachment that you sent to me on 9/15. That module has MD5 hash `5deb4eed4db9870a76a81c99bd2ce9bc`.  Can you please let us know if that is the final version that you used?

[2020-09-24 16:43] saramsey opened #1079 "update kg2_tsv_to_medikanren_csv.py so the CSV file has the simple edge label as the "edge_label" field"
Team Unsecret Agent is reporting that the `.scm` files that they are receiving, have (as the edge "predicate" the content of the `edge_label` field, but their team and ours are in agreement that it would be better to have the predicate derive from the `simplified_edge_label` field. This looks to be a change needed in the Racket code for exporting the .scm files. Checking now...

[2020-09-24 16:43] saramsey commented on #1079
Thank you to Michael Patten for reporting this issue

[2020-09-24 16:45] saramsey commented on #1072
renamed to `kg2_tsv_to_medikanren_csv.py` per our coding guidelines

[2020-09-24 17:10] saramsey commented on #1079
Hmm, looks like the issue is actually in kg_json_to_tsv.py

![Uploading Screen Shot 2020-09-24 at 10.09.36 AM.png…]()

[2020-09-24 19:23] dkoslicki opened #1080 "Expose DSL parameters, what is default, optional, mutually exclusive, required, etc"
Currently the dependencies between parameters is not as structured as the other pieces of the DSL (like the `describe_me`) and are just local variables (like [here](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_overlay.py#L285-L290)). We should make this more scrape-able.

From Amy:

Goal: Make a `.describe_parameters()` for each DSL command.

I'm assigning everyone who I rec

[2020-09-24 20:38] edeutsch commented on #1080
I was grousing about the lack of clarity when this was started long ago. I have a few ideas on how it could be better. I suggest a structure like this (using add_qnode() as an example):
[code]

What do you think?

[2020-09-24 22:15] dkoslicki commented on #1080
I like it! @edeutsch , any thoughts on how we handle:

1. One of `id`, `curie`, `name`, or `type` is required
2. Some arguments are mutually exclusive (eg. `paired_concept_frequency` and `observed_expected_ratio` in `overlay(action=overlay_clinical_info)`
3. Some arguments are only valid when others are invoked (eg. `COHD_method` in `expand` only valid if `kp=COHD`)

[2020-09-24 22:19] dkoslicki commented on #1069
I concur that this needs to be addressed @amykglen and glad you were able to find a fix for it. Indeed, sometimes (especially with our new ranker), calling `overlay` on other than the one start node is a good thing to do, and paring down the O(n^2) as much as possible is a smart thing to do. After tested, I definitely think it should be merged to master

[2020-09-25 06:24] edeutsch commented on #1080
I am inclined to just mention such constraints in the description and write code to produce a nice error message when violated rather than trying to capture it in the allowable_parameters.

One can imagine:
1. "require_one_of": [ "id", "curie", "name", "type" ] but I suppose that would need to be in some parent construct
2. "cannot_cooccur_with": [ "paired_concept_frequency", "observed_expected_ra

[2020-09-25 13:42] saramsey commented on #1079
![Screen Shot 2020-09-25 at 6 41 52 AM](https://user-images.githubusercontent.com/5562107/94274219-43250480-fefa-11ea-9ee9-ea2b4aeb8326.png)

[2020-09-25 16:16] isbluis commented on #1080
I was thinking along similar lines; the logic and dependencies might get a tad complicated, especially if parameters in one DSL command also influence a different one, e.g. an undeclared node id:
[code]

Perhaps the first thing that should happen when submitting a DSL is to have a (new?) mechanism to evaluate all statements and return a list of error messages, if any. This would also benefit non-U

[2020-09-25 21:47] edeutsch commented on #1080
yeah, I pondered this while designing the parser. This already happens for pure syntax problems. But doesn't happen for semantic problems. For add_qnode()/add_qedge() it's no problem because they get run at the top and therefore errors are flagged with no delay.

But you're right that semantic errors below the first expand() may only get encountered after substantial work has been done. This is po

[2020-09-27 18:38] chunyuma commented on #994
Update: After re-generating the training data, we now have the new "raw" (i.e. we haven't filtered the data based on the "count" of `semmed` data and we haven't combined the duplicate pairs from different data source) training data showed in below table.

data | TP class | TN class
-- | -- | --
Mychem | 882 | 3,241
Mychem with UMLS | 258 | 514
Semmedb | 34,6642 | 23,208
NDF | 7,620 | 8,400

I trie

[2020-09-29 02:06] ericawood commented on #647
Hi @saramsey,
That makes sense. I will commit that change to a branch so that you can review it, if that works for you.

[2020-09-29 02:27] kvarforl commented on #1026
I actually think this is just an ordering issue, if I understand correctly.
`python kg2-code/merge_graphs.py test_output.json --kgFiles kg2-chembl-SAVE.json`
works just fine.

I always assumed conventionally that positional arguments should precede optional arguments, but I'm not sure how official that is.
Anyway, the command in the comment above doesn't work because --kgFiles consumes a variable

[2020-09-29 19:12] chunyuma commented on #990
COHD database was rebuilt based on kg2.3.4 and was named as `COHDdatabase_v2.0.db`. I put it under `/data/orangeboard/databases/KG2.3.4` on `arax.rtx.ai` server.

Here is a summary for the new COHD database.

#### The number of nodes with different types used for building the new COHD database

Preferred Type | Number of Nodes | Number of Nodes with OMOP ids | percent (%)
-- | -- | -- | --
chemica

[2020-09-29 20:23] kvarforl commented on #1025
@saramsey  something along the lines of this?
![image](https://user-images.githubusercontent.com/39020520/94611532-b8743a80-0256-11eb-8b39-533c475bfa96.png)

I'm unsure what to use as the IRI... can you point me in the right direction?

[2020-09-30 05:02] saramsey opened #1081 "Should we record Zoom sessions for All-hands meetings?"
As our team grows, one could make the case that recorded All-Hands Meetings may be useful for folks who have missed a meeting, to catch up. Or not. What do folks think?  I am not pushing this at all -- just wondering if folks think it might be useful.

[2020-09-30 05:14] isbluis commented on #1081
I regrettably have to miss every other AHM for the foreseeable future.

I think recording them could be useful, though action items added to the Agenda (and the odd email/git tag, both of which seem to be already the norm) might be enough for me.

[2020-09-30 06:31] edeutsch commented on #1081
I don't expect to ever watch one, so no need to do it on my account. but fine if others are interested.

[2020-09-30 19:40] amykglen commented on #723
a nice summary of what the Text Mining provider offers for NGD (and otherwise):

![Screen Shot 2020-09-30 at 12 01 43 PM](https://user-images.githubusercontent.com/49423686/94731539-cb037800-0319-11eb-9611-9d01128c8576.png)

(slide from a 9/30/20 presentation by Bill Baumgartner at the KGX working group meeting)

[2020-09-30 20:04] dkoslicki commented on #1081
I'm in the same boat as Eric: may only very rarely watch the videos (I reference the agenda if needed)

[2020-09-30 20:12] dkoslicki commented on #1080
Conclusion from AHM: we are to replace `allowable_parameters` with a structured form proposed by Eric [here](https://github.com/RTXteam/RTX/issues/1080#issuecomment-698576075). This means each of us (@amykglen `expand`, @dkoslicki @finnagin `overlay` and `filter`, etc.) will need to update the DSL methods in `ARAX/ARAXQuery/*.py`.

@dkoslicki to update the auto-gen documentation updater

[2020-09-30 20:54] #1061 closed

[2020-09-30 22:04] edeutsch commented on #1080
After discussing and trying out various scenarios with @amykglen this is what we recommend:

High level YAMLish overview:
[code]

and one specific example from add_qnode:
[code]

As is currently the case, when describe=true, the function would return a structure like the above.
@dkoslicki 's autodocumentation would need to be adjusted to use the new structure
@isbluis 's auto DSL helper would need

[2020-09-30 22:26] saramsey opened #1082 "add instructions to KG2 README.md for version tagging before a build"
@kvarforl made a great suggestion to tag the KG2 code-base with the KG2-X-X semantic version number. We should document this in the README.md

[2020-09-30 22:29] ericawood opened #1083 "Add -test Tags to Snakemake Build Log Files"

[2020-09-30 22:46] saramsey commented on #647
@ericawood thinks that DrugBank has some evidence code type things that could be put in the `has_evidence` property.

[2020-09-30 22:47] saramsey commented on #647
Need to audit the KG2 code base to make sure that in every module where we create an edge, we are either doing so via kg2_util.make_edge or that we add the new edge property `has_evidence` somehow

[2020-09-30 22:51] saramsey commented on #460
@ericawood you indicated that you have some code related to this issue, that we will want to preserve. Can you please put that code somehwere, like in a branch or something?  Thank you

[2020-09-30 22:53] saramsey commented on #1075
I gave a new export of KG2.3.4 to Unsecret Agent and I believe it addresses this issue.

[2020-09-30 22:53] #1075 closed

[2020-09-30 22:59] saramsey commented on #523
Merging this issue into #646

[2020-09-30 22:59] #523 closed

[2020-09-30 23:04] edeutsch commented on #1080
and one more time without the syntax errors:
[code]

[2020-09-30 23:29] edeutsch commented on #1080
ARAXMessenger updated with the new design in `master`. Not really tested since required updates to the documentation generator and DSL builder generator. Let me know if you think the design should be altered.

[2020-10-01 01:12] kvarforl commented on #694
On kg2lindsey, running  `bash -x ~/kg2-code/build-kg2-snakemake.sh all`  terminates on an error in `validate_curies_to_categories_yaml.py`.
![image](https://user-images.githubusercontent.com/39020520/94755160-67447380-0348-11eb-9ba9-73fdd79a4b80.png)
Documenting here for now: will look into it more tomorrow.

[2020-10-01 02:01] ericawood commented on #694
Hi @kvarforl,
This is likely an issue with the TUI mappings that I added to curies-to-categories.yaml. I thought that I had run the validation scripts before committing, so this is interesting. I would recommend checking out biolink_categories_ontology_depths to see if "ontology class" is in it. You might also check the date on the biolink download. :)

[2020-10-01 04:36] edeutsch opened #1084 "New DSL feature fetch_message()"
Can I use GitHub issues to announce new features?

There is a new DSL command `fetch_message()`. It allows you to fetch a Message from anywhere on the Internet and subsequently do fun things with it.

Example:

Here's a faintly amusing Message from the past:
https://arax.rtx.ai/?m=2800
Five results. Liver disease is the top scoring hit. I have no idea where it came from. I picked a random number.

[2020-10-01 04:40] saramsey commented on #1084
Nice!  I bet this will be super-useful during relays and such, when we are sharing results back and forth with collaborators.

[2020-10-01 04:54] amykglen commented on #1080
ok, I updated `expand` to use this new structure - it went pretty well! (changes are in a branch called `issue1080` for now.) a few notes:

1. I realized it may be helpful to list a `min` and `max` for numeric parameters (instead of `enum`). here's an example of such a parameter:
[code]
which means the revised yaml-ish overview would look like:
[code]
we don't have to include this of course, but I

[2020-10-03 01:13] chunyuma commented on #990
Hi @amykglen, all databases were updated for KG2.3.4 and put in `/data/orangeboard/databases/KG2.3.4` on the server.  Please help test everything together in your dev environment. Thank you!

[2020-10-03 01:14] dkoslicki commented on #994
Thanks @chunyuma! As a gentle reminder, be sure to reference the issue in any commits you make so we all can know what precipitated the issue being closed

[2020-10-03 01:36] amykglen commented on #990
awesome! yes, I'll work on testing everything together. thanks!

[2020-10-03 03:10] saramsey opened #1085 "error in running validate_curies_to_categories_yaml.py"
With the latest (Sept. 21, 2020) `biolink-model.owl` file from the [Biolink-model GitHub master branch](https://github.com/biolink/biolink-model/blob/master/biolink-model.owl), the script `validate_curies_to_categories_yaml.py` is giving an `AssertionError`, as reported by @kvarforl

![error](https://user-images.githubusercontent.com/5562107/94981938-52541580-04eb-11eb-9003-329c34ef1148.png)

[2020-10-03 18:03] kvarforl commented on #1085
@saramsey With the most recent code on kg2lindsey, the above error is fixed! Unfortunately `validate_predicate_remap_yaml.py` is still mad.
![image](https://user-images.githubusercontent.com/39020520/94998630-0c896280-0568-11eb-98bc-20c68411b335.png)

[2020-10-03 18:33] #1085 closed

[2020-10-03 18:36] saramsey commented on #1081
OK, so I am not hearing any objections, is that right, team?

[2020-10-03 18:43] amykglen commented on #1081
no objection from me!

[2020-10-04 23:14] dkoslicki opened #1086 "Genetics KP issues"
1. The DSL
[code]
Results in:
[code]
Seems to be a bug.

2. The DSL
[code]
(Note the different edges being expanded)
Results in:
[code]
Why is COHD being consulted when I asked for GeneticsKP?

[2020-10-04 23:15] dkoslicki opened #1087 "Documentation update"
I've noticed that while `GeneticsKP` is mostly integrated into `expand`, the documentation has not been updated to reflect this.

[2020-10-04 23:16] #1087 closed

[2020-10-04 23:18] dkoslicki commented on #1086
Ok, I see now why the COHD parameters are in there (after updating the documentation), but it's still a problem that while specific curies for n00 and n01 have been populated, GeneticsKP still borks

[2020-10-04 23:21] dkoslicki opened #1088 "Documentation format messed up"
`create_message`, `add_qnode` and `add_qedge` formatting has been messed up in the documentation as of 8f434bcc8dd63d382b97f5da4796535731aa77bf. Need to investigate what precipitated this.

[2020-10-04 23:24] edeutsch commented on #1088
#1080 precipitated this. documentation for the above 3 functions is in the new format we agreed on.

[2020-10-04 23:26] dkoslicki opened #1089 "Accessing input curie when changing the QG"
I've noticed that using `create_message()` in `ARAX_query_graph_interpreter_templates.json` does not have the expected behavior of nuking the message/QG as specified in [the documentation](https://github.com/RTXteam/RTX/blob/master/code/ARAX/Documentation/DSL_Documentation.md#create_message) for `create_message()`.

[2020-10-04 23:27] dkoslicki commented on #1088
Ah, that's right! I'll close this issue and make a new one for me to update `document_dsl_commands.py`

[2020-10-04 23:27] #1088 closed

[2020-10-04 23:27] dkoslicki opened #1090 "Update document_dsl_commands.py"
To be kosher with #1080.

[2020-10-04 23:31] dkoslicki commented on #1077
My $0.02 is a separate endpoint may be nice as I assume the use-case is a TRAPI call sans the `processing_actions`

[2020-10-04 23:41] edeutsch commented on #1089
Can you provide a repro?
This appears to show the documented behavior:
[code]
(returns error because n00 is missing in qg)

[2020-10-04 23:50] dkoslicki commented on #1089
Ah, I see the issue now: it's not that `create_message()` isn't doing what it should, it's that I can't have access to the input `curie` in `ARAX_query_graph_interpreter_templates.py`. I.e. if I put the following silly thing in that file:
[code]
and call it with the following JSON:
[code]
I get
[code]
Changing the title of this issue accordingly

[2020-10-04 23:59] edeutsch commented on #1089
I'm sort of mystified about what you're trying to do here. If there's a query_graph coming in, then there seems to be no logical reason to execute create_message(), because a message already came in. No need to create one. and why would you start adding qnodes and qedges? They're already there.

I think all command sets in the `ARAX_query_graph_interpreter_templates.json` should start with expand(

[2020-10-05 00:02] edeutsch commented on #1089
(if you put create_message() in a DSL command series in `ARAX_query_graph_interpreter_templates.json`, it is true that you won't have access to the input curie because you've destroyed it with create_message())

[2020-10-05 00:02] dkoslicki commented on #1089
Yeah, I should have brought this up during an AHM, but the basic idea is as follows:
A QG comes in with `(disease{ID:<a curie>})--(:chemical_substance)` and I would like to say “I know what you intended, so I’m going to re-interpret this QG as `(disease{ID:<a curie>})--(:protein)--(:chemical_substance)` and run with that”. So I need to keep the curie, but nuke the QG as otherwise resultify won’t r

[2020-10-05 00:03] dkoslicki commented on #1089
Ah, I see now from your [previous comment](https://github.com/RTXteam/RTX/issues/1089#issuecomment-703335344). So should I abandon the “re-interpretation of QG” effort and hope all QG’s have the “best” structure to answer a question?

[2020-10-05 00:14] edeutsch commented on #1089
Well, this is a major philosophical question, one that I babbled about recently here:
https://github.com/NCATSTranslator/ReasonerAPI/issues/154#issuecomment-699251497
I have become rather disenchanted with major rewriting of query graphs by ARAs.

I'm thinking that if ARAX gets `(disease{ID:<a curie>})--(:chemical_substance)` it should stick to that.
(this is: which drugs {are known in current kno

[2020-10-05 00:20] amykglen commented on #1086
re: 1) yes, this is because GeneticsKP is only currently set up to be used as the first hop in a query. (I haven't quite yet made it able to accept multiple input curies, and thus it can't be used for the 2nd+ hop right now.)

re: 2) it looks like you're trying to expand edge `e01` first (before `e00`), and neither of `e01`'s nodes are 'pinned' in the QG (i.e., have a curie specified). so expand i

[2020-10-05 00:20] edeutsch commented on #1089
To accomplish what you want to do (although I am extremely hesitant to encourage it) is to add remove_qedge() to the DSL, and then you could:
- Start with the input query_graph
- add_qnode(type=protein, id=n2000)
- remove_qedge(id=e00)
- add_qedge(source_id=n00, target_id=n2000)
- add_qedge(source_id=n2000, target_id=n01)

This would rewire the query_graph.
It would be trivial for me to add remote

[2020-10-05 01:35] dkoslicki commented on #1089
Yeah, I assume we should discuss this during an AHM to weigh the pros and cons. I've added it to the agenda

[2020-10-05 14:13] dkoslicki commented on #1086
Thanks for the clarification @amykglen; I misunderstood the second-hop thing as not being able to use `edge_id=[e1,e2]`, but your comment clarifies it.

[2020-10-05 15:34] kvarforl opened #1091 "Url for DGIDB interations.tsv has changed, causing dgidb_tsv_to_kg_json.py to fail"
[this](https://github.com/RTXteam/RTX/blob/d967de4df3a067136f1b0284afba0704c4d4281e/code/kg2/dgidb_tsv_to_kg_json.py#L74) line in `dgidb_tsv_to_kg_json.py` fails on unpacking values.

Looking into it, I found that the url [http://www.dgidb.org/data/interactions.tsv](http://www.dgidb.org/data/interactions.tsv) used in `extract-dgidb.sh` leads to a 404 page.  I'm looking for the relocated file, but

[2020-10-05 15:52] saramsey commented on #1091
Hi @kvarforl thank you for bringing this issue to my attention. I definitely think that it would be best if `extract-dgidb.sh` could detect the 404 error and then die. Can you see if adding the `-f` option to line 13 of `master-config.shinc`, so that it reads like this:
[code]
that should solve the problem (though, until we do a complete build, we won't know for *certain* whether or not it will in

[2020-10-05 15:53] saramsey commented on #1091
Can you please find the current URL to download `interactions.tsv` and update L18-19 of `extract-dgidb.sh` as needed?

[2020-10-05 15:58] saramsey commented on #1091
Can' believe we have gotten this far without configuring cURL to detect (and fail on) 404 errors!

[2020-10-05 16:04] kvarforl commented on #1091
i'm looking for it now. It looks like DGIdb might have moved to an API format (documented [here](https://www.dgidb.org/api)) that returns JSON instead of TSV. My latest plan is to inspect an old tsv file from a past build so I can better understand what `dgidb_tsv_to_kg_json.py` was doing and adjust/ rename it to digest the json instead :)

[2020-10-05 17:12] kvarforl commented on #1091
Okay, using the API seems feasible, but would require some weird page traversing and some moderate refactoring of  `dgidb_tsv_to_kg_json.py`. I think it might be more efficient to change `extract-dgidb.sh` to figure out the most recent .tsv from https://www.dgidb.org/downloads and download it, and then leave `dgidb_tsv_to_kg_json.py` unchanged, so I'm going that route instead.

[2020-10-05 21:41] dkoslicki opened #1092 "KG2C missing node descriptions"
Eg.
[code]
has this on the acetaminophen node:
[code]
while with KG2C
[code]
has this for acetaminophen:
[code]
sad we lost the description and URI as these were quite helpful to NCATS and SME's. Maybe merge/pick one from the equivalent nodes? Use the best one?

[2020-10-05 21:44] dkoslicki opened #1093 "Filtering top N still includes bioentities in the KG"
This leads to huge JSON responses that should be quite slim. To reproduce, run:
[code]
And check out the JSON response.

Don't know if it's a filter or resultify issue, hence the assignees

[2020-10-05 21:46] edeutsch commented on #1093
Note that the last two commands are out of order? can't filter results until after resultify()?

[2020-10-05 21:47] edeutsch commented on #1093
the DSL as written should generate a "there are no results" error?

[2020-10-05 22:22] saramsey opened #1094 "add a "store=json" option to the return statement in the DSL"
We were having some issues with storing large messages, and as a (possibly temporary) work-around, the idea has been proposed to have a `store=json` option to store the message as a JSON file (with a UUID in the filename) in a subdirectory that is sym-linked under the Apache2 DocumentRoot directory (which would make the JSON message file retrievable with a HTTP GET). This idea was discussed with @

[2020-10-05 22:33] amykglen commented on #1092
ah, yep, have been meaning to address this. will get them in there!

[2020-10-05 22:39] amykglen commented on #1093
yep, all seems well if you fix the order of those two commands (only 1 result is returned):
[code]

[2020-10-05 22:58] edeutsch commented on #1093
But I think there are still two issues that remain, both somewhat philosophical that we should discuss:

1) The initial, incorrect code runs to completion with no errors. SHOULD it be an error if filter_results() is called when there are no results yet? I'm thinking yes. I am hard pressed to find an example when a user would be pleased that filter_results() silently does nothing when called before

[2020-10-05 23:05] edeutsch opened #1095 "One QGI DSL program has a store=false"
As a reminder to us, this commit:
https://github.com/RTXteam/RTX/commit/3a8c71e3a154c4ceb3454119597554a860dfc2c4
was performed to include a temporary patch to make something work for NCATS
but this is not likely a good long term fix
and should be reverted at some point when the underlying issue is resolved
Related to #1093 and #1094 but the real problem is really only in Slack.

[2020-10-05 23:06] saramsey commented on #1095
tagging @amykglen to make her aware

[2020-10-05 23:06] saramsey commented on #1094
tagging @amykglen to make her aware of this issue

[2020-10-05 23:12] saramsey commented on #1095
See this [link](https://coe-eecs-ncats-arax.slack.com/archives/C0128S0TZ9S/p1601920763071200) in the `general` slack channel, and following posts.

[2020-10-05 23:19] amykglen commented on #1093
re: 2) yeah, I believe the team made the decision before that `filter_results` should _not_ clean up the KG... though personally I think that it should. that would resolve the too-large-of-a-message problem we're currently facing with #1094! I like your idea to add a flag to control the behavior though.

[2020-10-05 23:27] saramsey commented on #1094
One possible tweak would be to add the file suffix `.json` to the file that is created, to automatically set the appropriate MIME type.

[2020-10-05 23:28] saramsey commented on #1094
Also, in b2b1b6a, I neglected to call `message.debug` to log a message about "storing message" in the `store=true` branch of the code. That should probably be fixed. Just noting it here.

[2020-10-05 23:28] saramsey commented on #1094
Thank you @amykglen for b2b1b6a

[2020-10-05 23:33] dkoslicki opened #1096 "Further speedups to NGD"
I noticed that lots of NGD calls using eUtils are for the same bioentity (like in that case, GPI wt Allele) and result in nan's. As such, I suspect that the single count frequency of GPI wt Allele is 0, and so can't hope to have a non-nan NGD. Perhaps a quick work around to this is: for every node in the KG, don't run any NGD computation if the single count frequency is zero. This will cut down on

[2020-10-05 23:35] dkoslicki opened #1097 "NGD code is a convoluted beast"
Currently, NGD is kind of all over the place in different parts of the repo (and I have noticed quite a large bit of code duplication). For ease of maintenance, this code needs to:

- [ ] be migrated to code/ARAX
- [ ] de-duplicated
- [ ] easily navigable with respect to fast NGD

This can be done in conjunction with #1096

[2020-10-05 23:40] amykglen commented on #1094
no problem! added the `.json` suffix in 8a65307

[2020-10-05 23:41] saramsey commented on #1091
Hi @kvarforl let's just use the URL here:

https://www.dgidb.org/data/monthly_tsvs/2020-Oct/interactions.tsv

I think it is the same as the old `interactions.tsv` format. I am not enthusiastic about moving to querying an API.

[2020-10-05 23:58] amykglen commented on #1069
ok, this has been merged into master (for `compute_ngd` - not implemented in other `overlay` modules).

[2020-10-06 00:40] amykglen commented on #1096
noting this here since it's relevant to this issue: we decided on Oct. 5 to let go of the 'fallback' NGD method (and only use the fastNGD method) in `overlay`'s `compute_ngd`, since coverage for fastNGD is quite high now (in the 95%+ range - and out of those fastNGD misses, the fallback method tends to return NaN for quite a few (hard to estimate, but maybe 30-50%)).

so the output seen above isn'

[2020-10-06 18:29] saramsey opened #1098 "in predicate-remap.yaml, do not invert relations mapped to reflexive biolink relations"
Per Richard B.'s comment in https://github.com/biolink/biolink-model/issues/440,

we should fix this in `predicate-remap.yaml`.

[2020-10-06 19:07] saramsey commented on #1098
Looks like we need to change `invert` to `rename` for these:
[code]

[2020-10-06 20:11] kvarforl commented on #1091
Should be fixed. I started a new snakemake build following the instructions in the readme for salvaging a partially completed build; its running now. Will verify the fix when it completes :)

[2020-10-06 23:34] isbluis commented on #1080
As an update on this, the UI in my dev area now picks up `default` and `is_required` values (and ignores `type` and `examples`).

Currently only `create_message()`, `add_qnode()`, and `add_qedge()` have the updated command_definition structure.  My script that generates the JSON that drives the UI can deal with old and new `describe_me()` versions, so the enhanced logic and values will be availabl

[2020-10-07 01:46] chunyuma opened #1099 "Create a function to check and download all databases which is always called when ARAX queries are run"
Hi all, right now we have multiple databases (fastNGD, Graph.sqlite, COHD database, node_synonymizer.sqlite and so on). For KG2.3.4, we collect all databases in `/data/orangeboard/databases/KG2.3.4/` on `arax.rtx.ai` server. I have an idea to create a function to check and download the databases from this directory once any databases are updated. But this function should be put in somewhere that i

[2020-10-07 01:59] amykglen commented on #1099
nice idea to centralize storage/downloading of these databases. my thought is maybe the method would belong somewhere in `ARAX_query.py`? though I don't know that module nor the rest of ARAX's 'set up' sort of code all that well. I'm sure @edeutsch has insight!

[2020-10-07 03:43] edeutsch commented on #1099
sure, a call out to such a checking function could be done in ARAX_Query around line 144.

Although I wonder, is there a need to do the check with every query?

Or is it perhaps better to perform the check and upgrade when the system launches? which would then be around line 57.

[2020-10-07 05:03] saramsey commented on #1099
Hi Chunyu, thank you for proposing this interesting idea. I think centralizing our data stores on the ARAX system is a _very_ good idea. Putting them (to the extent possible) somewhere under the `/data` file system (so they do not bloat the root filesystem inside the Docker container)--as you suggest--is also a _very_ good idea. It is unclear to me (as I have not checked the wiki lately) who--or w

[2020-10-07 05:03] saramsey commented on #1099
What will be the mechanism to automatically determine if some database file has been updated?  File modification timestamp?  Surely not an MD5 hash (right?).

[2020-10-07 18:03] dkoslicki opened #1100 "Add microbial flag to taxon nodes"
Currently, in KG2 and KG2C, there is no way to know if an `organism_taxon` is a microbe (or vertebrate, etc.). For now, the most important thing is to have the microbes be easily extracted from `organism_taxon` nodes. I suggest a node property to identify such nodes.

[2020-10-07 19:25] dkoslicki commented on #1095
This was fixed with @saramsey's JSON output, so it now [reads](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_query_graph_interpreter_templates.yaml#L140) `store=json` as of ffd49d0e5dc0ea2ffa88848f18ba3e16089c3fb9

[2020-10-07 19:25] #1095 closed

[2020-10-07 19:47] kvarforl commented on #1091
Okay, now the website [https://www.dgidb.org/downloads](https://www.dgidb.org/downloads) appears to be down.
![image](https://user-images.githubusercontent.com/39020520/95380061-0dd5ca80-089b-11eb-9a73-a05d57c5f4b6.png)

I suppose I'll just check on it periodically to see when it's back up.

[2020-10-07 20:59] dkoslicki commented on #1080
Note to self: for `overlay(action=fisher_exact_test)` just remove the Markdown in the description.

[2020-10-07 21:02] dkoslicki commented on #1080
DMK todo: make a `short_description` to fix the aforementioned UI display issue with markdown

[2020-10-07 22:25] saramsey opened #1101 "create a t2.micro instance to be the RTXConfiguration scp server"
fix the `/mnt/temp/config.json` thing at the same time (have the file instead be in `/home/araxconfig/config.json`).

new `scp` command will be:
[code]

[2020-10-07 22:29] kvarforl commented on #1082
Instructions have been added to the Post-setup tasks section of the Kg2 readme

[2020-10-07 22:29] #1082 closed

[2020-10-07 22:34] saramsey commented on #1101
Fix 87d6795 has been tested successfully by @amykglen @edeutsch in their test areas and in a new (temporary, throwaway) test checkout of the RTX code-base (as user `rt` inside the Docker container `rtx1`) on `arax.rtx.ai`.

[2020-10-07 22:40] dkoslicki commented on #1080
Revised, revised yaml-ish format for the dicts:
command_definition:
    dsl_command
    description
    brief_description
    mutually_exclusive_params
    parameters:
        <parameter_name>
            is_required
            examples[]
            default
            type
            enum
            min
            max
            description

[2020-10-07 22:47] saramsey commented on #1101
installed into `/data/orangeboard/production` on `arax.ncats.io` and tested.

[2020-10-07 23:23] edeutsch commented on #1080
and just to correct the mistake I made originally, mutually_exclusive_params and enum should be lists:

[code]

[2020-10-07 23:29] saramsey commented on #1094
@amykglen:  is it OK to delete the `issue1094` branch?

[2020-10-07 23:31] saramsey commented on #1101
Tested in the `/data/orangeboard/test` code area on `arax.rtx.ai`

[2020-10-07 23:32] saramsey commented on #577
yes, fixed per #1101

[2020-10-07 23:32] #577 closed

[2020-10-07 23:34] amykglen commented on #1094
yes! good thinking.

[2020-10-08 00:59] edeutsch commented on #1094
I have backed out the patch and implemented local filesystem storage of messages so that everything should operate the way it did before. The storage of messages to disk should now be transparent.

They get stored to RTX/data/responses/
which gets created automatically if necessary.

For a while I've left it in that store=json works identically as store=true, just in case there is some legacy stuf

[2020-10-09 15:44] kvarforl opened #1102 "multi_ont_to_json_kg.py fails"
Here is the error:
[code]

[2020-10-09 15:44] kvarforl commented on #1102
Not sure this how relevant this is, but noting that the log for `build-mulit-ont-kg.sh` is filled with these errors (even though they didn't directly kill the script)
![image](https://user-images.githubusercontent.com/39020520/95602257-80fd4f00-0a09-11eb-834c-1894dadaba9e.png)

[2020-10-09 16:58] saramsey commented on #1102
I am studying build artifacts on `kg2lindsey.rtx.ai`. According to the logfile `kg2-build/build-multi-ont-kg.log`, the script `multi_ont_to_json_kg.py` seems to have terminated shortly after reading `genepio.json`:
[code]

[2020-10-09 17:07] saramsey commented on #1102
OK, I have constructed a MRE on `kg2lindsey.rtx.ai`, based on a trivial `ont-load-inventory-issue1102.yaml` file that just loads `biolink-model.owl`:
[code]
Running it like this:
[code]
causes this error:
[code]

[2020-10-09 17:09] saramsey commented on #1102
Pretty sure that I can reproduce this error on my MBP. Testing now....  yes, this MRE is reproducible on my MBP:
[code]
so I am going to shut down `kg2lindsey.rtx.ai` since I can continue to work this issue on the laptop.

[2020-10-09 17:15] saramsey commented on #1102
Fairly confident this is caused by the same changes to the upstream `biolink-model.owl` file that caused #1085.

[2020-10-09 17:18] saramsey commented on #1102
Fix 7a269e5 should do it. With that fix, my MRE no longer causes this bug and we are getting a full dictionary of depths for Biolink categories back from `kg2_util.get_biolink_categories_ontology_depths`.

[2020-10-09 17:26] saramsey commented on #1102
Just confirmed that this fix works on `kg2lindsey.rtx.ai`; the MRE is no longer erroring out.

@kvarforl you are clear to restart the instance `kg2lindsey.rtx.ai` and resume the build.

[2020-10-09 17:58] chunyuma commented on #994
For supplement: I re-trained the model based on KG2.3.4C(kg2canonicalized2.rtx.ai) because I didn't consider one type of "disease" in the last model which is `disease_or_phenotypic_feature`. In this new model, the nodes with `drug` or `chemical_substance` preferred type are considered as 'drug' while the nodes with `disease`, `phenotypic_feature` or `disease_or_phenotypic_feature` are considered a

[2020-10-10 02:39] kvarforl commented on #1102
okay we've made it further this time! Again, according to `kg2-build/build-multi-ont-kg.log`, the script `multi_ont_to_json_kg.py`  still seems to have terminated shortly after reading genepio.json.
![image](https://user-images.githubusercontent.com/39020520/95643865-f51a1000-0a66-11eb-953b-9504ecb68be8.png)

However, the error message in `kg2-build/build-kg2-ont-stderr.log` is now the following:

[2020-10-11 02:27] ericawood commented on #460
Hi @saramsey,
That is addressed as best as possible in 0ac4465ebe2b441bc745f2226c6f2214059c5cbe and 4ccb0ee. I have the original v4.0 files from July if these do not work (the three files have changed since then, so I "merged" them to the best of my ability).
If you want to go from version 3.0 to 4.0 on the same instance (not recommended), run the following steps:
[code]
Please keep in mind that I

[2020-10-11 03:07] #694 closed

[2020-10-11 03:20] amykglen commented on #1069
ok, so the solution indeed seems to be working well on test/production in `compute_ngd`.

it'd probably make sense to switch the other overlay modules to use this as well at some point - I went ahead and did so for `overlay_exposures_data`, and in doing so, realized it would make sense to have this function in a common place, so that the various overlay classes (`ComputeNGD`, `OverlayExposuresData

[2020-10-11 03:26] #1043 closed

[2020-10-11 03:48] saramsey commented on #1043
Nice!

[2020-10-11 03:52] amykglen commented on #1086
cool - I'm going to close this issue then (will wrap up the GeneticsKP integration in #1064)

[2020-10-11 03:52] #1086 closed

[2020-10-11 03:52] saramsey commented on #1102
starting `kg2lindsey.rtx.ai` to investigate

[2020-10-11 04:04] saramsey commented on #1102
OK, this found the problem:
[code]
and then this:
[code]
so we need to add the following to `curies-to-urls-map.yaml`, at L208:
[code]

[2020-10-11 04:18] saramsey commented on #1102
should be fixed now; just pushed fix bf21817 to `kg2lindsey.rtx.ai`.

[2020-10-11 17:07] saramsey commented on #1072
@finnagin just checking back on this?

[2020-10-11 17:13] saramsey commented on #1072
@finnagin can you please update the documentation in RTX/code/kg2/mediKanren so that it is current?  Thank you.

[2020-10-11 17:14] saramsey commented on #1100
Maybe this can be determined post-hoc by walking the NCBI taxon ontology tree?

[2020-10-11 17:31] dkoslicki commented on #1100
Yes indeed! That’s what we’ve been doing, but it’d be nice to have this as part of the actual graph

[2020-10-11 20:57] amykglen commented on #990
alright, so I tested ARAX+KG2.3.4 in a local setup, using the KG2.3.4-specific `config.json`, `node_synonymizer.sqlite`, NGD database, COHD database, and DTD database (stored in `/data/orangeboard/databases/KG2.3.4/` on the server), and all is running smoothly! the entire pytest suite passes, including slow tests.

so I think we are ready to make KG2.3.4 our "production" KG2 at any point now, by:

[2020-10-12 15:24] finnagin commented on #1096
@dkoslicki Is this issue still relevant since Amy let go of the 'fallback' NGD method in favor of only using the fastNGD method?

[2020-10-12 15:26] finnagin commented on #1097
@dkoslicki Is this issue still relevant since Amy let go of the 'fallback' NGD method in favor of only using the fastNGD method?

[2020-10-12 15:46] dkoslicki commented on #1097
I'll mark this low-priority as the NGD code is superseded by FastNGD. It may come up again though since I could foresee a few different situations where we might want to use NCBI eUtils (and it would be nice in that case to have the NGD/eUtils code much more navigable).

[2020-10-12 15:48] dkoslicki commented on #1096
Same comment as #1097: low priority, but we can keep it in the back of our minds in case the 95% hit rate of FastNGD ever drops.

[2020-10-12 23:08] finnagin commented on #1072
@saramsey I've updated the readme to reflect the new script and split it into two parts: one for generating the indexes and one for loading per-generated indexes into mediKanren.

[2020-10-12 23:23] #1072 closed

[2020-10-12 23:35] finnagin commented on #1093
I'm going to add this to the agenda for the next AHM. I was thinking another way this might be done is to add a `filter_by_results` method to the filter_kg command that could be run after filter_results if we decide we want to keep things separate i.e. if filter_results should *not* clean up the kg.

[2020-10-13 16:54] finnagin commented on #1100
looking at kg2.3.4 these are the sources for the `organism_taxon` nodes:

n.provided_by | count(*)
-- | --
"umls_source:MSH" | 1
"umls_source:NCBITAXON" | 1776514
"umls_source:NCI" | 3029
"umls_source:SNOMEDCT" | 34969
"OBO:go/extensions/go-plus.owl" | 24
"EFO:efo.owl" | 793
"OBO:uberon/ext.owl" | 2
"OBO:cl.owl" | 31
"OBO:foodon.owl" | 37
"OBO:ncbitaxon/subsets/taxslim.owl" | 3374
"OBO:mondo.owl"

[2020-10-13 17:33] kvarforl opened #1103 "finish-snakemake.sh fails on S3 copy command"
`finish-snakemake.sh` is assigning the s3 copy command incorrectly.
[code]

Currently investigating possible  solutions: I'll document ideas and conclusions in this issue

[2020-10-13 17:35] kvarforl commented on #1103
a relevant comment from Erica, in `finish-snakemake.sh`
[code]

[2020-10-13 17:38] saramsey commented on #1103
looks like a quoting issue, like "aws s3 cp" didn't get quoted so is being parsed as three separate command-line arguments.

[2020-10-13 17:40] saramsey commented on #1103
Imma guess the issue is on L15 of `Snakefile-finish`, right @ericawood ?

[2020-10-13 17:44] saramsey commented on #1103
@kvarforl can you please check out 6224145 to see if that helps?

[2020-10-13 17:51] kvarforl commented on #1103
@saramsey So speedy! figuring out the most efficient way to test now :)

[2020-10-13 17:59] finnagin commented on #1093
I added in a warning for when filter_results is called when there are no results. I can change it to an error if we want but my thought was what if the query a user is running just has no results? Should we be returning an error or that there are 0 results? If we'd rather it return an error it will be easy for me to change.

[2020-10-13 20:30] kvarforl opened #1104 "Change Snakemake rules after merge to depend on compressed file names (.gz) ?"
I noticed while debugging other things with the Snakemake Finish rule that using the `-R Finish` flag to resume a build that failed in the Finish rule re computes every rule from Merge down. This is the dryrun output from this circumstance:
[code]
I think this is because many of the input files the Finish rule expects have been compressed, so their filename ends in ".gz", which causes snakemake to

[2020-10-13 20:35] kvarforl commented on #1103
The above issue seems to be fixed. Testing another small adjustment (passing BUILD_DIR variable via snakemake to finish-snakemake.sh" now.

[2020-10-13 20:54] saramsey commented on #1104
Thanks for the update. Would it make sense to document this workaround in the README.md somewhere?

[2020-10-13 21:28] saramsey commented on #1104
One possibility would be to change these lines (lines 46 and 50--54) of `finish-snakemake.sh`
[code]
so that they do not delete the original files. See
https://unix.stackexchange.com/questions/46786/how-to-tell-gzip-to-keep-original-file/58814

[2020-10-13 21:36] kvarforl commented on #1104
That makes a lot of sense!
The current workaround that I have running right now is changing lines 3-10 in `Snakefile-finish`, which caused snakemake to only run the rule Finish (executing now).
[code]

I think I like your solution better; it seems like it will be less confusing to maintain, less likely to mess with other snakemake rules, and require fewer changes to the code overall :) Thanks for

[2020-10-13 23:40] #738 closed

[2020-10-13 23:48] finnagin commented on #706
@saramsey can this be closed now? I just double checked on kg2canonicalized2.rtx.ai and kg2endpoint-kg2-3-4.rtx.ai and all looks good to me.

[2020-10-14 17:17] dkoslicki commented on #1093
I think a warning makes sense here (don't want a 2-hour query erroring out due to an easy-to-make mistake, like I did above)

[2020-10-14 17:19] finnagin opened #1105 "Find ways to speed up arax code"
Test different aspects of the arax codebase and look for pain points where we might be able to speed things up.

[2020-10-14 17:19] dkoslicki commented on #1080
@finnagin feel free to do the overlay() DSL commands too

[2020-10-14 17:21] finnagin opened #1106 "Reduce the brittleness of arax"
Test different aspects of the arax codebase and look for pain points where we might be able to improve the robustness of the code.

[2020-10-14 17:28] dkoslicki commented on #856
@finnagin This issue has changed slightly: the aim now is to have **all** overlay() commands add virtual edges. So for every appropriate overlay() command (eg. doesn't make sense for Jaccard), have them (quickly) look at all pairs of nodes and add virtual edges with the information attached.
Things to look out for:

1. Re-compute things as little as possible (eg. make sure the translation between

[2020-10-14 17:29] dkoslicki commented on #841
@finnagin and make sure they are fast, or decorate them with `@pytest.mark.slow`

[2020-10-14 19:12] kvarforl commented on #1103
the Finish rule successfully completed 10/13/2020. Closing this issue.

[2020-10-14 19:14] kvarforl commented on #1102
This part of the build process successfully completed 10/13/2020. Closing this issue

[2020-10-14 19:14] #1102 closed

[2020-10-14 19:15] kvarforl commented on #1091
Fixed in build completed on 10/13/2020 (KG2.3.5). Closing issue

[2020-10-14 19:15] #1091 closed

[2020-10-14 19:21] kvarforl opened #1107 "Address warnings in `filter_kg_and_remap_predicates.log`"
The following warnings appear in `filter_kg_and_remap_predicates.log` from KG2.3.5 build.
[code]

[2020-10-14 19:27] saramsey commented on #1107
OK, I'm thinking I can do the first few of these these fixes but screen-share with you, so you get the gist of it. Does that make sense?

[2020-10-14 19:29] kvarforl commented on #1107
Yes that would be very helpful! Would you like to do that pre all hands meeting, or during the hackathon slot?

[2020-10-14 19:52] #1101 closed

[2020-10-14 19:53] saramsey commented on #1098
Hey @kvarforl we can work on this issue at the same time we work on #1107

[2020-10-14 19:53] #706 closed

[2020-10-14 19:53] saramsey commented on #706
thank you @finnagin

[2020-10-14 19:56] kvarforl commented on #1098
Yes that would be very helpful!

[2020-10-14 19:57] saramsey commented on #1073
marking this LOWPRI since we already have a script that goes from TSV to CSV and seems to be working

[2020-10-14 19:57] saramsey commented on #1081
ok we can try recording as an experiment

[2020-10-14 20:31] finnagin commented on #1093
After the meeting today we decided to have filter_results automatically prune the kg to match the results whenever called with an optional flag to keep the kg how it is.

[2020-10-14 21:30] dkoslicki opened #1108 "Remove workflow for simple lookup"
[this workflow](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_query_graph_interpreter_templates.yaml#L99-L115) should revert to the simple lookup

[2020-10-14 21:31] dkoslicki opened #1109 "Slow COHD on production?"
When running this JSON:
[code]
it appears that API calls are being made to COHD. I thought everything was local, right @chunyuma ?

[2020-10-14 21:42] saramsey commented on #1109
@dkoslicki could you please paste the equivalent DSL in #1109?

[2020-10-14 21:43] dkoslicki commented on #1109
Relevant DSL:
[code]

[2020-10-14 21:47] finnagin opened #1110 "Think of english questions linking drug and disease nodes"
Think of all the different English language questions in which a single drug and a single disease node linked by an unknown edge could be interpreted using arax along with corresponding query graphs.

[2020-10-14 21:47] saramsey commented on #1109
Maybe we should have the overlay ARAX module issue a warning in the message, if the COHD database is not local?

[2020-10-14 22:26] chunyuma commented on #1109
The COHD database should be automatically downloaded from `arax.rtx.ai` server if it is not local. So I think the problem should not be due to missing database because Finn found the version 1 is there.

[2020-10-14 22:46] #1109 closed

[2020-10-14 22:47] dkoslicki commented on #1109
Turned out to be a red herring: something with buffering or the like

[2020-10-14 22:49] dkoslicki commented on #1108
Note that it matched to this template even thought the edge type was specified. Is this intended behavior @edeutsch? I had intended this template to only match when the edge type was _unspecified_.

[2020-10-14 23:06] edeutsch commented on #1108
The short answer is yes.

The long answer is that the query_graph_interpreter always uses the *closest* template, even if it's not a perfect match. This would be the closest match.

But also, the current functionality does not support a distinction between
    e00()
and
    e00(type)
and
    e00(type=contraindicated_for)
which sounds like what you want? You want there to be a different DSL dependi

[2020-10-15 01:48] dkoslicki commented on #1108
Correct: it would be good to distinguish between
e00()
and
e00(type)
and
e00(type=<something specific>)

i.e. if the user/ARS is being specific and wants a simple lookup (what drugs are `indicated`_for disease X), then we should return that to them with nothing extra. If no edge relation is specified, then we want a different DSL to decorate it so we can rank the results in some sort of meaningful

[2020-10-15 18:45] finnagin commented on #1110
1. What drugs are indicated for \<named disease\>?
  (chemical_substance or drug)-[treats]-(\<named disease\>)

2. What diseases are treated by \<named drug\>?
  (\<named drug\>)-[treats]-(disease or phenotypic_feature)

3. What drugs are contraindicated for \<named disease\>?
  (chemical_substance or drug)-[contraindicated_for]-(\<named disease\>)

4. For what diseases is \<named drug\> contraind

[2020-10-15 18:50] finnagin commented on #1110
The querry `match (n)-[r]-(m) where (n:drug or n:chemical_substance) and (m:disease or m:phenotypic_feature) return distinct type(r), count(*) as count order by count desc` returns the following:

type(r) | count
-- | --
"treats" | 285232
"causes" | 126888
"related_to" | 118525
"affects" | 89887
"prevents" | 51186
"predisposes" | 34447
"disrupts" | 32539
"positively_regulates" | 22378
"contraindic

[2020-10-16 19:58] saramsey commented on #1107
`adjacent_to`: maybe `coexists_with`?

[2020-10-17 00:09] kvarforl commented on #1107
Okay, I've addressed the one's that had clear examples in the existing `predicate-remap.yaml` in the above commit.

Now documenting my very unresearched initial guesses at the rest of them. Will do some further research to try to hone in, but if @saramsey could weigh in I'd love it!

- `OBO:exo.obo#interacts_with_an_exposure_stressor_via` -> `interacts_with`?

- `SO:has_quality` -> `has_phenotype`

[2020-10-19 20:02] kvarforl commented on #1104
@saramsey  I'm working on writing the script to delete the big files at the end of the build, but I'm having some struggles deciding the best way to get the names of the files to be deleted to the script.
it doesn't make much sense to pass them in as command line arguments since the script will be run independently of the build, and hardcoding them seems a bit dicey and repetitive as well.

Should

[2020-10-19 20:56] dkoslicki opened #1111 "Pull out ranker as its own DSL command"
Much interest has been generated regarding our ranker. Instead of having it be a sub-part of `resultify()` it would be good to:

1. Have it be a separate DSL command (so eventually others can invoke it)
2. But still have it automatically run in `resultify()` so user's don't mistakenly forget to invoke it.

[2020-10-19 20:57] dkoslicki commented on #1110
Thanks @finnagin! Can you imagine DSL commands too (in addition to cypher)?

[2020-10-19 20:57] saramsey commented on #1111
Cool, it sounds like a win (for Translator), to break it out.

[2020-10-19 20:59] dkoslicki commented on #1110
Other variations are:

1. What drugs do doctors use on patients with disease X?
2. What drugs target proteins involved with disease X?
3. What drugs are in clinical trials to treat disease X?

[2020-10-20 00:56] edeutsch commented on #1111
I think I can do this.

One stray thought it that it might be that the ranker relies on some assumptions that it's getting the output of resultify(). If someone else's results don't quite conform to what resultify() does, it is possible that it is safer to recompute results first and then rerank?

What should the DSL command be?
1) rank()
2) rank_results()
3) rerank()
4) rankify()
5) hoowee_that_i

[2020-10-20 03:04] dkoslicki commented on #1111
While I love 4 and 5, I think 2 makes the most sense (as it's clear what is being ranked). Let @finnagin if he can help with issues about the the input results not conforming to what resultify() does

[2020-10-20 03:30] edeutsch commented on #1110
I think a key component here is what should the QueryGraph look like for these queries. For example, for "which drugs do doctors use on patients with disease X", how could you convey that meaning in a QueryGraph? Different reasoners might approach the question differently, but I would advocate that we agree Translator-wide on how to encode the semantics of that question in a QueryGraph in a unifor

[2020-10-20 03:35] dkoslicki commented on #1110
Indeed! @finnagin I may have not communicated it well, but the goal is to push the QG format to see where it may fail in capturing this nuance. So disregard the comment about translation to dsl and instead focus on how these can be translated to the TRAPI QG format (and note what changes would need to be made when the current spec doesn't suffice)

[2020-10-20 05:37] #990 closed

[2020-10-20 16:31] dkoslicki commented on #1100
@finnagin I don’t know if your previous post was a question, but it should be fine to focus just on the NCBITAXON nodes (so you can use NCBI taxdump or the like to flag the nodes as Steve mentioned)

[2020-10-20 17:14] finnagin commented on #1100
@dkoslicki thanks! Is ncbi taxdump something I need to download from [here](https://www.ncbi.nlm.nih.gov/guide/taxonomy/) as part of the build process or do we already have code that uses it/downloads it?

Also, @saramsey any thoughts on if we should flag nodes as microbial using a new node property or encode it into an existing one?

[2020-10-20 18:11] dkoslicki commented on #1100
@finnagin yes, I don't think the NCBI taxdump is being used elsewhere (but @saramsey would know better). Though be sure to remove the database after using it (since we don't want it taking up space on AWS).

As a side note, it should be as simple as adding a microbial flag to anything that is a `Bacteria` or `Archaea`. To make life simpler, you could even consider using [ete3](http://etetoolkit.or

[2020-10-20 18:35] finnagin commented on #1100
Awesome, thank you!

[2020-10-20 20:07] finnagin commented on #1093
This has now been implemented, is passing all tests and was merged back into master after having master merged into filter. Just need to test on production and then can be closed.

[2020-10-20 23:22] finnagin commented on #856
@dkoslicki maybe I'm reading this wrong but it looks like `predict_drug_treats_disease.py` already creates virtual edges for all pairs if `virtual_relation_label` is in parameters. since it iterates through the list generated by `itertools.product(source_curies_to_decorate, target_curies_to_decorate)`. Is this correct?

If so does that mean that in order to create virtual edges for all pair I woul

[2020-10-21 04:55] edeutsch commented on #1093
deployed to https://arax.ncats.io/test/
Would you test there?

[2020-10-21 07:12] finnagin commented on #1093
Thanks! I'll test it there.

[2020-10-21 07:20] finnagin commented on #1093
Looks to be working!

[2020-10-21 07:23] finnagin commented on #1093
Though there is one thing I noticed when testing it out.

If I run this DSL:
[code]

I get 20 results however the number next to the results tab on the left is 135 which is the number of results before filtering however if you click the tab there is only 20 results which is the correct number. Where does this number get populated from? Is there a results count somewhere that `filter_results` needs

[2020-10-21 07:34] isbluis commented on #1093
Hi Finn,
The UI gets this from the `n_results` attribute of the returned `message`.  It seems that it needs to get updated upstream; I suppose you could try a search of this string in the code to see where it is being set.

[2020-10-21 15:42] edeutsch commented on #1093
@finnagin ah the answer seems to be that all the code the tidies up the Message (such as re-setting n_results) is only executed when the Message is stored. Since you're not storing, it isn't run. I suppose it would make more sense to run this cleanup code always regardless of whether it is stored or not.

But it would also be sensible for your code to update Message.n_results if you change the num

[2020-10-21 18:00] finnagin commented on #1093
Ok so now results updates the message.n_results property when it is done filtering results. @edeutsch let me know when you next update https://arax.ncats.io/test/ and I'll double check that it is working.

[2020-10-21 19:37] saramsey commented on #1104
That shell script can be called `post-build-cleanup.sh` and it can look like this (needs header comments, etc., of course):
[code]

[2020-10-21 19:50] kvarforl commented on #1104
Okay, so hard coding the filenames is a nonissue?

Thanks for the feedback!

[2020-10-21 19:54] saramsey commented on #1104
OK, good point!  What about just adding `rm` commands to the end of `finish-snakemake.sh`?  Then you have shell variables for each filename? Does that make sense?

[2020-10-21 19:55] finnagin commented on #1111
So I added a command `rank_results()` that is just called without parameters and then runs the `aggregate_scores_dmk` method. I also added a `describe_me` method to the ARAXRanker class in so we can generate documentation for `rank_results`.

Is this what we were thinking in terms of how to implement this? Are there any options I should add? Is there any error checking that need to be added in now

[2020-10-21 20:00] kvarforl commented on #1104
That would make sense, but wouldn't fully solve the problem of doing partial rebuilds. If we run into a circumstance (like the one we're in right now, fixing mappings that get implemented in Simplify) where the build successfully completed but we want to change something in between Merge and Finish, we'd have the same problem of the Snakefile not recognizing the uncompressed files (because they wo

[2020-10-21 20:03] kvarforl commented on #1107
Out of curiosity, how do you go about inspecting the edge label occurrence?

I thought I could use `cat` and `grep`, but I think the kg2.json file is one line, so that hasn't been fruitful (unless there are some nifty flags that I haven't discovered yet!) My other strategy is to write a python script that slurps up the whole kg in json format, but that seems pretty memory intensive so I was wonder

[2020-10-21 20:30] dkoslicki commented on #1111
Thanks @finnagin ! I think having no options is fine at this point. Besides internal error handling, I think a warning should be given if no ranking is actually done (i.e. the KG has no edges with scalar information on them)

[2020-10-21 21:26] finnagin commented on #1110
Oh ok so here is what I was thinking for the examples listed above in TRAPI:

1. What drugs treat <named disease>?
[code]

2. What diseases is <named drug> indicated for?
[code]

3. What drugs are contraindicated for <named disease>?
[code]

4. For what diseases is <named drug> be contraindicated for?
[code]

5. What drugs might treat <named disease>?
[code]

6. What diseases might <named drug> be

[2020-10-21 21:30] finnagin commented on #1110
So what I was thinking is by adding virtual edges into the query graph you are indicating that you are looking for more than just the known examples. So if `treats` is coupled with `prob_treats_disease` you are looking for highly ranked drugs that possibly treat a disease while if you couple `contraindicated_for` with `prob_treats_disease` you are looking for lowly ranked diseases. Though in the m

[2020-10-21 22:16] saramsey commented on #1107
https://biolink.github.io/biolink-model/docs/Relations.html

[2020-10-21 22:26] saramsey commented on #1107
Example triple for `guided_by`:
[code]

[2020-10-21 22:50] finnagin opened #1112 "Add a way of negating edges in a query graph"
idea from meeting:

q_edge(id=#, type=X)
q_edge(..., not=True) need to add this option

...

expand all as if not=False

Filter_kg will look through all connected nodes
and if those nodes are connected by a not edge
remove all edges connecting them
Then also remove the not edges from the query graph

lastly run resultify which will need to be altered to ignore not edges

[2020-10-21 22:52] finnagin opened #1113 "Add 'and' & 'or' logical operators for edges in the query graph"
Idea from the meeting: add a 'logical_operator' property to edges to encode this information which defaults to 'and' if not provided

[2020-10-21 23:01] finnagin commented on #1113
expand will need to altered to do optional match

resultify will also need to consider the optional match

[2020-10-21 23:02] dkoslicki commented on #1112
See [this pdf](https://www.dropbox.com/s/agcoih75w8qcj0s/NCATS%20workflows.pdf?dl=0) for more details.

[2020-10-21 23:08] finnagin commented on #1113
[and_not_or_workflow.pdf](https://github.com/RTXteam/RTX/files/5419091/and_not_or_workflow.pdf)

[2020-10-22 01:00] kvarforl opened #1114 "Find cleaner solution for large number of KG2 filename variables"
`kg2-build-snakemake.sh` defines a bunch of filename variables in the beginning, and then passes them to Snakemake with alot of duplicated effort.

At some point, it would be nice to keep this information in some sort of config file for easier referencing and less passing around.

[2020-10-22 01:05] kvarforl opened #1115 "run_validation_tests.sh fails in validate_kg2_util_curies_urls_categories.py"
Error message:
[code]

The offending line:
[code]
The offending variable (from kg2util):
[code]

@saramsey Proposed solution: add conditional to the offending line to skip over the offending variable??

[2020-10-22 01:10] kvarforl commented on #1107
I ended up using the relations suggested above, with the following exceptions:

- `RO:0002309` (has exposure stimulus) -> `related_to`

- `MONDO:has_onset`->`related_to`

- `SO:guided_by` ->`related_to`

[2020-10-22 01:14] edeutsch commented on #1110
Some refinement and discussion occurred this afternoon in here:
https://docs.google.com/document/d/10qlDNGbIrPUM4qFeGIXklMUwqsQSb9S91X3q7rLzguA/edit

[2020-10-22 01:37] edeutsch commented on #1110
Floating here an idea that came to me after today's mini-hackathon:
It seems like we were in agreement that we wanted this:

add_qedge(id=e00, source_id=n00, target_id=n01, type=treats, not=true)

(where the not=true means that we want to filter out connections for which there is a direct "treats" connection)

We mused about having special relationship types like "is_predicted_to_treat"
and "are p

[2020-10-22 02:02] saramsey commented on #1115
I think we should revert this commit that was made to `kg2_util.py`:
[code]
(only for `kg2_util.py`, not the other files that may have been updated in that commit).

[2020-10-22 06:07] edeutsch commented on #1093
deployed to test!

[2020-10-22 18:28] finnagin commented on #1110
I like the origin property idea. I think it could allow for a lot more flexibility without an explosion of new predicates.

[2020-10-22 18:32] finnagin commented on #1093
Thanks @edeutsch ! Looks like it is working now so I'm going to go ahead and close this issue.

[2020-10-22 18:32] #1093 closed

[2020-10-22 20:05] dkoslicki commented on #1110
I quite like this idea too @edeutsch ! I imagine this will take quite a bit of re-tooling in `overlay` though, but should be worth it to do.

[2020-10-23 23:24] finnagin commented on #1112
So everything except the resultify part is implemented now. @saramsey when you get time could you update resultify in the filter branch so that when resultify is making sure that results conform to the query graph it ignores edges in the query_graph which have the property `not_edge` set to True?

[2020-10-23 23:28] finnagin opened #1116 "Update config.json schema to also accomadate databases downloads"
This will also require [RTXConfiguration.py](https://github.com/RTXteam/RTX/blob/master/code/RTXConfiguration.py) to be updated. Also, we should replace all hardcoded references to servers with RTXConfig calls.

[2020-10-26 15:58] kvarforl opened #1117 "evidence of a possible memory issue within the Snakemake build"
during KG2.3.5 build, the rule Stats was randomly interrupted by a bash kill signal. On the first restart, the same thing happened, but on the second restart, everything was fine.

this is the relevant portion of `build-kg2-snakemake.log`:
[code]

[2020-10-26 16:08] #1107 closed

[2020-10-26 16:09] #1115 closed

[2020-10-26 16:13] #1053 closed

[2020-10-26 22:40] #1076 closed

[2020-10-26 22:57] kvarforl commented on #995
As of KG2.3.5, Amy's ORPHANET query returned no records, so that particular issue seems to be fixed.

However, when running `match (n {deprecated:"False"}) where toLower(n.name) contains "obsolete" return n.provided_by, count(n) order by count(n) desc` to find nodes with obsolete in the name and deprecated=False, GO:go-plus.owl is a big offender.

n.provided_by | count(n)
-- | --
"GO:go-plus.owl"

[2020-10-26 23:03] kvarforl commented on #1027
From the above query `match p=(n{id:'ICD10:N18'})--(m {id:'MONDO:0000001'}) return p`:
![image](https://user-images.githubusercontent.com/39020520/97237416-4aaf2600-17a4-11eb-96d7-5161c780bb8c.png)
... we've adjusted to just  `close_match` instead of `same_as`.

@saramsey  should that be considered fixed? I'm assuming not, based on amy's comment above suggesting that it should be a `subclass_of` r

[2020-10-26 23:06] kvarforl commented on #981
In KG2.3.5, the issue seems to be fixed.
Some of the results from `match (n) where n.id starts with "MESH:" return n.id, n.category limit 50;`

n.id | n.category
-- | --
"MESH:C000622574" | "biolink:ChemicalSubstance"
"MESH:C575594" | "biolink:ChemicalSubstance"
"MESH:C575595" | "biolink:ChemicalSubstance"
"MESH:C575596" | "biolink:Protein"
"MESH:C575597" | "biolink:ChemicalSubstance"
"MESH:C57559

[2020-10-26 23:06] #981 closed

[2020-10-26 23:14] kvarforl commented on #1098
The changes were made to `predicate-remap.yaml` and should be effective in KG2.3.5. closing this issue out :)

[2020-10-26 23:14] #1098 closed

[2020-10-26 23:21] kvarforl commented on #1079
@saramsey  I'm unsure how to verify this fix for KG2.3.5. Could you document steps for me to follow here?

[2020-10-26 23:27] kvarforl commented on #1045
As of KG2.3.5, the weird `disease` label is gone:

n.id | n.name | n.category_label | n.provided_by
-- | -- | -- | --
"UMLS:C4693552" | "Erythropoietin" | "named_thing" | "identifiers_org_registry:umls"

but the other strange labels mentioned are still there.

n.id | n.name | n.category_label | n.provided_by
-- | -- | -- | --
"OMIM:133170" | "Erythropoietin" | "phenotypic_feature" | "umls_source:O

[2020-10-26 23:28] kvarforl commented on #986
@saramsey  I'm unsure how to verify this fix for KG2.3.5. Could you document steps for me to follow here?

[2020-10-26 23:29] kvarforl commented on #931
@saramsey  I'm unsure how to verify this fix for KG2.3.5. Could you document steps for me to follow here?

[2020-10-26 23:29] kvarforl commented on #891
@saramsey  I'm unsure how to verify this fix for KG2.3.5. Could you document steps for me to follow here?

[2020-10-26 23:30] kvarforl commented on #762
@saramsey  I'm unsure how to verify this fix for KG2.3.5. Could you document steps for me to follow here?

[2020-10-27 00:03] finnagin commented on #1100
Talked to Steve about this. He said that instead of including this into the KG2 build process it would be better to write a python script that adds a new node property to all of the microbe nodes by connecting to neo4j via bolt to an already loaded neo4j instance.

[2020-10-27 00:08] ericawood commented on #891
@kvarforl

1. In Neo4j, pull the categories of all MEDDRA prefixed nodes and the counts of each.
2. If there are relatively few of category "named_thing" it is fixed!

[2020-10-27 00:11] ericawood commented on #762
@kvarforl
This will require some rerunning. I would recommend forming a list of nodes using the fix and verifying in Neo4j that they are using their new category label. Please let me know if you have any further questions about this issue!

[2020-10-27 00:12] ericawood commented on #931
@kvarforl
To verify this fix, please check that the UMLS directory on the build instance is labeled UMLS2020AA (or something similar with 2020AA in it). If so, this issue is fixed!

[2020-10-27 04:41] saramsey commented on #1083
just some context here -- the purpose of this issue is so that when running a "test mode" build of KG2, the log files from the last full build are not overwritten.

[2020-10-27 04:43] saramsey commented on #931
Thank you, @ericawood.  Hope you are doing well.

[2020-10-27 04:50] saramsey commented on #762
@kvarforl I see that in the KG2.3.5 Neo4j database that you just set up, the node `GO:0048086` (which was referenced above in this issue as an example of the problem that we are trying to solve in #762) has a good, appropriate, and informative Biolink category label: `biological_process`:

<img width="428" alt="Screen Shot 2020-10-26 at 9 49 22 PM" src="https://user-images.githubusercontent.com/55

[2020-10-27 04:54] ericawood commented on #762
Hi @saramsey! The "GO" example above was not actually impacted by this issue, as it was falsely triggering the code block, which I fixed ("GO" nodes use the "build up to category of top node in the ontology" method). Most of the nodes impacted by this issue were "UMLS" prefixed nodes. Confidently verifying this fix would likely require going back into multi_ont_to_kg_json.py and recording which no

[2020-10-27 05:08] saramsey commented on #1027
Hi @kvarforl, I have an idea. In `predicate-remap.yaml`, I think we should change:
[code]
(lines 2421-2424)
to
[code]
This is in keeping with the original meaning of `xref` in the OBO specification, shown here: https://owlcollab.github.io/oboformat/doc/GO.format.obo-1_4.html (see "xrefs")

[2020-10-27 05:11] saramsey commented on #1027
A fancier, future fix could be as follows:  whenever we see an `xref` link in an OBO ontology, how we would handle it would depend on an `if` statement as follows:
- if it is an OBO ontology that has `treat-xrefs-as-equivalent` set (instead of `OBO:xref`), use `skos:close_match`; examples of such ontologies seem to be `nbo.owl` and `uberon-ext.owl`.
- if it is an OBO ontology that does not have `t

[2020-10-27 05:12] amykglen commented on #1069
looks good on production

[2020-10-27 05:12] #1069 closed

[2020-10-27 16:26] #931 closed

[2020-10-27 16:39] #891 closed

[2020-10-27 17:39] kvarforl commented on #762
Okay I'm not sure I fully understand this issue and fix, but here is my stab at verifying it.

These are the only instances of the error message "Node ... has CUI  with multiple associated TUIS:... and could not be mapped." in  `build-kg2-ont-stderr.log`.
[code]

In Neo4j, the above nodes all have the category_label  `named_thing`, which makes sense as I assume its the most ambiguous biolink term.

[2020-10-27 19:56] amykglen commented on #914
ok, I made some refinements here and merged this into `master`; MolePro queries are fully functioning. will verify things seem to be working well on `/test` next time we roll out.

(some minor adjustments will be needed once the planned new MolePro features are available (e.g., batch querying, additional edge properties), but the integration should be complete for now.)

[2020-10-27 20:20] edeutsch commented on #914
Latest `master` just rolled out to /test

[2020-10-27 21:22] edeutsch commented on #1094
okay to full remove all store=json functionality and close this issue?

[2020-10-27 22:18] edeutsch commented on #1089
I added a remove_qedge() method. Unclear if it is a good thing to be using, but there it is for those who want it.

[2020-10-28 00:46] edeutsch commented on #1108
okay, I have pushed to `master` code that should take care of this, adding support for edge type templating. As part of this commit, I made drug treats disease a simple lookup, and drug ? disease the complex query. I think we agreed on this, but I'm not sure. Please correct if not.

[2020-10-28 04:41] amykglen commented on #914
thanks! all seems well on `/test`.

an interesting anecdote: for this query (genes/proteins associated with aspirin):
[code]
MolePro finds 370 answers and KG2 finds 608, but they only share 17 answers in common! (even though the `NodeSynonymizer` recognized all the curies from MolePro.) so it seems MolePro is contributing quite a bit!

[2020-10-28 04:41] #914 closed

[2020-10-28 04:56] saramsey commented on #1116
My $0.02: I think we should consider having two "areas" in the JSON file, one that could be called `global` and one that could be called `contexts` (or something like that). Under `global` we could store global name-value pairs that don't have a specific local context. Under `contexts` we would have specific contexts like `production`, `local`, etc. and underneath those, any name-value pairs that

[2020-10-28 04:58] saramsey commented on #1094
ok with me. @amykglen is it OK with you?

[2020-10-28 05:04] amykglen commented on #1094
yep, sounds good to me!

[2020-10-28 05:12] edeutsch commented on #1116
or define a "global" or "default" dict at the top of the file, and then just allow individual local contexts to override the global default only if desired. so if there's one mysql instance, then that can be defined in global, and only overridden in a certain context if desired.

I've also been thinking it would be valuable to allow a local override as a separate file. The standard file that gets

[2020-10-28 05:17] edeutsch commented on #1094
removal of final remnants pushed to master.

[2020-10-28 05:17] #1094 closed

[2020-10-28 14:51] dkoslicki commented on #1108
@edeutsch I think that's correct, thanks for the fix!

[2020-10-28 14:51] #1108 closed

[2020-10-28 14:53] dkoslicki commented on #1089
Thanks! I hope not to need it (makes sense that re-wiring the query graph is something to be avoided)

[2020-10-28 14:53] #1089 closed

[2020-10-28 14:53] dkoslicki commented on #1081
This issue good to close @saramsey ?

[2020-10-28 18:00] finnagin commented on #1116
@edeutsch +1 I like the `config_local.json` idea.

[2020-10-28 18:11] dkoslicki commented on #1080
Is this in a state that can be merged into master?

[2020-10-28 18:17] finnagin commented on #1111
Note to self: To test this, run resultify on an example with no edge attributes then add edge attributes after.

[2020-10-28 19:34] finnagin commented on #1080
I think there will be a couple of tweaks necessary after merging master into issue1080 but other than that I think it is ready. @amykglen and @edeutsch now that `document_dsl_commands.py` has been updated and the documentation generated does all of your documentation look correct? If so I think we can go ahead and merge with master.

[2020-10-28 20:11] edeutsch commented on #1080
seems fine to me!

[2020-10-28 20:19] amykglen commented on #1080
looks good to me too!

[2020-10-28 20:22] kvarforl opened #1118 "Kg2 Build / Release Frequency"
This issue is a thread for discussion of the optimal timing of new KG2 Builds / releases :)

[2020-10-28 21:38] edeutsch commented on #1113
add_qedge(id=e00,source_id=n00,target_id=n01,not=True,operand=or/and)
or:
add_qedge(id=e00,source_id=n00,target_id=n01,operand=or/and/not)

[2020-10-28 21:43] edeutsch commented on #1113
add_qedge(id=e00,source_id=n00,target_id=n01,not=True,necessity=optional/required)
or:
add_qedge(id=e00,source_id=n00,target_id=n01,necessity=optional/required/not)

[2020-10-28 21:46] dkoslicki commented on #1113
Need one (or both) nodes attached to an `optional` edge, to have the property `optional`?

Btw, I like `add_qedge(id=e00,source_id=n00,target_id=n01,necessity=optional/required/not)`

[2020-10-28 22:16] edeutsch commented on #1113
https://docs.google.com/document/d/15Xo6KufZ6hr42gah-gVS2Uuwo6oeGckF5z20GcR9gLA/edit

[2020-10-28 23:15] amykglen commented on #1112
idea from 10/28/2020 minihackathon: handle `not` edges at the `expand` level - it would be pretty straightforward and then downstream modules don't need to be modified much (`resultify` could just effectively ignore any `not` edges in the query graph, and proceed as usual), and it'd save some computation, too.

note to self that once we add in `option_group` handling (#1113), will need to make sur

[2020-10-28 23:35] finnagin opened #1119 "Optional group id & not flag"
Combining #1113 and #1112 after the hackathon today.

The google doc from today's hackathon can be found [here.](https://docs.google.com/document/d/15Xo6KufZ6hr42gah-gVS2Uuwo6oeGckF5z20GcR9gLA/edit)

Ideas from hackathon:
* handle not flags inside expand to reduce overall work
* create `option_group_id` which will indicate a group of nodes/edges which are either all in or all out.
* if `option_gro

[2020-10-28 23:36] finnagin commented on #1119
I created a branch called issue1119 to work on this in.

[2020-10-29 00:07] saramsey commented on #1118
I'm inclined to think that aiming for an approximately monthly build may provide a good balance of having an up-to-date "product", identifying problems (i.e., schema changes or new predicates in upstream sources) early, and labor cost to monitor, document, and check the build. ARAX is but one consumer of KG2; we also provide builds to Unsecret Agent and they are always hungry for new KG2 builds. I

[2020-10-29 00:08] saramsey commented on #1118
Also, whatever we decide needn't be a permanent choice. We can always change the build tempo as needed. But I am interested to hear opinions on the matter. Previously, we had never been particularly intentional about the build frequency.

[2020-10-29 03:26] amykglen commented on #1118
monthly sounds like a good plan to me! seems like a reasonable balance, as you say.

totally agree that the decision for the build frequency needn't worry about ARAX's desired update frequency, since KG2 has multiple consumers (and monthly is more than enough for ARAX).

[2020-10-29 03:35] kvarforl commented on #1118
Sounds good to me as well! Speaking of Unsecret Agent... do I need to get a version of  KG2.3.5 to them?

[2020-10-29 16:13] saramsey opened #1120 "OMIM data account expired"
Hi all,
I just got an email notification from OMIM (`do-not-reply@peas.welch.jhu.edu`) about "data account expired". Has anything broken in RTX/ARAX as a consequence of this?
I'm thinking this mostly affects our ability to run QueryOMIM.py, but I am not sure.
Steve
[code]

[2020-10-29 17:22] saramsey opened #1121 "mediKanren export of KG2.3.5"
Now that we have a build of KG2.3.5, this might be a good juncture to try exporting it to CSV and mediKanren `.scm` files following the instructions in `RTX/code/kg2/mediKanren`. We can then copy the CSV and `.scm` files to `s3://rtx-kg2-public` to make them available to Team Unsecret Agent. Since Unsecret Agent already has our build of KG2.3.4, this update is probably not urgent; more of a when-t

[2020-10-29 23:33] finnagin commented on #1080
I've merged into master and all of the tests seem to be passing. I'm going to add a needs test on production flag and then if everything looks good with the UI etc I think we can close this one out

[2020-10-30 02:08] isbluis commented on #1080
I am on leave this week, but will try to squeeze in the necessary changes to test the UI.   Thanks!

[2020-10-30 03:57] isbluis commented on #1080
Hi @finnagin , @amykglen , @dkoslicki .
I notice that a few commands have boolean-like parameters, though they are specified as `string`; namely:
[code]

It seems that some take any of [ `true`, `false`, `True`, `False`, `t`, `f`, `T`, and `F` ] as valid inputs.

Would it make sense to harmonize them with other ARAX components and define them strictly as `boolean`, with [ `true`, `false` ] as the

[2020-10-30 04:14] edeutsch commented on #1080
As a somewhat peripheral note, the current ActionsParser does not know anything about what data types arguments should be, and therefore all arguments are returned as strings. it is up to the individual components to validate their input and bark if it is not valid. And convert the strings to a different datatype as desired.

We could change that behavior if that is desirable. Until the change ent

[2020-10-30 07:14] isbluis commented on #1080
You can see a snapshot of the current state of the UI at:
https://arax.ncats.io/devLM/index.html

Some minor corrections might be needed, but otherwise looking good.

[2020-10-30 19:08] finnagin commented on #1080
@isbluis I'll change those to be marked as boolean. If it is marked as boolean can [ true, false, True, False, t, f, T, and F ] all be valid inputs and the GUI still display a true/false menu?

Awesome! looks like the brief descriptions are displaying properly.

[2020-10-30 20:25] edeutsch commented on #1080
The cost/benefit ratio may be too high, but it may be a nice touch for for add_qnode() and add_qedge() to allow selection of the types from the data that you already fetch for the graph builder.

[2020-10-31 08:13] isbluis commented on #1080
A few comments:

---
- Since for `overlay(action=overlay_clinical_info)` the following (boolean) values are mutually exclusive (i.e. only one can be true or an error is thrown):
[code]
Would it make more sense to replace these three parameters with an optional string parameter named `method` (or something like that) with possible values [ `paired_concept_frequency`, `observed_expected_ratio`, `chi